@page


<h2>
    Дополнительные особенности в склонении
    <br />
    (у слов с пометами «§1 — §12»)
</h2>

<p id="para1">
    <strong>§1.</strong>

    Образцы: 
    <strong>по́лде́ла</strong> §1;  
    <strong>по́лчаса́</strong> §1 (<code>дополняется формами от</code> получа́с м 1с);
    <strong>по́лго́да</strong> §1 (<code>дополняется формами от</code> *полуго́д м 1е). 
    Слова этой группы состоят из начального <strong>пол</strong> и родительного падежа некоторого
    существительного (иногда с измененным ударением). Они выступают только в функциях И. ед. и В. ед.,
    например: <code>пройдёт по́лго́да, прожда́л по́лчаса́, сде́лал по́лде́ла</code>.
</p>

<p>
    Согласованное определение (а также именная часть сказуемого, выраженная прилагательным) стоит при таких словах во мн. числе, например:    
    <code>пе́рвые по́лчаса́;  э́ти по́лго́да;  ка́ждые по́лкиломе́тра;  э́ти по́лме́тра — ли́шние.</code> 
    Согласование личных форм глагола и кратких форм причастий с такими словами сложнее. 
    Здесь возможны два случая:
    
    1) сказуемое стоит в ед. числе (если различаются роды —- в среднем роде), например:
    
    <code>
        прошло́ полчаса́;
        для э́того потре́буется по́лго́да;
        оста́лось по́лведра́ воды́;
        по́лде́ла сде́лано;
        по́лжи́зни про́жито;
        про́йдено по́лкиломе́тра;
    </code>
    
    2) сказуемое стоит во мн. числе, например:

    <code>
        пе́рвые по́лчаса́ прошли́ незаме́тно;
        э́ти по́лго́да бы́ли про́житы споко́йно;
        по́лведра́ воды́, кото́рые я принёс, оста́лись нетро́нутыми;
        про́йдены после́дние по́лкиломе́тра;
        по́лтабле́тки аспири́на оказа́ли своё де́йствие.
    </code>
    
    Согласование первого типа выступает в том случае, когда
    существительное с пол не имеет при себе согласованного определения
    и обозначает еще не упоминавшийся («неопределенный») предмет;
    согласование второго типа — когда
    существительное с пол имеет при себе такое определение 
    и (или) обозначает уже известный («определенный») предмет.
    Таким образом, по характеру согласования слова данной группы
    сходны с сочетаниями типа <code>два́ часа́, три́ го́да</code>,
    ср. <code>
        пе́рвые два́ часа́; 
        прошло́ два́ часа́; 
        э́ти два́ часа́ прошли́ незаме́тно.
    </code>
</p>

<p>
    У слов данной группы, снабженных указанием «дополняется формами от ...» 
    (см. образцы <strong>по́лчаса́</strong> и <strong>по́лго́да</strong>) в значении
    всех форм, кроме И. ед. и В. ед., выступают формы с начальным <strong>полу</strong>, образованные от слов типа получа́с, *полуго́д (звездочка означает,
    что И. ед. и В. ед. такого слова реально не употребляются). Примеры: 
    Р. ед. <code>получа́са, полуго́да</code>,
    Д. ед, <code>получа́су, полуго́ду</code>,
    Т. ед. <code>получа́сом, полуго́дом</code>, 
    П. ед. <code>о получа́се, полуго́де</code>; 
    мн. <code>получасы́, -о́в, -а́м, полуго́ды, -о́в, -а́м</code>. 
    Формы с начальным полу не имеют каких-либо особенностей в согласовании, 
    ср. <code>э́того получа́са</code>, <code>э́ти получа́сы</code> и т. п.
</p> 

<p class="footnote">
    <sup>1</sup>
    Обратить внимание на то, что сочетания с предлогом <strong>по</strong> здесь не аналогичны тем, которые приведены выше для существительных:
    <strong>по</strong> выступает здесь (в распределительном значении) с В. падежом,
    что для существительных невозможно.
    Напротив, в последовательности «<strong>по</strong> + числительное в Д. падеже» (во фразах
    типа <code>нельзя́ суди́ть по дву́м приме́рам)</code> переноса ударения не бывает.
</p>

<p>

    Заметим, что в связи с указанными особенностями, по-видимому, допустимо, несмотря на слитное или дефисное написание таких слов, рассматривать их не как

    единые слова, а как словосочетания (синтаксически сходные со словосочетаниями типа <code>два́ часа́, три́ го́да).</code>

</p>

<p id="para2">

    <strong>§2.</strong>

    Образец: <strong>по́лвторо́го</strong> §2. Эта группа слов включает обозначения получасов, свойственные разговорной речи (в нормативной литературной речи

    им соответствуют словосочетания со словом половина типа <code>полови́на второ́го).</code> Слова этой группы могут выступать в разговорной речи в функции любого

    падежа (например: <code>на по́лвторо́го, в по́лвторо́го, до по́лвторо́го, с по́лвторо́го, от по́лвторо́го)</code> и даже наречия (например:    <code>э́то произошло́ по́лвторо́го).</code> Согласованных слов при словах данной группы практически не бывает, в крайне редких случаях их появления они

    ставятся в среднем роде ед. числа.

</p>

<p id="para3">

    <strong>§3.</strong>

    Образцы: для одушевленных существительных — <strong>девча́та</strong> мн.    &lt;со 1а&gt;, §3, <strong>дети́шки</strong> мн. &lt;жо 3*а&gt;, §3;  для

    неодушевленных существительных — <strong>глазёнки</strong> мн. &lt;ж 3*а&gt;, §3, <strong>коты́</strong> мн. &lt;м 1b&gt;, §3 <code>(обувь).</code> Ссылка

    на настоящий параграф означает, что у данного слова формы ед. числа отсутствуют по морфологическим причинам (тогда как с семантической точки зрения они

    вполне допустимы).

</p>

<p>

    Несмотря на сходство внешнего оформления, между одушевленными и неодушевленными существительными, имеющими ссылку на настоящий параграф, есть некоторое

    различие.

</p>

<p>

    У одушевленных существительных ссылка на §3 отделяет слова, лишенные формы ед. числа (например, <strong>девча́та, дети́шки</strong>), от обычных

    одушевленных существительных, имеющих формы обоих чисел (и, следовательно, представленных в словаре формой ед. числа), например,    <strong>волчо́нок, парни́шка</strong>. Если бы слова <strong>девча́та, дети́шки</strong> не имели указанной особенно­сти, они тоже были бы приведены в

    словаре в форме ед. числа.

</p>

<p>
    У неодушевленных существительных ссылка на §3 отделяет слова, лишенные форм ед. числа (например, <strong>глазёнки, коты́</strong>), не от обычных
    существительных, а от слов, имеющих в словаре помету «мн. <code>от</code> ...», например, <strong>глаза́, подмы́шки, сапоги́, та́пки</strong>, т. е. от так
    наз. <a href="preface1#pluralia-tantum">«неустойчивых pluralia tantum»</a>. 
    Таким образом, если бы слова <strong>глазёнки, коты́</strong> имели формы ед. числа, они всё же были бы
    приведены в словаре в форме мн. числа (с пометой «мн. <code>от</code> ...»).
</p>

<p id="para4">

    <strong>§4.</strong>

    Образец: <strong>волчи́ще</strong> мо &lt;со 4а ①&gt;, §4. Слова этой группы

    (одушевленные существительные мужского рода на <strong>-ище</strong> с увеличительным значением) в разговорной речи допускают в В. ед. (реже и с более

    просторечной окраской — в Р., Д., Т. ед.) окончания женского рода. Таким образом, их склонение таково:

</p>

<table>

<tr>
    <td></td>
    <td>
        Ед.
    </td>
    <td>
        Мн.
    </td>
</tr>
<tr>
    <td>
        И.
    </td>
    <td>
        волчи́ще
    </td>
    <td>
        волчи́щи
    </td>
</tr>
<tr>
    <td>
        Р.
    </td>
    <td>
        волчи́ща <code>и простореч.</code> волчи́щи
    </td>
    <td>
        волчи́щ
    </td>
</tr>

<tr>
    <td>
        Д.
    </td>
    <td>
        волчи́щу <code>и простореч.</code> волчи́щи
    </td>
    <td>
        волчи́щам
    </td>
</tr>
<tr>
    <td>
        В.
    </td>
    <td>
        волчи́ща <code>и менее лит</code>. волчи́щу
    </td>
    <td>
        волчи́щ
    </td>
</tr>
<tr>
    <td>
        Т.
    </td>
    <td>
        волчи́щем <code>и простореч.</code> волчи́щей
    </td>
    <td>
        волчи́щами
    </td>
</tr>
<tr>
    <td>
        П.
    </td>
    <td>
        о волчи́ще
    </td>
    <td>
        о волчи́щах
    </td>
</tr>
</table>

<p id="para5">
    <strong>§5.</strong>
    Образец: <strong>доми́шко</strong> м &lt;с 3*а①&gt;, §5. Слова этой группы
    (неодушевленные существительные мужского рода на <strong>-ишко</strong> с уменьшительным значением) 
    в разговорной речи допускают в Р., Д., Т. ед. окончания женского рода. 
    Таким образом, их склонение таково:
</p>

<table>

<tr>

    <td></td>

    <td>

        Ед.

    </td>

    <td>

        Мн.

    </td>

</tr>

<tr>

    <td>

        И.

    </td>

    <td>

        доми́шко

    </td>

    <td>

        доми́шки



    </td>

</tr>

<tr>

    <td>

        Р.

    </td>

    <td>

        доми́шка <code>и менее лит.</code> доми́шки

    </td>

    <td>

        доми́шек

    </td>

</tr>

<tr>

    <td>

        Д.

    </td>

    <td>

        доми́шку <code>и менее лит.</code> доми́шке

    </td>

    <td>

        доми́шкам

    </td>

</tr>

<tr>

    <td>

        В.

    </td>

    <td>

        доми́шко

    </td>

    <td>

        доми́шки

    </td>

</tr>

<tr>

    <td>

        Т.

    </td>

    <td>

        доми́шком <code>и менее лит.</code> доми́шкой

    </td>

    <td>

        доми́шками

    </td>

</tr>

<tr>

    <td>

        П.

    </td>

    <td>

        о доми́шке

    </td>

    <td>

        о доми́шках

    </td>

</tr>

</table>

<p id="para6">

    <strong>§6.</strong>

    Образец: <strong>доми́на</strong> <code>м//</code>ж, &lt;ж 1а&gt;, §6. Слова этой группы (существительные на <strong>-ина</strong> с увеличительным значением,

    колеблющиеся между мужским и женским родами) в В. ед. допускают в литературном языке только форму на <code>-у</code> с согласовани­ем по женскому роду;  однако

    встречается также просторечная форма В. ед., фонетически совпадающая с И. ед., с согласованием по мужскому роду (эту форму следовало бы записывать с

    конечным -о: <code>ви́жу э́тот доми́но<sup><a href="#footnote1">1</a></sup>).</code> Таким образом, склонение и согласование здесь таковы:

</p>

<table>

<tr>

    <td></td>

    <td>

        Ед.

    </td>

    <td>

        Мн.

    </td>

</tr>

<tr>

    <td>

        И.

    </td>

    <td>

        э́тот (э́та) доми́на

    </td>

    <td>

        э́ти доми́ны

    </td>

</tr>

<tr>

    <td>

        Р.

    </td>

    <td>

        э́того (э́той) доми́ны

    </td>

    <td>

        э́тих доми́н

    </td>

</tr>

<tr>

    <td>

        Д.

    </td>

    <td>

        э́тому (э́той) доми́не

    </td>

    <td>

        э́тим доми́нам

    </td>

</tr>

<tr>

    <td>

        В.

    </td>

    <td>

        э́ту доми́ну <code>и простореч.</code> э́тот доми́но

    </td>

    <td>

        э́ти доми́ны

    </td>

</tr>

<tr>

    <td>

        Т.

    </td>

    <td>

        э́тим (э́той) доми́ной

    </td>

    <td>

        э́тими доми́нами

    </td>

</tr>

<tr>

    <td>

        П.

    </td>

    <td>

        об э́том (э́той) доми́не

    </td>

    <td>

        об э́тих доми́нах

    </td>

</tr>

</table>

<p class="footnote" id="footnote1">

    <sup>1</sup>

    См. об этом: А. А. Зализняк, Русское именное словоизменение, М., 1967, §6.13.

</p>

<p id="para7">
    <strong>§7.</strong>

    Образцы: <strong>вя́заный </strong>п 1а, §7;  <strong>жа́реный </strong>п 1а, §7;  <strong>варёный </strong>п 1а, §7;  <strong>плетёный </strong>п 1а, §7.
    У прилагательных этой группы (отпричастных на <strong>-ный) </strong>краткие формы обычно избегаются, поскольку они совпали бы с краткими формами
    соответствующего причастия (на <strong>-нный) </strong>— литературными (в случаях типа <code>вя́зан, вя́зана, жа́рен, жа́рена, плетён</code>) или
    просторечными (в случаях типа <code>варён, варёна, плетёна).</code> Сочетания типа <code>о́н вя́зан, она́ вя́зана, оно́ вя́зано, они́ вя́заны</code> в нейтральном
    контексте воспринимаются как содержащие краткие формы причастий (не прилагательных). Сочетания типа
    <code>о́н варён, она́ варёна, оно́ варёно, они́ варёны</code> избегаются вообще, поскольку они легко могут быть восприняты как просторечные (а именно, как
    содержащие просторечные краткие формы причастий).
</p>

<p>
    Лишь у немногих отпричастных прилагательных на <strong>-ный</strong> (например, <strong>пу́таный, учёный) </strong>краткие формы образуются срав­нительно
    свободно. При таких прилагательных ссылка на настоящий параграф не дается.
</p>

<p id="para8">
    <strong>§8.</strong>

    Образец: <strong>отвлечённый</strong> п 1*а①, §8. Ссылка на настоящий параграф означает, что индекс или индексы, приводимые в
    словарной статье, действительны только для прилагательного с данной исходной формой, но не для омонимичного ему причастия. Такое причастие склоняется в
    соответствии с индексом 1*а/b②, ё. Например, для приведенного образца ссылка на §8 означает, что существует также
    причастие <strong>отвлечённый</strong> п 1*а/b②, ё. Как вытекает из индекса, это причастие имеет краткие формы
    <code>отвлечён, отвлечена́, отвлечено́, отвлечены́</code>;  например: <code>его́ внима́ние бы́ло отвлечено́ неожи́данным сту́ком.</code>
    Между тем прилагательное <strong>отвлечённый</strong> (которому собственно и посвящена словарная статья) имеет краткие формы
    <code>отвлечён, отвлечённа, отвлечённо, отвлечённы</code>, например: <code>его́ рассужде́ние сли́шком отвлечённо.</code>
</p>

<p>
    Специально отметим, что в ряде случаев (например, <strong>прожённый, отражённый, изумлённый </strong>и т. п.) краткие формы практически употребительны
    только у причастия (<code>они́ прожжены́, отражены́, изумлены́),</code> а у собственно прилагательного носят скорее потенциальный характер (<code>они́ сли́шком прожжённы</code> и т. п.). Таким образом, в подобных случаях приведенный в словарной статье индекс 1*а① обслуживает именно эти потенциальные краткие формы (а не краткие формы причастия, наличие кото­рых отмечено ссылкой на
    настоящий параграф).
</p>

<p>
    Ссылка на §8 не дается, если прилагательное имеет тот же индекс, что и причастие;  она дается, однако, в том случае, если прилагательное имеет разные
    индексы в разных значениях (хотя бы даже один из них совпадал с индексом причастия);  см., например, статью <strong>убеждённый. </strong>В подобных случаях
    ссылка на §8 стоит в конце последней из подстатей, образующих словарную статью;  понятно, однако, что такая ссылка фактически относится ко всей статье в
    целом.
</p>

<p id="para9">
    <strong>§9.</strong>

    Образцы: <strong>возвы́шенный</strong> п 1*а①, §9;     <strong>сде́ржанный</strong> п 1*а①, §9. Ссылка на §9 имеет
    тот же смысл, что на §8, и дается по тем же правилам. Отличие лишь в том, что причастие в данном случае склоняется в соответствии с индексом 1*а②. Например, для приведенных образцов ссылка на §9 означает, что существуют также причастия:
    <strong>возвы́шенный</strong> п 1*а②;
    <strong>сде́ржанный </strong> п 1*а②.
    Их краткие формы — <code>возвы́ш|ен, -ена, -ено, -ены, сде́рж|ан, -ана, -ано, -аны</code>, тогда как соответствующие прилагательные (которым
    собственно и посвящены словарные статьи) имеют краткие формы <code>возв́ыш|ен, -енна, -енно, -енны, сде́рж|ан, -анна, -анно, -анны.</code>
</p>

<p>
    Следует учитывать, однако, что после безударной гласной <strong>–нн- </strong>может произноситься так же, как одиночное <strong>-н-</strong>,
    т. е. в устной речи отмеченное в настоящем параграфе различие между прилагательными и причастиями довольно часто отсутствует (в отличие
    от случаев, подпадающих под действие §8). Таким образом, сам индекс 1*а① (а не 1*а②), данный в настоящем словаре при прилагательных этой группы, отражает прежде всего ныне действующую орфографическую норму.
</p>

<p id="para10">
    <strong>§10. </strong>

    Образец: <strong>уста́лый </strong>п 1а, §10. У прилагательных этой группы (отглагольных на <strong>-лый) </strong>краткие формы ед. числа обычно
    избегаются из-за совпадения с формами прош. времени соответствующего глагола. Сочетания типа <code>о́н уста́л, она́ уста́ла, оно́ уста́ло</code> (строго
    говоря, двусмысленные) в нейтральном контексте воспринимаются как содержащие личные формы глагола. У прилагательных на согласную + <strong>лый </strong>
    (например, <strong>отви́слый </strong>п 1а, §10) указанное ограничение распространяется только на краткие формы женского и среднего родов    <code>(отви́сла, отви́сло).</code>
</p>

<p>
    Однако у некоторых отглагольных прилагательных на <strong>-лый</strong> (а именно, у тех, где в женском роде совпадения с прош. временем глагола нет,
    например, <strong>сме́лый, ту́хлый, </strong>и у нескольких других) краткие формы образуются сравнительно свободно. При таких прилагательных ссылка на
    настоящий параграф не дается.
</p>

<p id="para11">
    <strong>§11.</strong>

    Образец: <strong>сла́бенький </strong>п 3*а <span class="cross" /> ~, §11.<strong> </strong>Прилагательные этой группы содержат суффиксы <strong>-оньк-, -еньк- </strong>и имеют
    общее значение «обладающий тем качеством, которое обозначено исходным прилагательным, и в то же время маленький (или вызывающий нежность, сострадание)»,
    например: <strong>сла́бенький </strong>«маленький и слабый», <strong>тяжёленький </strong>«маленький и тяжёлый», <strong>бе́ленький </strong>«маленький и
    белый». Эти прилагательные употребляются чаще всего при уменьшительных существительных: <code>тяжёленький чемода́нчик, бе́ленькие носо́чки</code> и т. п.
</p>

<p>

    С другой стороны, существуют краткие формы с теми же суффиксами (но с ударением, как правило, сдвинутым на один слог вправо), например:
    <strong>слабе́нек</strong> <code>(слабе́нька, слабе́нько, слабе́ньки),</code> аналогично <strong>тяжеле́нек, </strong><strong>беле́нек, строго́нек</strong> и т. п.
    Эти краткие формы несколько отличаются от соответствующих полных форм по значению: <strong>слабе́нек</strong> «довольно слаб, слабоват»,
    <strong>тяжеле́нек </strong>«довольно тяжел, тяжеловат», <strong>строго́нек </strong>«довольно строг, строговат» и т. д. Указание на то, что соответствующий
    предмет мал (или вызывает нежность, сострадание) в значении этих форм отсутствует. Например, фраза <code>э́тот</code> <code>учи́тель строго́нек</code>
    соответствует иной реальной ситуации, чем словосочетание <code>стро́гонький учи́тель.</code> Кроме того, со стили­стической точки зрения формы типа    <strong>слабе́нек</strong> отличаются от соответствующих полных форм своей народнопоэтической окраской.
</p>

<p>
    В связи с указанными особенностями единицы типа <strong>слабе́н|ек</strong> <code>(-ька, -ько, -ьки)</code> рассматриваются в настоящем словаре как
    самостоятельные слова, а именно, как прилагательные без полных форм (ср. <strong>рад, гора́зд</strong> и т. п.).
</p>

<p>
    В то же время настоящие краткие формы, образованные от прилагательных на <strong>-онький, -енький</strong> (с пометой «§11») регулярным способом и
    сохраняющие их значение (типа <code>*сла́бенек, *тяжёленек</code>) почти никогда не употребляются 
    (что и отмечается в словарной статье знаком <span class="cross" />).
</p>

<p id="para12">
    <strong>§12.</strong>

    Образцы: 
    <strong>ничто́</strong> <code>мс, склон. см. что и</code> §12;  
    <strong>никако́й</strong> мс-п &lt;п Зb&gt; <code>и</code> §12. 
    Слова этой группы
    (местоимения, начинающиеся с <word-end>не, ни, кое, кой</word-end>, а также сложное местоимение <strong>друг друга</strong>) 
    обладают следующей особенностью: предлоги ставятся здесь между
    начальным элементом (<strong>не́, ни́, ко́е, ко́й, дру́г</strong>) и остальной частью слова. 
    Для слов    
    <strong>никто́, ничто́, не́кого, не́чего, дру́г дру́га</strong>
    эта особенность продемонстрирована выше, стр. 66@*TODO: вставить ссылку*@.
    В дополнение к этому приведем
    примеры употребления предлогов со словом <strong>никако́й</strong>: 
    в Р. — <code>ни от како́го, ни для како́й, ни с каки́х</code>; 
    в Д. — <code>ни к како́му, ни по како́й</code>;  
    в В. — <code>ни про како́го, ни за каку́ю, ни на каки́е</code>;  
    в Т. — <code>ни с каки́м, ни перед како́й, ни за каки́ми</code>;  
    в П. — <code>ни о како́м, ни на како́й, ни в каки́х</code>.
</p>

<p>
    Несколько отличаются от остальной группы местоимения с начальными <strong>ко́е, ко́й</strong>: у них указанная особенность факультативна, т. е. 
    предлог может стоять и после кое, кой, и перед ними. 
    Приведем примеры употребления предлогов со словом кое-что:

    <code>

        от ко́е-чего́ // кое́ от чего́;  
        для ко́е-чего́ // ко́е для чего́;  
        к ко́е-чему́ // ко́е к чему́;  
        на ко́е-что́ // ко́е на что́;  
        в ко́е-что́ // ко́е во что́;  
        за ко́е-че́м // ко́е за че́м;  
        о ко́е-чём // ко́е о чём;  
        в ко́е-чём // ко́е в чём

    </code>

    и т. д. (обратить внимание на отсутствие дефисов в тех случаях, когда предлог стоит после <strong>ко́е, ко́й</strong>).

</p>
