@page

<h4>

    СВЕДЕНИЯ О ПЕРЕНОСЕ УДАРЕНИЯ НА ПРЕДЛОГ <br />
    (у существительных и числительных)

</h4>

<p>

    В состав указаний, приводимых за знаком ◊ (см. стр. 15), входят, в частности, сведения о переносе ударения с именной формы на предлог. Сочетание именной

    формы с предлогом, имеющее ударение на предлоге, может быть приведено в словарной статье за знаком ◊ одним из следующих трех способов.

</p>

<p>

    1. Такое сочетание дано в составе более крупной фразеологической единицы, например:

</p>

<blockquote>

    <p>
        ◊ бок о́ бок
    </p>
    <p>
        ◊ зу́б на́ зуб не попада́ет
    </p>
    <p>
        ◊ как бо́г на́ душу поло́жит
    </p>

</blockquote>



<p>

    Это значит, что перенос ударения представлен именно в составе приведенных фразеологических единиц;  в прочих случаях (если об этом нет каких-либо еще

    указаний) ударение обычное, например: <code>что́-то попа́ло на зу́б; на ду́шу населе́ния.</code>

</p>

<p class="footnote">

    <sup>[1]</sup>

    Исключение составляют, по-видимому, только уменьшительные на <strong>-о́к, -ёк</strong>
    (например, <code>чаёк, кофеёк, мед́ок, сахаро́к, квасо́к, лучо́к</code>),
    у которых в указанных выше значениях как правило выступает P<sub>2</sub> ед.
    (<code>попи́л чайку́</code> и т. д.), а не обычный Р. ед. (<code>чайка́</code> и т. д.).

</p>

<p>

    2. Такое сочетание дано самостоятельно (вне контекста), но с пояснением значения, например:

</p>

<blockquote>

    <p>
        ◊ на́ дом <code>(домой)</code>
    </p>

    <p>

        ◊ за́ городом <code>(в пригородной местности)</code>

    </p>

    <p>

        ◊ до́ смерти <code>(очень сильно) </code>

    </p>

    <p>

        ◊ по́д гору (<code>вниз под уклон)</code>

    </p>

</blockquote>



<p>

    Это значит, что перенос ударения представлен лишь при указанном значении, например: <code>вы́звать врача́ на́ дом;  зада́ние на́ дом</code>; <code>живёт за́ городом;  до́ смерти уста́л;  сбежа́л по́д гору.</code> При других значениях данное сочетание имеет обычное ударение, например:    <code>пти́ца се́ла на до́м;  за го́родом начина́лся лес;  до сме́рти э́того не забу́ду;  под го́ру заложи́ли взрывча́тку.</code>

</p>

<p>

    3. Такое сочетание дано самостоятельно (вне контекста) и без пояснений (это возможно только для сочетаний с предлогами <strong>за, на, по</strong>),

    например:

</p>

<blockquote>

    <p>
        ◊ за́ руку
    </p>

    <p>

        ◊ за́ нос

    </p>

    <p>

        ◊ по́ морю

    </p>

    <p>

        ◊ за́ два

    </p>

</blockquote>



<p>

    Это значит, что перенос ударения подчиняется в данном случае более сложным правилам, приводимым ниже<sup>1</sup>.

</p>

<h4>

    <strong><code>Существительные</code></strong>

</h4>

<p>

    Если во фразе после существительного нет поясняющих его слов, перенос ударения на предлог происходит в следующих случаях.

</p>

<p>

    В сочетаниях с предлогом <strong>за</strong> (с В. падежом) — при следующих значениях этого предлога:

</p>

<p>

    «по ту сторону, сзади», например, <code>уйти́ за́ реку, за́ гору;  заложи́ть что-л. за́ щеку, за́ ухо;  заложи́ть ру́ки за́ спину, за́ голову; </code>

</p>

<p>

    «указание точки приложения силы», например, <code>держа́ть (держа́ться, тяну́ть, взять, взя́ться, схвати́ть, схвати́ться</code> и т. п.) <code>за́ руку</code>,    <code>за́ руки, за́ голову, за́ волосы, за́ плечи, за́ нос, за́ ухо; </code>

</p>

<p>

    «в течение» (с единицами времени), например, <code>сде́лать за́ год, за́ день, за́ ночь, за́ зиму; </code> сюда же примыкает:    <code>заплати́ть за́ год, за́ день</code> и т. п.:

</p>

<p>

    «раньше на указанное время» (с единицами времени), например, <code>за&#769; год, за́ день до чего́-л.</code>

</p>

<p>

    В сочетаниях с предлогом <strong>на</strong> (с В. падежом<sup>2</sup>) — при следующих значениях этого предлога:

</p>

<p>

    «по направлению (о физическом движении<sup>3</sup>), сверху чего-л.», например,

    <code>

        упа́сть (сесть, лечь) на́ пол, на́ землю;  взобра́ться на́ гору;  что́-то попа́ло на́ руку, на́ нос;  взвали́ть груз на́ спину;  наде́ть что-л. на́

        голову, на́ ноги, на́ руки;

    </code>

</p>

<p>

    «указание точки соприкосновения с опорой», например,    <code>ле́чъ на́ спину;  упа́сть на́ спину, на́ руки, на́ голову;  встать на́ ноги, на́ руки, на́ голову; </code>

</p>

<p>

    «в расчете на указанный срок» (с единицами времени), например: <code>запасти́сь (растяну́ть, хва́тит) на́ год, на́ день, на́ ночь, на́ зиму; </code> сюда же

    примыкает: <code>одолжи́ть на́ год, на́ день</code> и т. п.

</p>

<p>

    «указание меры различия», например, <code>на́ год ста́рше;  на́ день ра́ньше;  на́ голову вы́ше; </code> сюда же примыкает: <code>отложи́ть на́ год, на́ день</code> и

    т. п.

</p>

<p>

    В сочетаниях с предлогом <strong>по</strong> (с Д. падежом) — при значении этого предлога «на поверхности, в пределах» (о движении), например,

    <code>

        ходи́ть по́ полу, по́ полю, по́ двору, по́ снегу, по́ льду;  гуля́ть по́ лесу;  лета́ть по́ небу;  пла́вать по́ морю;  рассы́паться по́ полу, по́ лесу.

    </code>

</p>

<p>

    При других значениях этих предлогов переноса ударения не происходит, например:
    а) <code>
        приня́ть что́-л. за го́ру, за ре́ку, за но́гу, за зи́му; его́ це́нят за го́лову, за ру́ки;
        награ́да за го́лову;  я́ опаса́юсь за во́лосы, за го́лову, за но́ги;
    </code>
    б)

    <code>

        обрати́те внима́ние на ру́ки, на но́ги, на но́с, на по́л, на де́нь;  несмотря́ на но́чь, на зи́му, на но́гу;
        наде́юсь (жа́луюсь) на но́ги, на го́лову, на не́бо, на но́чь;
        променя́ть ле́то на зи́му, де́нь на но́чь;  нало́г на зе́млю;

    </code>

    в) <code>тоска́ по мо́рю, по не́бу;  суди́ть по двору́, по ле́су;  ка́ждому доста́лось по по́лю.</code>

</p>

<p>

    Переноса ударения обычно не происходит также, если во фразе за существительным следует поясняющее его слово или слова (подчиненные ему или связанные с ним

    сочинительной связью), например: а) <code>за р́еку</code> (или

    <code>

        за реку́
    </code>)<code>
        Ура́л;  за го́д и два́ ме́сяца;  за го́д напряжённой рабо́ты;  за де́нь своего́ дежу́рства;  де́ржится за ру́ку това́рища;  уцепи́лся за пле́чи

        отца́;

    </code>

</p>

<p>

    б) <code>на го́ру Яма́н-Та́у;  взвали́л гру́з на спи́ну носи́льщика;  наде́л шля́пу на го́лову сосе́да;  ста́рше на го́д и два ме́сяца; </code>

</p>

<p>

    в) <code>по двору́ гости́ницы;  по сне́гу и льду́;  по льду́ Фи́нского зали́ва;  по мо́рю Ла́птевых.</code>

</p>

<p class="footnote">

    <sup>1</sup>

    Следует учитывать, что в современном языке ударение в рассматриваемых сочетаниях неустойчиво. Помимо факторов, отмечаемых ниже в правилах, на него влияют

    также такие трудно учитываемые факторы, как ритмика фразы, логическое ударение и др. Значительны также различия между разными носителями языка. Поэтому в

    разговорной речи возможны некоторые отклонения от приводимых ниже правил.

</p>

<p class="footnote">

    <sup>2</sup>

    У слов среднего рода — также с П. падежом (например, <code>на́ море</code> — В. ед. и П. ед.)

</p>

<p class="footnote">

    <sup>3</sup>

    Если речь идет о направлении взгляда, ударение колеблется: <code>смотре́ть (посмотре́ть, взгляну́ть) на́ пол, на́ руки, на́ ноги, на́ доску, </code>но также    <code> на по́л, на ру́ки, на но́ги, на до́ску.</code>

</p>

<p>

    <strong><code>Числительные</code></strong>

</p>

<p>

    В отличие от существительных, здесь перенос ударения на предлог почти не зависит от значения предлога. Наиболее последовательно перенос ударения

    происходит в случае, когда при числительном не указан предмет счета и нет иных уточнений, например:<code>раздели́ть (умно́жить) на́ два, на́ три, на́ пять, на́ сто;  два́ на́ три, ше́сть на́ шесть</code> и т. п. (о размерах чего-л.);     <code>и́х доста́лось ка́ждому по́ два, по́ две, по́ три, по́ сто<sup>1</sup>, засчита́ть оди́н ча́с за́ два, за́ пять, за́ сто.</code>

</p>

<p>

    Если при простом числительном предмет счета указан, перенос ударения предпочтителен, но менее регулярен, например:

    <code>

        за́ две кни́ги, за́ три ра́за, за́ пять копе́ек, за́ семь ле́т, за́ сто рубл́ей;  на́ два дня́;  на́ пять челове́к, на́ сто рубле́й;  по́ два меся́ца, по́

        три копе́йки, по́ сто ра́з

    </code>

    (но также и <code>за две́ кни́ги, за три́ ра́за, на два́ дня́, по сто́ ра́з</code> и т. д.). Однако в случае, когда существительное стоит впереди такого

    сочетания (т. е. при указании приблизительного количества) перенос ударения почти так же регулярен, как при отсутствии существительного:    <code>дня́ на́ два, ле́т за́ семь, рубле́й на́ сто</code> (гораздо реже <code>дня́ на два́, ле́т за се́мь, рубле́й на сто́).</code>

</p>

<p>

    Если числительное представляет собой начальный элемент составного количественного обозначения, переноса ударения на предлог как правило не происходит

    (независимо от того, указан ли предмет счета), например:

    <code>

        за сто́ пятьдеся́т, по сто́ два́дцать, на со́рок два́;  на два́ и три́ че́тверти, по три́ и две́ пя́тых;  купи́л за пя́ть со́рок, на два́ два́дцать, по

        три́ се́мьдесят

    </code>

    (о рублях с копейками);  <code>заседа́ние назна́чено на два́ три́дцать, на ше́сть два́дцать пя́ть</code> (о часах с минутами). Сюда же относятся все указания

    приблизительного количества типа <code>два́-три́,</code> например: <code>за два́-три́ дня́, на се́мь-во́семь страни́ц.</code> При уточнениях<code>с полови́ной, с полти́ной</code> допустимы, однако, оба ударения: <code>по два́</code> (или <code>по́ два) с полови́ной, на три́</code> (или    <code>на́ три) с полти́ной.</code>

</p>

<p>

    Сочетания, в которых перенос ударения возможен, но необязателен, приводятся в обоих вариантах (со знаком <code>//,</code> см. стр. 17). При этом запись типа    <code>за пле́чи // за́ плечи</code> или <code>на не́бо // на́ небо</code> (без дополнительных пояснений) означает, что ударение на предлоге встречается здесь в

    случаях, определяемых приведенными правилами, но всегда может быть заменено на обычное ударение, например: <code>схвати́ть за́ плечи</code> (или    <code>за пле́чи), полете́ть на не́бо</code> (или <code>на́ небо).</code> Ср. также <code>де́ржится за пле́чи това́рища, обрати́те внима́ние на не́бо.</code>

</p>

<p>

    Одно и то же сочетание может быть приведено в словарной статье одновременно двумя или тремя из описанных выше трех способов: например, в статье    <strong>день </strong>за знаком ◊ находим в числе прочего: <code>на́ день;  со дня́ на́ день.</code> Это значит, что в сочетании <code>на</code> + <code>день</code>

    ударение на предлоге встречается, во-первых, в случаях, описанных выше (на стр. 72), во-вторых, в составе фразеологической единицы    <code>со дня́ на́ день.</code>

</p>
