@page

<h2>Склонение</h2>

<h3>Значение дополнительных помет и указаний при именах</h3>

<h4 id="minus"> ЗНАК — (МИНУС) <br /> (у существительных)</h4>

<p>
    В статье существительного минус после индекса означает, что
    сведения об образовании мн. числа данного слова, вытекающие из индекса, предположительны;
    см. предисловие, стр. 8.
</p>

<p>
    Знак минус возможен только при существительных, традиционно обозначаемых как singularia tantum,
    т. е. таких, у которых мн. число практически почти никогда
    не употребляется и существует лишь в качестве потенциальных форм (ср. стр. 6).
    Однако из слов singularia tantum минус получают лишь те, у которых способ
    образования мн. числа не определяется однозначно общими правилами русского склонения.
</p>

<p>
    Основные группы существительных, отмеченных в настоящем словаре знаком минус, таковы.
</p>

<p>
    а) Неодносложные singularia tantum на <word-end>-а́, -я́</word-end> и <word-end>-о́, -ё</word-end>, 
    например: <strong>борьба́, еда́, родство́, бельё.</strong>
    Для всех таких слов неясно ударение в потенциальном мн. числе (по схеме b или d;  ср. стр. 8),
    а в части случаев также образование формы Р. мн.
</p>

<p>
    б) Некоторые singularia tantum, производные от более простых слов с подвижным ударением, 
    например, <strong>жилпло́щадь</strong> (ср. <strong>пло́щадь</strong> ж 8е).
    В таких случаях неясно ударение потенциального мн. числа:
    оно может быть либо стандартным (схема а), либо следовать за ударением простого слова.
</p>

<p>
    в) Некоторые singularia tantum на согласную (или <strong>-ь</strong>), для которых в связи со строением их основы (а иногда и с другими особенностями,
    например, с образованием 2-го предложного падежа или ударением производных слов) можно ожидать подвижного ударения (схемы с или е), например,    <strong>му́сор, ка́фель, пыль. </strong>
</p>

<h4 id="adj-minus"> ЗНАК — (МИНУС) <br /> (у прилагательных)</h4>

<p>

    В статье прилагательного минус после индекса означает, что сведения об образовании краткой формы муж. рода, вытекаю­щие из индекса, предположительны.

</p>

<p>

    Основные группы прилагательных, отмеченных в настоящем словаре знаком минус, таковы.

</p>

<p>

    а) Большинство прилагательных на согласную + <strong>ний</strong>, например, <strong>весе́нний;  </strong>здесь неясен выбор между краткой формой муж. рода

    типа <code>*весе́нен</code> и типа <code>*весе́ннь.</code>

</p>

<p>

    б) Значительная часть отыменных (не отпричастных) прилагательных на <strong>-енный, </strong>например, <strong>клю́квенный, пе́сенный;  </strong>здесь

    неясен выбор между образованием краткой формы муж. рода на <strong>-енен</strong> и на <strong>-ен.</strong>

</p>

<h4 id="adj-cross">

    <strong>ЗНАК <span class="cross" /></strong>
    <br />
    (у прилагательных)
</h4>

<p>
    Знак <span class="cross" /> в статье прилагательного показывает, что образование кратких форм здесь затруднительно (о затруднительности см. стр. 8-9).
</p>

<p>

    Основные группы прилагательных, отмеченных знаком <span class="cross" />, таковы.

</p>

<p>

    а) Прилагательные на <strong>-ский </strong>(где <strong>-ск </strong>— суффикс) и на <strong>-цкий</strong>, например, <strong>дереве́нский, геро́йский, каза́цкий. </strong>Здесь краткие формы в принципе возможны и образуются однозначно, например, <code>*деревенск,</code>    <code> -а, -о, -и; </code> некоторые из таких форм (особенно форма мн. числа) засвидетельствованы в литературе. Однако любая из таких кратких форм, даже если

    она образована от прилагательного с явно «качественным» значением (например, <strong>геро́йский), </strong>воспринимается как окказиональное

    новообразование и в стилистически нейтральной литературной речи избегается<sup>1</sup>.

</p>

<p>

    б) Отпричастные прилагательные на <strong>-вший, -ший, </strong>например, <strong>сумасше́дший, </strong>и прилагательные превосходной степени на    <strong>-йший, -ший, </strong>например, <strong>велича́йший. </strong>Для них в общем верно то, что сказано в предыдущем пункте, но степень

    затруднительности в образовании кратких форм здесь несколько меньше.

</p>

<p class="footnote">

    <sup>1</sup>
    Внешних трудностей для образования кратких форм здесь нет;
    несочетаемость с окончаниями кратких форм выступает здесь, таким образом,
    как морфологическое свойство самого суффикса — <word-end>-ск-</word-end>, развившееся,
    по-видимому, в связи с тем обстоятельством, что подавляющее большинство прилагательных с этим суффиксом
    «качественного» значения не имеет и потому в кратких формах фактически не нуждается.

</p>

<h4 id="adj-boxed-cross"> ЗНАК <span class="boxed-cross"></span> <br /> (у прилагательных)  </h4>

<p>

    Знак <strong><span class="boxed-cross"></span></strong> в статье прилагательного показывает, что краткой формы муж. рода у данного слова нет, а образование остальных кратких форм

    затруднительно.

</p>

<p>

    Этим знаком отмечено подавляющее большинство прилагательных на <strong>–о́й</strong>,
    в частности, почти все содержащие какой-либо суффикс <strong>(-ов-, -ев-, -н-, -ск-),</strong> например:
    <strong>делово́й, волево́й, показно́й, городско́й, голубо́й. </strong>
    Образование краткой формы муж. рода у таких прилагательных невозможно (главным образом из-за места ударения,
    в части случаев также из-за строения конца основы).
    Остальные краткие формы в принципе возможны (а у нескольких прилагательных даже до некоторой степени употребительны,
    например, <code>голуба́, -о́, -ы́</code>);  однако в большинстве случаев они в стилистически нейтральной литературной речи избегаются.

</p>


<h4 id="adj-tilde">
    ЗНАК ~
    <br />
    (у прилагательных)

</h4>

<p>

    Знак ~ в статье прилагательного показывает, что от данного прилагательного не образуется сравнительная степень.

</p>

<p>

    Основные группы прилагательных, отмеченных знаком, таковы.

</p>

<p>

    а) Прилагательные с суффиксами <strong>-ск-, цк-, -еньк-, -оньк-, </strong>например, <strong>геро́йский, городско́й, сла́бенький.</strong>

</p>

<p>

    б) Сложные прилагательные на <strong>-кий, -гий, -хий </strong>типа <strong>длиннору́кий </strong>и типа <strong>зимосто́йкий.</strong>

</p>

<p>

    в) Большинство прилагательных, полученных добавлением <strong>не- </strong>(также <strong>полу-, сверх- </strong>и т. п.) к прилагательным с подвижным

    ударением или с нерегулярной сравнительной степенью, например, <strong>недо́брый </strong>(как <code>*недобре́е</code>, так и <code>*недо́брее</code> невозможно);     <strong>непросто́й </strong><code>(*непро́ще</code> невозможно).

</p>

<p>

    Знак — может сочетаться со знаком <strong><span class="cross" /></strong> (так, например, у прилагательных на <strong>-ский) </strong>и <strong><span class="boxed-cross" /> </strong> (так, например, у

    прилагательных на <strong>-ской).</strong>

</p>

<h4 id="noun-p2"> ПОМЕТА П<sub>2</sub> <br /> (у существительных) </h4>

<p>

    Помета П<sub>2</sub> (за которой может следовать в скобках предлог <strong>в </strong>или <strong>на) </strong>— символ наличия у данного слова особой

    формы так наз. 2-го предложного падежа. Эта помета может стоять только при неодушевленных существительных субстантивного склонения (преимущественно

    мужского рода;  в женском роде его могут иметь только слова на <strong>-ь).</strong>

</p>

<p>

    Помета П<sub>2 </sub>означает, что у данного существительного в ед. числе после предлогов <strong>в</strong> и <strong>на</strong>, выступающих в одном из

    указанных ниже значений, употребляется особая форма, отличная от обычного предложного падежа — так наз. 2-ой предложный падеж (сокращенно П<sub>2</sub>).

    Форма 2-го предложного падежа ед. числа (сокращенно П<sub>2</sub> ед.) по буквенному составу равна форме Д. ед. того же слова, но ударение в ней всегда на

    окончании (если в Д. ед. ударение падало на <strong>ё, </strong>это <strong>ё </strong>меняется на <strong>е</strong>). Примеры: <strong>шкаф </strong>(Д.

    ед. <code>шка́фу)</code> — П<sub>2</sub> ед. <code>шкафу́</code>;  <strong>бе́рег </strong>(Д. ед. <code>бе́регу)</code> — П<sub>2</sub> ед. <code>берегу́</code>;     <strong>чай </strong>(Д. ед. <code>ча́ю)</code> — П<sub>2 </sub>ед. <code>чаю́; </code> <strong>мёд </strong>(Д. ед. <code>мёду)</code> <strong>— </strong>П<sub>2</sub>

    ед. <code>меду́;  </code><strong>кровь </strong>(Д. ед. <code>кро́ви)</code> —<strong> </strong>П<sub>2</sub> ед. <code>крови́.</code> (В<strong> </strong>прежних

    изданиях настоящего словаря помету П<sub>2</sub><strong> </strong>имели также

    два слова среднего рода: <strong>забытьё </strong>и <strong>полузабытьё</strong>;
    но современный узус здесь уже правильнее описывать иначе, а именно, как простую вариантность окончаний —
    <code>-и </code>и<code> -е</code> — в контекстах как 2-го, так и обычного предложного падежа:
    <code>в забытьи́</code> и <code>в забытье́, о забытьи́</code> и <code>о забытье́</code>.)

</p>

<p>

    Значения предлогов <strong>в </strong>и <strong>на, </strong>при которых у слов с пометой П<sub>2</sub><strong> </strong>употребляется форма 2-го

    предложного падежа.

</p>

<p>

    Предлог <strong> в</strong>:

</p>

<p>

    1) общее значение «внутри, в пределах или в условиях чего-л.»;  оно реализуется в нескольких вариантах в зависимости от значения существительного: «внутри,

    в пространственных пределах» (с названиями конкретных предметов, сфер или частей пространства), например,    <code>в тазу́, в шкафу́, во рту́, в цеху́, в порту́, в щели́, в степи́, в Крыму́, в аду́, в тылу́, в дали́, в низу́;  </code>«внутри массива некоторого


    вещества» (с названиями веществ), например, <code>в снегу́</code> (в сугробе), <code>в грязи́</code> (в луже грязи), <code>в дыму́ </code>(внутри облака дыма),    <code>в крови́</code> (в составе крови);  «в рамках некоторого коллектива» (с названиями коллективов), например, <code>в полку́, в кругу́ друзе́й</code>;  «во

    временных пределах» (с названиями отрезков времени), например, <code>в году́, в ночи́; </code> «в условиях чего-л.» (с названиями ситуаций), например,    <code>в быту́, в бою́, в плену́, в тиши́; </code> «охваченный чем-л.» (с названиями внутренних состояний), например, <code>в бреду́, в пылу́; </code>

</p>

<p>

    2) значение «обильно покрытый, испачканный чем-л.» (с названиями веществ), например, <code>весь в снегу́, весь в поту́, пришёл в крови́, пришёл в грязи́, испа́чкался в мелу́, хо́дит в шелку́.</code>

</p>

<p>

    Предлог <strong>на:</strong>

</p>

<p>

    1) общее значение «на поверхности чего-л., в условиях чего-л.»;  частные значения;  «на поверхности чего-л., в зоне чего-л.» (с названиями конкретных

    предметов), например, <code>на шкафу́, на печи́, на лбу́, на лугу́, на берегу́, на мели́, на Дону́; </code> «на поверхности массива некоторого вещества» (с

    названиями веществ), например, <code>на снегу́, на льду́; </code> «в условиях чего-л.» (с названиями ситуаций), например,    <code>на балу́, на пиру́, на смотру́, на ветру́; </code>

</p>

<p>

    2) значение «изготовленный с применением чего-л.» (с названиями веществ), например,    <code>шу́ба на меху́, ме́бель на клею́, пря́ники на меду́, настоя́ть на спирт́у.</code>

</p>

<p>

    При других значениях предлогов <strong>в </strong>и <strong>на </strong>употребляется обычный П.<strong> </strong>ед., например:

    <code>

        здесь нет недоста́тка в сне́ге;  чу́вствую потре́бность в о́тпуске;  он хорошо́ разбира́ется в их бы́те;  он зна́ет толк в мёде;  они́ заинтересо́ваны в

        э́том по́лке;  в э́том шка́фе обнару́жилось не́сколько дефе́ктов

    </code>

    ;  <code>я останови́л свой вы́бор на э́том шка́фе;  сосредото́чьте внима́ние на противополо́жном бе́реге реки́;  на ме́хе сказа́лось дурно́е хране́ние.</code>

    Только обычный П. ед. употребляется после других предлогов, управляющих предложным падежом <strong>(о, при, по), </strong>например:    <code>о сне́ге, о ты́ле, о кро́ви, при по́рте.</code>

</p>

<p>

    Если в словарной статье помета П<sub>2</sub> не сопровождается указанием предлога, это значит, что форма П<sub>2</sub> ед. реально употребляется как после

    предлога <strong>в, </strong>так и после предлога <strong>на. </strong>Пример: <strong>шкаф </strong>м 1с, П<sub>2</sub>;  это значит, что встречаются

    сочетания <code>в шкафу́</code> и <code>на шкафу́.</code>

</p>

<p>

    Запись П<sub>2</sub>(в) означает, что П<sub>2</sub> ед. реально употребляется только после предлога <strong>в<sup>1</sup>;  </strong>запись П<sub>2 </sub>

    (на) — что эта форма реально употребляется только после предлога <strong>на</strong>. Примеры: <strong>тыл </strong>м 1с, П<sub>2</sub>(в); <strong>бал </strong>м 1с, П<sub>2 </sub>(на);  это значит, что встречаются сочетания <code>в тылу́, на балу́</code> (тогда как сочетания <code>на тылу́</code> и    <code>в балу́</code> реально не встречаются)<sup>2</sup>.

</p>

<p>

    В соответствии с общими правилами записи факультативных особенностей (стр. 18), указания о 2-м предложном падеже мо­гут заключаться в квадратные скобки,

    например: жир м 1с, [П<sub>2</sub>];  <strong>чай </strong>м 6с, [П<sub>2</sub>(в)];  дуб м 1с, [П<sub>2 </sub>(на)]. Это значит, что употребление особой

    формы П<sub>2</sub> ед. для этих слов факультативно: вместо нее в тех же контекстах может употребляться также и обычный П. ед. Так, можно сказать (в

    контекстах, характерных для 2-го предложного падежа) <code>в жиру́</code> и <code>в жи́ре, на жиру́</code> и <code>на жи́ре, в чаю́</code> и <code>в ча́е, на дубу́</code>

    и <code>на ду́бе.</code>

</p>

<p>

    В ряде случаев форма на <code>–у́, -ю́, -и́</code> выступает в составе фразеологических сочетаний, например: <code>на корню́</code> (о хлебе и др.); <code>на роду́ напи́сано;  широ́к в кости́.</code> Такие сочетания по общему правилу приводятся в словарной статье за знаком ◊. При этом, если форма на<code>–у́, -ю́, -и́ </code>встречается у данного слова только в этом сочетании (или сочетаниях), помета П<sub>2 </sub>не дается. Например, говорят:    <code>наро́ст на ко́рне</code> (не <code>*на корню́)</code> и т. п.;  соответственно, в статье <strong>ко́рень </strong>пометы П<sub>2</sub> нет.

</p>

<p>

    За знак ◊ может быть вынесено также использование формы П<sub>2</sub> в значениях «обильно покрытый, испачканный чем-л.» (с предлогом <strong>в) </strong>и

    «изготовленный с применением чего-л.» (с предлогом <strong>на), </strong>если в этих значениях данная форма обязательна, тогда как в остальных значениях

    она факультативна;  см., например, статьи <strong>мёд, мел, клей.</strong>

</p>

<h4 id="noun-r2"> ПОМЕТА Р<sub>2</sub> <br /> (у существительных) </h4>

<p>

    Помета Р<sub>2</sub> — символ наличия особой формы так наз. 2-го родительного падежа. Эта помета может стоять только при неодушевленных существительных

    мужского рода субстантивного склонения.

</p>

<p>

    Помета Р<sub>2</sub> означает, что у данного существительного в ед. числе в определенных случаях, указанных ниже, наряду с обыч­ной формой родительного

    падежа может употребляться также особая форма — так наз. 2-ой родительный падеж (сокращенно Р<sub>2</sub>). Форма 2-го родительного падежа ед. числа

    (сокращенно Р<sub>2</sub> ед.) внешне полностью совпадает с Д. ед. того же слова. Напри­мер, у слов <strong>са́хар, чай, кипято́к, дёготь </strong>Р    <sub>2</sub> ед. соответственно <code>са́хару, ча́ю, кипятку́, дёгтю.</code>

</p>

<p class="footnote">

    <sup>1</sup> Если этот предлог выступает перед формой П<sub>2</sub> ед. в виде <code>во</code> (например <code>во рту́</code>), он так и записывается в словарной статье,

    например: <strong>рот</strong> м 1*b, П<sub>2</sub> (во).

</p>

<p class="footnote">

    <sup>2</sup>

    Как правило, такие сочетания не встречаются только потому, что значение существительного плохо соединяется с теми значениями не указанного в записи

    предлога (<strong>в</strong> или <strong>на</strong>), которые требуют 2-го предложного падежа. Например, значение слова тыл не соединяется с указанными

    выше значениями предлога <strong>на</strong>. Поэтому нельзя считать, что вместо <code>на тылу́ </code>говорят <code>на ты́ле</code>, а вместо <code>в балу́</code> —    <code>в ба́ле</code>. Сочетания <code>на ты́ле, в ба́ле</code> реально могут встречаться, но как раз в тех контекстах, где всегда употребляется обычный П. ед.,

    например: <code>э́то отрица́тельно сказа́лось на ты́ле;  заинтересо́ван в ба́ле</code>.

</p>

<p>

    2-ой родительный падеж возможен только у слов, которые означают предметы, не поддающиеся счету. Таковые обозначения нерасчлененных однородных масс

    (например, веществ, материалов, видов пищи, напитков, денежных сумм) или абстрактных понятий (например, физических эффектов, состояний, качеств).

</p>

<p>

    2-ой родительный падеж может употребляться:

</p>

<p>

    1) в сочетании с обозначением количества (чаще всего приблизительным), например:

    <code>

        мно́го сне́гу, мно́го шу́му, ма́ло во́здуху, ма́ло просто́ру, немно́го кипятку́, сли́шком мно́го кри́ку, недоста́точно у́ксусу, побо́льше са́хару,

        поме́ньше ча́ю, две таре́лки су́пу, полфу́нта табаку́;

    </code>

    сюда же примыкает обозначение «нулевого» количества, например: <code>ни ка́пли коньяку́</code>;

</p>

<p>

    2) в сочетаниях (обычно с глаголами), где форма родительного падежа означает «некоторое количество соответствующего предмета» (т. е. где указание об

    ограниченном количестве хотя и отсутствует, но как бы подразумевается), например:

    <code>

        дал ко́рму, нали́л ча́ю, насы́пал песку́, принёс виногра́ду, доста́л во́ску, купи́л шёлку, доба́вил пе́рцу, свари́л су́пу, вы́пил боржо́му, попро́бовал

        мёду, пожале́л са́хару, жа́лко по́роху

    </code>

    ;  сюда же примыкают разнообразные отрицательные сочетания, требующие родительного падежа, например:    <code>нет сы́ру, не хвата́ет просто́ру, не ну́жно у́ксусу, не оста́лось крахма́лу, не дал ко́рму, не доста́л во́ску, не жа́лко по́роху,</code> к отрицательным

    близки также сочетания с предлогом <code>без</code> типа <code>оста́лись без са́хару, обойдёмся без су́пу; </code>

</p>

<p>

    3) в сочетаниях (обычно с глаголами с приставкой <strong>на-</strong>), где форма родительного падежа означает «большое количество соответствующего предмета», например:    <code>наде́лал шу́му, натерпе́лся стра́ху</code>, <code>наговори́л вздо́ру, нае́лся чесно́ку, натаска́л со́ру, навари́л кле́йстеру.</code>

</p>

<p>

    Следует учитывать, что в современном языке форма 2-го родительного падежа практически всегда может быть заменена обычным Р. ед. без изменения смысла,

    например: <code>мно́го сне́га, да́л ко́рма, наде́лал шу́ма</code> и т. д<sup>1</sup>.

</p>

<p>

    За пределами указанных значений форма 2-го родительного встречается в основном в составе фразеологических сочетаний, например:    <code>с разбе́гу, без спро́су, не до смеху́, час о́т часу.</code> Такие сочетания приводятся целиком в словарной статье за знаком ◊. Если данная форма

    выступает у слова только в приведенном фразеологическом сочетании, помета P<sub>2</sub> не дается, например:<strong> спрос</strong> м 1а ◊ без спро́су    <code>//</code> без спро́са.

</p>

<p>

    2-ой родительный падеж в принципе может быть образован от подавляющего большинства существительных мужского рода субстантивного склонения, обозначающих

    нерасчлененные массы или абстрактные понятия. Однако лишь у незначительной части этих слов данная форма стилистически нейтральна (не создает эффекта

    сниженного стиля). Это в основном слова, относящиеся к бытовой, обиходной сфере (ср. примеры выше). Формы 2-го родительного падежа от слов, далеких от

    бытовой сферы, могут быть использованы только для достижения определенного стилистического эффекта (например:    <code>мн́ого стро́нцию, ма́ло альтруи́зму).</code>

</p>

<p>

    В настоящем словаре помета P<sub>2</sub> дана не при всех словах, у которых форма P<sub>2</sub> ед. вообще возможна, а только при тех, у которых она

    стилистически нейтральна. Разумеется, строго отграничить стилистически нейтральные формы от остальных практически невозможно, поэтому элемент субъективной

    оценки здесь неизбежен. Укажем лишь, что пометы P<sub>2</sub> расставлялись по возможности «скупо» — в соответствии с отчетливой тенденцией современного

    языка к снижению употребительности 2-го родительного. В частности, помета P<sub>2</sub> не дана при обозначениях видов пищи, напитков, материй и т. д., не

    вполне привычных для современного обихода (малоизвестных, устаревших, относящихся к жизни других стран и т. п.), например,    <strong>йо́гу́рт, эль, затрапе́з</strong>. Из названий лекарств и бытовых химических веществ помету P<sub>2</sub> имеют только самые употребительные.

</p>

<p>

    Для постановки пометы P<sub>2</sub> достаточно, чтобы стилистически нейтральная форма 2-го родительного имелась хотя бы для одного из значений слова,

    например: <strong>эфи́р</strong> м 1а, P<sub>2</sub> (тот факт, что стилистически нейтральная форма P<sub>2</sub> ед. имеется только для значения

    «вещество, применяемое в медицине» и отсутствует для остальных значений, в словарной статье не отмечается).

</p>

