@page

<h5>
    ПОСТРОЕНИЕ ГЛАГОЛЬНЫХ ФОРМ ПО ИНДЕКСУ
</h5>

<p>
    Чтобы построить все формы некоторого глагола по его индексу (и буквенным символам), необходимо: 

    1) построить три основные формы по цифре индекса (и дополнительным пометам в скобках, если они есть); 
    при индексе, содержащем 6°, учесть значение кружочка (стр. 80); 
    
    2) расставить ударение в основных формах наст. (буд.) в соответствии со схемой ударения (стр. 80); 
    
    3) определить в соответствии с буквенными символами, каков состав форм у данного глагола (стр. 87); 
    
    4) построить все формы парадигмы по приводимому ниже описанию. 
    Если в словарной статье после индекса имеются какие-либо дополни¬тельные пометы или
    указания, то в полученный результат нужно внести соответствующие поправки (см. стр. 136).
</p>

<h2>Содержание</h2>

<p>
    Приводимые ниже правила сформулированы для <code>невозвратных</code> глаголов. 
    Соответствующие формы возвратных гла¬голов, если они вообще имеются, отличаются
    только наличием конечного <strong>-ся</strong> или <strong>-сь</strong> 
    (в причастиях всегда <strong>-ся</strong>, в прочих формах после гласной 
    <strong>-сь</strong>, после согласной или <strong>ь — -ся</strong>). 
    Следует учитывать, однако, что возвратные глаголы не имеют страдательных форм
    (поскольку все эти глаголы непереходны).
</p>

