@page

<h2>Спряжение</h2>

<a name="verb-cross"></a>

<h4>
    <strong>ЗНАЧЕНИЕ ДОПОЛНИТЕЛЬНЫХ ПОМЕТ И УКАЗАНИЙ ПРИ ГЛАГОЛЕ</strong>
</h4>

<p>

    Из дополнительных знаков в словарной статье глагола возможны только <span class="cross" /> и <span class="boxed-cross" />. Оба они относятся к образованию прич. страд. Эти знаки не ставятся,  однако,  при тех глаголах,  у которых прич. страд. отсутствует в силу общих правил,  а именно:
</p>

<p>

    а) при непереходных глаголах; б) при глаголах несовершенного вида,  входящих в видовую пару (т. е.,  с формальной точки зрения – имеющих в словарной статье знак ◑ или равносильное этому словесное указание).
</p>

<h4>
    ЗНАК <span class="cross" />
</h4>

<p>
    Знак <span class="cross" /> в словарной статье глагола показывает,  что образование прич. страд. здесь затруднительно
    (о затруднительности см. <a href="../preface1#difficulty">стр. 8</a>).
</p>

<p>
    Основные группы глаголов,  отмеченных знаком <span class="cross" />,  таковы.
</p>

<p>
    а) Глаголы совершенного вида на безударное <strong>-ывать,  -ивать</strong>,
    образованные добавлением приставки к глаголу несовершенного вида,
    уже имеющему приставку, например, <strong>навыду́мывать</strong>.
</p>

<p>
    б) Многие глаголы на <strong>-ить</strong>,
    где затруднительно требуемое для прич. страд. чередование согласных,
    например, <strong>затми́ть, увязи́ть, перешерсти́ть</strong>.
</p>

<p>
    в) Большинство бесприставочных глаголов на <strong>-ну́ть</strong>,
    а также многие глаголы на <strong>-а́ть,  -я́ть</strong>,
    где затруднителен требуемый для прич. страд. перенос ударения,
    например, <strong>толкну́ть, подожда́ть, шпыня́ть</strong>.
</p>

<a name="verb-boxed-cross"></a>

<h4>
    ЗНАК <span class="boxed-cross" />
</h4>

<p>
    Знак <span class="boxed-cross" /> в словарной статье глагола показывает,  
    что прич. страд. у данного глагола нет (но не в силу общих правил, указанных выше).
</p>

<p>
    Основные группы глаголов,  отмеченные знаком <span class="boxed-cross" />,  таковы.
</p>

<p>
    а) Приставочные глаголы несовершенного вида, не входящие в видовые пары, 
    например,  <strong>порица́ть,  пока́чивать,  сознава́ть</strong>.
</p>

<blockquote>
    <b>Примечание (Сергей Слепов):</b> для этой группы глаголов вполне возможно образование прич. страд. <i>настоящего времени</i>:
    <b>порицаемый, покачиваемый, сознаваемый</b>.
</blockquote>

<p>
    б) Многократные глаголы, например, <strong>пи́сывать</strong>.
</p>

<p>
    в) Глаголы совершенного вида на <strong>-а́ть,  -я́ть</strong>,
    образованные добавлением приставки к глаголу несовершенного вида, уже имеющему приставку,  
    например, <strong>посшиба́ть,  наснима́ть</strong>.
</p>

<p>
    г) Глаголы на <strong>-ану́ть,  </strong>например,  <strong>тряхану́ть.</strong>
</p>

<p>
    д) Значительная часть глаголов на <strong>-еть</strong>,
    а также глаголов II спряжения на <strong>-ать</strong>,
    например, <strong>разгляде́ть,  облете́ть,  пробежа́ть</strong>.
</p>


<h4 id="zhd">
    ЗАПИСЬ  «прич. страд. -жд-»
</h4>

<p>

    Такая запись (возможная только при глаголах на <strong>-дить) </strong>означает,  что прич. страд. оканчивается здесь на <strong>-ждённый (-жденный) </strong>вместо ожидаемого по правилам <strong>-жённый (-женный),  </strong>например:
</p>

<blockquote>

    <strong>огради́ть </strong> св 4b,  прич. страд. -жд- – прич. страд. <code>ограждённый, </code> вместо ожидаемого <code>*огражённый.</code>
</blockquote>

<h4 id="forms">
    ФОРМЫ,  ПРИВЕДЕННЫЕ ПОЛНОСТЬЮ,  НО НЕ ЗА ЗНАКОМ Δ
</h4>

<p>

    Таким способом могут быть приведены некоторые причастия или форма прош. м. Эти формы не являются аномальными (и потому не помещаются за знак Δ); они выступают как непосредственно-наглядное обозначение некоторой разновидности регулярного спряжения. Более полные пояснения даются при соответствующей таблице спряжения.
</p>

<h4 id="stressed_particle">

    СВЕДЕНИЯ О ПЕРЕНОСЕ УДАРЕНИЯ НА ЧАСТИЦУ
</h4>

<p>

    В состав указаний,  приводимых при глаголе за знаком ◊ может входить запись форм прош. времени с частицей <strong>не</strong> или <strong>ни</strong>,  например: ◊ не́ был,  не́ было,  не́ были (<code>но</code> не была́). Это значит,  что в указанных сочетаниях ударение находится на частице,  а глагольная словоформа безударна.
</p>

<h4 id="aspect">
    УКАЗАНИЯ ЗА ЗНАКОМ ◑ – СВЕДЕНИЯ О ГЛАГОЛЕ ПРОТИВОПОЛОЖНОГО ВИДА
</h4>

<p>

    При глаголах,  входящих в видовые пары,  за знаком ◑ даются указания,  позволяющие установить противоположный член данной видовой пары. В словаре отмечаются только так наз. строгие видовые пары,  т. е. такие,  где между членами пары нет никаких дополнительных смысловых различий,  кроме чисто видового (об одном отклонении от этого принципа см. ниже). За немногими исключениями,  этому требованию удовлетворяют только пары приставочных глаголов (типа <strong>нали́ть,  налива́ть). </strong>Специально укажем,  что в словаре не отмечаются пары бесприставочных глаголов типа <strong>мига́ть </strong>– <strong>мигну́ть,  коло́ть </strong>– <strong>кольну́ть,  </strong>где глагол совершенного вида имеет дополнительное значение однократности (хотя такие пары и весьма близки к строго видовым).
</p>

<p>

    Нарушение строгого семантического соответствия между членами видовой пары допускается в словаре лишь в следующем особом случае: когда один и тот же глагол включен в видовую пару в одном из своих значений и не включен в другом. Например,  глагол <strong>прорабо́тать </strong>в значении «изучить» образует пару с <strong>прораба́тывать,  </strong>а в значении  «работать в течение определенного времени» не имеет парного по виду глагола; <strong>утвержда́ть </strong> в значениях  «официально принимать,  укреплять» образует пару с <strong>утверди́ть,  </strong>а в значении  «настойчиво заявлять» не имеет парного глагола.
</p>

<p>

    Подобные нарушения можно разделить на типовые и индивидуальные. Типовые нарушения возникают в силу следующего правила: приставочные глаголы обычно не имеют парного по виду глагола,  когда они выражают так наз.  «совершаемости»<sup>1</sup> соответствующего основного глагола. Под  «совершаемостями» понимается определенный круг дополнительных значений,  сообщаемых приставками (реже суффиксами) основному глаголу; для рассматриваемого вопроса существенны следующие из них: начинательное значение (приставки <strong>за- </strong>и <strong>по-</strong>, <strong> </strong>например,  <strong>защеми́ть </strong> «начать щемить»<strong>,  побежа́ть); </strong>ограничительное значение (приставка <strong>по-</strong>, <strong> </strong>например,  <strong>посиде́ть,  послу́шать)</strong>; значение заполнения действием некоторого отрезка времени (приставка <strong>про-,  </strong>например,  <strong>прорабо́тать </strong><code>це́лые су́тки</code>,  <strong>пробе́гать </strong><code>це́лый ча́с);</code> значение окончания действия (приставка <strong>от-,  </strong>например,  <strong>отстира́ть </strong> «кончить стирать»; <strong>отзвони́ть); </strong>значение последовательного охвата действием всех или многих объектов (приставка <strong>пере-,  </strong>например,  <strong>перечита́ть </strong><code>вс</code><code>e</code><code>́ кни́ги</code>, <strong>перепро́бовать </strong><code>вс</code><code>e</code><code>́ куша́нья).</code> Если глагол со значением  «совершаемости»других значений не имеет (ср.  <strong>побежа́ть,  посиде́ть,  пробе́гать,  перепро́бовать),  </strong>то в соответствии с общим правилом глагол противоположного вида вообще отсутствует. Если у глагола имеются и другие значения,  то возникает описанное выше нарушение семантического соответствия членов видовой пары,  ср.  <strong>прорабо́тать </strong> «изучить» – <strong>прораба́тывать</strong>; <strong>отстира́ть </strong> «отмыть стиркой» – <strong>отсти́рывать</strong>; <strong>перечита́ть </strong> «прочесть снова» – <strong>перечи́тывать</strong>.
</p>

<p>

    Индивидуальные нарушения,  в отличие от типовых,  не могут быть объяснены действием какого-либо общего правила; этот случай проиллюстрирован выше глаголом <strong>утвержда́ть.</strong>
</p>

<p>

    Специфика грамматического словаря (где ссылки на значение рассматриваются как отклонение от нормального вида словарной статьи и допускаются лишь в ограниченных пределах) не позволяет полностью отразить все нарушения описанного типа,  поскольку они весьма многочисленны; это возможно лишь в толковом словаре (где в соответствии с основной целью словаря указываются все значения слова). В настоящем словаре относительно полно отражены только индивидуальные нарушения семантического соответствия членов видовой пары,  а типовые нарушения в большинстве случаев никак не отмечаются. Так,  словарная статья <strong>утвержда́ть </strong>разделена на две подстатьи (соответственно значениям),  в одной из которых дана ссылка на <strong>утверди́ть,  </strong>а в другой нет. В то же время статья <strong>прорабо́тать </strong>на подстатьи не делится и содержит ссылку на <strong>прораба́тывать </strong>(без каких-либо оговорок); иначе говоря,  эта статья оформлена так же,  как,  например,  статья <strong>нали́ть </strong>(где между членами видовой пары <strong>нали́ть </strong>– <strong>налива́ть </strong>соблюдается строгое семантическое соответствие). Следует учитывать,  конечно,  что между типовыми и индивидуальными нарушениями нет строгой границы; в отдельных случаях их разграничение оказывается до известной степени условным.
</p>

<p>

    Глаголы-омонимы,  входящие в разные видовые пары,  даются отдельными статьями (даже если их спряжение одинаково); ср. ,  например, <strong>заса́ливать </strong>(совершенный вид <strong>засоли́ть</strong>) и <strong>заса́ливать </strong>(совершенный вид <strong>заса́лить</strong>). <strong> </strong>Особый случай составляют,  однако,  глаголы несовершенного вида типа <strong>выта́лкивать,  </strong>которые соотнесены с двумя глаголами совершенного вида (<strong>вы́толкнуть </strong>и <strong>вы́толкать</strong>), <strong> </strong>различающимися между собой по смыслу только противопоставлением  «действие,  совершаемое в один прием,  – действие,  совершаемое в несколько приемов». Глагол типа <strong>выта́лкивать </strong> рассматривается как единое слово (а не как пара омонимов) и при нем даются ссылки одновременно на два глагола совершенного вида (между такими ссылками ставится точка с запятой):
</p>

<blockquote>

    <strong>выта́лкивать </strong> нсв 1а ◑ З (вы́толкнуть); 1 (вы́толкать)

</blockquote>

<p>

    Замечание. Счет омонимов у глаголов,  участвующих в описанных выше сложных видовых соотношениях,  в толковых словарях проведен не вполне последовательно. В настоящем словаре счет омонимов в этих случаях подчинен приведенным здесь правилам (хотя бы это противоречило указаниям толковых словарей).
</p>

<p>

    Указание о том,  каков глагол противоположного вида,  дается в словарной статье в форме специальных символов за знаком ◑,  позволяющих построить по приводимым ниже правилам инфинитив этого глагола. (Возможное наличие омонимов у построенного таким образом глагола при этом никак не отмечается.)
</p>

<p>

    Для упрощения формулировок приводимые ниже правила даются для невозвратных глаголов. Возвратные глаголы отличаются от них только наличием конечного <strong>-ться,  -чься,  -тись </strong>вместо <strong>-ть,  -чь,  -ти.</strong>
</p>

<p>

    Общее правило,  действующее при образовании видов: если в исходном глаголе ударение на <strong>ё</strong>,  а при образовании противоположного вида ударение сдвигается,  это <strong>ё </strong>переходит в <strong>е </strong>(в дальнейшем этот факт больше не оговаривается).
</p>

<h4 id="aspect-imperfect">
    Указания при глаголах совершенного вида (обеспечивающие построение соответствующего глагола несовершенного вида)
</h4>

<p>

    За знаком ◑ даётся римская цифра I,  II или III; при цифре I может стоять,  кроме того,  помета (-ё-),  (-о́-) или (-а́-). Значения этих символов таковы.
</p>

<p class="footnote">
    <sup>1</sup> Термин А. В. Исаченко; см.: А. В. Исаченко,  Грамматический строй русского языка в сопоставлении с словацким. Морфология,  ч. 2,  Братислава,  1960,  стр. 209.
</p>

<h4 id="aspect-I">
    Помета ◑I
</h4>

<p>

    Чтобы получить глагол несовершенного вида<sup>1</sup>,  необходимо:
</p>

<p>

    а) если исходный глагол (совершенного вида) оканчивается на <strong>-ать,  -оть </strong>или <strong>-нуть </strong>(но не <strong>-ьнуть) </strong>– заменить эту<strong> </strong>последовательность на <strong>-ывать </strong>(но <strong>-иватъ </strong>после <strong>к, г,  х </strong>или шипящей);
</p>

<p>

    б) если исходный глагол оканчивается на <strong>-ять </strong>или <strong>-ьнуть </strong>– заменить эти последовательности на <strong>-ивать;</strong>
</p>

<p>

    в) в прочих случаях глагол несовершенного вида образуется от 1 ед. буд. исходного глагола,  а именно: если эта форма оканчивается на <strong>-у </strong>– заменить это окончание на <strong>-ывать </strong>(но <strong>-ивать </strong>после <strong>к,  г,  х </strong>или шипящей); если эта форма оканчивается на <strong>-ю </strong>– заменить его на <strong>-ивать. </strong>
</p>

<p>

    Ударение в глаголе несовершенного вида таково:
</p>

<p>

    а) если исходный глагол начинается с <strong>вы́- </strong>или если он имеет ударение на конечном слоге<sup>2</sup> – ударение переходит на слог,  предшествующий <strong>-ывать (-ивать)</strong>,  т. е. третий от конца; если при этом исходный глагол имеет в индексе помету «ё» (или «о»),  
    в глаголе несовершенного вида в ударном слоге вместо ожидаемого <strong>е́</strong> выступает <strong>ё</strong> (или <strong>о́</strong> – соответственно помете);
</p>

<p>

    б) в прочих случаях сохраняется ударение исходного глагола.
</p>

<p>

    Примеры:
</p>

<blockquote>

    <strong>описа́ть </strong> св 6с ◑I – <code>нсв</code> <strong>опи́сывать </strong>
    <br/>
    <strong>отде́латься </strong> св 1а ◑I – <code>нсв </code><strong>отде́лываться</strong>
    <br/>
    <strong>вспугну́ть </strong> св 3b ◑I – <code>нсв</code> <strong>вспу́гивать </strong>
    <br/>
    <strong>вы́менять </strong> св 1а ◑I – <code>нсв</code> <strong>выме́нивать </strong>
    <br/>
    <strong>увильну́ть </strong> св нп 3b ◑I – <code>нсв</code> <strong>уви́ливать</strong>
    <br/>
    <strong>раскра́сить </strong> св 4а ◑I<strong> </strong>– <code>нсв</code> <strong>раскра́шивать </strong>(ср.  1 ед. буд. св раскрашу)
    <br/>
    <strong>наверста́ть </strong> св 1а,  ё ◑I – <code>нсв</code> <strong>навёрстывать </strong>
    <br/>
    <strong>разжева́ть </strong> св 2b,  ё ◑I – <code>нсв</code> <strong>разжёвывать </strong>
    <br/>
    <strong>облицева́ть </strong> св 2а,  о ◑I – <code>нсв</code> <strong>облицо́вывать</strong>

</blockquote>

<h4>
    Пометы ◑I (-ё-), ◑I (-о́-), ◑I (-а́-)
</h4>

<p>
    ◑I (-ё-),  ◑I (-о́-). Те же правила,  что для ◑I,  со следующим добавлением: в глаголе несовершенного вида в ударном слоге вместо ожидаемого <strong>e&#769;</strong> выступает <strong>ё </strong>(или <strong>о </strong>– соответственно помете). ◑I (-а́-). Те же правила,  что для ◑I,  со следующим добавлением: в глаголе несовершенного вида в ударном слоге вместо ожидаемого <strong>о́ </strong>выступает <strong>а́.</strong>
</p>

<p>
    Примеры:
</p>

<blockquote>

        <strong>вы́чесать </strong> св 6а ◑I(-ё-) – <code>нсв </code><strong>вычёсывать</strong>
    <br/>
        <strong>вы́танцевать </strong> св 2а ◑I (-о́-) – <code>нсв</code> <strong>вытанцо́вывать </strong>
    <br/>
        <strong>вскопа́ть </strong> св 1а ◑I(-а́-) – <code>нсв</code> <strong>вска́пывать </strong>
    <br/>
        <strong>расколо́ть </strong> св 10с ◑I(-а́-) – <code>нсв </code><strong>раска́лывать</strong>
    <br/>
        <strong>заморо́зить </strong> св 4а ◑I(-а́-)<strong> </strong>– <code>нсв</code> <strong>замора́живать </strong>(<code>ср.  1 ед. буд. св</code> заморо́жу<strong>)</strong>

</blockquote>

<h4 id="aspect-II">
    <strong>Помета ◑II</strong>
</h4>

<p>
    Чтобы получить глагол несовершенного вида:
</p>
<p>
    а) если исходный глагол (совершенного вида) оканчивается на <strong>-ать </strong>– в буквенном составе ничего не меняется;
</p>
<p>
    б) если исходный глагол оканчивается на <strong>-нуть </strong>– заменить эту последовательность на <strong>-ать;</strong>
</p>
<p>
    в) в прочих случаях глагол несовершенного вида образуется от 1 ед. буд. исходного глагола,  а именно: если эта форма оканчивается на <strong>-у </strong>– заменить это окончание на <strong>-ать</strong>; если эта форма оканчивается на <strong>-ю </strong>– заменить его на <strong>-ять</strong>.
</p>
<p>
    Ударение в глаголе несовершенного вида – всегда на конечном <strong>-ать (-ять).</strong>
</p>
<p>
    Примеры:
</p>

<blockquote>

    <strong>разре́зать </strong> св 6а ◑II<strong> </strong>– <code>нсв</code> <strong>разреза́ть</strong>

    <br/>
        <strong>привы́кнуть </strong> св нп 3&deg;а ◑II – <code>нсв </code><strong>привыка́ть</strong>
    <br/>
        <strong>укра́сить </strong> св 4а ◑II<strong> </strong>– <code>нсв</code> <strong>украша́ть </strong>(<code>ср.  1 ед. буд. св</code> укра́шу)
    <br/>
        <strong>вы́прямить </strong> св 4а ◑II – <code>нсв</code> <strong>выпрямля́ть </strong>(<code>ср.  1 ед. буд. св</code> <strong>вы́прямлю)</strong>
    <br/>
        <strong>соблюсти́ </strong> св 7b/b (-д-) &lt;span class=&rdquo;circle&rdquo;&gt;9&lt;/span&gt; ◑II – <code>нсв</code> <strong>соблюда́ть </strong>(<code>ср.  1 ед. буд. св </code> <strong>соблюду́)</strong>
    <br/>
        <strong>развле́чься </strong> св 8b/b (-к-),  ё ◑II<strong> </strong>– <code>нсв</code> <strong>развлека́ться </strong>(<code>ср.  1 ед. буд. св </code>развлеку́сь)

</blockquote>

<h4 id="aspect-III">
    Помета ◑III
</h4>

<p>
    Чтобы получить глагол несовершенного вида, необходимо:
</p>
<p>
    а) если исходный глагол оканчивается на <strong>-нуть </strong>– заменить это <strong>-нуть </strong>на <strong>-вать;</strong>
</p>
<p>
    б) в прочих случаях заменить <strong>-ть </strong>на <strong>-вать.</strong>
</p>
<p>
    Ударение в глаголе несовершенного вида – всегда на конечном <strong>-вать.</strong>
</p>
<p>
    Примеры:
</p>

<blockquote>

    <strong>заболе́ть </strong> св нп 1а ◑III<strong> </strong>– <code>нсв</code> <strong>заболева́ть </strong>
    <br/>
        <strong>уби́ть </strong> св 11b ◑III<strong> </strong>– <code>нсв </code><strong>убива́ть </strong>
    <br/>
        <strong>вду́нуть </strong> св За ◑III – <code>нсв</code> <strong>вдува́ть</strong>

</blockquote>

<p class="footnote">
    <sup>1</sup>Здесь и в последующих пунктах имеется в виду: в исходной форме,  т. е. в инфинитиве. Предполагается,  что эта форма вначале строится без указания ударения,  т. е. просто как буквенная последовательность; соответственно,  правила об ударении даются затем отдельно.
</p>
<p class="footnote">
    <sup>2</sup> Конечное <strong>-ся</strong>,  если оно есть,  при этом не учитывается.
</p>
<p>
    В случае,  если глагол несовершенного вида хоть в чем-нибудь отклоняется от приведенных правил,  он приводится за знаком ◑ целиком. При менее существенных отклонениях римская цифра сохраняется (в качестве общего указания на тип образования несовершенного вида),  а глагол несовершенного вида ставится в скобках. В особых случаях,  где нет сходства ни с одним из трех основных типов образования несовершенного вида,  римская цифра отсутствует.
</p>
<p>
    Примеры:
</p>

<blockquote>
    <strong>захвати́ть </strong> св 4с ◑I(захватывать) – <code>вместо ожидаемого</code> *захва́чивать
    <br/>
        <strong>проруби́ть </strong> св 4с ◑II (прорубать) – <code>вместо ожидаемого</code> *прорубля́ть
    <br/>
        <strong>натере́ть </strong> св 9b,  ё ◑II(натирать) – <code>вместо ожидаемого</code> *натра́ть
    <br/>
        <strong>зате́ять </strong> св 6а ◑III(затевать) – <code>вместо ожидаемого</code> *затеява́ть
    <br/>
        <strong>привезти́ </strong> св 7b/b⑨,  ё ◑III<strong> </strong>привози́ть

</blockquote>

<h4 id="aspect-perfect">
    Указания при глаголах несовершенного вида (обеспечивающие построение соответствующего глагола совершенного вида)
</h4>

<p>
    Правило о приставке <word-end>вы-</word-end>, действующее при построении глаголов совершенного вида: 
    если глагол несовершенного вида начинается с <word-end>вы-</word-end>, 
    то в соответствующем глаголе совершенного вида ударение падает на это <word-end>вы-</word-end>, 
    независимо от того, чего требуют все остальные правила об ударении.
</p>

<p>
    За знаком ◑ дается арабская цифра от 1 до 16 (которая показывает тип спряжения искомого глагола совершенного вида); за цифрой может быть дана помета (-о́-),  (-о-) или (-ё-),  показывающая корневую гласную глагола совершенного вида,  или выписана конечная часть этого глагола,  например: (-а́ть),  (-миться),  (-ости́ть).
</p>

<p>
    В случае,  если за знаком ◑ стоит только цифра (без дополнительных указаний),  
    глагол совершенного вида строится от глагола несовершенного вида по приводимой ниже таблице. 
    Знак →  в этой таблице означает «заменить на». 
    Место ударения в глаголе совершенного вида указывается так: 
    1) если выписанный конечный элемент имеет знак ударения,  
    ударение всегда находится на указанном таким образом месте; 
    2) если перед выписанным конечным элементом дан знак ▬́,
    ударение падает на предшествующий этому элементу слог; 
    3) если дана помета «ударение сохраняется», 
    ударение на том же слоге (по счету от начала),  
    что в глаголе несовершенного вида. 
    (О глаголах с начальным <strong>вы-</strong> см. выше.)
</p>
<h4>

    Таблица построения глаголов совершенного вида
</h4>

<table border="1">

<tr>
    <td rowspan="2">
        Помета в словарной статье
    </td>
    <td colspan="3">
        Заглавное слово словарной статьи (т. е. глагол несовершенного вида) оканчивается:
    </td>
</tr>
<tr>
    <td>
        на безударное <strong>-ывать</strong> или <strong>-ивать</strong> (т. е. образовано по типу I)
    </td>
    <td>
        на <strong>-а́ть</strong> (но не <strong>-ва́ть</strong>) или на <strong>-я́ть</strong> (т.е. образовано по типу II)
    </td>
    <td>
        на <strong>-ва́ть</strong> (т. е. образовано по типу III)
    </td>
</tr>
<tr>
    <td>
        <strong>◑1, ◑5</strong> или <strong>◑6</strong>
    </td>
    <td>
        <strong>-ывать →  -ать</strong>
        <br />
        <strong>-ивать</strong> (после шипящей, к, г или х) →  <strong>-ать</strong>
        <br />
        <strong>-ивать</strong> (в прочих случаях) →  <strong>-ять</strong> (ударение сохраняется)
    </td>

    <td>

        <strong>-а́ть →  ▬́ -ать</strong>

    </td>

    <td>

        <strong>-ва́ть → ▬́ -ть</strong>

    </td>

</tr>

<tr>

    <td>

        <strong>◑2</strong>

    </td>

    <td>
        <strong>-о́вывать</strong> (но не <strong>-цо́вывать) →  -ова́ть</strong>
        <br/>
            <strong>-цо́вывать → -цева́ть</strong>
        <br/>
            <strong>-ёвывать → -ева́ть</strong>
    </td>
    <td>
        —
    </td>
    <td>
        —
    </td>
</tr>
<tr>
    <td>
        <strong>◑3</strong>
    </td>
    <td>
            <strong>-ывать → -нуть</strong>
        <br/>
            <strong> -ивать → -нуть</strong>
        <br/>
            (ударение сохраняется)
    </td>
    <td>
        <strong>-а́ть </strong> → <strong>▬́ -нуть</strong>
    </td>
    <td>
        <strong>-ва́ть → ▬́ -нуть</strong>
    </td>
</tr>
<tr>
    <td>
        <strong>◑4</strong>
    </td>
    <td>
            <strong>-ывать → - ить</strong>
        <br/>
            <strong>- ивать → - ить</strong>
        <br/>
            (ударение сохраняется)
    </td>
    <td>
            <strong>-а́ть ▬́ - ить</strong>
        <br/>
            <strong>-я́ть ▬́ - ить</strong>
    </td>

    <td>
        —
    </td>
</tr>
<tr>
    <td>
        <strong>◑7</strong>
    </td>
    <td>
        <strong>-зывать→ -зть </strong>
        <br/>
        <strong>-тывать → -сть</strong>
        <br/>
        <strong>-сывать → -сть</strong>
        <br/>
        <strong>-бывать → -сть</strong>
        <br/>
        (ударение сохраняется)
    </td>
    <td>
        <strong>-за́ть→ -зть</strong>
        <br/>
            <strong>-та́ть → ▬́ - сть</strong>
        <br/>
            <strong>-да́ть → ▬́ - сть</strong>
        <br/>
            <strong>-са́ть → ▬́ - сть</strong>
        <br/>
            <strong>-ба́ть → ▬́ - сть</strong>
    </td>
    <td>
        —
    </td>
</tr>
<tr>
    <td>
        <strong>◑8</strong>
    </td>
    <td>
        <strong>-кивать → -чь</strong>
        <br/>
            <strong>-гивать → -чь</strong>
        <br/>
            (ударение сохраняется)
    </td>
    <td>
        <strong>-ка́ть → -чь</strong>
        <br/>
            <strong>-га́ть → -чь</strong>
    </td>
    <td>
        —
    </td>
</tr>
<tr>
    <td>
        <strong>◑9</strong>
    </td>
    <td>
        —
    </td>
    <td>
        <strong>-ира́ть → -ерéть</strong>
    </td>
    <td>
        —
    </td>
</tr>
<tr>
    <td>
        <strong>◑10</strong>
    </td>
    <td>
        <strong>-а́лывать → -оло́ть </strong>
        <br/>
            <strong>-а́рывать→ -оро́ть </strong>
    </td>
    <td>
        —
    </td>
    <td>
        —
    </td>
</tr>
<tr>
    <td>
        <strong>◑14</strong>
    </td>
    <td>
        —
    </td>
    <td>
        <strong>-има́ть → я́ть</strong>
        <br/>
            <strong>-ина́ть → я́ть</strong>
        <br/>
        (но <strong>-а́ть</strong> после шипящей)
    </td>
    <td>
        —
    </td>
</tr>
<tr>
    <td>
        <strong>◑11,  ◑12,  ◑13,  ◑15 или 16</strong>
    </td>
    <td>
        —
    </td>
    <td>
        —
    </td>
    <td>
        <strong>-ва́ть → ▬́ ть</strong>
    </td>
</tr>
</table>

<p>

    Примеры:
</p>

<blockquote>

    <strong>обню́хивать </strong> нсв 1а ◑<strong>1 – св обню́хать </strong>
    <br/>
        <strong>одолева́ть нсв </strong> 1а<strong> </strong>◑1<strong> – св одоле́ть </strong>
    <br/>
        <strong>выде́рживать нсв </strong> 1а<strong> </strong>◑5<strong> – св вы́держать </strong>
    <br/>
        <strong>вычёсывать </strong> нсв 1а ◑6<strong> – св вы́чесать </strong>
    <br/>
        <strong>разреза́ть нсв </strong> 1а ◑6<strong> – св разре́зать </strong>
    <br/>
        <strong>разжёвывать нсв </strong> 1а ◑2<strong> – св разжева́ть </strong>
    <br/>
        <strong>подпры́гивать нсв нп </strong> 1а<strong> </strong>◑3<strong> – св подпры́гнуть </strong>
    <br/>
        <strong>привыка́ть нсв нп </strong> 1а<strong> </strong>◑3<strong> – св привы́кнуть </strong>
    <br/>
        <strong>уси́ливаться нсв </strong> 1а ◑4<strong> – св</strong> <strong>уси́литься </strong>
    <br/>
        <strong>утеша́ть нсв </strong> 1а ◑4<strong> – св уте́шить </strong>
    <br/>
        <strong>закра́дываться нсв </strong> 1а ◑7<strong> – св закра́сться </strong>
    <br/>
        <strong>пролеза́ть нсв нп </strong> 1а ◑7<strong> – св проле́зть </strong>
    <br/>
        <strong>развлека́ться нсв </strong> 1а ◑8<strong> – св развле́чься </strong>
    <br/>
        <strong>натира́ть нсв </strong> 1а ◑9<strong> – св натере́ть </strong>
    <br/>
        <strong>раска́лывать нсв </strong> 1а ◑10 <strong>– св расколо́ть </strong>
    <br/>
        <strong>снима́ть нсв </strong> 1а ◑14<strong> – св снять </strong>
    <br/>
        <strong>убива́ть нсв </strong> 1а ◑11<strong> – св уби́ть</strong>

</blockquote>

<p>

    В случае,  если при цифре,  стоящей за знаком ◑,  имеются дополнительные указания,  необходимо внести в результат,  полученный по таблице,  определенные поправки. Эти поправки таковы (приводимые правила сформулированы для невозвратных глаголов; возвратные глаголы отличаются от них наличием конечного <strong>-ся </strong>или <strong>сь).</strong>
</p>

<p>

    Если после цифры стоит помета (-о́-),  (-о-) или (-ё-),  то в глаголе совершенного вида в слоге,  предшествующем конечным <strong>-ать,  -ять,  -еть,  -ить,  -нуть </strong>или <strong>-чь </strong>вместо ожидаемых <strong>а́,  а </strong>или <strong>e</strong><strong>́ </strong> выступает <strong>о́,  о </strong>или <strong>ё </strong>(соответственно помете). Примеры:
</p>

<blockquote>

    <strong>зараба́тывать </strong> нсв 1а ◑1 (-о́-)<strong> – св зарабо́тать </strong>
    <br/>
        <strong>вздра́гивать </strong> нсв нп 1а ◑3(-ó-) <strong>– св вздро́гнуть </strong>
    <br/>
        <strong>выстра́иваться </strong> нсв 1а ◑4(-о́-)<strong> – св вы́строиться</strong>
    <br/>
        <strong>замерза́ть </strong> нсв нп 1а ◑3(-ё-)<strong> – св замёрзнуть</strong>

</blockquote>

<p>

    Если после цифры стоит помета (-а́ть),  (-я́ть),  (-и́ть) или (-ну́ть),  это значит,  что глагол совершенного вида имеет,  вопреки таблице,  указанное положение ударения. Примеры:
</p>

<blockquote>

    <strong><sup>1-2</sup></strong> <strong>навёрстывать </strong> нсв 1а ◑1 (-а́ть) – св <strong>наверста́ть </strong>
    <br/>
        <strong>вспу́гивать </strong> нсв 1а ◑3(-ну́ть) – св <strong>вспугну́ть </strong>
    <br/>
        <strong>огорча́ться </strong> нсв 1а ◑4(-и́ться) – св <strong>огорчи́ться </strong>
    <br/>
        <strong>осме́ивать </strong> нсв 1а ◑6(-я́ть) – св <strong>осмея́ть</strong>

</blockquote>

<p>
    Все прочие пометы означают,  что конечная часть глагола совершенного вида не такова,  как ожидается в соответствии с таблицей. Чтобы получить глагол совершенного вида,  в этом случае нужно вначале построить форму,  предписываемую таблицей,  а затем заменить ее конечную часть<sup>1</sup> той записью,  которая приведена в скобках. При этом,  если запись в скобках имеет знак ударения,  то тем самым указывается место ударения в глаголе совершенного вида; если знака ударения нет,
    то ударение ставится в соответствии с таблицей (и правилом о <word-end>вы-</word-end>). Примеры:
</p>

<blockquote>

    <strong>выкипа́ть </strong> нсв нп 1а ◑5(-еть ) – св <strong>вы́кипеть</strong>
    <br/>
        <strong>загора́ться </strong> нсв 1а ◑5(-е́ться) – св <strong>загоре́ться </strong>
    <br/>
        <strong>выцвета́ть </strong> нсв нп 1а ◑7(-сти ) <strong>– </strong>св <strong>вы́цвести </strong>
    <br/>
        <strong>вполза́ть </strong> нсв ни 1а ◑7(-зти́) <strong>– </strong>св <strong>вползти́ </strong>
    <br/>
        <strong>скра́шивать </strong> нсв 1а ◑4(-сить) <strong>– </strong>св <strong>скра́сить </strong>
    <br/>
        <strong>обижа́ться </strong> нсв 1а ◑5(-деться ) – св <strong>оби́деться </strong>
    <br/>
        <strong>распрямля́ть </strong> нсв 1а ◑4(-ми́ть) <strong>– </strong>св <strong>распрями́ть </strong>
    <br/>
        <strong>подтвержда́ть </strong> нсв 1а ◑4(-рди́ть)<sup>2</sup><strong>– </strong>св <strong>подтверди́ть </strong>
    <br/>
        <strong>перемеща́ть </strong> нсв 1а ◑4(-сти́ть) <strong>– </strong>св <strong>перемести́ть </strong>
    <br/>
        <strong>нама́тывать </strong> нсв 1а ◑1(-ота́ть) <strong>– </strong>св <strong>намота́ть </strong>
    <br/>
        <strong>подма́ргивать </strong> нсв нп 1а ◑З(-оргну́ть) <strong>– </strong>св <strong>подморгну́ть</strong>
    <br/>
        <strong>замора́живать </strong> нсв 1а ◑4(-о́зить) <strong>– </strong>св <strong>заморо́зить</strong>
    <br/>
        <strong>рассма́тривать </strong> нсв 1а ◑5(-отре́ть) <strong>– </strong>св <strong>рассмотре́ть</strong>

</blockquote>

<p>

    Там,  где для построения глагола совершенного вида недостаточно указать его конечную часть,  он приводится целиком,  например:
</p>

<blockquote>

    <strong>собира́ть </strong> нсв 1а ◑6(собра́ть)
    <br/>
        <strong>затева́ть </strong> нсв 1а ◑б(зате́ять)
    <br/>
        <strong>привози́ть </strong> нсв 4с ◑ привезти́
    <br/>

</blockquote>

<p>

    Если глагол совершенного вида не принадлежит ни к одному из 16-ти типов спряжения (т. е. входит в число изолированных),  он приводится непосредственно за знаком ◑,  например:
</p>

<blockquote>

    <strong>забыва́ть </strong> нсв 1а ◑<strong> </strong>забы́ть

</blockquote>

<p>

    Выписанная в скобках конечная часть глагола может быть заменена полной записью глагола,  если до полной записи недостает всего двух или трех букв,  например:
</p>

<blockquote>

    <strong>ока́пываться </strong> нсв 1а ◑1 (окопа́ться) – <code>вместо</code>: ◑1(-опа́ться)
</blockquote>

<p>

    Такая замена возможна также в тех случаях,  где глагол противоположного вида используется как средство различения омонимов. Если глагол противоположного вида дан в скобках курсивом (т. е. так же,  как указания значения),  это означает,  что он приведен т о л ь к о с целью различения омонимов,  а сам по себе никаких морфологических особенностей не имеет (см. об этом также стр. 14).
</p>
<p class="footnote">

    <sup>1</sup> Длина этой конечной части,  подлежащей отбрасыванию,  определяется следующими формальными правилами: 1) при пометах (-бить),  (-пить),  (-вить),  (-фить),  (-мить) [со знаком ударения или без него] или при более длинных пометах,  которые так оканчиваются,  например,  (-опить),  (-олбить) – отбрасывается на одну букву больше,  чем добавляется; 2) то же верно при любых пометах в случае,  если глагол несовершенного вида оканчивается на <strong>-жда́ть; </strong>3) при пометах (-стить),  (-остить) [со знаком ударения или без него] – отбрасывается на одну букву меньше,  чем добавляется; 4) в остальных случаях отбрасывается столько же букв,  сколько добавляется.
</p>

<p class="footnote">

    <sup>2</sup> Для большей ясности при глаголах на <strong>-жда́ть </strong>(например,  <strong>подтвержда́ть,  насажда́ть,  убеждат́ь) </strong>дается запись типа (-рди́ть),  (ади́ть),  (-еди́ть),  а не просто (-ди́ть).
</p>


<h4>

    <strong>ДОПОЛНИТЕЛЬНЫЕ ОСОБЕННОСТИ В СПРЯЖЕНИИ</strong>
</h4>

<h4>

    <strong><code>(у слов с пометами § 13 – § 18)</code></strong>
</h4>

<p id="para13">
    <strong>§ 13. </strong> Образец: <strong>маха́ть </strong>нсв нп,  6с// 1а,  <span class="cross" />,  § 13. Входящие в эту группу глаголы колеблются между типами спряжения 6 и 1. При этом в повел. и деепр. наст.  формы типа 6 <code>(маши́,  маши́те,  маша́)</code> и типа 1 <code>(маха́й,  маха́йте,  маха́я)</code> с нормативной точки зрения равноправны. Для личных форм наст.  (буд.) времени и прич. наст.  предпочтителен тип 6 <code>(машу́,  ма́шет,  ма́шущий); </code>тип 1 <code>(маха́ю,  маха́ет,  маха́ющий)</code> характерен здесь для разговорной речи. В прочих формах <code>(маха́л,  маха́вший</code> и т. д.) типы 6 и 1 совпадают.
</p>

<p id="para14">
    <strong>§ 14. </strong> Образцы: <strong>колыха́ть </strong>нсв,  6а// 1а,  <span class="cross" />,  § 14; <strong>ка́пать </strong><code>(падать каплями)</code> нсв нп,  1а//6а,  § 14. Входящие в эту группу глаголы также колеблются между типами 6 и 1,  но здесь формы типа 1 играют более значительную роль,  чем у глаголов с отсылкой к § 13. Повел. и деепр. наст.  в современном языке образуются как правило по типу 1 <code>(колыха́й,  колыха́йте,  колыха́я; капа́й,  капа́йте,  капа́я);</code> формы типа 6 <code>(колы́шь,  колы́шьте,  колы́ша; ка́пли,  ка́плите,  ка́пля)</code> устарели<sup>3</sup>. Для личных форм наст.  (буд.) времени и прич. наст.  возможен как тип 6 <code>(колы́шу,  колы́шет,  колы́шущий; ка́плю,  ка́плет,  ка́плющий</code>),  так и тип 1 (<code>колыха́ю,  колыха́ет,  колыха́ющий; ка́паю,  ка́пает,  ка́пающий</code> ); незначительное предпочтение отдается здесь тому из этих типов,  который в словарной статье указан первым. В прочих формах <code>(колыха́л,  колыха́вший,  ка́пал,  ка́павший</code> и т. д.) типы 1 и 6 совпадают.
</p>

<p class="footnote">

    <sup>3</sup> Относительно менее устарело деепр. <code>рыща́;</code> оно практически равноправно с <code>ры́ская</code>.
</p>

<p id="para15">
    <strong>§ 15.</strong> Образец: <strong>стели́ть </strong>нсв 4с,  § 15 <strong>[</strong>//<strong> стлать]. </strong>
    Ссылка на настоящий параграф дана при глаголе <strong>стели́ть</strong> и производных от него; 
    эти глаголы выступают как варианты к глаголу <strong>стлать</strong> (наст. <code>стелю́,  сте́лет)</code> и его производным.
    Особенность здесь в том, что ради унификации орфографии признается допустимым только наст. (буд.) типа
    <code>стелю́, сте́лет</code> (т. е. формы от <strong>стлать</strong>) и недопустимым наст. (буд.) типа <code>стелю́, сте́лит</code> 
    (т. е. формы от <strong>стели́ть</strong>). Таким образом, допустимые формы, например, для пары 
    <strong>стлать </strong>&mdash;<strong>стели́ть </strong>таковы:
    инф. <code>стлать <strong>// </strong>стели́ть</code>; 
    наст.  <code>стелю́,  сте́лешь,  сте́лет,  сте́лем,  сте́лете,  сте́лют;</code>
    повел. <code>стели́</code>; 
    прич. наст. <code>сте́лющий<strong>;</strong></code> деепр. наст.  <code>стеля́</code>;
    прич. страд. наст. <code>стели́мый</code>; 
    прош. <code>стлал, </code> -<code>а</code> [//<code>стели́л, </code><strong> </strong>-а]; 
    прич. прош.<code>стл́авший </code>// <code>стели́вший.</code>
    Характерные формы совершенного вида, например, для пары <strong>постла́ть </strong>&mdash;<strong>постели́ть: </strong>
    деепр. прош. <code>стла́в(ши) </code>// <code>стели́в(ши);</code>
    прич. страд. <code>по́стланный <strong>//</strong>посте́ленный.</code>
</p>

<p id="para16">
    <strong>§16. </strong>Образец: <strong>му́чить </strong>нсв 4а | <code>наст.  также</code><strong> </strong>мучаю,  -ет,  § 16]. Ссылка на настоящий параграф дана при глаголах <strong>му́чить,  ме́рить </strong>и производных от них,  например,  <strong>заму́чить,  наме́рить. </strong>Особенность здесь в том,  что фактически имеются глаголы- варианты типа <strong>му́чить </strong>нсв 4а и типа * <strong>му́чать </strong>нсв 1а,  однако ради унификации орфографии от глаголов второго типа признаются допустимыми только те формы,  которые фонетически отличны от соответствующих форм глаголов первого типа,  а именно,  формы наст.  (буд.) времени. Таким образом,  допустимые формы для приведенного образца таковы: инф. <code>му́чить</code>; наст. <code>му́чу,  -ишь,  <strong>-</strong>ит, </code><strong> </strong>-<code>им</code><strong>,  </strong><code>-ите,  -ат </code>[// <code>му́чаю,  -ешь,  -ет,  -ем,  -ете,  -ют];</code><strong> </strong>повел. <code>мучь </code>//<strong><code> </code></strong><code>му́чай;</code><strong> </strong>деепр. наст.  <code>му́ча </code>//<strong><code> </code></strong><code>му́чая;</code><strong> </strong>прич. страд. наст.  <code>му́чимый </code>// <code>му́чаемый</code>; прош.<code>му́чил,  -а;</code><strong> </strong>прич. прош. <code>му́чивший.</code><strong> </strong>Характерные формы совершенного вида (для глагола <strong>заму́чить): </strong>деепр. прош. <code>заму́чив(ши);</code><strong> </strong>прич. страд. <code>заму́ченный.</code>
</p>

<p id="para17">
    <strong>§ 17. </strong> Образец: <strong>объять </strong>св 14с,  <code>буд. нет</code>,  § 17. Глаголы на <strong>-ять </strong>типа 14,  входящие в эту группу,  носят литературно-книжный характер и используются для создания возвышенного или архаизирующего стилистического эффекта. Особенность этих глаголов состоит в том,  что они входят в видовые пары,  оба члена которых образуют неполную парадигму. В совершенном виде имеются только формы прош. времени (включая неличные). В несовершенном виде,  напротив,  имеются только формы наст. времени (включая неличные); прочие формы,  в том числе инфинитив,  отсутствуют. (В связи с этим в настоящем словаре такие глаголы несовершенного вида самостоятельных статей не образуют.) Наст. время несовершенного вида образуется от инфинитива совершенного вида заменой конечного <strong>-ять </strong>на <strong>-е́млю,  -е́млет,  </strong>например,  <code>объе́млю,  объе́млет</code><strong> </strong>(ср. <code>объя́ть</code>); <code>прие́млю,  прие́млет</code><strong> </strong>(ср.  <code>прия́ть<strong>); </strong>вне́млю,  вне́млет</code><strong> </strong>(ср. <code>внять).</code><strong> </strong>Приводим все формы обоих видов,  образуемые от данного выше образца. Совершенный вид – инф. <code>объя́ть;</code><strong> </strong>буд. нет; прош. <code>объя́л,  -а;</code><strong> </strong>прич. прош. <code>объя́вший;</code><strong> </strong>деепр. прош. <code>объя́в(ши);</code><strong> </strong>прич. страд.<code>объя́тый.</code><strong> </strong>Несовершенный вид – инф. нет; наст. <code>объе́млю,  -ешь,  -ет,  -ем,  -ете,  -ют;</code><strong> </strong>повел.<code>объе́мли;</code><strong> </strong>прич. наст. <code>объе́млющий;</code><strong> </strong>деепр. наст.  <code>объе́мля;</code> <strong> </strong>прич. страд.наст. <code>объе́млемый;</code><strong> </strong>прочих форм нет.
</p>

<p>

    Глагол <strong>внять</strong> отличается от образца <strong>объя́ть</strong> 
    (не считая разницы ударения в прош.) тем, что
    в несовершенном виде ему соответствует глагол <strong>внима́ть</strong>, имеющий полную парадигму:
    инф. <code>внима́ть;</code><strong> </strong>наст.  <code>внима́ю, </code> <strong> </strong>-<code>ет [</code>//<code>вне́млю,  -ет];</code><strong> </strong>повел. <code>внима́й //вне́мли́</code><strong> </strong>(обратить внимание на двоякое ударение); прич. наст.  <code>внима́ющий // вне́млющий;</code><strong> </strong>деепр. наст.  <code>внима&#769;я // вне́&#769;мля; </code>прочие формы по типу 1а.
</p>

<p>

    Примечание. В словарях при глаголах данной группы обычно приводятся формы буд. времени типа <code>обойму́,  -ёт </code>и (или) <code>обыму́,  обы́мет;</code> <strong> </strong>в то же время формы несовершенного вида <code>объе́млю,  -ет</code><strong> </strong>отнесены к глаголу <strong>обнима́ть </strong>(как варианты к <code>обнима́ю,  -ет).</code><strong> </strong>Во всех этих случаях нарушается принцип стилистического единства всех форм парадигмы: формы <code>обойму́,  -ёт</code><strong> </strong>и <code>обыму́,  обы́мет</code><strong> </strong>нелитературны; формы типа <code>обнима́ть</code><strong> </strong> стилистически нейтральны; тем самым все они стилистически отличны от форм типа <code>объя́ть</code><strong> </strong>и <code>объе́млю.</code><strong> </strong> Единственное исключение составляет здесь глагол <strong>внима́ть,  </strong>у которого инфинитив стилистически равен формам наст.  времени (см. о нем выше).
</p>

<p id="para18">

    <strong>§ 18. </strong> Образцы: <strong>зае́хать </strong>св нп Δа: <code>буд.</code><strong> </strong>зае́ду,  -ет; <code>повел. нет</code>,  § 18; <code>прош.</code><strong> </strong> зае́хал,  -а ◑ заезжа́ть; <strong>се́сть </strong>св нп 7а (-д-) Δ <code>буд.</code><strong> </strong>ся́ду,  -ет,  <code>повел<strong>.</strong></code> сядь,  § 18 ◑ <strong> </strong>сади́ться. Ссылка на настоящий параграф означает,  что у данного глагола совершенного вида в функции повел. может употребляться соответствующая форма несовершенного вида: <code>заезжа́й,  сади́сь.</code><strong> </strong>Помета  «повел. нет» (см. образец <strong>зае́хать) </strong> означает,  что указанный способ выражения повел. является единственно возможным: можно сказать только <code>заезжа́й</code>,  но не <code>*зае́дь.</code><strong> </strong>При отсутствии такой пометы (см. образец <strong>сесть) </strong>возможны обе формы повел.: <code>сади́сь</code><strong> </strong>и <code>сядь; </code>однако их употребление не соответствует обычным правилам распределения видов в повел. наклонении. Эти обычные правила таковы<sup>1</sup>: 1) для выражения многократного или непрерывного действия используется несовершенный вид (<code>переходи́те у́лицы осторо́жно</code>; <code>остава́йся сами́м собо́ю);</code><strong> </strong>2) для выражения однократного действия,  когда говорящий заинтересован не только в результате,  но и в самом протекании действия,  используется несовершенный вид (<code>ме́дленно повора́чивай го́лову впра́во</code>; <code>тепе́рь сходи́тесь);</code><strong> </strong> 3) для выражения однократного действия,  когда говорящий заинтересован только в его результате,  могут использоваться оба вида; при этом,  однако,  употребление совершенного вида создает эффект нейтрального или вежливого обращения (<code>подпиши́сь<strong>; </strong>возьми́те кни́гу; отойди́ в сто́рону</code>),
    а употребление несовершенного вида – эффект грубого обращения
    (<code>подпи́сывайся<strong>; </strong>бери́те свою́ кни́гу; отходи́ в сто́рону</code>).
    Особенность глаголов,  имеющих ссылку на настоящий параграф,  состоит в том,  что у них в 3-м случае повел. несовершенного вида (например,  <code>сади́сь,  ложи́сь,  приходи́)</code><strong> </strong>не дает эффекта грубого обращения; здесь оно,  напротив,  выражает несколько менее категорическое и тем самым более вежливое указание,  чем повел. совершенного вида <code>(сядь,  ляг,  приди́).</code>
</p>



<p class="footnote">

    <sup>1</sup> Правила приводятся в упрощенном виде и только для случая, когда при повел. нет отрицания.
</p>

