@page

<h5 id="build-using-index">
    ПОСТРОЕНИЕ ГЛАГОЛЬНЫХ ФОРМ ПО ИНДЕКСУ
</h5>

<p>
    Чтобы построить все формы некоторого глагола по его индексу (и буквенным символам), необходимо:

    1) построить три основные формы по цифре индекса (и дополнительным пометам в скобках, если они есть);
    при индексе, содержащем 6°, учесть значение кружочка (стр. 80);

    2) расставить ударение в основных формах наст. (буд.) в соответствии со схемой ударения (стр. 80);

    3) определить в соответствии с буквенными символами, каков состав форм у данного глагола (стр. 87);

    4) построить все формы парадигмы по приводимому ниже описанию.
    Если в словарной статье после индекса имеются какие-либо дополнительные пометы или
    указания, то в полученный результат нужно внести соответствующие поправки (см. стр. 136).
</p>
<p>
    Приводимые ниже правила сформулированы для <code>невозвратных</code> глаголов.
    Соответствующие формы возвратных глаголов, если они вообще имеются, отличаются
    только наличием конечного <strong>-ся</strong> или <strong>-сь</strong>
    (в причастиях всегда <strong>-ся</strong>, в прочих формах после гласной
    <strong>-сь</strong>, после согласной или <strong>ь — -ся</strong>).
    Следует учитывать, однако, что возвратные глаголы не имеют страдательных форм
    (поскольку все эти глаголы непереходны).
</p>

<h3 id="head46">ЛИЧНЫЕ ФОРМЫ</h3>
<h4 id="head56">Настоящее время несовершенного вида и будущее время совершенного вида</h4>

<p>Основа. Если основы 1 ед. и 3 ед. одинаковы, эта единая основа выступает во всем наст. (буд.). Если эти основы различны, то их распределение таково. В I спряжении основа 1 ед. выступает, кроме самой этой формы, еще в 3 мн.; остальные формыимеют основу 3 ед. Во II спряжении все формы, кроме 1 ед., имеют основу 3 ед.</p>

<p>Окончания</p>
<table style="text-align: center">
    <tr>
        <td colspan="2" rowspan="2"></td>
        <td colspan="2">
            I спряжение
        </td>
        <td rowspan="2">
            II спряжение
        </td>
    </tr>
    <tr><td>без ударения</td><td>под ударением</td></tr>
    <tr><td rowspan="3">Ед.</td><td>1</td><td colspan="2">-у или -ю<sup><a href="#footnote1">1</a></sup></td><td>-ю (после шипящих -у)</td></tr>
    <tr><td>2</td><td>-ешь</td><td>-ёшь</td><td>-ишь</td></tr>
    <tr><td>3</td><td>-ет</td><td>-ёт</td><td>-ит</td></tr>
    <tr>
        <td rowspan="3">Мн.</td>
        <td>1</td>
        <td>-ем</td>
        <td>-ём</td>
        <td>
            -им
        </td>
    </tr>
    <tr><td>2</td><td>-ете</td><td>-ёте</td><td>-ите</td></tr>
    <tr><td>3</td><td colspan="2">-ут или -ют (в соответствии с окончанием 1 ед.)</td><td>-ят (после шипящих -ат)</td></tr>
</table>

<p>Ударение — в соответствии со схемой ударения (а именно, по первой из двух букв ее составного обозначения, см. стр. 80).</p>
<h4 id="head57">Прошедшее время</h4>
<p>Основа — та же, что в инфинитиве. Исключение составляют: типы 7 и 8 — прош. образуется от основы 1 ед. наст. (буд.) (<strong>грести́</strong>, <code>гребу́ — грёб</code>; <strong>печь</strong>, <code>пеку́ — пёк</code>); если, однако, эта основа оканчивается на <strong>т</strong> или <strong>д</strong>, это <strong>т(д)</strong> в прош. утрачивается(мести́, мету́ — мёл; вести́, веду́ — вёл); тип 9 — в прош. утрачивается конечное е основы инфинитива (<strong>тере́ть</strong> — <code>тёр</code>);подтип 3° — в прош. утрачивается конечное <strong>ну</strong> основы инфинитива (<strong>засо́хнуть</strong> — <code>засо́х</code>).</p>

<p>Окончания</p>

<table style="text-align: center">
    <tr><td colspan="3">Ед. (всех лиц)</td><td rowspan="2">Мн. (всех лиц)</td></tr>
    <tr><td>м</td><td>ж</td><td>с</td></tr>
    <tr><td><strong>-л</strong> (но после согласной — нуль)</td><td><strong>-ла</strong></td><td><strong>-ло</strong></td><td><strong>-ли</strong></td></tr>
</table>

<p>Ударение — в соответствии со схемой ударения (а именно, по второй из двух букв ее составного обозначения, см. стр. 81).</p>
<p class="footnote" id="footnote1"><sup>1</sup> Выбор определяется типом спряжения. Отметим, однако, что лишь после р возможны оба окончания (ср., например, <code>тру</code>, тип 9, и <code>порю́</code>, тип 10); в прочих случаях <strong>-ю</strong> выступает после гласных, <strong>ь</strong> и <strong>л</strong>, а <strong>-у</strong> после согласных (кроме <strong>л</strong>).</p>

<h4 id="head58">Будущее время несовершенного вида</h4>
<p>Оно образуется из форм будущего времени вспомогательного глагола быть и инфинитива основного глагола, например: <code>бу́ду де́лать, бу́дешь де́лать, бу́дет де́лать, бу́дем де́лать, бу́дете де́лать, бу́дут де́лать.</code></p>
<h4 id="head59">Повелительное наклонение</h4>
<p>Форма 2 ед. повел, образуется так.</p>
<p>Основа — та же, что в 3 мн. наст, (буд.) (т. е. в I спряжении основа 1 ед., во II спряжении основа 3 ед.). Исключение: в типе 13 повел, образуется от основы инфинитива (<strong>дава́ть</strong> — <code>дава́й</code>).</p>
<p>Окончание. При основе на гласную окончание <strong>-й</strong> (здесь и далее имеется в виду та основа, которая выступает в повел.). Исключение: окончание <strong>-и</strong> имеют глаголы типа 4b и 4с (<strong>крои́ть</strong> — <code>крои́</code>, <strong>пои́ть</strong> — <code>пои́</code>), а также глаголы типа 4а, начинающиеся с <strong>вы́-</strong> (<strong>вы́кроить</strong> — <code>вы́крои</code>). При основе на согласную: 1) при схеме ударения наст, (буд.) b/ или с/ — окончание -и;2) при схеме ударения наст, (буд.) а/ — окончание <strong>-и</strong> у глаголов, начинающихся с <strong>вы́-</strong>, и у глаголов с основой на две согласных или щ, (или на согласную + <strong>ь</strong> + согласная); окончание <strong>-ь</strong> в прочих случаях.</p>
<p>У глаголов типа 11, где основа наст, (буд.) оканчивается на <strong>ь</strong>, повел, оканчиваются на <strong>-ей</strong> (<strong>бить</strong>, <code>бьют — бей</code>).</p>

<p>Ударение — в соответствии со схемой ударения, см. стр. 80 (а именно, оно всегда там же, где в 1 ед.).</p>
<p>Форма 2 мн. повел, образуется от 2 ед. добавлением <storng>-те</storng>: <code>дава́й —- дава́йте; бей — бе́йте, бе́йся — бе́йтесь</code> и т. д.</p>
<p>Так наз. формы 1 мн. повел, (означающие побуждение к действию, в котором примет участие и говорящий) употребительны только у глаголов совершенного вида и у глаголов <strong>идти́, е́хать, бежа́ть, лете́ть, плыть, лезть, ползти́</strong>. В 1 мн. входят две формы: 1) форма обращения к одному лицу; она равна 1 мн. наст, (буд.): <code>пойдём, ся́дем, оста́немся, идём</code>; 2) форма обращенияко многим лицам (или вежливого обращения к одному лицу); она образуется из первой добавлением <strong>-те</strong>: <code>пойдёмте, ся́демте, оста́немтесь, идёмте</code>.</p>

<h4 id="head510">Сослагательное наклонение</h4>

<p>
    Оно образуется добавлением частицы <strong>бы</strong> к формам прошедшего времени; например:
    <code>де́лал бы, де́лала бы, де́лало бы, де́лали бы.</code>
</p>

<h4 id="head511">Личные формы на <code>-ся (-сь)</code> со страдательным значением</h4>

<p>Эти формы образуются в принципе от всех переходных глаголов несовершенного вида (и только от них). От соответствующих действительных форм они отличаются только добавлением конечного <strong>-ся (-сь)</strong> по тем же правилам, что для возвратных глаголов (см. выше)<sup><a href="#footnote2">2</a></sup>. Страдательные соответствия с <strong>-ся (-сь)</strong> существуют в принципе для всех перечисленных выше личныхформ (в пределах несовершенного вида), кроме повелительного наклонения, например: <code>оставля́ется, оставля́лся, бу́детоставля́ться, оставля́лся бы</code>. При этом, однако, формы 1-го и 2-го лиц (<code>оставля́юсь, оставля́етесь</code> и т. д.) употребляютсякрайне редко; в таблицах спряжения они не приводятся. Об отличии страдательных форм на <strong>-ся, -сь</strong> от омонимичных им формвозвратных глаголов см. стр. 7.</p>
<p class="footnote" id="footnote2"><sup>2</sup> Исключение составляют формы прошедшего времени с ударением по схеме /с (например, <code>гнал, гнала́, гна́ло, гна́ли</code>); соответствующие страдательные формы имеют схему ударения /с&quot;(<code>гна́лся; гнала́сь; гнало́сь // гна́лось; гнали́сь // гна́лись</code>).</p>

<h2 id="head47">НЕЛИЧНЫЕ ФОРМЫ</h2>

<h3 id="head512">Действительное причастие настоящего времени</h3>
<p>Имеется только у глаголов несовершенного вида. Образуется заменой конечного <strong>-т</strong> в форме 3 мн. наст, на <strong>-щий</strong>. Ударение в I спряжении как в 3 ед., во II спряжении как в 1 ед. Склонение — как у прилагательных с индексом 4а; кратких форм у собственно причастий (не перешедших в прилагательные) нет.</p>

<h3 id="head513">Деепричастие настоящего времени</h3>
<p>Имеется только у глаголов несовершенного вида, причем только в типах 1, 2, 4—7, 10, 12, 13, 16. Образуется от основы 3 мн. наст, добавлением <strong>-я</strong> (после шипящих <strong>-а</strong>). Ударение как в 1 ед. наст. Исключение: в типе 13 деепричастие образуется отосновы инфинитива (с ударением инфинитива) (<strong>дава́ть</strong> — <code>дава́я</code>).</p>

<h3 id="head514">Действительное причастие прошедшего времени</h3>
<p>Имеется у глаголов обоих видов. Образуется от формы прош. м: если эта форма оканчивается на <strong>-л</strong> — заменой <strong>-л</strong> на <strong>-вший</strong>, если она оканчивается иначе — добавлением к ней <strong>-ший</strong>. Ударение такое же, как в прош. м. Исключения: 1) у глаголов на <strong>-сти</strong> типа 7 с пометой (-т-) или (-д-)<sup><a href="#footnote3">3</a></sup> это причастие образуется добавлением <strong>-ший</strong> к основе 1 ед. наст, (буд.) (<strong>мести́</strong>, <code>мету́ — мётший</code>); ударение (и выбор <strong>е</strong> или <strong>ё</strong>), как в прош. м; 2) у глаголов (кроме типа 9) с пометой Ф ударение совпадает с инфинитивом,а не с прош. м (<strong>заня́ть</strong>, <code>за́нял — заня́вший</code>). Склонение — как у прилагательных с индексом 4а (кратких форм нет).</p>

<h3 id="head515">Деепричастие прошедшего времени</h3>
<p>Имеется у глаголов обоих видов. Однако достаточно употребительны только деепричастия от глаголов совершенного вида; деепричастия от глаголов несовершенного вида в современном языке употребляются очень редко<sup><a href="#footnote4">4</a></sup> (обычно они заменяютсядеепричастиями наст, времени).</p>
<p>Образуется от причастия прош. времени заменой <strong>-ший(ся)</strong> на <strong>-ши(сь)</strong>. Деепричастия на <strong>-вши</strong> имеют параллельную форму на <strong>-в</strong>, например, <code>ви́девши</code> и <code>ви́дев</code> (однако соответствующая возвратная форма оканчивается только на <strong>-вшись</strong>, например,ви́девшись). Особый случай: у невозвратных глаголов совершенного вида типа 9 и подтипа 3° наряду с регулярной формойдеепричастия возможна форма соответственно на <strong>-ерев</strong> и на <strong>-нув (-нувши)</strong>, получаемая заменой конечного <strong>-ть</strong> инфинитива на <strong>-в</strong> (с сохранением ударения инфинитива), например, <code>растёрши</code> и <code>растере́в</code> от <code>растере́ть, поги́бши</code> и <code>поги́бнув (поги́бнувши)от поги́бнуть</code>. Другой особый случай образуют глаголы с пометой ⑨; см. стр. 83.</p>

<h4 id="head516">Страдательное причастие настоящего времени</h4>
<p>Имеется только у переходных глаголов несовершенного вида, причем только в следующих морфологических группах: 1) у глаголов с 1 мн. наст, на гласную + безударное <strong>ем</strong> (т. е. у глаголов с основной частью индекса 1а, 2а, 12а и глаголов на <strong>-ять</strong> с основной частью индекса 6а), а также у глаголов типа 13; 2) у глаголов типа 4; 3) у отдельных глаголов типа 5, а такжетипов 6 (на <strong>-ать</strong>), 6°, 7. При этом, однако, только причастия первой группы (например, <code>чита́емый, рису́емый, бре́емый, мо́емый, дава́емый, се́емый</code>) достаточно употребительны. Причастия второй группы (например, <code>по́мнимый, серди́мый, чи́стимый</code>) всовременном языке обычно образуются с затруднением, употребляются очень редко и имеют возвышенно-архаический оттенок;лишь немногие из причастий данной группы достаточно употребительны и лишены этого оттенка (например, <code>стро́имый, храни́мый, люби́мый</code>), ср. замечание на стр. 102. Причастия третьей группы (например, <code>гони́мый, ведо́мый</code>) представляют собой изолированные формы и имеют такой же возвышенно-архаический оттенок, ср. замечания на стр. 105, 111, 116.</p>
<p>Данное причастие образуется добавлением <strong>-ый</strong> к форме 1 мн. наст, (но если эта форма оканчивается на согласную + <strong>ём</strong> — заменой <strong>-ём</strong> на <strong>-омый</strong>). Ударение в I спряжении такое же, как в этой форме, во И — как в 1 ед. наст. Исключение: в типе 13 это причастие образуется от основы инфинитива (и с тем же ударением) (<strong>дава́ть</strong> — <code>дава́емый</code>). Склонение — как у прилагательных с индексом 1а (имеются полные и краткие формы), например, <code>храни́мый, кф храни́м, храни́ма, храни́мо, храни́мы.</code></p>

<h4 id="head517">Страдательное причастие прошедшего времени</h4>
<p>Имеется только: 1) у переходных глаголов совершенного вида; 2) у переходных глаголов несовершенного вида, в словарной статье которых нет знака ◑ или равносильной этому отсылки (т. е. у глаголов, не входящих в строгую видовую пару, например, <strong>трепа́ть, копи́ть, мести́</strong>)<sup><a href="#footnote5">5</a></sup>. При этом, однако, только причастия первой группы (т. е. совершенного вида) широко употребительны; причастия второй группы (т. е. несовершенного вида, например, <code>трёпанный, ко́пленный, метённый</code>) употребляются очень редко<sup><a href="#footnote6">6</a></sup>.</p>

<p>Образование данного причастия.</p>
<ol>
    <li>Глаголы на <strong>-ать</strong> и <strong>-ять</strong> (кроме типа 14) образуют это причастие добавлением -нный к основе инфинитива. Ударение: еслиинфинитив неодносложен и имеет ударение на последнем слоге — на один слог левее, чем в инфинитиве; в прочих случаяхударение как в инфинитиве.</li>
    <li>Глаголы типа 4 и глаголы на <strong>-еть</strong> типа 5 образуют это причастие добавлением <strong>-енный</strong> (под ударением <strong>-ённый</strong>) к основе 1 ед. наст. (буд.). Ударение: у глаголов типа 4 — на том же (по счету от начала) слоге, что в 3 ед. наст, (буд.); у глаголов типа5 — если инфинитив неодносложен и имеет ударение на последнем слоге, то на один слог левее, чем в инфинитиве; в прочихслучаях как в инфинитиве<sup><a href="#footnote7">7</a></sup>.</li>
    <li>Глаголы типов 7 и 8 образуют это причастие добавлением <strong>-енный</strong> (под ударением <strong>-ённый</strong>) к основе 3 ед. наст. (буд.).Ударение на том же (по счету от начала) слоге, что в прош. ж.</li>
    <li>Глаголы типов 3 (3°) и 10 образуют это причастие добавлением <strong>-тый</strong> к основе инфинитива. Ударение: если инфинитивнеодносложен и имеет ударение на последнем слоге — на один слог левее, чем в инфинитиве; в прочих случаях как в инфинитиве.</li>
    <li>Глаголы типов 9, 11, 12, 14, 15, 16 образуют это причастие заменой конечного <strong>-л</strong> в форме прош. м на <strong>-тый</strong> (если прош. моканчивается иначе — добавлением <strong>-тый</strong> к этой форме). Ударение такое же, как в прош. м.</li>
</ol>
<p>Данное причастие имеет как полные, так и краткие формы. Особенность данного причастия состоит в том, что здесь краткие формы играют более важную роль (и значительно чаще употребляются), чем полные, а именно, краткие формы выступают вконструкциях, играющих роль личных форм страдательного залога (<code>до́м постро́ен, до́м бы́л постро́ен, до́м бу́дет постро́ен</code>).У некоторых причастий практически употребительны только краткие формы, особенно краткая форма среднего рода, например: <code>по́пито, наде́лано</code>.</p>
<p><em>Замечание</em>. Краткая форма среднего рода данного причастия иногда может быть образована даже от непереходных глаголов, например: <code>си́жено, хо́жено, по́жито</code>. Такие формы носят народнопоэтический или просторечный оттенок. В настоящем словаре эти формы не учитываются.</p>
<p>Причастия на безударное<sup><a href="#footnote8">8</a></sup> <strong>-анный, -янный, -енный</strong> образуют краткие формы как прилагательные с индексом 1*а②, например: <code>прочи́танный</code>, кф <code>прочи́тан, прочи́тана, прочи́тано, прочи́таны, постро́енный</code>, кф <code>постро́ен, постро́ена, постро́ено, постро́ены</code>. Если, однако, глагол имеет схему ударения прош. времени /с (стр. 81), в краткой форме жен. родавозможно также ударение на окончании (устаревающий ныне вариант), например: <strong>сорва́ть</strong> (схема ударения b/с) — <code>со́рванный</code>, кф <code>со́рван, со́рвана</code> (и устар. <code>сорвана́</code>), <code>со́рвано, со́рваны</code>.</p>

<p>Причастия на <strong>-ённый</strong> образуют краткие формы как прилагательные с индексом 1*а/b②, ё, например: <code>принесённый</code>, кф <code>принесён, принесена́, принесено́, принесены́</code>.</p>
<p>Причастия на <strong>-тый</strong> образуют краткие формы: а) как прилагательные с индексом 1а, если у глагола схема ударения прош. времени /а, например: <strong>приши́ть</strong> (схема ударения b/а) — <code>приши́тый</code>, кф <code>приши́т, приши́та, приши́то, приши́ты</code>; б) какприлагательные с индексом 1а/с, если у глагола схема ударения прош. времени /с, например: <strong>снять</strong> (схема ударения с/с) <code>—сня́тый</code>, кф <code>снят, снята́, сня́то, сня́ты</code>.</p>
<p>Полные формы всех прич. страд, склоняются как у прилагательных с индексом 1а.</p>

<h4 id="head518">Неличные формы на <code>-ся (-сь)</code> со страдательным значением</h4>

<p>Такими формами являются: инфинитив на <strong>-ться (-тись, -чься)</strong>; причастие наст, времени на <strong>-щийся</strong>; причастие прош. времени на <strong>-(в)шийся</strong>. Все они образуются от переходных глаголоз несовершенного вида (и только от них). Эти формы отличаются от соответствующих действительных форм только добавлением <strong>-ся(сь)</strong>. Заметим, что причастие на <strong>-щийся</strong>(<code>оставля́ющийся</code>) практически равнозначно причастию на <strong>-мый</strong> (например, <code>оставля́емый</code>).</p>

<p class="footnote" id="footnote3"><sup>3</sup> Глаголы на <strong>-сть</strong> этой группы подчиняются общему правилу: <strong>красть</strong> — <code>кра́вший</code>, <strong>класть</strong> — <code>кла́вший</code>, <strong>сесть</strong> — <code>се́вший</code>, <strong>пасть</strong> — <code>па́вший</code>.</p>
<p class="footnote" id="footnote4"><sup>4</sup> Почти всегда с отрицанием, например: <code>никогда́ не ви́девши, ни ра́зу не говори́вши, не спа́вши всю́ но́чь</code>.</p>
<p class="footnote" id="footnote5"><sup>5</sup>Соответственно, отсутствие данного причастия у глагола несовершенного вида, имеющего знак ◑ (например, запи́сывать, приглаша́ть), в словаре никак специально не отмечаются. Напротив, отсутствие данного причастия, противоречащее приведенномуправилу (или затруднительность его образования), специально отмечается в словарной статье знаками ☒, ☓, см. стр. 136.</p>
<p class="footnote" id="footnote6"><sup>6</sup>Имеется в виду: именно как причастия. Обычные прилагательные, возникшие из таких причастий (например, варёный, кра́шеный, стри́женый, кры́тый), могут при этом быть весьма употребительными.</p>
<p class="footnote" id="footnote7"><sup>7</sup>Из глаголов на -еть типа 1 образуют это причастие (заменой конечного -еть инфинитива на -ённый) только одоле́ть,преодоле́ть и глаголы на -печатле́ть.</p>
<p class="footnote" id="footnote8"><sup>8</sup>Причастия на -а́нный, -я́нный очень немногочисленны. Это, во-первых, причастия от глаголов на -ать, -ять с пометой ⑦; у нихсхема ударения кратких форм 1а, см.