@page

<h2>Спряжение</h2>

<h3>ЗНАЧЕНИЕ БУКВЕННЫХ СИМВОЛОВ И ЭЛЕМЕНТОВ ИНДЕКСА У ГЛАГОЛОВ<sup>1</sup></h3>
<h4>БУКВЕННЫЕ СИМВОЛЫ</h4>

<ol>
    <li>
        Обозначение вида (одновременно выступает как символ части речи):
        <p>св — глагол совершенного вида</p>
        <p>нсв — глагол несовершенного вида</p>
        <p>св-нсв — двувидовой глагол (т. е. могущий выступать и как глагол совершенного, и как глагол несовершенного вида).</p>
    </li>
    <li>
        Обозначение переходности или непереходности (т. е. способности или неспособности глагола принимать дополнение в В. падеже). Специальным символом обозначается непереходность, причем только у невозвратных глаголов (т.е. глаголов без <strong>-ся, -сь</strong>):
        <p>нп — непереходный глагол.</p>
        <p>Переходность специально не обозначается: отсутствие символа «нп» при невозвратном глаголе означает, что он переходный.</p>
        <p>Все возвратные глаголы (т. е. глаголы на <strong>-ся, -сь</strong>) непереходны; поэтому при них помета «нп» не ставится, как избыточная.</p>
        <p>Если глагол в одних значениях является переходным, а в других непереходным (например, <strong>клева́ть</strong>, ср. <code>клева́ть зерно́</code> и <code>клева́ть на что́-л.</code>) или в одном и том же значении допускает оба типа управления (например, <strong>перепры́гнуть</strong>, ср. <code>перепры́гнуть через ро́в и перепры́гнуть ро́в</code>), то символ «нп» не ставится; таким образом, этот символ фактически означает: «глагол, непереходный во всех своих значениях».</p>
        <p>
            Поскольку граница между переходными и непереходными глаголами не совсем четка, специально укажем, как производится индексация в некоторых сложных случаях: 1) управление Р. падежом или инфинитивом не считается частным случаем переходности; таким образом, например, глаголы <strong>достига́ть, мочь</strong> имеют помету «нп»<sup>2</sup>;
            2) не считается проявлением переходности связь с формами В. падежа, означающими меру длительности действия или пройденное расстояние, например: <code>спа́л дво́е су́ток, ду́мал це́лый де́нь, бежа́л версту́</code>;
            3) не считаются переходными глаголы, обозначающие нечленораздельные звуки и необычныеили искаженные формы речи, например, <strong>визжа́ть, выть, ка́ркать, щебета́ть, мыча́ть, пища́ть, реве́ть, ворча́ть, ша́мкать, гнуса́вить, мя́млить</strong>; это решение до некоторой степени условно, поскольку в принципе возможны фразы типа: <code>во́ет свою́ во́лчью пе́сню, щебе́чет пе́сенку, мычи́т что́-то нечленоразде́льное</code>; в то же время глаголы с приставкой <strong>про-</strong>, образованныеот названий необычных или искаженных форм речи (например, <strong>проша́мкать, промя́млить, пропища́ть</strong>), признаются переходными.
        </p>
    </li>
    <li>Помета «безл.» — обозначение <em>безличных</em> глаголов. Она ставится только в том случае, если глагол безличен во всех своих значениях.</li>
    <li>Помета «многокр.» — обозначение <em>многократных</em> глаголов.</li>
</ol>

<h1>ЦИФРА ИНДЕКСА</h1>
<p>Цифра индекса (от 1 до 16) обозначает тип спряжения. Каждый тип спряжения характеризуется определенным способом построения трех основных форм глагольной парадигмы (от которых могут быть построены все остальные формы парадигмы)<sup>3</sup>. Эти формы таковы: 1) инфинитив; 2) 1 ед. настоящего (для глаголов несовершенного вида) или будущего (для глаголов совершенноговида) времени; 3) 3 ед. настоящего (будущего) времени.</p>
<p>Основы (графические) этих форм получаются отбрасыванием следующих конечных последовательностей: у инфинитива — <strong>-ть, -ти</strong> или <strong>-чь</strong> (для возвратных глаголов <strong>-ться, -тись</strong> или <strong>-чься</strong>); у 1 ед. наст, (буд.) — <strong>-у</strong> или <strong>-ю</strong> (для возвратных глаголов <strong>-усь</strong> или <strong>-юсь</strong>); у 3 ед. наст, (буд.) - <strong>-ет, -ёт</strong> или <strong>-ит</strong> (для возвратных глаголов <strong>-ется, -ётся</strong> или <strong>-ится</strong>).</p>
<p>Глаголы с 3 ед. наст, (буд.) на <strong>-ет(ся)</strong> или <strong>-ёт(ся)</strong> называются глаголами I спряжения, с 3 ед. наст, (буд.) на <strong>-ит(ся)</strong> — глаголами II спряжения</p>
<p>Основы разных форм одного глагола могут различаться между собой, в частности, так наз. «стандартными чередованиями согласных».</p>

<h4>Стандартные чередования согласных</h4>

<table border="1" class="center-aligned">
    <tr><td>1-я ступень чередования</td><td>б</td><td>п</td><td>в</td><td>ф</td><td>м</td><td>з</td><td>с</td><td>д</td><td>т</td><td>ст</td><td>г</td><td>к</td><td>х</td><td>ск</td></tr>
    <tr><td>2-я ступень чередования</td><td>бл</td><td>пл</td><td>вл</td><td>фл</td><td>мл</td><td>ж</td><td>ш</td><td>ж</td><td>ч<sup>1</sup></td><td>щ</td><td>ж</td><td>ч</td><td>ш</td><td>щ</td></tr>
</table>

<p>Ниже приводится таблица типов спряжения, т. е. таблица, раскрывающая значение цифр глагольного индекса. Для случаев, где по цифре индекса и по внешнему виду инфинитива основные формы настоящего (будущего) времени еще не устанавливаются однозначно, в последней графе таблицы указано, какими пометами, содержащимися в словарной статье, должен определятьсявыбор. Для упрощения записи для глаголов I спряжения приводится только окончание <strong>-ет</strong> (хотя фактически оно выступаеттолько в безударном положении, а под ударением выступает <strong>-ёт</strong>). Опущены также записи для возвратных глаголов (см. выше о том, как оканчиваются их основные формы). Таким образом, например, запись <strong>«-нуть--ну, -нет»</strong> есть сокращение следующей записи:</p>
<p><strong>-нуть</strong> — <strong>-ну, -нет</strong> (без ударения) или <strong>-нёт</strong> (под ударением)</p>
<p><strong>-нуться</strong> — <strong>-нусь, -нется</strong> (без ударения) или <strong>-нётся</strong> (под ударением)</p>

<h4>Таблица типов спряжения</h4>

<table border="1" class="center-aligned">
    <tr><td>Номер типа</td><td>Инфинитив оканчивается на:</td><td>1 ед. и 3 ед. наст, (буд.) оканчивается соответственно на:</td><td>Дополнительные указания</td></tr>
    <tr><td rowspan="3">1</td><td>-ать</td> <td>— -аю, -ает</td><td rowspan="3"></td></tr>
    <tr><td>-ять</td> <td>— -яю, -яет</td></tr>
    <tr><td>-еть</td> <td>— -ею, -еет</td></tr>
    <tr><td rowspan="3">2</td><td>-овать</td> <td>— -ую, -ует</td><td rowspan="3"></td></tr>
    <tr><td>-евать (после шипящей или <strong>ц</strong>)</td> <td>— -ую, -ует</td></tr>
    <tr><td>-евать (в прочих случаях)</td><td>— -юю, -юет</td></tr>

    <tr><td>3</td><td>-нуть</td> <td>— -ну, -нет</td><td></td></tr>
    <tr><td>4</td><td>-ить</td> <td>— -ю (но <strong>-у</strong> после шипящей), -ит</td><td rowspan="4">Если в инфинитиве перед <strong>-ить (-ать, -ять, -еть)</strong> стоит согласная (или сочетание <strong>ст, ск</strong>) 1-й ступеничередования (см. выше стандартные чередованиясогласных), то в 1 ед. наст, (буд.) она заменяется2-й ступенью чередования. У глаголов с пометой(-щ-) <strong>т</strong> заменяется на <strong>щ</strong> (а не на <strong>ч</strong>).</td></tr>
    <tr><td rowspan="3">5</td><td>-ать</td><td rowspan="3">-ю (но <strong>-у</strong> после шипящей), -ит</td></tr>
    <tr><td>-ять</td></tr>
    <tr><td>-еть</td></tr>
    <tr><td rowspan="2">6</td><td>-ать</td> <td rowspan="2">-ю (но <strong>-у</strong> после шипящей), -ет</td><td rowspan="2">Если в инфинитиве перед <strong>-ать (-ять)</strong> стоит согласная (или сочетание <strong>ст, ск</strong>) 1-й ступени чередования, то в обеих основных формах наст, (буд.) она заменяется 2-й ступенью чередования. У глаголов спометой (-щ-) <srong>т</srong> заменяется на <strong>щ</strong> (а не на <strong>ч</strong>).</td></tr>
    <tr><td>-ять</td></tr>

    <tr><td rowspan="6">7</td><td>-зти или -зть</td><td>— -зу, -зет</td><td rowspan="6">При глаголах на -сти (-сть) для правильного выбора форм наст, (буд.) в словарной статье дается помета:(-с-), (-д-), (-т-), (-ст-) или (-б-).</td></tr>
    <tr><td rowspan="5">-сти или -сть</td> <td>-су, -сет</td></tr>
    <tr><td>-ду, -дет</td></tr>
    <tr><td>-ту, -тет</td></tr>
    <tr><td>-сту, -стет</td></tr>
    <tr><td>-бу, -бет</td></tr>

    <tr><td rowspan="2">8</td><td rowspan="2">-чь</td><td> -гу, -жет</td><td rowspan="2">При глаголах этого типа для правильного выбора форм наст, (буд.) дается помета: (-г-) или (-к-).</td></tr>
    <tr><td>-ку, -чет</td></tr>
    <tr><td>9</td><td>-ереть</td><td> — -ру, -рет</td><td></td></tr>
    <tr><td rowspan="2">10</td><td>-олоть</td><td> — -олю, -олет</td><td rowspan="2"></td></tr>
    <tr><td>-ороть</td><td>— -орю, -орет</td></tr>
    <tr><td>11</td><td>-ить</td><td>— -ью, -ьет</td><td></td></tr>
    <tr><td rowspan="3">12</td><td>-ыть</td><td>— -ою, -оет</td><td rowspan="3">Сюда же относятся: греть — гре́ю, гре́ет, петь — пою́, поёт, брить — бре́ю, бре́ет и произв.</td></tr>
    <tr><td>-уть</td><td>— -ую, -ует</td></tr>
    <tr><td>-ить</td><td>— -ию, -иет</td></tr>
    <tr><td>13</td><td>-авать</td> <td>— -аю, -ает</td><td></td></tr>
    <tr><td rowspan="3">14</td><td rowspan="3">-ать или ять</td><td>-ну, -нет</td><td rowspan="3">При глаголах этого типа для правильного выбора форм наст, (буд.) дается помета: (-н-), (-м-) или(-им-). Если наст, (буд.) образуется иначе, вместотакой пометы приводится вся основа наст, (буд.),например: для занять, заня́ться — (займ-), дляприня́ть — (прим-), для взять — (возьм).</td></tr>
    <tr><td>-му, -мет</td></tr>
    <tr><td>-иму, -имет</td></tr>

    <tr><td>15</td><td>-ть</td><td>— -ну, -нет</td><td></td></tr>
    <tr><td>16</td><td>-ть</td><td>— -ву, -вет</td><td></td></tr>
</table>

<h4>ЗВЁЗДОЧКА ПРИ ЦИФРЕ</h4>
<p>Звездочка при цифре индекса показывает, что при спряжении у данного глагола происходит чередование беглой гласной (а именно, <strong>о</strong>) с нулем на конце приставки.</p>
<p>Это чередование возможно в следующих приставках: 1) основная группа — <strong>в-/во-, над-/надо-, об-/обо-, от-/ото-, под-/подо-, пред-/предо-, с-/со-</strong>; 2) приставки, оканчивающиеся (при отсутствии беглого <strong>о</strong>) на <strong>з</strong> перед звонкой согласнойили гласной, но на <strong>с</strong> перед глухой согласной, — <strong>вз-(вс-)/взо-, воз-(вос-)/возо́-, из-(ис-)/изо-, низ-(нис-)/низо-,раз-(рас-)/разо-</strong>.</p>
<p><em>Правило чередования</em>: беглое <strong>о</strong> присутствует в конце приставки в тех формах, где за приставкой следует две согласных или согласная + <strong>ь</strong>; в прочих формах оно отсутствует (во всех таких формах за приставкой следует согласная + гласная). Как видно из этого правила, данное чередование возможно лишь в тех случаях (сравнительно немногочисленных), когдавид глагольного корня меняется определенным образом в ходе спряжения (ср., например, <strong>гнать</strong> — <code>гоню́</code>, <strong>брать</strong> — <code>беру́</code>, <strong>жечь</strong> — <code>жгу</code>, <strong>тере́ть</strong> — <code>тру</code>, <strong>бить</strong> — <code>бью</code>).</p>
<p>Примеры чередования (даются различные глагольные формы, иллюстрирующие действие приведенного правила):</p>
<p>1) без сопутствующего чередования согласных в приставке: а) беглое <strong>о</strong> присутствует в исходной форме — <strong>вобра́ть</strong>, <code>вберу́, вобра́л, во́бранный</code>; <strong>взобра́ться</strong>, <code>взберу́сь, взобра́лся</code>; <strong>изодра́ть</strong>, <code>издеру́, изодра́л, изо́дранный</code>; <strong>обозва́ть</strong>, <code>обзову́, обозва́л,обо́званный</code>; <strong>отогна́ть</strong>, <code>отгоню́, отогна́л, ото́гнанный</code>; <strong>подостла́ть</strong>, <code>подстелю́, подостла́л, подо́стланный</code>; <strong>разогна́ть</strong>, <code>разгоню́, разогна́л, разо́гнанный</code>; <strong>содра́ть</strong>, <code>сдеру́, содра́л, со́дранный</code>; б) беглой гласной в исходной форме нет — <strong>вбить</strong>, <code>вобью́, вбей, вбил</code>; <strong>взви́ться</strong>, <code>взовью́сь, взве́йся, взви́лся</code>; <strong>возли́ть</strong>, <code>возолью́, возле́й, возли́л</code>; <strong>измя́ть</strong>, <code>изомну́, измя́л</code>; <strong>надви́ть</strong>, <code>надовью́, надве́й, надви́л</code>; <strong>обже́чь</strong>, <code>обожгу́, обожжёт, обжёг, обожгла́, обжёгший, обожжённый</code>; <strong>отмере́ть</strong>, <code>отомру́, о́тмер</code>; <strong>подтере́ть</strong>, <code>подотру́, подтёр</code>; <strong>разжа́ть</strong>, <code>разожму́, разжа́л</code>; <strong>счесть</strong>, <code>сочту́, счёл, сочла́, сочтённый</code>;</p>
<p>2) с сопутствующим чередованием <strong>с/з</strong> в приставке: а) беглое <strong>о</strong> присутствует в исходной форме — <strong>изостла́ть</strong>, <code>исстелю́, изостла́л, изо́стланный</code>; <strong>разостла́ть</strong>, <code>расстелю́, разостла́л, разо́стланный</code>; б) беглой гласной в исходной форме нет — <strong>истере́ть</strong>, <code>изотру́, истёр</code>; <strong>расши́ть</strong>, <code>разошью́, расше́й, расши́л</code>; <strong>расче́сть</strong>, <code>разочту́, расчёл, разочла́, разочтённый</code>.</p>
<h4>КРУЖОЧЕК ПРИ ЦИФРЕ</h4>
<p>Кружочек при цифре индекса символизирует различные особенности, связанные с чередованиями. Имеются следующие подтипы с такими особенностями: 3° — особенность в том, что в прош. времени, прич. прош. (факультативно также в деепр.прош.) утрачивается суффикс <strong>-ну-</strong> (например, <strong>засо́хнуть</strong> — <code>засо́х, засо́хла, засо́хший, засо́хнув(ши) // засо́хши</code>): 6° — особенность в том, что в наст, (буд.) времени выступает та же ступень чередования согласных, что в инфинитиве (иначе говоря,нет стандартного чередования согласных), а также в том, что 1 ед. имеет окончание <strong>-у</strong>, а не <strong>-ю</strong> (например, <strong>соса́ть</strong> — <code>сосу́,сосёт</code>). Подробнее см. соответствующие таблицы, стр. 95-97, 112-113.</p>
<h4>ЛАТИНСКАЯ БУКВА</h4>
<p>Латинская буква (или две буквы, разделенные косой чертой) — обозначение схемы ударения. У глаголов схема ударения складывается из двух частей: 1) схема ударения личных форм настоящего (будущего) времени и повелительного наклонения(сокращенно — схема ударения настоящего времени; ее символ пишется слева от косой черты); 2) схема ударения личных формпрошедшего времени (сокращенно — схема ударения прошедшего времени; ее символ пишется справа от косой черты). При этом, однако, буква а, выступающая как второй элемент записи, опускается<sup>1</sup>: таким образом, вместо а/а пишется просто а, вместо b/а — b, вместо с/а — с.</p>
<h4>Схема ударения настоящего времени</h4>
<p>Эти схемы ударения таковы (чтобы подчеркнуть, что речь идет о левом элементе записи, справа от буквы дается косая черта): а/ — постоянное ударение на основе; b/ — постоянное ударение на окончаниях (кроме нуля, <strong>-ь, -й, -те</strong> и <strong>-ся</strong>); с/ —ударение на окончаниях в 1 ед. и в повел.<sup>2</sup>, в прочих формах на основе. У аномального глагола <strong>хоте́ть</strong> и его производныхособая схема ударения — с'/ (<code>хочу́, хо́чешь, хо́чет, хоти́м, хоти́те, хотя́т</code>; повел, <code>хоти́, хоти́те</code>).</p>

<h4>Образцы основных схем ударения настоящего времени</h4>
<table border="1" class="center-aligned">
    <tr><td colspan="3">Схема ударения</td><td colspan="2">а/</td><td colspan="2">b/</td><td colspan="2">с/</td></tr>
    <tr>
        <td rowspan="6">Наст. (буд.)</td>
        <td rowspan="3">ед.</td>
        <td>
            1
        </td>
        <td>де́лаю(сь)</td>
        <td>ве́рю</td>
        <td>беру́(сь)</td>
        <td>стою́</td>
        <td>пишу́</td>
        <td>учу́(сь)</td>
    </tr>
    <tr><td>2</td><td>де́лаешь(ся)</td><td>ве́ришь</td><td>берёшь(ся)</td><td>стои́шь</td><td>пи́шешь</td><td>у́чишь(ся)</td></tr>
    <tr><td>3</td><td>де́лает(ся)</td><td>ве́рит</td><td>берёт(ся)</td><td>стои́т</td><td>пи́шет</td><td>у́чит(ся)</td></tr>
    <tr><td rowspan="3">мн.</td><td>1</td><td>де́лаем(ся)</td><td>ве́рим</td><td>берём(ся)</td><td>стои́м</td><td>пи́шем</td><td>у́чим(ся)</td></tr>
    <tr><td>2</td><td>де́лаете(сь)</td><td>ве́рите</td><td>берёте(сь)</td><td>стои́те</td><td>пи́шете</td><td>у́чите(сь)</td></tr>
    <tr><td>3</td><td>де́лают(ся)</td><td>ве́рят</td><td>беру́т(ся)</td><td>стоя́т</td><td>пи́шут</td><td>у́чат(ся)</td></tr>
    <tr><td rowspan="2">Повел.</td><td colspan="2">2 ед.</td><td>де́лай(ся)</td><td>верь</td><td>бери́(сь)</td><td>стой<sup>3</sup></td><td>пиши́</td><td>учи́(сь)</td></tr>
    <tr><td colspan="2">2 мн.</td><td>де́лайте(сь)</td><td>ве́рьте</td><td>бери́те(сь)</td><td>сто́йте</td><td>пиши́те</td><td>учи́те(сь)</td></tr>
</table>

<h4>Схемы ударения прошедшего времени</h4>
<p>Эти схемы ударения таковы (для наглядности слева от буквы дается косая черта): /а — постоянное ударение на основе; /b — постоянное ударение на окончаниях (кроме неслоговых и <strong>-ся</strong>); /с — ударение на окончаниях в прош. ж, в прочих формах на основе. Кроме того, имеется (только у возвратных глаголов) схема ударения /с&quot;, которая в основном представляет собой простоколебание между схемами /b и /с (специфическая особенность состоит здесь только в том, что в прош. м допустимо такжеударение на <strong>-ся́</strong>, ныне устаревающее). Схема /с&quot; выступает у тех возвратных глаголов, которые соответствуют невозвратнымглаголам со схемой /с (а схемы /с у возвратных глаголов не бывает). У глаголов <strong>дать</strong> и <strong>взять</strong> представлена особая схемаударения — /с' (<code>дал, дала́, да́ло и дало́, да́ли</code>).</p>


<h4>Образцы схем ударения прошедшего времени</h4>

<table border="1" class="center-aligned">
    <tr>
        <td>Схема ударения</td>
        <td>/а</td>
        <td>/b</td>
        <td>/с</td>
        <td>
            /с&quot;
        </td>
    </tr>
    <tr><td>Прош. м.</td><td>де́лал(ся)</td><td>берёг(ся)</td><td>сорва́л</td><td>сорва́лся и <code>устар.</code> сорвался́</td></tr>
    <tr><td>Прош. ж.</td><td>де́лала(сь)</td><td>берегла́(сь)</td><td>сорвала́</td><td>сорвала́сь</td></tr>
    <tr><td>Прош, с</td><td>де́лало(сь)</td><td>берегло́(сь)</td><td>сорва́ло</td><td>сорвало́сь и сорва́лось</td></tr>
    <tr>
        <td>Прош. мн.</td>
        <td>де́лали(сь)</td>
        <td>берегл́́́и́(сь)</td>
        <td>
            сорва́ли
        </td>
        <td>сорвалйсь и сорва́лись</td>
    </tr>
</table>

<p>Встречаются практически все возможные комбинации основных схем ударения настоящего и прошедшего времени. Примеры таких комбинаций можно найти в таблицах спряжения.</p>
<p>Об ударении неличных форм см. ниже стр. 85.</p>
<h3>Дополнительные правила об ударении</h3>
<h4>Правило о положении ударения внутри основы</h4>
<p>Если по схеме ударения данного глагола ударение в некоторой форме должно падать на основу, оно падает на тот же (по счету от начала) слог основы, что в инфинитиве; если же это невозможно ввиду того, что основа данной формы не насчитывает нужного числа слогов, ударение падает на последний слог основы. Примеры (приводятся только формы с ударением наоснове): <strong>де́лать</strong> (схема а/а) — <code>де́лаю, де́лает, де́лал, де́лала</code>; <strong>откры́ть</strong> (схема а/а) — <code>откро́ю, откро́ет, откры́л, откры́ла</code>; <strong>рисова́ть</strong> (схема а/а) — <code>рису́ю, рису́ет, рисова́л, рисова́ла</code>; <strong>колеба́ть</strong> (схема а/а) — <code>коле́блю, коле́блет, колеба́л, колеба́ла</code>; <strong>протере́ть</strong> (схема b/а) — <code>протёр, протёрла</code>; <strong>получа́ть</strong> (схема с/а) — <code>полу́чит, получи́л, получи́ла</code>.</p>

<h4>Правило о положении ударения внутри окончания</h4>
<p>В двусложных окончаниях, несущих ударение, оно падает на первый слог окончания, например: <code>берёте, стои́те</code>.</p>
<h4>Правило о положении ударения при неслоговом окончании</h4>
<p>Если по схеме ударения данного глагола ударение в некоторой форме должно падать на окончание, а окончание не содержит гласной (а именно, это нуль, <strong>ь</strong> или <strong>й</strong>), а также если окончание есть нуль (<strong>ь, й</strong>) + <strong>те, ся</strong> или <strong>тесь</strong>, то ударение падает на последний слог основы. Примеры: <strong>стоя́ть, боя́ться</strong> (схема b/а) — <code>стой, сто́йте, бо́йся, бо́йтесь</code>; <strong>бере́чь, бере́чься</strong> (схема b/b) — <code>берёг, берёгся</code>. Исключение: ударение в прош. м на <strong>ся</strong>, допустимое при схеме ударения прошедшего времени /с&quot; (см.выше), например: <code>сорва́лся</code> и устар. <code>сорвался́</code>.</p>
<h3>РУССКАЯ БУКВА ИЛИ БУКВЕННАЯ ПОСЛЕДОВАТЕЛЬНОСТЬ В СКОБКАХ</h3>
<p>Запись такого вида показывает конечный элемент основы настоящего (будущего) времени. Возможны следующие пометы этого рода: (-с-), (-д-), (-т-), (-ст-), (-б-) в типе 7, (-г-), (-к-) в типе 8, (-н-), (-м-), (-им-) или полная запись основы наст, (буд.), например, (займ-), (прим-), (возьм-), в типе 14, а также помета (-щ-) в типах 4, 5, 6. Их значение см. в таблице на стр. 78-79 и всноске к таблице чередований (стр. 78).</p>

<h3>ЦИФРА В КРУЖКЕ</h3>
<p>Цифра в кружке (от ① до ⑨) показывает, что у данного глагола представлено некоторое часто встречающееся отклонение от стандартного спряжения.</p>
<h4>Помета ①</h4>
<p>Помета ① у глаголов означает, что в личных формах прош. времени (кроме прош. ж) и в прич. страд, (кроме кф ж) ударение падает на один слог левее, чем по общему правилу (практически это значит, что оно падает на приставку)<sup>4</sup>. Прич. прош. идеепр. прош. имеют такое же ударение в типе 9, но сохраняют ударение инфинитива в прочих типах. Примеры:</p>
<p><strong>заня́ть</strong> св 14b/с (займ-) ① — <code>прош.</code> за́нял, заняла́, за́няло, за́няли; <code>прич. страд.</code> за́нятый, <code>кф</code> за́нят, занята́, за́нято, за́няты; <code>прич. прош.</code> заня́вший, <code>деепр. прош.</code> заня́в(ши)</p>

<p class="footnote"><sup>4</sup> Если глагол с пометой ① имеет приставку <strong>пере-</strong>, ударение падает на первый слог приставки, например, <code>пе́ренял</code> (наряду с <code>переня́л</code>), <code>пе́ренятый</code>. Для большей ясности формы с приставкой <strong>пере-</strong>, имеющие такое ударение, непосредственно приводятся всловарной статье.</p>


<p><strong>предприня́ть</strong> св 14с/с (предприм-) ① — <code>прош.</code> предпри́нял, предприняла́, предпри́няло, предпри́няли; <code>прич. страд</code>, предпри́нятый, <code>кф</code> предпри́нят, предпринята́, предпри́нято, предпри́няты; <code>прич. прош.</code> предприня́вший, <code>деепр. прош.</code> предприня́в(ши)</p>
<p><strong>запере́ть</strong> св 9b/с① — <code>прош.</code> за́пер, заперла́, за́перло, за́перли; <code>прич. страд.</code> за́пертый, <code>кф</code> за́перт, заперта́, за́перто, за́перты, <code>прич. прош.</code> за́перший, <code>деепр. прош.</code> за́перши</p>
<p>Пример с пометой [①]:</p>
<p><strong>нали́ть</strong> св 11b/с[①] — <code>прош.</code> на́ли́л, налила́, на́ли́ло, на́ли́ли; <code>прич. страд.</code> на́ли́тый, <code>кф</code> на́ли́т, налита́, на́ли́то, на́ли́ты; <code>прич. прош.</code> нали́вший, <code>деепр. прош.</code> нали́в(ши)</p>

<h4>Пометы ② и ③</h4>
<p>Эти две пометы относятся к образованию повел, наклонения. Помета ② означает, что повел, имеет окончания <strong>-ь(ся), -ьте(сь)</strong> [после гласной <strong>-й(ся), -йте(сь)</strong>] вместо ожидаемых <strong>-и(сь), -ите(сь)</strong>. Без квадратных скобок (знака факультативности) помета ② встречается только при глаголах с <strong>вы́-</strong>. Примеры:</p>
<p><strong>вы́плакать</strong> св 6а② — <code>повел</code>. вы́плачь, вы́плачьте</p>
<p><strong>вы́строить(ся)</strong> св 4а② — <code>повел</code>. вы́строй(ся), вы́стройте(сь)</p>
<p>Пример с пометой [②]:</p>
<p><strong>ко́рчить(ся)</strong> нсв 4а[②] — <code>повел</code>. ко́рчи(сь) // ко́рчь(ся), ко́рчите(сь) // ко́рчьте(сь)</p>
<p>Помета ③ означает, что повел, имеет окончания: в ед. <strong>-и(сь)</strong>, но во мн. <strong>-ьте(сь)</strong> — вместо ожидаемых <strong>-и(сь), -ите(сь)</strong> или <strong>-ь(ся), -ьте(сь)</strong>. Примеры:</p>
<p><strong>ка́шлянуть</strong> св нп За③ — <code>повел</code>. ка́шляни, ка́шляньте</p>
<p><strong>вы́зволить</strong> св 4а③ — <code>повел</code>. вы́зволи, вы́звольте</p>
<p>Помета [③] практически означает, что повел, в ед. <strong>-и(сь)</strong> // <strong>-ь(ся)</strong>, во мн. <strong>-ьте(сь)<sup>1</sup></strong>. Примеры:</p>
<p><strong>заку́порить</strong> св 4а[③] — <code>повел</code>. заку́пори // заку́порь, заку́порьте</p>
<p><strong>вы́ставить</strong> св 4а[③] — <code>повел</code>. вы́ставь // вы́стави, вы́ставьте</p>
<p><strong>вы́сунуть(ся)</strong> св За[③] — <code>повел</code>. вы́суни(сь) // вы́сунь(ся), вы́суньте(сь)</p>
<h4>Помета ④</h4>
<p>Помета ④ относится к ударению в прич. наст. Она означает, что ударение в этой форме падает на один слог левее, чем ожидается по правилу. Примеры:</p>
<p><strong>люби́ть</strong> нсв 4с④ — <code>прич. наст.</code> лю́бящий </p>
<p><strong>лечи́ть(ся)</strong> нсв 4с④ — <code>прич. наст.</code> ле́чащий(ся)</p>
<p>Пример с пометой [④]:</p>
<p><strong>вари́ть</strong> нсв 4с[④] — <code>прич. наст.</code> варя́щий // ва́рящий</p>
<h4>Пометы ⑤ и ⑥</h4>
<p>Эти две пометы относятся к образованию прош. времени и прич. прош. в подтипе 3°. Помета ⑤ означает, что в прош. м суффикс <strong>-ну-</strong> сохраняется (вопреки общему правилу о подтипе 3°). Помета ⑥ означает, что в прич. прош. и деепр. прош. суффикс <strong>-ну-</strong> сохраняется (вопреки правилу). Примеры различных комбинаций этих двух помет:</p>
<p><strong>исче́знуть</strong> св нп 3°а⑥ — <code>прош.</code> исче́з, исче́зла; <code>прич. прош.</code> исче́знувший, <code>деепр. прош.</code> исче́знув(ши)</p>
<p><strong>воскре́снуть</strong> св нп 3°а[⑥] — <code>прош.</code> воскре́с, воскре́сла; <code>прич. прош.</code> воскре́сший // воскре́снувший, <code>деепр. прош.</code> воскре́сши // воскре́снув(ши)</p>
<p><strong>волгнуть</strong> нсв нп 3°а⑤⑥ — <code>прош.</code> во́лгнул, во́лгла; <code>прич. прош.</code> во́лгнувший, <code>деепр. прош.</code> во́лгнув(ши)</p>
<p><strong>ме́ркнуть</strong> нсв нп 3°а[⑤]⑥ — <code>прош.</code> мерк // ме́ркнул, ме́ркла; <code>прич. прош.</code> ме́ркнувший, <code>деепр. прош.</code>ме́ркнув(ши)</p>
<p><strong>све́ргнуть</strong> св 3°а[⑤⑥] — <code>прош.</code> сверг // све́ргнул, све́ргла; <code>прич. прош.</code> све́ргший // све́ргнувший, <code>деепр. прош.</code> све́ргши // све́ргнув(ши).</p>
<h4>Пометы ⑦ и ⑧</h4>
<p>Эти две пометы относятся к ударению в прич. страд. Помета ⑦ означает, что в прич. страд, ударение падает на гласную перед <strong>-нный</strong>; таким образом, это причастие оканчивается на <strong>-ённый </strong>вместо ожидаемого безударного <strong>-енный</strong> или на <strong>-а́нный</strong> вместо безударного <strong>-анный</strong>. Причастие на <strong>-ённый</strong> имеет при этом по общему правилу краткие формы схемы /b; причастие на <strong>-а́нный</strong> имеет краткие формы схемы /а. Примеры:</p>

<p class="footnote"><sup>1</sup> Такое соотношение обнаруживается не только у глаголов, где по правилу ожидается <strong>-ь, -ьте</strong> (например, <strong>заку́порить</strong>), но и у тех, где ожидается <strong>-и, -ите</strong> (например, <strong>вы́ставить</strong>); в последнем случае <strong>-ите</strong> хотя и не полностью исключено, но нежелательно.</p>

<p><strong>раздели́ть</strong> св 4с⑦ — <code>прич. страд.</code> разделённый</p>
<p><strong>обуя́ть</strong> св 1а⑦ — <code>прич. страд.</code> обуя́нный, <code>кф (устаревш.)</code> обуя́н, обуя́на, обуя́но, обуя́ны<sup>1</sup></p>
<p>Пример с пометой [⑦]:</p>
<p>иссуши́ть св 4с[⑦] — <code>прич. страд.</code> иссу́шенный // иссушенный</p>
<p>Помета ⑧ означает, что в прич. страд, ударение падает на третий слог от конца; таким образом, это причастие оканчивается на безударное <strong>-енный</strong> вместо ожидаемого -ённый (иначе говоря, имеет место отклонение, обратное предыдущему). Пример:</p>
<p><strong>скрои́ть</strong> св 4b⑧ — <code>прич. страд.</code> скро́енный</p>
<p>Пример с пометой [⑧]:</p>
<p><strong>разгроми́ть</strong> св 4b[⑧] — <code>прич. страд.</code> разгромленный // разгро́мленный</p>
<h4>Помета ⑨</h4>
<p>Помета ⑨ встречается у глаголов совершенного вида и означает, что у данного глагола в роли деепр. прош. выступает форма на <strong>-я(-а)</strong>, образованная от основы буд. времени по правилам для деепр. наст. Регулярно образованное деепр. прош. при этомтакже существует, но в современном языке неупотребительно. Пример:</p>
<p><strong>привезти́</strong> св 7b/b⑨, ё — <code>деепр. прош.</code> привезя́ [// устар, привёзши].</p>

<h3>ПОМЕТА «ё» (ИЛИ «о»)</h3>
<p>Эти знаки показывают, что в основе глагола происходит чередование <strong>ё/е</strong> (соответственно <strong>о/е</strong>).</p>
<p>Помета «ё» означает, что последнее <strong>е</strong> основы инфинитива (у глаголов на <strong>-ереть</strong> типа 9 — предпоследнее <strong>е</strong>) заменяется на ё, если оно оказывается под ударением, в любой из следующих форм: прош. время, прич. прош., деепр. прош. и прич. страд. Примеры:</p>
<table class="left-aligned">
    <tr><td><strong>наверста́ть</strong></td><td>св</td><td>1а, ё — <code>прич. страд.</code> навёрстанный</td></tr>
    <tr><td><strong>растрепа́ть</strong></td><td>св</td><td>6с, ё — <code>прич. страд.</code> растрёпанный</td></tr>
    <tr><td><strong>поверну́ть</strong></td><td>св</td><td>Зb, ё — <code>прич. страд.</code> повёрнутый</td></tr>
    <tr><td><strong>нести́</strong></td><td>нсв</td><td>7b/b (-с-), ё — <code>прош. м</code> нёс; <code>прич. прош.</code> нёсший; <code>деепр. прош.</code> нёсши</td></tr>
    <tr><td><strong>бере́чь</strong></td><td>нсв</td><td>8b/b (-г-), ё — <code>прош. м</code> берёг; <code>прич. прош.</code> берёгший; <code>деепр. прош.</code> берёгши</td></tr>
    <tr><td><strong>протере́ть</strong></td><td>св</td><td>9b, ё — <code>прош.</code> протёр, протёрла, протёрло, протёрли; <code>прич. прош.</code> протёрший, <code>деепр. прош.</code> протёрши // протере́в; <code>прич. страд.</code> протёртый</td></tr>
</table>

<p>Заметим, что в соответствии с приведенным правилом е сохраняется даже под ударением, например, в таких формах, как <code>растре́плет, тре́плющий, исхле́щет, хле́щущий</code> и т. п.</p>
<p>Помета «о» встречается только при глаголах на <strong>-цевать</strong> типа 2 и означает, что прич. страд, оканчивается на <strong>-цованный</strong> (с чередованием <strong>е/о</strong>). Пример:</p>
<p><strong>перелицева́ть</strong> св 2<code>г</code>, о — <code>прич. страд.</code> перелицо́ванный.</p>
<p>Переход <strong>е</strong> в <strong>ё</strong> довольно часто отсутствует в прич. прош. и деепр. прош. глаголов типа 7 и 8, например: <strong>зацвести́</strong> — <code>зацвёл, но зацве́тший, зацве́тши.</code> Эта особенность не рассматривается как неправильность и отмечается в словарной статье тем, что непосредственно выписывается форма прич. прош., например:</p>
<p><strong>зацвести́</strong> св нп 7b/b (-т-), ё (<code>но прич. прош.</code> зацве́тший).</p>

<h5 id="build-using-index">
    ПОСТРОЕНИЕ ГЛАГОЛЬНЫХ ФОРМ ПО ИНДЕКСУ
</h5>

<p>
    Чтобы построить все формы некоторого глагола по его индексу (и буквенным символам), необходимо:

    1) построить три основные формы по цифре индекса (и дополнительным пометам в скобках, если они есть);
    при индексе, содержащем 6°, учесть значение кружочка (стр. 80);

    2) расставить ударение в основных формах наст. (буд.) в соответствии со схемой ударения (стр. 80);

    3) определить в соответствии с буквенными символами, каков состав форм у данного глагола (стр. 87);

    4) построить все формы парадигмы по приводимому ниже описанию.
    Если в словарной статье после индекса имеются какие-либо дополни¬тельные пометы или
    указания, то в полученный результат нужно внести соответствующие поправки (см. стр. 136).
</p>
<p>
    Приводимые ниже правила сформулированы для <code>невозвратных</code> глаголов.
    Соответствующие формы возвратных глаголов, если они вообще имеются, отличаются
    только наличием конечного <strong>-ся</strong> или <strong>-сь</strong>
    (в причастиях всегда <strong>-ся</strong>, в прочих формах после гласной
    <strong>-сь</strong>, после согласной или <strong>ь — -ся</strong>).
    Следует учитывать, однако, что возвратные глаголы не имеют страдательных форм
    (поскольку все эти глаголы непереходны).
</p>

<p class="footnote"><sup>1</sup>Краткие формы приведены для наглядности, поскольку причастия на ударное <strong>-а́нный, -я́нный</strong> являются редкостью.</p>

<h3>ЛИЧНЫЕ ФОРМЫ</h3>
<h4>Настоящее время несовершенного вида и будущее время совершенного вида</h4>
<p>Основа. Если основы 1 ед. и 3 ед. одинаковы, эта единая основа выступает во всем наст. (буд.). Если эти основы различны, то их распределение таково. В I спряжении основа 1 ед. выступает, кроме самой этой формы, еще в 3 мн.; остальные формыимеют основу 3 ед. Во II спряжении все формы, кроме 1 ед., имеют основу 3 ед.</p>

<p>Окончания</p>
<table border="1" style="text-align: center">
    <tr>
        <td colspan="2" rowspan="2"></td>
        <td colspan="2">
            I спряжение
        </td>
        <td rowspan="2">
            II спряжение
        </td>
    </tr>
    <tr><td>без ударения</td><td>под ударением</td></tr>
    <tr><td rowspan="3">Ед.</td><td>1</td><td colspan="2">-у или -ю<sup>1</sup></td><td>-ю (после шипящих -у)</td></tr>
    <tr><td>2</td><td>-ешь</td><td>-ёшь</td><td>-ишь</td></tr>
    <tr><td>3</td><td>-ет</td><td>-ёт</td><td>-ит</td></tr>
    <tr>
        <td rowspan="3">Мн.</td>
        <td>1</td>
        <td>-ем</td>
        <td>-ём</td>
        <td>
            -им
        </td>
    </tr>
    <tr><td>2</td><td>-ете</td><td>-ёте</td><td>-ите</td></tr>
    <tr><td>3</td><td colspan="2">-ут или -ют (в соответствии с окончанием 1 ед.)</td><td>-ят (после шипящих -ат)</td></tr>
</table>

<p>Ударение — в соответствии со схемой ударения (а именно, по первой из двух букв ее составного обозначения, см. стр. 80).</p>
<h4>Прошедшее время</h4>
<p>Основа — та же, что в инфинитиве. Исключение составляют: типы 7 и 8 — прош. образуется от основы 1 ед. наст. (буд.) (<strong>грести́</strong>, <code>гребу́ — грёб</code>; <strong>печь</strong>, <code>пеку́ — пёк</code>); если, однако, эта основа оканчивается на <strong>т</strong> или <strong>д</strong>, это <strong>т(д)</strong> в прош. утрачивается(мести́, мету́ — мёл; вести́, веду́ — вёл); тип 9 — в прош. утрачивается конечное е основы инфинитива (<strong>тере́ть</strong> — <code>тёр</code>);подтип 3° — в прош. утрачивается конечное <strong>ну</strong> основы инфинитива (<strong>засо́хнуть</strong> — <code>засо́х</code>).</p>

<p>Окончания</p>

<table border="1" style="text-align: center">
    <tr><td colspan="3">Ед. (всех лиц)</td><td rowspan="2">Мн. (всех лиц)</td></tr>
    <tr><td>м</td><td>ж</td><td>с</td></tr>
    <tr><td><strong>-л</strong> (но после согласной — нуль)</td><td><strong>-ла</strong></td><td><strong>-ло</strong></td><td><strong>-ли</strong></td></tr>
</table>

<p>Ударение — в соответствии со схемой ударения (а именно, по второй из двух букв ее составного обозначения, см. стр. 81).</p>

<h3>Будущее время несовершенного вида</h3>
<p>Оно образуется из форм будущего времени вспомогательного глагола быть и инфинитива основного глагола, например: <code>бу́ду де́лать, бу́дешь де́лать, бу́дет де́лать, бу́дем де́лать, бу́дете де́лать, бу́дут де́лать.</code></p>
<h3>Повелительное наклонение</h3>
<p>Форма 2 ед. повел, образуется так.</p>
<p>Основа — та же, что в 3 мн. наст, (буд.) (т. е. в I спряжении основа 1 ед., во II спряжении основа 3 ед.). Исключение: в типе 13 повел, образуется от основы инфинитива (<strong>дава́ть</strong> — <code>дава́й</code>).</p>
<p>Окончание. При основе на гласную окончание <strong>-й</strong> (здесь и далее имеется в виду та основа, которая выступает в повел.). Исключение: окончание <strong>-и</strong> имеют глаголы типа 4b и 4с (<strong>крои́ть</strong> — <code>крои́</code>, <strong>пои́ть</strong> — <code>пои́</code>), а также глаголы типа 4а, начинающиеся с <strong>вы́-</strong> (<strong>вы́кроить</strong> — <code>вы́крои</code>). При основе на согласную: 1) при схеме ударения наст, (буд.) b/ или с/ — окончание -и;2) при схеме ударения наст, (буд.) а/ — окончание <strong>-и</strong> у глаголов, начинающихся с <strong>вы́-</strong>, и у глаголов с основой на две согласных или щ, (или на согласную + <strong>ь</strong> + согласная); окончание <strong>-ь</strong> в прочих случаях.</p>
<p>У глаголов типа 11, где основа наст, (буд.) оканчивается на <strong>ь</strong>, повел, оканчиваются на <strong>-ей</strong> (<strong>бить</strong>, <code>бьют — бей</code>).</p>

<p class="footnote"><sup>1</sup> Выбор определяется типом спряжения. Отметим, однако, что лишь после р возможны оба окончания (ср., например, <code>тру</code>, тип 9, и <code>порю́</code>, тип 10); в прочих случаях <strong>-ю</strong> выступает после гласных, <strong>ь</strong> и <strong>л</strong>, а <strong>-у</strong> после согласных (кроме <strong>л</strong>).</p>

<p>Ударение — в соответствии со схемой ударения, см. стр. 80 (а именно, оно всегда там же, где в 1 ед.).</p>
<p>Форма 2 мн. повел, образуется от 2 ед. добавлением <storng>-те</storng>: <code>дава́й —- дава́йте; бей — бе́йте, бе́йся — бе́йтесь</code> и т. д.</p>
<p>Так наз. формы 1 мн. повел, (означающие побуждение к действию, в котором примет участие и говорящий) употребительны только у глаголов совершенного вида и у глаголов <strong>идти́, е́хать, бежа́ть, лете́ть, плыть, лезть, ползти́</strong>. В 1 мн. входят две формы: 1) форма обращения к одному лицу; она равна 1 мн. наст, (буд.): <code>пойдём, ся́дем, оста́немся, идём</code>; 2) форма обращенияко многим лицам (или вежливого обращения к одному лицу); она образуется из первой добавлением <strong>-те</strong>: <code>пойдёмте, ся́демте, оста́немтесь, идёмте</code>.</p>

<h4 id="subjunctive">Сослагательное наклонение</h4>

<p>Оно образуется добавлением частицы <strong>бы</strong> к формам прошедшего времени; например: 
    <code>де́лал бы, де́лала бы, де́лало бы, де́лали бы.</code>
</p>

<h3>Личные формы на <code>-ся (-сь)</code> со страдательным значением</h3>

<p>Эти формы образуются в принципе от всех переходных глаголов несовершенного вида (и только от них). От соответствующих действительных форм они отличаются только добавлением конечного <strong>-ся (-сь)</strong> по тем же правилам, что для возвратных глаголов (см. выше)<sup>1</sup>. Страдательные соответствия с <strong>-ся (-сь)</strong> существуют в принципе для всех перечисленных выше личныхформ (в пределах несовершенного вида), кроме повелительного наклонения, например: <code>оставля́ется, оставля́лся, бу́детоставля́ться, оставля́лся бы</code>. При этом, однако, формы 1-го и 2-го лиц (<code>оставля́юсь, оставля́етесь</code> и т. д.) употребляютсякрайне редко; в таблицах спряжения они не приводятся. Об отличии страдательных форм на <strong>-ся, -сь</strong> от омонимичных им формвозвратных глаголов см. стр. 7.</p>

<h2>НЕЛИЧНЫЕ ФОРМЫ</h2>
<h3>Действительное причастие настоящего времени</h3>
<p>Имеется только у глаголов несовершенного вида. Образуется заменой конечного <strong>-т</strong> в форме 3 мн. наст, на <strong>-щий</strong>. Ударение в I спряжении как в 3 ед., во II спряжении как в 1 ед. Склонение — как у прилагательных с индексом 4а; кратких форм у собственно причастий (не перешедших в прилагательные) нет.</p>
<h3>Деепричастие настоящего времени</h3>
<p>Имеется только у глаголов несовершенного вида, причем только в типах 1, 2, 4—7, 10, 12, 13, 16. Образуется от основы 3 мн. наст, добавлением <strong>-я</strong> (после шипящих <strong>-а</strong>). Ударение как в 1 ед. наст. Исключение: в типе 13 деепричастие образуется отосновы инфинитива (с ударением инфинитива) (<strong>дава́ть</strong> — <code>дава́я</code>).</p>
<h3>Действительное причастие прошедшего времени</h3>
<p>Имеется у глаголов обоих видов. Образуется от формы прош. м: если эта форма оканчивается на <strong>-л</strong> — заменой <strong>-л</strong> на <strong>-вший</strong>, если она оканчивается иначе — добавлением к ней <strong>-ший</strong>. Ударение такое же, как в прош. м. Исключения: 1) у глаголов на <strong>-сти</strong> типа 7 с пометой (-т-) или (-д-)<sup>2</sup> это причастие образуется добавлением <strong>-ший</strong> к основе 1 ед. наст, (буд.) (<strong>мести́</strong>, <code>мету́ — мётший</code>); ударение (и выбор <strong>е</strong> или <strong>ё</strong>), как в прош. м; 2) у глаголов (кроме типа 9) с пометой Ф ударение совпадает с инфинитивом,а не с прош. м (<strong>заня́ть</strong>, <code>за́нял — заня́вший</code>). Склонение — как у прилагательных с индексом 4а (кратких форм нет).</p>
<h3>Деепричастие прошедшего времени</h3>
<p>Имеется у глаголов обоих видов. Однако достаточно употребительны только деепричастия от глаголов совершенного вида; деепричастия от глаголов несовершенного вида в современном языке употребляются очень редко<sup>3</sup> (обычно они заменяютсядеепричастиями наст, времени).</p>
<p>Образуется от причастия прош. времени заменой <strong>-ший(ся)</strong> на <strong>-ши(сь)</strong>. Деепричастия на <strong>-вши</strong> имеют параллельную форму на <strong>-в</strong>, например, <code>ви́девши</code> и <code>ви́дев</code> (однако соответствующая возвратная форма оканчивается только на <strong>-вшись</strong>, например,ви́девшись). Особый случай: у невозвратных глаголов совершенного вида типа 9 и подтипа 3° наряду с регулярной формойдеепричастия возможна форма соответственно на <strong>-ерев</strong> и на <strong>-нув (-нувши)</strong>, получаемая заменой конечного <strong>-ть</strong> инфинитива на <strong>-в</strong> (с сохранением ударения инфинитива), например, <code>растёрши</code> и <code>растере́в</code> от <code>растере́ть, поги́бши</code> и <code>поги́бнув (поги́бнувши)от поги́бнуть</code>. Другой особый случай образуют глаголы с пометой ⑨; см. стр. 83.</p>
<p class="footnote"><sup>1</sup> Исключение составляют формы прошедшего времени с ударением по схеме /с (например, <code>гнал, гнала́, гна́ло, гна́ли</code>); соответствующие страдательные формы имеют схему ударения /с&quot;(<code>гна́лся; гнала́сь; гнало́сь // гна́лось; гнали́сь // гна́лись</code>).</p>
<p class="footnote"><sup>2</sup> Глаголы на <strong>-сть</strong> этой группы подчиняются общему правилу: <strong>красть</strong> — <code>кра́вший</code>, <strong>класть</strong> — <code>кла́вший</code>, <strong>сесть</strong> — <code>се́вший</code>, <strong>пасть</strong> — <code>па́вший</code>.</p>
<p class="footnote"><sup>3</sup> Почти всегда с отрицанием, например: <code>никогда́ не ви́девши, ни ра́зу не говори́вши, не спа́вши всю́ но́чь</code>.</p>


<h4>Страдательное причастие настоящего времени</h4>
<p>Имеется только у переходных глаголов несовершенного вида, причем только в следующих морфологических группах: 1) у глаголов с 1 мн. наст, на гласную + безударное <strong>ем</strong> (т. е. у глаголов с основной частью индекса 1а, 2а, 12а и глаголов на <strong>-ять</strong> с основной частью индекса 6а), а также у глаголов типа 13; 2) у глаголов типа 4; 3) у отдельных глаголов типа 5, а такжетипов 6 (на <strong>-ать</strong>), 6°, 7. При этом, однако, только причастия первой группы (например, <code>чита́емый, рису́емый, бре́емый, мо́емый, дава́емый, се́емый</code>) достаточно употребительны. Причастия второй группы (например, <code>по́мнимый, серди́мый, чи́стимый</code>) всовременном языке обычно образуются с затруднением, употребляются очень редко и имеют возвышенно-архаический оттенок;лишь немногие из причастий данной группы достаточно употребительны и лишены этого оттенка (например, <code>стро́имый, храни́мый, люби́мый</code>), ср. замечание на стр. 102. Причастия третьей группы (например, <code>гони́мый, ведо́мый</code>) представляют собой изолированные формы и имеют такой же возвышенно-архаический оттенок, ср. замечания на стр. 105, 111, 116.</p>
<p>Данное причастие образуется добавлением <strong>-ый</strong> к форме 1 мн. наст, (но если эта форма оканчивается на согласную + <strong>ём</strong> — заменой <strong>-ём</strong> на <strong>-омый</strong>). Ударение в I спряжении такое же, как в этой форме, во И — как в 1 ед. наст. Исключение: в типе 13 это причастие образуется от основы инфинитива (и с тем же ударением) (<strong>дава́ть</strong> — <code>дава́емый</code>). Склонение — как у прилагательных с индексом 1а (имеются полные и краткие формы), например, <code>храни́мый, кф храни́м, храни́ма, храни́мо, храни́мы.</code></p>

<h4>Страдательное причастие прошедшего времени</h4>
<p>Имеется только: 1) у переходных глаголов совершенного вида; 2) у переходных глаголов несовершенного вида, в словарной статье которых нет знака ◑ или равносильной этому отсылки (т. е. у глаголов, не входящих в строгую видовую пару, например, <strong>трепа́ть, копи́ть, мести́</strong>)<sup>1</sup>. При этом, однако, только причастия первой группы (т. е. совершенного вида) широко употребительны; причастия второй группы (т. е. несовершенного вида, например, <code>трёпанный, ко́пленный, метённый</code>) употребляются очень редко<sup>2</sup>.</p>
<p>Образование данного причастия.</p>
<ol>
    <li>Глаголы на <strong>-ать</strong> и <strong>-ять</strong> (кроме типа 14) образуют это причастие добавлением -нный к основе инфинитива. Ударение: еслиинфинитив неодносложен и имеет ударение на последнем слоге — на один слог левее, чем в инфинитиве; в прочих случаяхударение как в инфинитиве.</li>
    <li>Глаголы типа 4 и глаголы на <strong>-еть</strong> типа 5 образуют это причастие добавлением <strong>-енный</strong> (под ударением <strong>-ённый</strong>) к основе 1 ед. наст. (буд.). Ударение: у глаголов типа 4 — на том же (по счету от начала) слоге, что в 3 ед. наст, (буд.); у глаголов типа5 — если инфинитив неодносложен и имеет ударение на последнем слоге, то на один слог левее, чем в инфинитиве; в прочихслучаях как в инфинитиве<sup>3</sup>.</li>
    <li>Глаголы типов 7 и 8 образуют это причастие добавлением <strong>-енный</strong> (под ударением <strong>-ённый</strong>) к основе 3 ед. наст. (буд.).Ударение на том же (по счету от начала) слоге, что в прош. ж.</li>
    <li>Глаголы типов 3 (3°) и 10 образуют это причастие добавлением <strong>-тый</strong> к основе инфинитива. Ударение: если инфинитивнеодносложен и имеет ударение на последнем слоге — на один слог левее, чем в инфинитиве; в прочих случаях как в инфинитиве.</li>
    <li>Глаголы типов 9, 11, 12, 14, 15, 16 образуют это причастие заменой конечного <strong>-л</strong> в форме прош. м на <strong>-тый</strong> (если прош. моканчивается иначе — добавлением <strong>-тый</strong> к этой форме). Ударение такое же, как в прош. м.</li>
</ol>
<p>Данное причастие имеет как полные, так и краткие формы. Особенность данного причастия состоит в том, что здесь краткие формы играют более важную роль (и значительно чаще употребляются), чем полные, а именно, краткие формы выступают вконструкциях, играющих роль личных форм страдательного залога (<code>до́м постро́ен, до́м бы́л постро́ен, до́м бу́дет постро́ен</code>).У некоторых причастий практически употребительны только краткие формы, особенно краткая форма среднего рода, например: <code>по́пито, наде́лано</code>.</p>
<p><em>Замечание</em>. Краткая форма среднего рода данного причастия иногда может быть образована даже от непереходных глаголов, например: <code>си́жено, хо́жено, по́жито</code>. Такие формы носят народнопоэтический или просторечный оттенок. В настоящем словаре эти формы не учитываются.</p>
<p>Причастия на безударное<sup>4</sup> <strong>-анный, -янный, -енный</strong> образуют краткие формы как прилагательные с индексом 1*а②, например: <code>прочи́танный</code>, кф <code>прочи́тан, прочи́тана, прочи́тано, прочи́таны, постро́енный</code>, кф <code>постро́ен, постро́ена, постро́ено, постро́ены</code>. Если, однако, глагол имеет схему ударения прош. времени /с (стр. 81), в краткой форме жен. родавозможно также ударение на окончании (устаревающий ныне вариант), например: <strong>сорва́ть</strong> (схема ударения b/с) — <code>со́рванный</code>, кф <code>со́рван, со́рвана</code> (и устар. <code>сорвана́</code>), <code>со́рвано, со́рваны</code>.</p>

<p>Причастия на <strong>-ённый</strong> образуют краткие формы как прилагательные с индексом 1*а/b②, ё, например: <code>принесённый</code>, кф <code>принесён, принесена́, принесено́, принесены́</code>.</p>
<p>Причастия на <strong>-тый</strong> образуют краткие формы: а) как прилагательные с индексом 1а, если у глагола схема ударения прош. времени /а, например: <strong>приши́ть</strong> (схема ударения b/а) — <code>приши́тый</code>, кф <code>приши́т, приши́та, приши́то, приши́ты</code>; б) какприлагательные с индексом 1а/с, если у глагола схема ударения прош. времени /с, например: <strong>снять</strong> (схема ударения с/с) <code>—сня́тый</code>, кф <code>снят, снята́, сня́то, сня́ты</code>.</p>
<p>Полные формы всех прич. страд, склоняются как у прилагательных с индексом 1а.</p>

<h4>Неличные формы на <code>-ся (-сь)</code> со страдательным значением</h4>

<p>Такими формами являются: инфинитив на <strong>-ться (-тись, -чься)</strong>; причастие наст, времени на <strong>-щийся</strong>; причастие прош. времени на <strong>-(в)шийся</strong>. Все они образуются от переходных глаголоз несовершенного вида (и только от них). Эти формы отличаются от соответствующих действительных форм только добавлением <strong>-ся(сь)</strong>. Заметим, что причастие на <strong>-щийся</strong>(<code>оставля́ющийся</code>) практически равнозначно причастию на <strong>-мый</strong> (например, <code>оставля́емый</code>).</p>


<h4 id="verb-cross">
    <strong>ЗНАЧЕНИЕ ДОПОЛНИТЕЛЬНЫХ ПОМЕТ И УКАЗАНИЙ ПРИ ГЛАГОЛЕ</strong>
</h4>

<p>
    Из дополнительных знаков в словарной статье глагола возможны только <span class="cross" /> и <span class="boxed-cross" />. Оба они относятся к образованию прич. страд. Эти знаки не ставятся,  однако,  при тех глаголах,  у которых прич. страд. отсутствует в силу общих правил,  а именно:
</p>

<p>
    а) при непереходных глаголах; б) при глаголах несовершенного вида,  входящих в видовую пару (т. е.,  с формальной точки зрения – имеющих в словарной статье знак ◑ или равносильное этому словесное указание).
</p>

<h4>
    ЗНАК <span class="cross" />
</h4>

<p>
    Знак <span class="cross" /> в словарной статье глагола показывает,  что образование прич. страд. здесь затруднительно
    (о затруднительности см. <a href="../preface1#difficulty">стр. 8</a>).
</p>

<p>
    Основные группы глаголов,  отмеченных знаком <span class="cross" />,  таковы.
</p>

<p>
    а) Глаголы совершенного вида на безударное <strong>-ывать,  -ивать</strong>,
    образованные добавлением приставки к глаголу несовершенного вида,
    уже имеющему приставку, например, <strong>навыду́мывать</strong>.
</p>

<p>
    б) Многие глаголы на <strong>-ить</strong>,
    где затруднительно требуемое для прич. страд. чередование согласных,
    например, <strong>затми́ть, увязи́ть, перешерсти́ть</strong>.
</p>

<p>
    в) Большинство бесприставочных глаголов на <strong>-ну́ть</strong>,
    а также многие глаголы на <strong>-а́ть,  -я́ть</strong>,
    где затруднителен требуемый для прич. страд. перенос ударения,
    например, <strong>толкну́ть, подожда́ть, шпыня́ть</strong>.
</p>

<h4 id="verb-boxed-cross">
    ЗНАК <span class="boxed-cross" />
</h4>

<p>
    Знак <span class="boxed-cross" /> в словарной статье глагола показывает,
    что прич. страд. у данного глагола нет (но не в силу общих правил, указанных выше).
</p>

<p>
    Основные группы глаголов,  отмеченные знаком <span class="boxed-cross" />,  таковы.
</p>

<p>
    а) Приставочные глаголы несовершенного вида, не входящие в видовые пары,
    например,  <strong>порица́ть,  пока́чивать,  сознава́ть</strong>.
</p>

<blockquote>
    <b>Примечание (Сергей Слепов):</b> для этой группы глаголов вполне возможно образование прич. страд. <i>настоящего времени</i>:
    <b>порицаемый, покачиваемый, сознаваемый</b>.
</blockquote>

<p>
    б) Многократные глаголы, например, <strong>пи́сывать</strong>.
</p>

<p>
    в) Глаголы совершенного вида на <strong>-а́ть,  -я́ть</strong>,
    образованные добавлением приставки к глаголу несовершенного вида, уже имеющему приставку,
    например, <strong>посшиба́ть,  наснима́ть</strong>.
</p>

<p>
    г) Глаголы на <strong>-ану́ть,  </strong>например,  <strong>тряхану́ть.</strong>
</p>

<p>
    д) Значительная часть глаголов на <strong>-еть</strong>,
    а также глаголов II спряжения на <strong>-ать</strong>,
    например, <strong>разгляде́ть,  облете́ть,  пробежа́ть</strong>.
</p>


<h4 id="zhd">
    ЗАПИСЬ  «прич. страд. -жд-»
</h4>

<p>

    Такая запись (возможная только при глаголах на <strong>-дить) </strong>означает,  что прич. страд. оканчивается здесь на <strong>-ждённый (-жденный) </strong>вместо ожидаемого по правилам <strong>-жённый (-женный),  </strong>например:
</p>

<blockquote>

    <strong>огради́ть </strong> св 4b,  прич. страд. -жд- – прич. страд. <code>ограждённый, </code> вместо ожидаемого <code>*огражённый.</code>
</blockquote>

<h4 id="forms">
    ФОРМЫ,  ПРИВЕДЕННЫЕ ПОЛНОСТЬЮ,  НО НЕ ЗА ЗНАКОМ Δ
</h4>

<p>

    Таким способом могут быть приведены некоторые причастия или форма прош. м. Эти формы не являются аномальными (и потому не помещаются за знак Δ); они выступают как непосредственно-наглядное обозначение некоторой разновидности регулярного спряжения. Более полные пояснения даются при соответствующей таблице спряжения.
</p>

<h4 id="stressed_particle">

    СВЕДЕНИЯ О ПЕРЕНОСЕ УДАРЕНИЯ НА ЧАСТИЦУ
</h4>

<p>

    В состав указаний,  приводимых при глаголе за знаком ◊ может входить запись форм прош. времени с частицей <strong>не</strong> или <strong>ни</strong>,  например: ◊ не́ был,  не́ было,  не́ были (<code>но</code> не была́). Это значит,  что в указанных сочетаниях ударение находится на частице,  а глагольная словоформа безударна.
</p>

<h4 id="aspect">
    УКАЗАНИЯ ЗА ЗНАКОМ ◑ – СВЕДЕНИЯ О ГЛАГОЛЕ ПРОТИВОПОЛОЖНОГО ВИДА
</h4>

<p>

    При глаголах,  входящих в видовые пары,  за знаком ◑ даются указания,  позволяющие установить противоположный член данной видовой пары. В словаре отмечаются только так наз. строгие видовые пары,  т. е. такие,  где между членами пары нет никаких дополнительных смысловых различий,  кроме чисто видового (об одном отклонении от этого принципа см. ниже). За немногими исключениями,  этому требованию удовлетворяют только пары приставочных глаголов (типа <strong>нали́ть,  налива́ть). </strong>Специально укажем,  что в словаре не отмечаются пары бесприставочных глаголов типа <strong>мига́ть </strong>– <strong>мигну́ть,  коло́ть </strong>– <strong>кольну́ть,  </strong>где глагол совершенного вида имеет дополнительное значение однократности (хотя такие пары и весьма близки к строго видовым).
</p>

<p>

    Нарушение строгого семантического соответствия между членами видовой пары допускается в словаре лишь в следующем особом случае: когда один и тот же глагол включен в видовую пару в одном из своих значений и не включен в другом. Например,  глагол <strong>прорабо́тать </strong>в значении «изучить» образует пару с <strong>прораба́тывать,  </strong>а в значении  «работать в течение определенного времени» не имеет парного по виду глагола; <strong>утвержда́ть </strong> в значениях  «официально принимать,  укреплять» образует пару с <strong>утверди́ть,  </strong>а в значении  «настойчиво заявлять» не имеет парного глагола.
</p>

<p>

    Подобные нарушения можно разделить на типовые и индивидуальные. Типовые нарушения возникают в силу следующего правила: приставочные глаголы обычно не имеют парного по виду глагола,  когда они выражают так наз.  «совершаемости»<sup>1</sup> соответствующего основного глагола. Под  «совершаемостями» понимается определенный круг дополнительных значений,  сообщаемых приставками (реже суффиксами) основному глаголу; для рассматриваемого вопроса существенны следующие из них: начинательное значение (приставки <strong>за- </strong>и <strong>по-</strong>, <strong> </strong>например,  <strong>защеми́ть </strong> «начать щемить»<strong>,  побежа́ть); </strong>ограничительное значение (приставка <strong>по-</strong>, <strong> </strong>например,  <strong>посиде́ть,  послу́шать)</strong>; значение заполнения действием некоторого отрезка времени (приставка <strong>про-,  </strong>например,  <strong>прорабо́тать </strong><code>це́лые су́тки</code>,  <strong>пробе́гать </strong><code>це́лый ча́с);</code> значение окончания действия (приставка <strong>от-,  </strong>например,  <strong>отстира́ть </strong> «кончить стирать»; <strong>отзвони́ть); </strong>значение последовательного охвата действием всех или многих объектов (приставка <strong>пере-,  </strong>например,  <strong>перечита́ть </strong><code>вс</code><code>e</code><code>́ кни́ги</code>, <strong>перепро́бовать </strong><code>вс</code><code>e</code><code>́ куша́нья).</code> Если глагол со значением  «совершаемости»других значений не имеет (ср.  <strong>побежа́ть,  посиде́ть,  пробе́гать,  перепро́бовать),  </strong>то в соответствии с общим правилом глагол противоположного вида вообще отсутствует. Если у глагола имеются и другие значения,  то возникает описанное выше нарушение семантического соответствия членов видовой пары,  ср.  <strong>прорабо́тать </strong> «изучить» – <strong>прораба́тывать</strong>; <strong>отстира́ть </strong> «отмыть стиркой» – <strong>отсти́рывать</strong>; <strong>перечита́ть </strong> «прочесть снова» – <strong>перечи́тывать</strong>.
</p>

<p>

    Индивидуальные нарушения,  в отличие от типовых,  не могут быть объяснены действием какого-либо общего правила; этот случай проиллюстрирован выше глаголом <strong>утвержда́ть.</strong>
</p>

<p>

    Специфика грамматического словаря (где ссылки на значение рассматриваются как отклонение от нормального вида словарной статьи и допускаются лишь в ограниченных пределах) не позволяет полностью отразить все нарушения описанного типа,  поскольку они весьма многочисленны; это возможно лишь в толковом словаре (где в соответствии с основной целью словаря указываются все значения слова). В настоящем словаре относительно полно отражены только индивидуальные нарушения семантического соответствия членов видовой пары,  а типовые нарушения в большинстве случаев никак не отмечаются. Так,  словарная статья <strong>утвержда́ть </strong>разделена на две подстатьи (соответственно значениям),  в одной из которых дана ссылка на <strong>утверди́ть,  </strong>а в другой нет. В то же время статья <strong>прорабо́тать </strong>на подстатьи не делится и содержит ссылку на <strong>прораба́тывать </strong>(без каких-либо оговорок); иначе говоря,  эта статья оформлена так же,  как,  например,  статья <strong>нали́ть </strong>(где между членами видовой пары <strong>нали́ть </strong>– <strong>налива́ть </strong>соблюдается строгое семантическое соответствие). Следует учитывать,  конечно,  что между типовыми и индивидуальными нарушениями нет строгой границы; в отдельных случаях их разграничение оказывается до известной степени условным.
</p>

<p>

    Глаголы-омонимы,  входящие в разные видовые пары,  даются отдельными статьями (даже если их спряжение одинаково); ср. ,  например, <strong>заса́ливать </strong>(совершенный вид <strong>засоли́ть</strong>) и <strong>заса́ливать </strong>(совершенный вид <strong>заса́лить</strong>). <strong> </strong>Особый случай составляют,  однако,  глаголы несовершенного вида типа <strong>выта́лкивать,  </strong>которые соотнесены с двумя глаголами совершенного вида (<strong>вы́толкнуть </strong>и <strong>вы́толкать</strong>), <strong> </strong>различающимися между собой по смыслу только противопоставлением  «действие,  совершаемое в один прием,  – действие,  совершаемое в несколько приемов». Глагол типа <strong>выта́лкивать </strong> рассматривается как единое слово (а не как пара омонимов) и при нем даются ссылки одновременно на два глагола совершенного вида (между такими ссылками ставится точка с запятой):
</p>

<blockquote>

    <strong>выта́лкивать </strong> нсв 1а ◑ З (вы́толкнуть); 1 (вы́толкать)

</blockquote>

<p>

    Замечание. Счет омонимов у глаголов,  участвующих в описанных выше сложных видовых соотношениях,  в толковых словарях проведен не вполне последовательно. В настоящем словаре счет омонимов в этих случаях подчинен приведенным здесь правилам (хотя бы это противоречило указаниям толковых словарей).
</p>

<p>

    Указание о том,  каков глагол противоположного вида,  дается в словарной статье в форме специальных символов за знаком ◑,  позволяющих построить по приводимым ниже правилам инфинитив этого глагола. (Возможное наличие омонимов у построенного таким образом глагола при этом никак не отмечается.)
</p>

<p>

    Для упрощения формулировок приводимые ниже правила даются для невозвратных глаголов. Возвратные глаголы отличаются от них только наличием конечного <strong>-ться,  -чься,  -тись </strong>вместо <strong>-ть,  -чь,  -ти.</strong>
</p>

<p>

    Общее правило,  действующее при образовании видов: если в исходном глаголе ударение на <strong>ё</strong>,  а при образовании противоположного вида ударение сдвигается,  это <strong>ё </strong>переходит в <strong>е </strong>(в дальнейшем этот факт больше не оговаривается).
</p>

<h4 id="aspect-imperfect">
    Указания при глаголах совершенного вида (обеспечивающие построение соответствующего глагола несовершенного вида)
</h4>

<p>

    За знаком ◑ даётся римская цифра I,  II или III; при цифре I может стоять,  кроме того,  помета (-ё-),  (-о́-) или (-а́-). Значения этих символов таковы.
</p>

<p class="footnote">
    <sup>1</sup> Термин А. В. Исаченко; см.: А. В. Исаченко,  Грамматический строй русского языка в сопоставлении с словацким. Морфология,  ч. 2,  Братислава,  1960,  стр. 209.
</p>

<h4 id="aspect-I">
    Помета ◑I
</h4>

<p>

    Чтобы получить глагол несовершенного вида<sup>1</sup>,  необходимо:
</p>

<p>

    а) если исходный глагол (совершенного вида) оканчивается на <strong>-ать,  -оть </strong>или <strong>-нуть </strong>(но не <strong>-ьнуть) </strong>– заменить эту<strong> </strong>последовательность на <strong>-ывать </strong>(но <strong>-иватъ </strong>после <strong>к, г,  х </strong>или шипящей);
</p>

<p>

    б) если исходный глагол оканчивается на <strong>-ять </strong>или <strong>-ьнуть </strong>– заменить эти последовательности на <strong>-ивать;</strong>
</p>

<p>

    в) в прочих случаях глагол несовершенного вида образуется от 1 ед. буд. исходного глагола,  а именно: если эта форма оканчивается на <strong>-у </strong>– заменить это окончание на <strong>-ывать </strong>(но <strong>-ивать </strong>после <strong>к,  г,  х </strong>или шипящей); если эта форма оканчивается на <strong>-ю </strong>– заменить его на <strong>-ивать. </strong>
</p>

<p>

    Ударение в глаголе несовершенного вида таково:
</p>

<p>

    а) если исходный глагол начинается с <strong>вы́- </strong>или если он имеет ударение на конечном слоге<sup>2</sup> – ударение переходит на слог,  предшествующий <strong>-ывать (-ивать)</strong>,  т. е. третий от конца; если при этом исходный глагол имеет в индексе помету «ё» (или «о»),
    в глаголе несовершенного вида в ударном слоге вместо ожидаемого <strong>е́</strong> выступает <strong>ё</strong> (или <strong>о́</strong> – соответственно помете);
</p>

<p>

    б) в прочих случаях сохраняется ударение исходного глагола.
</p>

<p>

    Примеры:
</p>

<blockquote>

    <strong>описа́ть </strong> св 6с ◑I – <code>нсв</code> <strong>опи́сывать </strong>
    <br />
    <strong>отде́латься </strong> св 1а ◑I – <code>нсв </code><strong>отде́лываться</strong>
    <br />
    <strong>вспугну́ть </strong> св 3b ◑I – <code>нсв</code> <strong>вспу́гивать </strong>
    <br />
    <strong>вы́менять </strong> св 1а ◑I – <code>нсв</code> <strong>выме́нивать </strong>
    <br />
    <strong>увильну́ть </strong> св нп 3b ◑I – <code>нсв</code> <strong>уви́ливать</strong>
    <br />
    <strong>раскра́сить </strong> св 4а ◑I<strong> </strong>– <code>нсв</code> <strong>раскра́шивать </strong>(ср.  1 ед. буд. св раскрашу)
    <br />
    <strong>наверста́ть </strong> св 1а,  ё ◑I – <code>нсв</code> <strong>навёрстывать </strong>
    <br />
    <strong>разжева́ть </strong> св 2b,  ё ◑I – <code>нсв</code> <strong>разжёвывать </strong>
    <br />
    <strong>облицева́ть </strong> св 2а,  о ◑I – <code>нсв</code> <strong>облицо́вывать</strong>

</blockquote>

<h4>
    Пометы ◑I (-ё-), ◑I (-о́-), ◑I (-а́-)
</h4>

<p>
    ◑I (-ё-),  ◑I (-о́-). Те же правила,  что для ◑I,  со следующим добавлением: в глаголе несовершенного вида в ударном слоге вместо ожидаемого <strong>e&#769;</strong> выступает <strong>ё </strong>(или <strong>о </strong>– соответственно помете). ◑I (-а́-). Те же правила,  что для ◑I,  со следующим добавлением: в глаголе несовершенного вида в ударном слоге вместо ожидаемого <strong>о́ </strong>выступает <strong>а́.</strong>
</p>

<p>
    Примеры:
</p>

<blockquote>

    <strong>вы́чесать </strong> св 6а ◑I(-ё-) – <code>нсв </code><strong>вычёсывать</strong>
    <br />
    <strong>вы́танцевать </strong> св 2а ◑I (-о́-) – <code>нсв</code> <strong>вытанцо́вывать </strong>
    <br />
    <strong>вскопа́ть </strong> св 1а ◑I(-а́-) – <code>нсв</code> <strong>вска́пывать </strong>
    <br />
    <strong>расколо́ть </strong> св 10с ◑I(-а́-) – <code>нсв </code><strong>раска́лывать</strong>
    <br />
    <strong>заморо́зить </strong> св 4а ◑I(-а́-)<strong> </strong>– <code>нсв</code> <strong>замора́живать </strong>(<code>ср.  1 ед. буд. св</code> заморо́жу<strong>)</strong>

</blockquote>

<h4 id="aspect-II">
    <strong>Помета ◑II</strong>
</h4>

<p>
    Чтобы получить глагол несовершенного вида:
</p>
<p>
    а) если исходный глагол (совершенного вида) оканчивается на <strong>-ать </strong>– в буквенном составе ничего не меняется;
</p>
<p>
    б) если исходный глагол оканчивается на <strong>-нуть </strong>– заменить эту последовательность на <strong>-ать;</strong>
</p>
<p>
    в) в прочих случаях глагол несовершенного вида образуется от 1 ед. буд. исходного глагола,  а именно: если эта форма оканчивается на <strong>-у </strong>– заменить это окончание на <strong>-ать</strong>; если эта форма оканчивается на <strong>-ю </strong>– заменить его на <strong>-ять</strong>.
</p>
<p>
    Ударение в глаголе несовершенного вида – всегда на конечном <strong>-ать (-ять).</strong>
</p>
<p>
    Примеры:
</p>

<blockquote>

    <strong>разре́зать </strong> св 6а ◑II<strong> </strong>– <code>нсв</code> <strong>разреза́ть</strong>

    <br />
    <strong>привы́кнуть </strong> св нп 3&deg;а ◑II – <code>нсв </code><strong>привыка́ть</strong>
    <br />
    <strong>укра́сить </strong> св 4а ◑II<strong> </strong>– <code>нсв</code> <strong>украша́ть </strong>(<code>ср.  1 ед. буд. св</code> укра́шу)
    <br />
    <strong>вы́прямить </strong> св 4а ◑II – <code>нсв</code> <strong>выпрямля́ть </strong>(<code>ср.  1 ед. буд. св</code> <strong>вы́прямлю)</strong>
    <br />
    <strong>соблюсти́ </strong> св 7b/b (-д-) &lt;span class=&rdquo;circle&rdquo;&gt;9&lt;/span&gt; ◑II – <code>нсв</code> <strong>соблюда́ть </strong>(<code>ср.  1 ед. буд. св </code> <strong>соблюду́)</strong>
    <br />
    <strong>развле́чься </strong> св 8b/b (-к-),  ё ◑II<strong> </strong>– <code>нсв</code> <strong>развлека́ться </strong>(<code>ср.  1 ед. буд. св </code>развлеку́сь)

</blockquote>

<h4 id="aspect-III">
    Помета ◑III
</h4>

<p>
    Чтобы получить глагол несовершенного вида, необходимо:
</p>
<p>
    а) если исходный глагол оканчивается на <strong>-нуть </strong>– заменить это <strong>-нуть </strong>на <strong>-вать;</strong>
</p>
<p>
    б) в прочих случаях заменить <strong>-ть </strong>на <strong>-вать.</strong>
</p>
<p>
    Ударение в глаголе несовершенного вида – всегда на конечном <strong>-вать.</strong>
</p>
<p>
    Примеры:
</p>

<blockquote>

    <strong>заболе́ть </strong> св нп 1а ◑III<strong> </strong>– <code>нсв</code> <strong>заболева́ть </strong>
    <br />
    <strong>уби́ть </strong> св 11b ◑III<strong> </strong>– <code>нсв </code><strong>убива́ть </strong>
    <br />
    <strong>вду́нуть </strong> св За ◑III – <code>нсв</code> <strong>вдува́ть</strong>

</blockquote>

<p class="footnote">
    <sup>1</sup>Здесь и в последующих пунктах имеется в виду: в исходной форме,  т. е. в инфинитиве. Предполагается,  что эта форма вначале строится без указания ударения,  т. е. просто как буквенная последовательность; соответственно,  правила об ударении даются затем отдельно.
</p>
<p class="footnote">
    <sup>2</sup> Конечное <strong>-ся</strong>,  если оно есть,  при этом не учитывается.
</p>
<p>
    В случае,  если глагол несовершенного вида хоть в чем-нибудь отклоняется от приведенных правил,  он приводится за знаком ◑ целиком. При менее существенных отклонениях римская цифра сохраняется (в качестве общего указания на тип образования несовершенного вида),  а глагол несовершенного вида ставится в скобках. В особых случаях,  где нет сходства ни с одним из трех основных типов образования несовершенного вида,  римская цифра отсутствует.
</p>
<p>
    Примеры:
</p>

<blockquote>
    <strong>захвати́ть </strong> св 4с ◑I(захватывать) – <code>вместо ожидаемого</code> *захва́чивать
    <br />
    <strong>проруби́ть </strong> св 4с ◑II (прорубать) – <code>вместо ожидаемого</code> *прорубля́ть
    <br />
    <strong>натере́ть </strong> св 9b,  ё ◑II(натирать) – <code>вместо ожидаемого</code> *натра́ть
    <br />
    <strong>зате́ять </strong> св 6а ◑III(затевать) – <code>вместо ожидаемого</code> *затеява́ть
    <br />
    <strong>привезти́ </strong> св 7b/b⑨,  ё ◑III<strong> </strong>привози́ть

</blockquote>

<h4 id="aspect-perfect">
    Указания при глаголах несовершенного вида (обеспечивающие построение соответствующего глагола совершенного вида)
</h4>

<p>
    Правило о приставке <word-end>вы-</word-end>, действующее при построении глаголов совершенного вида:
    если глагол несовершенного вида начинается с <word-end>вы-</word-end>,
    то в соответствующем глаголе совершенного вида ударение падает на это <word-end>вы-</word-end>,
    независимо от того, чего требуют все остальные правила об ударении.
</p>

<p>
    За знаком ◑ дается арабская цифра от 1 до 16 (которая показывает тип спряжения искомого глагола совершенного вида); за цифрой может быть дана помета (-о́-),  (-о-) или (-ё-),  показывающая корневую гласную глагола совершенного вида,  или выписана конечная часть этого глагола,  например: (-а́ть),  (-миться),  (-ости́ть).
</p>

<p>
    В случае,  если за знаком ◑ стоит только цифра (без дополнительных указаний),
    глагол совершенного вида строится от глагола несовершенного вида по приводимой ниже таблице.
    Знак →  в этой таблице означает «заменить на».
    Место ударения в глаголе совершенного вида указывается так:
    1) если выписанный конечный элемент имеет знак ударения,
    ударение всегда находится на указанном таким образом месте;
    2) если перед выписанным конечным элементом дан знак ▬́,
    ударение падает на предшествующий этому элементу слог;
    3) если дана помета «ударение сохраняется»,
    ударение на том же слоге (по счету от начала),
    что в глаголе несовершенного вида.
    (О глаголах с начальным <strong>вы-</strong> см. выше.)
</p>
<h4>

    Таблица построения глаголов совершенного вида
</h4>

<table border="1">

    <tr>
        <td rowspan="2">
            Помета в словарной статье
        </td>
        <td colspan="3">
            Заглавное слово словарной статьи (т. е. глагол несовершенного вида) оканчивается:
        </td>
    </tr>
    <tr>
        <td>
            на безударное <strong>-ывать</strong> или <strong>-ивать</strong> (т. е. образовано по типу I)
        </td>
        <td>
            на <strong>-а́ть</strong> (но не <strong>-ва́ть</strong>) или на <strong>-я́ть</strong> (т.е. образовано по типу II)
        </td>
        <td>
            на <strong>-ва́ть</strong> (т. е. образовано по типу III)
        </td>
    </tr>
    <tr>
        <td>
            <strong>◑1, ◑5</strong> или <strong>◑6</strong>
        </td>
        <td>
            <strong>-ывать →  -ать</strong>
            <br />
            <strong>-ивать</strong> (после шипящей, к, г или х) →  <strong>-ать</strong>
            <br />
            <strong>-ивать</strong> (в прочих случаях) →  <strong>-ять</strong> (ударение сохраняется)
        </td>

        <td>

            <strong>-а́ть →  ▬́ -ать</strong>

        </td>

        <td>

            <strong>-ва́ть → ▬́ -ть</strong>

        </td>

    </tr>

    <tr>

        <td>

            <strong>◑2</strong>

        </td>

        <td>
            <strong>-о́вывать</strong> (но не <strong>-цо́вывать) →  -ова́ть</strong>
            <br />
            <strong>-цо́вывать → -цева́ть</strong>
            <br />
            <strong>-ёвывать → -ева́ть</strong>
        </td>
        <td>
            —
        </td>
        <td>
            —
        </td>
    </tr>
    <tr>
        <td>
            <strong>◑3</strong>
        </td>
        <td>
            <strong>-ывать → -нуть</strong>
            <br />
            <strong> -ивать → -нуть</strong>
            <br />
            (ударение сохраняется)
        </td>
        <td>
            <strong>-а́ть </strong> → <strong>▬́ -нуть</strong>
        </td>
        <td>
            <strong>-ва́ть → ▬́ -нуть</strong>
        </td>
    </tr>
    <tr>
        <td>
            <strong>◑4</strong>
        </td>
        <td>
            <strong>-ывать → - ить</strong>
            <br />
            <strong>- ивать → - ить</strong>
            <br />
            (ударение сохраняется)
        </td>
        <td>
            <strong>-а́ть ▬́ - ить</strong>
            <br />
            <strong>-я́ть ▬́ - ить</strong>
        </td>

        <td>
            —
        </td>
    </tr>
    <tr>
        <td>
            <strong>◑7</strong>
        </td>
        <td>
            <strong>-зывать→ -зть </strong>
            <br />
            <strong>-тывать → -сть</strong>
            <br />
            <strong>-сывать → -сть</strong>
            <br />
            <strong>-бывать → -сть</strong>
            <br />
            (ударение сохраняется)
        </td>
        <td>
            <strong>-за́ть→ -зть</strong>
            <br />
            <strong>-та́ть → ▬́ - сть</strong>
            <br />
            <strong>-да́ть → ▬́ - сть</strong>
            <br />
            <strong>-са́ть → ▬́ - сть</strong>
            <br />
            <strong>-ба́ть → ▬́ - сть</strong>
        </td>
        <td>
            —
        </td>
    </tr>
    <tr>
        <td>
            <strong>◑8</strong>
        </td>
        <td>
            <strong>-кивать → -чь</strong>
            <br />
            <strong>-гивать → -чь</strong>
            <br />
            (ударение сохраняется)
        </td>
        <td>
            <strong>-ка́ть → -чь</strong>
            <br />
            <strong>-га́ть → -чь</strong>
        </td>
        <td>
            —
        </td>
    </tr>
    <tr>
        <td>
            <strong>◑9</strong>
        </td>
        <td>
            —
        </td>
        <td>
            <strong>-ира́ть → -ерéть</strong>
        </td>
        <td>
            —
        </td>
    </tr>
    <tr>
        <td>
            <strong>◑10</strong>
        </td>
        <td>
            <strong>-а́лывать → -оло́ть </strong>
            <br />
            <strong>-а́рывать→ -оро́ть </strong>
        </td>
        <td>
            —
        </td>
        <td>
            —
        </td>
    </tr>
    <tr>
        <td>
            <strong>◑14</strong>
        </td>
        <td>
            —
        </td>
        <td>
            <strong>-има́ть → я́ть</strong>
            <br />
            <strong>-ина́ть → я́ть</strong>
            <br />
            (но <strong>-а́ть</strong> после шипящей)
        </td>
        <td>
            —
        </td>
    </tr>
    <tr>
        <td>
            <strong>◑11,  ◑12,  ◑13,  ◑15 или 16</strong>
        </td>
        <td>
            —
        </td>
        <td>
            —
        </td>
        <td>
            <strong>-ва́ть → ▬́ ть</strong>
        </td>
    </tr>
</table>

<p>

    Примеры:
</p>

<blockquote>

    <strong>обню́хивать </strong> нсв 1а ◑<strong>1 – св обню́хать </strong>
    <br />
    <strong>одолева́ть нсв </strong> 1а<strong> </strong>◑1<strong> – св одоле́ть </strong>
    <br />
    <strong>выде́рживать нсв </strong> 1а<strong> </strong>◑5<strong> – св вы́держать </strong>
    <br />
    <strong>вычёсывать </strong> нсв 1а ◑6<strong> – св вы́чесать </strong>
    <br />
    <strong>разреза́ть нсв </strong> 1а ◑6<strong> – св разре́зать </strong>
    <br />
    <strong>разжёвывать нсв </strong> 1а ◑2<strong> – св разжева́ть </strong>
    <br />
    <strong>подпры́гивать нсв нп </strong> 1а<strong> </strong>◑3<strong> – св подпры́гнуть </strong>
    <br />
    <strong>привыка́ть нсв нп </strong> 1а<strong> </strong>◑3<strong> – св привы́кнуть </strong>
    <br />
    <strong>уси́ливаться нсв </strong> 1а ◑4<strong> – св</strong> <strong>уси́литься </strong>
    <br />
    <strong>утеша́ть нсв </strong> 1а ◑4<strong> – св уте́шить </strong>
    <br />
    <strong>закра́дываться нсв </strong> 1а ◑7<strong> – св закра́сться </strong>
    <br />
    <strong>пролеза́ть нсв нп </strong> 1а ◑7<strong> – св проле́зть </strong>
    <br />
    <strong>развлека́ться нсв </strong> 1а ◑8<strong> – св развле́чься </strong>
    <br />
    <strong>натира́ть нсв </strong> 1а ◑9<strong> – св натере́ть </strong>
    <br />
    <strong>раска́лывать нсв </strong> 1а ◑10 <strong>– св расколо́ть </strong>
    <br />
    <strong>снима́ть нсв </strong> 1а ◑14<strong> – св снять </strong>
    <br />
    <strong>убива́ть нсв </strong> 1а ◑11<strong> – св уби́ть</strong>

</blockquote>

<p>

    В случае,  если при цифре,  стоящей за знаком ◑,  имеются дополнительные указания,  необходимо внести в результат,  полученный по таблице,  определенные поправки. Эти поправки таковы (приводимые правила сформулированы для невозвратных глаголов; возвратные глаголы отличаются от них наличием конечного <strong>-ся </strong>или <strong>сь).</strong>
</p>

<p>

    Если после цифры стоит помета (-о́-),  (-о-) или (-ё-),  то в глаголе совершенного вида в слоге,  предшествующем конечным <strong>-ать,  -ять,  -еть,  -ить,  -нуть </strong>или <strong>-чь </strong>вместо ожидаемых <strong>а́,  а </strong>или <strong>e</strong><strong>́ </strong> выступает <strong>о́,  о </strong>или <strong>ё </strong>(соответственно помете). Примеры:
</p>

<blockquote>

    <strong>зараба́тывать </strong> нсв 1а ◑1 (-о́-)<strong> – св зарабо́тать </strong>
    <br />
    <strong>вздра́гивать </strong> нсв нп 1а ◑3(-ó-) <strong>– св вздро́гнуть </strong>
    <br />
    <strong>выстра́иваться </strong> нсв 1а ◑4(-о́-)<strong> – св вы́строиться</strong>
    <br />
    <strong>замерза́ть </strong> нсв нп 1а ◑3(-ё-)<strong> – св замёрзнуть</strong>

</blockquote>

<p>

    Если после цифры стоит помета (-а́ть),  (-я́ть),  (-и́ть) или (-ну́ть),  это значит,  что глагол совершенного вида имеет,  вопреки таблице,  указанное положение ударения. Примеры:
</p>

<blockquote>

    <strong><sup>1-2</sup></strong> <strong>навёрстывать </strong> нсв 1а ◑1 (-а́ть) – св <strong>наверста́ть </strong>
    <br />
    <strong>вспу́гивать </strong> нсв 1а ◑3(-ну́ть) – св <strong>вспугну́ть </strong>
    <br />
    <strong>огорча́ться </strong> нсв 1а ◑4(-и́ться) – св <strong>огорчи́ться </strong>
    <br />
    <strong>осме́ивать </strong> нсв 1а ◑6(-я́ть) – св <strong>осмея́ть</strong>

</blockquote>

<p>
    Все прочие пометы означают,  что конечная часть глагола совершенного вида не такова,  как ожидается в соответствии с таблицей. Чтобы получить глагол совершенного вида,  в этом случае нужно вначале построить форму,  предписываемую таблицей,  а затем заменить ее конечную часть<sup>1</sup> той записью,  которая приведена в скобках. При этом,  если запись в скобках имеет знак ударения,  то тем самым указывается место ударения в глаголе совершенного вида; если знака ударения нет,
    то ударение ставится в соответствии с таблицей (и правилом о <word-end>вы-</word-end>). Примеры:
</p>

<blockquote>

    <strong>выкипа́ть </strong> нсв нп 1а ◑5(-еть ) – св <strong>вы́кипеть</strong>
    <br />
    <strong>загора́ться </strong> нсв 1а ◑5(-е́ться) – св <strong>загоре́ться </strong>
    <br />
    <strong>выцвета́ть </strong> нсв нп 1а ◑7(-сти ) <strong>– </strong>св <strong>вы́цвести </strong>
    <br />
    <strong>вполза́ть </strong> нсв ни 1а ◑7(-зти́) <strong>– </strong>св <strong>вползти́ </strong>
    <br />
    <strong>скра́шивать </strong> нсв 1а ◑4(-сить) <strong>– </strong>св <strong>скра́сить </strong>
    <br />
    <strong>обижа́ться </strong> нсв 1а ◑5(-деться ) – св <strong>оби́деться </strong>
    <br />
    <strong>распрямля́ть </strong> нсв 1а ◑4(-ми́ть) <strong>– </strong>св <strong>распрями́ть </strong>
    <br />
    <strong>подтвержда́ть </strong> нсв 1а ◑4(-рди́ть)<sup>2</sup><strong>– </strong>св <strong>подтверди́ть </strong>
    <br />
    <strong>перемеща́ть </strong> нсв 1а ◑4(-сти́ть) <strong>– </strong>св <strong>перемести́ть </strong>
    <br />
    <strong>нама́тывать </strong> нсв 1а ◑1(-ота́ть) <strong>– </strong>св <strong>намота́ть </strong>
    <br />
    <strong>подма́ргивать </strong> нсв нп 1а ◑З(-оргну́ть) <strong>– </strong>св <strong>подморгну́ть</strong>
    <br />
    <strong>замора́живать </strong> нсв 1а ◑4(-о́зить) <strong>– </strong>св <strong>заморо́зить</strong>
    <br />
    <strong>рассма́тривать </strong> нсв 1а ◑5(-отре́ть) <strong>– </strong>св <strong>рассмотре́ть</strong>

</blockquote>

<p>

    Там,  где для построения глагола совершенного вида недостаточно указать его конечную часть,  он приводится целиком,  например:
</p>

<blockquote>

    <strong>собира́ть </strong> нсв 1а ◑6(собра́ть)
    <br />
    <strong>затева́ть </strong> нсв 1а ◑б(зате́ять)
    <br />
    <strong>привози́ть </strong> нсв 4с ◑ привезти́
    <br />

</blockquote>

<p>

    Если глагол совершенного вида не принадлежит ни к одному из 16-ти типов спряжения (т. е. входит в число изолированных),  он приводится непосредственно за знаком ◑,  например:
</p>

<blockquote>

    <strong>забыва́ть </strong> нсв 1а ◑<strong> </strong>забы́ть

</blockquote>

<p>

    Выписанная в скобках конечная часть глагола может быть заменена полной записью глагола,  если до полной записи недостает всего двух или трех букв,  например:
</p>

<blockquote>

    <strong>ока́пываться </strong> нсв 1а ◑1 (окопа́ться) – <code>вместо</code>: ◑1(-опа́ться)
</blockquote>

<p>

    Такая замена возможна также в тех случаях,  где глагол противоположного вида используется как средство различения омонимов. Если глагол противоположного вида дан в скобках курсивом (т. е. так же,  как указания значения),  это означает,  что он приведен т о л ь к о с целью различения омонимов,  а сам по себе никаких морфологических особенностей не имеет (см. об этом также стр. 14).
</p>
<p class="footnote">

    <sup>1</sup> Длина этой конечной части,  подлежащей отбрасыванию,  определяется следующими формальными правилами: 1) при пометах (-бить),  (-пить),  (-вить),  (-фить),  (-мить) [со знаком ударения или без него] или при более длинных пометах,  которые так оканчиваются,  например,  (-опить),  (-олбить) – отбрасывается на одну букву больше,  чем добавляется; 2) то же верно при любых пометах в случае,  если глагол несовершенного вида оканчивается на <strong>-жда́ть; </strong>3) при пометах (-стить),  (-остить) [со знаком ударения или без него] – отбрасывается на одну букву меньше,  чем добавляется; 4) в остальных случаях отбрасывается столько же букв,  сколько добавляется.
</p>

<p class="footnote">

    <sup>2</sup> Для большей ясности при глаголах на <strong>-жда́ть </strong>(например,  <strong>подтвержда́ть,  насажда́ть,  убеждат́ь) </strong>дается запись типа (-рди́ть),  (ади́ть),  (-еди́ть),  а не просто (-ди́ть).
</p>


<h4>

    <strong>ДОПОЛНИТЕЛЬНЫЕ ОСОБЕННОСТИ В СПРЯЖЕНИИ</strong>
</h4>

<h4>

    <strong><code>(у слов с пометами § 13 – § 18)</code></strong>
</h4>

<p id="para13">
    <strong>§ 13. </strong> Образец: <strong>маха́ть </strong>нсв нп,  6с// 1а,  <span class="cross" />,  § 13. Входящие в эту группу глаголы колеблются между типами спряжения 6 и 1. При этом в повел. и деепр. наст.  формы типа 6 <code>(маши́,  маши́те,  маша́)</code> и типа 1 <code>(маха́й,  маха́йте,  маха́я)</code> с нормативной точки зрения равноправны. Для личных форм наст.  (буд.) времени и прич. наст.  предпочтителен тип 6 <code>(машу́,  ма́шет,  ма́шущий); </code>тип 1 <code>(маха́ю,  маха́ет,  маха́ющий)</code> характерен здесь для разговорной речи. В прочих формах <code>(маха́л,  маха́вший</code> и т. д.) типы 6 и 1 совпадают.
</p>

<p id="para14">
    <strong>§ 14. </strong> Образцы: <strong>колыха́ть </strong>нсв,  6а// 1а,  <span class="cross" />,  § 14; <strong>ка́пать </strong><code>(падать каплями)</code> нсв нп,  1а//6а,  § 14. Входящие в эту группу глаголы также колеблются между типами 6 и 1,  но здесь формы типа 1 играют более значительную роль,  чем у глаголов с отсылкой к § 13. Повел. и деепр. наст.  в современном языке образуются как правило по типу 1 <code>(колыха́й,  колыха́йте,  колыха́я; капа́й,  капа́йте,  капа́я);</code> формы типа 6 <code>(колы́шь,  колы́шьте,  колы́ша; ка́пли,  ка́плите,  ка́пля)</code> устарели<sup>3</sup>. Для личных форм наст.  (буд.) времени и прич. наст.  возможен как тип 6 <code>(колы́шу,  колы́шет,  колы́шущий; ка́плю,  ка́плет,  ка́плющий</code>),  так и тип 1 (<code>колыха́ю,  колыха́ет,  колыха́ющий; ка́паю,  ка́пает,  ка́пающий</code> ); незначительное предпочтение отдается здесь тому из этих типов,  который в словарной статье указан первым. В прочих формах <code>(колыха́л,  колыха́вший,  ка́пал,  ка́павший</code> и т. д.) типы 1 и 6 совпадают.
</p>

<p class="footnote">

    <sup>3</sup> Относительно менее устарело деепр. <code>рыща́;</code> оно практически равноправно с <code>ры́ская</code>.
</p>

<p id="para15">
    <strong>§ 15.</strong> Образец: <strong>стели́ть </strong>нсв 4с,  § 15 <strong>[</strong>//<strong> стлать]. </strong>
    Ссылка на настоящий параграф дана при глаголе <strong>стели́ть</strong> и производных от него;
    эти глаголы выступают как варианты к глаголу <strong>стлать</strong> (наст. <code>стелю́,  сте́лет)</code> и его производным.
    Особенность здесь в том, что ради унификации орфографии признается допустимым только наст. (буд.) типа
    <code>стелю́, сте́лет</code> (т. е. формы от <strong>стлать</strong>) и недопустимым наст. (буд.) типа <code>стелю́, сте́лит</code>
    (т. е. формы от <strong>стели́ть</strong>). Таким образом, допустимые формы, например, для пары
    <strong>стлать </strong>&mdash;<strong>стели́ть </strong>таковы:
    инф. <code>стлать <strong>// </strong>стели́ть</code>;
    наст.  <code>стелю́,  сте́лешь,  сте́лет,  сте́лем,  сте́лете,  сте́лют;</code>
    повел. <code>стели́</code>;
    прич. наст. <code>сте́лющий<strong>;</strong></code> деепр. наст.  <code>стеля́</code>;
    прич. страд. наст. <code>стели́мый</code>;
    прош. <code>стлал, </code> -<code>а</code> [//<code>стели́л, </code><strong> </strong>-а];
    прич. прош.<code>стл́авший </code>// <code>стели́вший.</code>
    Характерные формы совершенного вида, например, для пары <strong>постла́ть </strong>&mdash;<strong>постели́ть: </strong>
    деепр. прош. <code>стла́в(ши) </code>// <code>стели́в(ши);</code>
    прич. страд. <code>по́стланный <strong>//</strong>посте́ленный.</code>
</p>

<p id="para16">
    <strong>§16. </strong>Образец: <strong>му́чить </strong>нсв 4а | <code>наст.  также</code><strong> </strong>мучаю,  -ет,  § 16]. Ссылка на настоящий параграф дана при глаголах <strong>му́чить,  ме́рить </strong>и производных от них,  например,  <strong>заму́чить,  наме́рить. </strong>Особенность здесь в том,  что фактически имеются глаголы- варианты типа <strong>му́чить </strong>нсв 4а и типа * <strong>му́чать </strong>нсв 1а,  однако ради унификации орфографии от глаголов второго типа признаются допустимыми только те формы,  которые фонетически отличны от соответствующих форм глаголов первого типа,  а именно,  формы наст.  (буд.) времени. Таким образом,  допустимые формы для приведенного образца таковы: инф. <code>му́чить</code>; наст. <code>му́чу,  -ишь,  <strong>-</strong>ит, </code><strong> </strong>-<code>им</code><strong>,  </strong><code>-ите,  -ат </code>[// <code>му́чаю,  -ешь,  -ет,  -ем,  -ете,  -ют];</code><strong> </strong>повел. <code>мучь </code>//<strong><code> </code></strong><code>му́чай;</code><strong> </strong>деепр. наст.  <code>му́ча </code>//<strong><code> </code></strong><code>му́чая;</code><strong> </strong>прич. страд. наст.  <code>му́чимый </code>// <code>му́чаемый</code>; прош.<code>му́чил,  -а;</code><strong> </strong>прич. прош. <code>му́чивший.</code><strong> </strong>Характерные формы совершенного вида (для глагола <strong>заму́чить): </strong>деепр. прош. <code>заму́чив(ши);</code><strong> </strong>прич. страд. <code>заму́ченный.</code>
</p>

<p id="para17">
    <strong>§ 17. </strong> Образец: <strong>объять </strong>св 14с,  <code>буд. нет</code>,  § 17. Глаголы на <strong>-ять </strong>типа 14,  входящие в эту группу,  носят литературно-книжный характер и используются для создания возвышенного или архаизирующего стилистического эффекта. Особенность этих глаголов состоит в том,  что они входят в видовые пары,  оба члена которых образуют неполную парадигму. В совершенном виде имеются только формы прош. времени (включая неличные). В несовершенном виде,  напротив,  имеются только формы наст. времени (включая неличные); прочие формы,  в том числе инфинитив,  отсутствуют. (В связи с этим в настоящем словаре такие глаголы несовершенного вида самостоятельных статей не образуют.) Наст. время несовершенного вида образуется от инфинитива совершенного вида заменой конечного <strong>-ять </strong>на <strong>-е́млю,  -е́млет,  </strong>например,  <code>объе́млю,  объе́млет</code><strong> </strong>(ср. <code>объя́ть</code>); <code>прие́млю,  прие́млет</code><strong> </strong>(ср.  <code>прия́ть<strong>); </strong>вне́млю,  вне́млет</code><strong> </strong>(ср. <code>внять).</code><strong> </strong>Приводим все формы обоих видов,  образуемые от данного выше образца. Совершенный вид – инф. <code>объя́ть;</code><strong> </strong>буд. нет; прош. <code>объя́л,  -а;</code><strong> </strong>прич. прош. <code>объя́вший;</code><strong> </strong>деепр. прош. <code>объя́в(ши);</code><strong> </strong>прич. страд.<code>объя́тый.</code><strong> </strong>Несовершенный вид – инф. нет; наст. <code>объе́млю,  -ешь,  -ет,  -ем,  -ете,  -ют;</code><strong> </strong>повел.<code>объе́мли;</code><strong> </strong>прич. наст. <code>объе́млющий;</code><strong> </strong>деепр. наст.  <code>объе́мля;</code> <strong> </strong>прич. страд.наст. <code>объе́млемый;</code><strong> </strong>прочих форм нет.
</p>

<p>

    Глагол <strong>внять</strong> отличается от образца <strong>объя́ть</strong>
    (не считая разницы ударения в прош.) тем, что
    в несовершенном виде ему соответствует глагол <strong>внима́ть</strong>, имеющий полную парадигму:
    инф. <code>внима́ть;</code><strong> </strong>наст.  <code>внима́ю, </code> <strong> </strong>-<code>ет [</code>//<code>вне́млю,  -ет];</code><strong> </strong>повел. <code>внима́й //вне́мли́</code><strong> </strong>(обратить внимание на двоякое ударение); прич. наст.  <code>внима́ющий // вне́млющий;</code><strong> </strong>деепр. наст.  <code>внима&#769;я // вне́&#769;мля; </code>прочие формы по типу 1а.
</p>

<p>

    Примечание. В словарях при глаголах данной группы обычно приводятся формы буд. времени типа <code>обойму́,  -ёт </code>и (или) <code>обыму́,  обы́мет;</code> <strong> </strong>в то же время формы несовершенного вида <code>объе́млю,  -ет</code><strong> </strong>отнесены к глаголу <strong>обнима́ть </strong>(как варианты к <code>обнима́ю,  -ет).</code><strong> </strong>Во всех этих случаях нарушается принцип стилистического единства всех форм парадигмы: формы <code>обойму́,  -ёт</code><strong> </strong>и <code>обыму́,  обы́мет</code><strong> </strong>нелитературны; формы типа <code>обнима́ть</code><strong> </strong> стилистически нейтральны; тем самым все они стилистически отличны от форм типа <code>объя́ть</code><strong> </strong>и <code>объе́млю.</code><strong> </strong> Единственное исключение составляет здесь глагол <strong>внима́ть,  </strong>у которого инфинитив стилистически равен формам наст.  времени (см. о нем выше).
</p>

<p id="para18">

    <strong>§ 18. </strong> Образцы: <strong>зае́хать </strong>св нп Δа: <code>буд.</code><strong> </strong>зае́ду,  -ет; <code>повел. нет</code>,  § 18; <code>прош.</code><strong> </strong> зае́хал,  -а ◑ заезжа́ть; <strong>се́сть </strong>св нп 7а (-д-) Δ <code>буд.</code><strong> </strong>ся́ду,  -ет,  <code>повел<strong>.</strong></code> сядь,  § 18 ◑ <strong> </strong>сади́ться. Ссылка на настоящий параграф означает,  что у данного глагола совершенного вида в функции повел. может употребляться соответствующая форма несовершенного вида: <code>заезжа́й,  сади́сь.</code><strong> </strong>Помета  «повел. нет» (см. образец <strong>зае́хать) </strong> означает,  что указанный способ выражения повел. является единственно возможным: можно сказать только <code>заезжа́й</code>,  но не <code>*зае́дь.</code><strong> </strong>При отсутствии такой пометы (см. образец <strong>сесть) </strong>возможны обе формы повел.: <code>сади́сь</code><strong> </strong>и <code>сядь; </code>однако их употребление не соответствует обычным правилам распределения видов в повел. наклонении. Эти обычные правила таковы<sup>1</sup>: 1) для выражения многократного или непрерывного действия используется несовершенный вид (<code>переходи́те у́лицы осторо́жно</code>; <code>остава́йся сами́м собо́ю);</code><strong> </strong>2) для выражения однократного действия,  когда говорящий заинтересован не только в результате,  но и в самом протекании действия,  используется несовершенный вид (<code>ме́дленно повора́чивай го́лову впра́во</code>; <code>тепе́рь сходи́тесь);</code><strong> </strong> 3) для выражения однократного действия,  когда говорящий заинтересован только в его результате,  могут использоваться оба вида; при этом,  однако,  употребление совершенного вида создает эффект нейтрального или вежливого обращения (<code>подпиши́сь<strong>; </strong>возьми́те кни́гу; отойди́ в сто́рону</code>),
    а употребление несовершенного вида – эффект грубого обращения
    (<code>подпи́сывайся<strong>; </strong>бери́те свою́ кни́гу; отходи́ в сто́рону</code>).
    Особенность глаголов,  имеющих ссылку на настоящий параграф,  состоит в том,  что у них в 3-м случае повел. несовершенного вида (например,  <code>сади́сь,  ложи́сь,  приходи́)</code><strong> </strong>не дает эффекта грубого обращения; здесь оно,  напротив,  выражает несколько менее категорическое и тем самым более вежливое указание,  чем повел. совершенного вида <code>(сядь,  ляг,  приди́).</code>
</p>



<p class="footnote">

    <sup>1</sup> Правила приводятся в упрощенном виде и только для случая, когда при повел. нет отрицания.
</p>

