:root {
    --search-bar-height: 30px;
    --search-bar-margin: 8px;
    --page-margin: 16px;
    --search-bar-total-height: calc(var(--search-bar-height) + var(--search-bar-margin) + var(--page-margin));
    
    --body-padding: 8px;
}

body {
    font-family: serif;
    line-height: 140%;
    text-align: center;
    background-image: url(../background.jpeg);
}

.page {
    text-align: center;
    max-width: 962px;
    width: 100%;
    display: inline-block;
    background-image: url(../page.jpg);
    margin-top: var(--search-bar-total-height);
}

.body-content {
    color: #444444;
    padding-top: 25px;
    padding-left: var(--body-padding);
    padding-right: var(--body-padding);
    max-width: 50em;
    text-align: justify;
    display: inline-block;
    overflow-x: visible;
    margin-bottom: 50px;
    width: 100%;
}

@media (max-width: 50em) {
    .body-content {
        max-width: calc(100% - var(--body-padding) * 2);
    }
}

.page a {
    color: #303e00;
    text-decoration: none;
}

.page a:visited {
    color: #858e4e;
}

.page a:hover {
    text-decoration: underline;
}

@media (max-width: 500px) {
    img#cover {
        display: block;
        margin: 0 auto;
        padding-bottom: 1em;
    }
}

@media (min-width: 501px) {
    img#cover {
        float: left;
        margin-right: 1.5em;
        margin-bottom: 2em;
    }
}

.abstract {
    line-height: 120%;
}

.nowrap {
    white-space: nowrap;
}

h1 {
    line-height: 130%;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

table.left-aligned tr td, 
table.noborder tr td,
table.noborder tr th {
    border-style: none;
}

table tr th {
    text-align: center;
}

table tr th,
table tr td {
    border-style: solid;
    border-width: 1.5px;
    border-color: black;
    text-indent: 0;
}

table tr td {
    text-indent: 0;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

table tr th {
    padding: 0.5em;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    border-collapse: collapse;
    overflow-x: auto;
    display: block;
}

table > tbody {
    display: table;
    margin: 0 auto;
}

table.left-aligned > tbody {
    margin: unset;
}

em {
    letter-spacing: 0.3em;
    font-style: normal;
}

p {
    text-align: justify;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-indent: 2em;
}

code, word-end {
    font-family: Times;
    font-style: italic;
}

word-end {
    white-space: nowrap;
}

code em, .emphasis {
    font-style: italic;
}

#author {
    text-align: center;
    font-weight: bold;
    font-size: 140%;
    padding-top: 2em;
    font-style: italic;
}

hr {
    width: 10%;
    margin-top: 1em;
    margin-bottom: 1em;
}

h1 {
    -webkit-margin-before: 0.3em;
}

.boxed-cross:before
{
    content: "⌧"
}
.cross:before
{
    content: "✕"
}

table.left-aligned tr td {
    text-align: left;
    vertical-align: top;
}

table.left-aligned {
    margin-left: 2em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

table.left-aligned tr td:nth-child(1) {
    padding-left: 0;
    font-weight: bold;
    min-width: 6em;
}

table.left-aligned tr td:nth-last-child(1) {
    padding-right: 0;
}

.letter {
    font-weight: bold;
}

.signature {
    text-align: right;
    margin-right: 20%;
    margin-top: 2em;
    margin-bottom: 2em;
    font-style: italic;
}

ul#contents {
    text-align: left;
}

@media (max-width: 500px) {
    ul#contents {
        padding-left: 1.2em;
    }

    ul#contents ul {
        padding-left: 1.2em;
    }
}

.footnote {
    font-size: smaller;
}

.entry {
    margin-left: 4em;
    text-indent: 0;
}

.row .column {
    float: left;
    width: 50%;
    height: auto; 
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.tr1 {
    border-right: solid 1px #000000;
    border-collapse: collapse;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
    .tr1 {
        border-right: solid 0px #000000 !important;
    }
}

.column1 {
    float: left;
    width: 100%;
    height: auto;
}

.row .column table tr td {
    text-align: left !important;
    padding-right: 15px !important; 
}

.row .column table {
    border-collapse: collapse;
    text-align: left;
}

.drob {
    vertical-align: middle;
    display: inline-block;
}

.drob div:first-child {
    border-bottom: solid 1px; 
}

.drob div {
    text-align: center;
}

.big-slash {
    vertical-align: middle;
    display: table-cell;
    font-size: 200%
}

.column table td {
    border: none;
}

table .left-aligned td {
    border: none;
}

#search-react-root {
    margin: -8px -8px 0 -8px;
}

#search-react-root > .page {
    margin-left: 8px;
    margin-right: 8px;
}

.search-bar {
    background-color: black;
    padding: 0.5rem 0;
    font-size: larger;
    font-weight: bold;
    margin-bottom: var(--search-bar-margin);
    position: fixed;
    width: 100%;
    height: var(--search-bar-height);
}

.centerer {
    text-align: left;
    margin: 0 auto;
    padding-left: var(--body-padding);
    padding-right: var(--body-padding);
}

a.contents-link {
    color: white;
    text-decoration: none;
}

.search-input {
    padding: 0.3rem;
    min-width:3rem;
    max-width: 7rem
}

.search-controls {
    width: 24rem;
    text-align: left;
}

.contents-link {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 0.5rem;
    color: white;
}

.results-table {
    column-count: 9999;
    column-width: 350px;
}

.results-table.short-results {
    column-count: 1;
    column-width: auto;
    max-width: 600px;
    margin: 0 auto;
}

.result-entry {
    padding-left: 2rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(40%, max-content) minmax(1rem, max-content) 1fr;
    margin: 0 auto;
}

.lemma {
    white-space: nowrap;
    font-weight: bold;
    padding-right: 0.5rem;
    min-width: 30%;
    display: flex;
    flex-direction: column;
}

.symbol {
    text-align: left;
    display: inline-block;
    flex-direction: column;
    white-space: nowrap;
}

.grammar {
    padding-left: 0.5rem;
    text-align: left;
    display: inline;
    flex-direction: column;
}

.infinite-scroll-component {
    overflow-x: hidden !important;
}

.loading-bar {
    position: fixed;
    width: 100%;
    background-color: black;
    padding-top: 0.3rem;
}

.loading-bar > * {
    content: "";
    display: inline;
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    text-align: center;
}

.loading-bar > *:nth-child(1) {
    background-color: blue;
    left: 0;
    width: 100%;
}

.loading-bar > *:nth-child(2) {
    background-color: #da4733;
    animation: loading 3s linear infinite;
}

.loading-bar > *:nth-child(3) {
    background-color: #3b78e7;
    animation: loading 3s linear 1s infinite;
}

.loading-bar > *:nth-child(4) {
    background-color: #fdba2c;
    animation: loading 3s linear 2s infinite;
}

@keyframes loading {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}

.error-bar {
    background-color: red;
    color: white;
    font-size: medium;
    font-weight: normal;
    margin-top: 0.5rem;
}

.search-bar-padding {
    padding-bottom: 0.6rem;
}

.load-more {
    text-align: center;
}

.page.is-searching {
    max-width: unset;
    width: calc(100% - var(--body-padding) * 2);
}

.page.is-searching .body-content {
    max-width: calc(100% - var(--body-padding) * 2);
}

:target {
    border-top: var(--search-bar-total-height) solid transparent;
    margin-top: -var(--search-bar-total-height);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.filter-control {
    color: white;
    margin-left: 0.5em;
    cursor: pointer;
}

.filter-table {
    color: white;
    display: table;
    margin: unset;
    font-size: large;
    margin: 0.2em;
}

.filter-table td {
    text-align: left;
    border: unset;
}

.filter-table td:first-child {
    text-align: center;
}

.filter-table td:nth-child(2) {
    text-align: center;
}

.filter {
    cursor: pointer;
}

.filter-inactive span{
   opacity: 0.7;
}

.tooltipClass {
    max-width: 40ex;
    font-weight: normal;
}

.filter-tooltip-a {
	color: darkslategrey;
	text-decoration: none;
}

.filter-tooltip-a:visited {
    color: darkslategrey;
}

.filter-tooltip-a:hover {
    text-decoration: underline;
}

.reset-filter-button {
    color: white;
    position: relative;
    left: 340px;
    bottom: 26px;
    cursor: pointer;
    height: 0;
}

.smallbr {
    line-height: 50%;
}

.body-content > ol {
    list-style-position: inside;
    padding-left: 0;
    text-indent: 2em;
    margin: 0;
}

.body-content> ol > li {
    margin-top: 1em;
}

.__react_component_tooltip {
    padding: 0;
}

.tooltip-clickable-wrapper {
    padding: 0.5em 1em;
}

.__react_component_tooltip.show {
    opacity: 1;
}