<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-5700898-10"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-5700898-10');
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Грамматический словарь русского языка</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<div class="page">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="body-content">
        @if (Context.Request.Path.Value != "/" && Context.Request.Path.Value != "/Index")
        {
            <div id="contents-link"><a href="~/Index">Содержание</a>
            </div>
        }
        <div id="author">А. А. Зализняк</div>
        <h1>Грамматический словарь русского языка<br/> Словоизменение
        </h1>
        @RenderBody()
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>
</body>
</html>
