@page

<h2>Спряжение</h2>

<h3 id="symbol-meaning">ЗНАЧЕНИЕ БУКВЕННЫХ СИМВОЛОВ И ЭЛЕМЕНТОВ ИНДЕКСА У ГЛАГОЛОВ<sup><a href="#footnote1">1</a></sup></h3>
<h4 id="verb-symbol">БУКВЕННЫЕ СИМВОЛЫ</h4>

<ol>
    <li>
        Обозначение вида (одновременно выступает как символ части речи):
        <p>св — глагол совершенного вида</p>
        <p>нсв — глагол несовершенного вида</p>
        <p>св-нсв — двувидовой глагол (т. е. могущий выступать и как глагол совершенного, и как глагол несовершенного вида).</p>
    </li>
    <li>
        Обозначение переходности или непереходности (т. е. способности или неспособности глагола принимать дополнение в В. падеже).
        Специальным символом обозначается непереходность, причем только у невозвратных глаголов (т. е. глаголов без <strong>-ся, -сь</strong>):
        <p>нп — непереходный глагол.</p>
        <p>Переходность специально не обозначается: отсутствие символа «нп» при невозвратном глаголе означает, что он переходный.</p>
        <p>Все возвратные глаголы (т. е. глаголы на <strong>-ся, -сь</strong>) непереходны;
            поэтому при них помета «нп» не ставится, как избыточная.</p>
        <p> Если глагол в одних значениях является переходным, а в других непереходным 
            (например, <strong>клева́ть</strong>, ср. <code>клева́ть зерно́</code> и <code>клева́ть на что́-л.</code>) 
            или в одном и том же значении допускает оба типа управления
            (например, <strong>перепры́гнуть</strong>, ср. <code>перепры́гнуть через ро́в и перепры́гнуть ро́в</code>),
            то символ «нп» не ставится; таким образом, этот символ фактически означает: «глагол, непереходный во всех своих значениях».
        </p>
        <p>
            Поскольку граница между переходными и непереходными глаголами не совсем четка,
            специально укажем, как производится индексация в некоторых сложных случаях:
            1) управление Р. падежом или инфинитивом не считается частным случаем переходности;
               таким образом, например, глаголы <strong>достига́ть, мочь</strong> имеют помету «нп»<sup><a href="#footnote2">2</a></sup>;
            2) не считается проявлением переходности связь с формами В. падежа,
               означающими меру длительности действия или пройденное расстояние, например:
               <code>спа́л дво́е су́ток, ду́мал це́лый де́нь, бежа́л версту́</code>;
            3) не считаются переходными глаголы, обозначающие нечленораздельные звуки и необычные или искаженные формы речи, например,
               <strong>визжа́ть, выть, ка́ркать, щебета́ть, мыча́ть, пища́ть, реве́ть, ворча́ть, ша́мкать, гнуса́вить, мя́млить</strong>;
               это решение до некоторой степени условно, поскольку в принципе возможны фразы типа:
               <code>во́ет свою́ во́лчью пе́сню, щебе́чет пе́сенку, мычи́т что́-то нечленоразде́льное</code>;
               в то же время глаголы с приставкой <strong>про-</strong>,
               образованные от названий необычных или искаженных форм речи
               (например, <strong>проша́мкать, промя́млить, пропища́ть</strong>), признаются переходными.
        </p>
    </li>
    <li>Помета «безл.» — обозначение <em>безличных</em> глаголов.
        Она ставится только в том случае, если глагол безличен во всех своих значениях.
    </li>
    <li>Помета «многокр.» — обозначение <em>многократных</em> глаголов.</li>
</ol>

<p class="footnote" id="footnote1"><sup>1</sup>Данный раздел «Грамматических сведений»
    (стр. 77-87)
    предназначен только для тех читателей, которые пожелают строить глагольные формы непосредственно по индексу,
    не обращаясь к образцам спряжения. Для построения форм по образцам этот раздел ненужен.
</p>
<p class="footnote" id="footnote2"><sup>2</sup>Заметим, что глаголы типа наде́лать, нарва́ть и т. п. сюда не относятся,
    поскольку наряду с сочетаниями наде́лал игру́шек, наде́лал глу́постей, нарва́л цвето́в возможны также сочетания с В. падежом:
    наде́лал ма́ссу игру́шек, наде́лал мно́жество глу́постей, нарва́л буке́т цвето́в.
</p>
<p class="footnote" id="footnote3"><sup>3</sup>Правила образования всех форм парадигмы от трех исходных даны ниже,
    <a href="conjugation/symbols#build-using-index">стр. 82</a>. <!-- В 6-м издании это страница 83, а не 82. Для электронной версии это неважно. -->
</p>

<h4 id="index-number">ЦИФРА ИНДЕКСА</h4>

<p> 
    Цифра индекса (от 1 до 16) обозначает тип спряжения.
    Каждый тип спряжения характеризуется определенным способом построения трех основных форм глагольной парадигмы
    (от которых могут быть построены все остальные формы парадигмы)<sup><a href="#footnote3">3</a></sup>.
    Эти формы таковы:
    1) инфинитив;
    2) 1 ед. настоящего (для глаголов несовершенного вида) или будущего (для глаголов совершенноговида) времени;
    3) 3 ед. настоящего (будущего) времени.
</p>
<p>
    Основы (графические) этих форм получаются отбрасыванием следующих конечных последовательностей:
    у инфинитива — <strong>-ть, -ти</strong> или <strong>-чь</strong>
    (для возвратных глаголов <strong>-ться, -тись</strong> или <strong>-чься</strong>);
    у 1 ед. наст. (буд.) — <strong>-у</strong> или <strong>-ю</strong>
    (для возвратных глаголов <strong>-усь</strong> или <strong>-юсь</strong>);
    у 3 ед. наст. (буд.) - <strong>-ет, -ёт</strong> или <strong>-ит</strong>
    (для возвратных глаголов <strong>-ется, -ётся</strong> или <strong>-ится</strong>).
</p>
<p>
    Глаголы с 3 ед. наст. (буд.) на <strong>-ет(ся)</strong> или <strong>-ёт(ся)</strong> называются глаголами I спряжения,
    с 3 ед. наст. (буд.) на <strong>-ит(ся)</strong> — глаголами II спряжения.
</p>
<p>
    Основы разных форм одного глагола могут различаться между собой, в частности,
    так наз. «стандартными чередованиями согласных».
</p>

<h5 id="standard-alternations">Стандартные чередования согласных</h5>

<table class="center-aligned">
    <tr><td>1-я ступень чередования</td><td>б</td> <td>п </td><td>в </td><td>ф </td><td>м </td><td>з</td><td>с</td><td>д</td><td>т                                     </td><td>ст</td><td>г</td><td>к</td><td>х</td><td>ск</td></tr>
    <tr><td>2-я ступень чередования</td><td>бл</td><td>пл</td><td>вл</td><td>фл</td><td>мл</td><td>ж</td><td>ш</td><td>ж</td><td>ч<sup><a href="#footnote4">4</a></sup></td><td>щ </td><td>ж</td><td>ч</td><td>ш</td><td>щ </td></tr>
</table>

<p>
    Ниже приводится таблица типов спряжения, т. е. таблица, раскрывающая значение цифр глагольного индекса.
    Для случаев, где по цифре индекса и по внешнему виду инфинитива
    основные формы настоящего (будущего) времени еще не устанавливаются однозначно,
    в последней графе таблицы указано, какими пометами, содержащимися в словарной статье, должен определяться выбор.
    Для упрощения записи для глаголов I спряжения приводится только окончание <strong>-ет</strong>
    (хотя фактически оно выступает только в безударном положении, а под ударением выступает <strong>-ёт</strong>).
    Опущены также записи для возвратных глаголов (см. выше о том, как оканчиваются их основные формы).
    Таким образом, например, запись <strong>«-нуть — -ну, -нет»</strong> есть сокращение следующей записи:</p>
<p><strong>-нуть</strong> — <strong>-ну, -нет</strong> (без ударения) или <strong>-нёт</strong> (под ударением)</p>
<p><strong>-нуться</strong> — <strong>-нусь, -нется</strong> (без ударения) или <strong>-нётся</strong> (под ударением)</p>

<h5 id="types">Таблица типов спряжения</h5>

<table class="center-aligned">
    <tr><td>Номер типа</td><td>Инфинитив оканчивается на:</td><td>1 ед. и 3 ед. наст. (буд.) оканчивается соответственно на:</td><td>Дополнительные указания</td></tr>
    <tr><td rowspan="3">1</td><td>-ать</td> <td>— -аю, -ает</td><td rowspan="3"></td></tr>
    <tr><td>-ять</td> <td>— -яю, -яет</td></tr>
    <tr><td>-еть</td> <td>— -ею, -еет</td></tr>
    <tr><td rowspan="3">2</td><td>-овать</td> <td>— -ую, -ует</td><td rowspan="3"></td></tr>
    <tr><td>-евать (после шипящей или <strong>ц</strong>)</td> <td>— -ую, -ует</td></tr>
    <tr><td>-евать (в прочих случаях)</td><td>— -юю, -юет</td></tr>

    <tr><td>3</td><td>-нуть</td> <td>— -ну, -нет</td><td></td></tr>
    <tr><td>4</td><td>-ить</td> <td>— -ю (но <strong>-у</strong> после шипящей), -ит</td><td rowspan="4">Если в инфинитиве перед <strong>-ить (-ать, -ять, -еть)</strong> стоит согласная (или сочетание <strong>ст, ск</strong>) 1-й ступени чередования (см. выше стандартные чередования согласных), то в 1 ед. наст. (буд.) она заменяется 2-й ступенью чередования. У глаголов с пометой (-щ-) <strong>т</strong> заменяется на <strong>щ</strong> (а не на <strong>ч</strong>).</td></tr>
    <tr><td rowspan="3">5</td><td>-ать</td><td rowspan="3">-ю (но <strong>-у</strong> после шипящей), -ит</td></tr>
    <tr><td>-ять</td></tr>
    <tr><td>-еть</td></tr>
    <tr><td rowspan="2">6</td><td>-ать</td> <td rowspan="2">-ю (но <strong>-у</strong> после шипящей), -ет</td><td rowspan="2">Если в инфинитиве перед <strong>-ать (-ять)</strong> стоит согласная (или сочетание <strong>ст, ск</strong>) 1-й ступени чередования, то в обеих основных формах наст. (буд.) она заменяется 2-й ступенью чередования. У глаголов спометой (-щ-) <srong>т</srong> заменяется на <strong>щ</strong> (а не на <strong>ч</strong>).</td></tr>
    <tr><td>-ять</td></tr>

    <tr><td rowspan="6">7</td><td>-зти или -зть</td><td>— -зу, -зет</td><td rowspan="6">При глаголах на -сти (-сть) для правильного выбора форм наст. (буд.) в словарной статье дается помета:(-с-), (-д-), (-т-), (-ст-) или (-б-).</td></tr>
    <tr><td rowspan="5">-сти или -сть</td> <td>-су, -сет</td></tr>
    <tr><td>-ду, -дет</td></tr>
    <tr><td>-ту, -тет</td></tr>
    <tr><td>-сту, -стет</td></tr>
    <tr><td>-бу, -бет</td></tr>

    <tr><td rowspan="2">8</td><td rowspan="2">-чь</td><td> -гу, -жет</td><td rowspan="2">При глаголах этого типа для правильного выбора форм наст. (буд.) дается помета: (-г-) или (-к-).</td></tr>
    <tr><td>-ку, -чет</td></tr>
    <tr><td>9</td><td>-ереть</td><td> — -ру, -рет</td><td></td></tr>
    <tr><td rowspan="2">10</td><td>-олоть</td><td> — -олю, -олет</td><td rowspan="2"></td></tr>
    <tr><td>-ороть</td><td>— -орю, -орет</td></tr>
    <tr><td>11</td><td>-ить</td><td>— -ью, -ьет</td><td></td></tr>
    <tr><td rowspan="3">12</td><td>-ыть</td><td>— -ою, -оет</td><td rowspan="3">Сюда же относятся: греть — гре́ю, гре́ет, петь — пою́, поёт, брить — бре́ю, бре́ет и произв.</td></tr>
    <tr><td>-уть</td><td>— -ую, -ует</td></tr>
    <tr><td>-ить</td><td>— -ию, -иет</td></tr>
    <tr><td>13</td><td>-авать</td> <td>— -аю, -ает</td><td></td></tr>
    <tr><td rowspan="3">14</td><td rowspan="3">-ать или ять</td><td>-ну, -нет</td><td rowspan="3">При глаголах этого типа для правильного выбора форм наст. (буд.) дается помета: (-н-), (-м-) или(-им-). Если наст. (буд.) образуется иначе, вместо такой пометы приводится вся основа наст. (буд.), например: для занять, заня́ться — (займ-), для приня́ть — (прим-), для взять — (возьм).</td></tr>
    <tr><td>-му, -мет</td></tr>
    <tr><td>-иму, -имет</td></tr>

    <tr><td>15</td><td>-ть</td><td>— -ну, -нет</td><td></td></tr>
    <tr><td>16</td><td>-ть</td><td>— -ву, -вет</td><td></td></tr>
</table>

<p class="footnote" id="footnote4">
    <sup>4</sup>У части глаголов вместо стандартного чередования т/ч выступает чередование т/щ.
    Такие глаголы снабжаются пометой (-щ-).
</p>


<h4 id="star">ЗВЁЗДОЧКА ПРИ ЦИФРЕ</h4>
<p>
    Звездочка при цифре индекса показывает, что 
    при спряжении у данного глагола происходит чередование беглой гласной 
    (а именно, <strong>о</strong>) с нулем на конце приставки.
</p>
<p>
    Это чередование возможно в следующих приставках: 
    1) основная группа — <strong>в-/во-, над-/надо-, об-/обо-, от-/ото-, под-/подо-, пред-/предо-, с-/со-</strong>; 
    2) приставки, оканчивающиеся (при отсутствии беглого <strong>о</strong>) 
    на <strong>з</strong> перед звонкой согласнойили гласной, но 
    на <strong>с</strong> перед глухой согласной, — 
    <strong>вз-(вс-)/взо-, воз-(вос-)/возо́-, из-(ис-)/изо-, низ-(нис-)/низо-, раз-(рас-)/разо-</strong>.
</p>
<p>
    <em>Правило чередования</em>: 
    беглое <strong>о</strong> присутствует в конце приставки в тех формах, где 
    за приставкой следует две согласных или согласная + <strong>ь</strong>; 
    в прочих формах оно отсутствует 
    (во всех таких формах за приставкой следует согласная + гласная). 
    Как видно из этого правила, данное чередование возможно лишь в тех случаях 
    (сравнительно немногочисленных), когда 
    вид глагольного корня меняется определенным образом в ходе спряжения 
    (ср., например, 
        <strong>гнать</strong> — <code>гоню́</code>, 
        <strong>брать</strong> — <code>беру́</code>, 
        <strong>жечь</strong> — <code>жгу</code>, 
        <strong>тере́ть</strong> — <code>тру</code>,
        <strong>бить</strong> — <code>бью</code>).
</p>
<p>
     Примеры чередования 
     (даются различные глагольные формы, иллюстрирующие действие приведенного правила):
</p>
<p>
    1) без сопутствующего чередования согласных в приставке: а) беглое <strong>о</strong> присутствует в исходной форме — <strong>вобра́ть</strong>, <code>вберу́, вобра́л, во́бранный</code>; <strong>взобра́ться</strong>, <code>взберу́сь, взобра́лся</code>; <strong>изодра́ть</strong>, <code>издеру́, изодра́л, изо́дранный</code>; <strong>обозва́ть</strong>, <code>обзову́, обозва́л,обо́званный</code>; <strong>отогна́ть</strong>, <code>отгоню́, отогна́л, ото́гнанный</code>; <strong>подостла́ть</strong>, <code>подстелю́, подостла́л, подо́стланный</code>; <strong>разогна́ть</strong>, <code>разгоню́, разогна́л, разо́гнанный</code>; <strong>содра́ть</strong>, <code>сдеру́, содра́л, со́дранный</code>; б) беглой гласной в исходной форме нет — <strong>вбить</strong>, <code>вобью́, вбей, вбил</code>; <strong>взви́ться</strong>, <code>взовью́сь, взве́йся, взви́лся</code>; <strong>возли́ть</strong>, <code>возолью́, возле́й, возли́л</code>; <strong>измя́ть</strong>, <code>изомну́, измя́л</code>; <strong>надви́ть</strong>, <code>надовью́, надве́й, надви́л</code>; <strong>обже́чь</strong>, <code>обожгу́, обожжёт, обжёг, обожгла́, обжёгший, обожжённый</code>; <strong>отмере́ть</strong>, <code>отомру́, о́тмер</code>; <strong>подтере́ть</strong>, <code>подотру́, подтёр</code>; <strong>разжа́ть</strong>, <code>разожму́, разжа́л</code>; <strong>счесть</strong>, <code>сочту́, счёл, сочла́, сочтённый</code>;
</p>
<p>
    2) с сопутствующим чередованием <strong>с/з</strong> в приставке: 
        а) беглое <strong>о</strong> присутствует в исходной форме — 
            <strong>изостла́ть</strong>, <code>исстелю́, изостла́л, изо́стланный</code>; 
            <strong>разостла́ть</strong>, <code>расстелю́, разостла́л, разо́стланный</code>; 
        б) беглой гласной в исходной форме нет — 
            <strong>истере́ть</strong>, <code>изотру́, истёр</code>; 
            <strong>расши́ть</strong>, <code>разошью́, расше́й, расши́л</code>;
            <strong>расче́сть</strong>, <code>разочту́, расчёл, разочла́, разочтённый</code>.
</p>
<h4 id="superscript-circle">КРУЖОЧЕК ПРИ ЦИФРЕ</h4>
<p>
    Кружочек при цифре индекса символизирует различные особенности, связанные с чередованиями. 
    Имеются следующие подтипы с такими особенностями: 
    3° — особенность в том, что в прош. времени, прич. прош. 
    (факультативно также в деепр.прош.) 
    утрачивается суффикс <strong>-ну-</strong> 
    (например, <strong>засо́хнуть</strong> — 
    <code>засо́х, засо́хла, засо́хший, засо́хнув(ши) // засо́хши</code>); 
    6° — особенность в том, что в наст. (буд.) времени 
    выступает та же ступень чередования согласных, что в инфинитиве 
    (иначе говоря, нет стандартного чередования согласных), 
    а также в том, что 1 ед. имеет окончание <strong>-у</strong>, а не <strong>-ю</strong>
    (например, <strong>соса́ть</strong> — <code>сосу́, сосёт</code>). 
    Подробнее см. соответствующие таблицы, стр. 95-97, 112-113.@*TODO: вставить ссылку*@
</p>

<h4 id="latin-letter">ЛАТИНСКАЯ БУКВА</h4>

<p>
    Латинская буква (или две буквы, разделенные косой чертой) — обозначение схемы ударения.
    У глаголов схема ударения складывается из двух частей:
    1) схема ударения личных форм настоящего (будущего) времени и повелительного наклонения
    (сокращенно — схема ударения настоящего времени; ее символ пишется слева от косой черты);
    2) схема ударения личных формпрошедшего времени
    (сокращенно — схема ударения прошедшего времени; ее символ пишется справа от косой черты).
    При этом, однако, буква а, выступающая как второй элемент записи, опускается<sup><a href="#footnote5">5</a></sup>:
    таким образом, вместо а/а пишется просто а, вместо b/а — b, вместо с/а — с.
</p>

<p class="footnote" id="footnote5">
    <sup>5</sup>Как можно видеть, принцип сокращения записи здесь иной, чем у прилагательных (стр. 55)@*TODO: вставить ссылку*@.
    Дело в том, что у прилагательных вторая буква в составном обозначении чаще всего совпадает с первой,
    тогда как у глаголов вторая буква в большинстве случаев есть а.
    Таким образом, принятые принципы сокращения в обоих случаях направлены на то, чтобы свести к минимуму
    число составных обозначений в словаре.
</p>

<h4 id="present-stress-types">Схема ударения настоящего времени</h4>

<p>
    Эти схемы ударения таковы (чтобы подчеркнуть, что речь идет о левом элементе записи, справа от буквы дается косая черта):
    а/ — постоянное ударение на основе;
    b/ — постоянное ударение на окончаниях (кроме нуля, <strong>-ь, -й, -те</strong> и <strong>-ся</strong>);
    с/ — ударение на окончаниях в 1 ед. и в повел.<sup><a href="#footnote6">6</a></sup>, в прочих формах на основе.
    У аномального глагола <strong>хоте́ть</strong> и его производных особая схема ударения — с'/ 
    (<code>хочу́, хо́чешь, хо́чет, хоти́м, хоти́те, хотя́т</code>; повел. <code>хоти́, хоти́те</code>).
</p>

<p class="footnote" id="footnote6">
    <sup>6</sup>В повел. наклонении не учитываются (и не приводятся в таблице) формы 1 мн.;
    см. о них <a href="/conjugation/symbols#inclusive-imperative">стр. 85</a>.
</p>

<h5 id="present-stress-models">Образцы основных схем ударения настоящего времени</h5>

<table class="center-aligned">
    <tr><td colspan="3">Схема ударения</td><td colspan="2">а/</td><td colspan="2">b/</td><td colspan="2">с/</td></tr>
    <tr>
        <td rowspan="6">Наст. (буд.)</td>
        <td rowspan="3">ед.</td>
        <td>1</td>
        <td>де́лаю(сь)</td>
        <td>ве́рю</td>
        <td>беру́(сь)</td>
        <td>стою́</td>
        <td>пишу́</td>
        <td>учу́(сь)</td>
    </tr>
    <tr><td>2</td><td>де́лаешь(ся)</td><td>ве́ришь</td><td>берёшь(ся)</td><td>стои́шь</td><td>пи́шешь</td><td>у́чишь(ся)</td></tr>
    <tr><td>3</td><td>де́лает(ся)</td><td>ве́рит</td><td>берёт(ся)</td><td>стои́т</td><td>пи́шет</td><td>у́чит(ся)</td></tr>
    <tr><td rowspan="3">мн.</td><td>1</td><td>де́лаем(ся)</td><td>ве́рим</td><td>берём(ся)</td><td>стои́м</td><td>пи́шем</td><td>у́чим(ся)</td></tr>
    <tr><td>2</td><td>де́лаете(сь)</td><td>ве́рите</td><td>берёте(сь)</td><td>стои́те</td><td>пи́шете</td><td>у́чите(сь)</td></tr>
    <tr><td>3</td><td>де́лают(ся)</td><td>ве́рят</td><td>беру́т(ся)</td><td>стоя́т</td><td>пи́шут</td><td>у́чат(ся)</td></tr>
    <tr><td rowspan="2">Повел.</td><td colspan="2">2 ед.</td><td>де́лай(ся)</td><td>верь</td><td>бери́(сь)</td><td>стой<sup><a href="#footnote7">7</a></sup></td><td>пиши́</td><td>учи́(сь)</td></tr>
    <tr><td colspan="2">2 мн.</td><td>де́лайте(сь)</td><td>ве́рьте</td><td>бери́те(сь)</td><td>сто́йте</td><td>пиши́те</td><td>учи́те(сь)</td></tr>
</table>

<p class="footnote" id="footnote7">
    <sup>7</sup>Ударение фактически на основе, поскольку окончание неслоговое:
    ср. примечание на <a href="/declension/symbols#stress-note">стр. 31</a>.
</p>

<h4 id="past-stress-types">Схемы ударения прошедшего времени</h4>

<p>
    Эти схемы ударения таковы (для наглядности слева от буквы дается косая черта):
    /а — постоянное ударение на основе;
    /b — постоянное ударение на окончаниях (кроме неслоговых и <strong>-ся</strong>);
    /с — ударение на окончаниях в прош. ж, в прочих формах на основе.
    Кроме того, имеется (только у возвратных глаголов) схема ударения /с&quot;,
    которая в основном представляет собой просто колебание между схемами /b и /с
    (специфическая особенность состоит здесь только в том, что в прош. м
    допустимо также ударение на <strong>-ся́</strong>, ныне устаревающее).
    Схема /с&quot; выступает у тех возвратных глаголов, которые соответствуют невозвратным глаголам
    со схемой /с (а схемы /с у возвратных глаголов не бывает).
    У глаголов <strong>дать</strong> и <strong>взять</strong> представлена особая схемаударения — /с' 
    (<code>дал, дала́, да́ло и дало́, да́ли</code>).
</p>

<h5 id="past-stress-models">

    Образцы схем ударения прошедшего времени

</h5>

<table>

    <tbody>

        <tr>

            <th>
                Схема ударения
            </th>
            <th style="text-align: center;">
                / а
            </th>
            <th style="text-align: center;">
                / b
            </th>
            <th style="text-align: center;">
                / с
            </th>
            <th>
                / с''
            </th>
        </tr>
        <tr>
            <td>
                Прош. м.
            </td>
            <td>
                де́лал(ся)
            </td>
            <td>
                берёг(ся)
            </td>
            <td>
                сорва́л
            </td>
            <td>
                сорва́лся <code>и устар</code>.
                сорвался́
            </td>
        </tr>
        <tr>
            <td>
                Прош. ж.
            </td>
            <td>
                де́лала(сь)
            </td>
            <td>
                берегла́(сь)
            </td>
            <td>
                сорвала́
            </td>
            <td>
                сорвала́сь
            </td>
        </tr>
        <tr>
            <td>
                Прош. с.
            </td>
            <td>
                де́лало(сь)
            </td>
            <td>
                берегло́(сь)
            </td>
            <td>
                сорва́ло
            </td>
            <td>
                сорвало́сь <code>и </code>сорва́лось
            </td>
        </tr>
        <tr>
            <td>
                Прош. мн.
            </td>
            <td>
                де́лали(сь)
            </td>
            <td>
                берегли́(сь)
            </td>
            <td>
                сорва́ли
            </td>
            <td>
                сорвали́сь <code>и </code>сорва́лись
            </td>
        </tr>
    </tbody>
</table>

<p>

    Встречаются практически все возможные комбинации основных схем ударения настоящего и прошедшего времени. Примеры таких комбинаций можно найти в таблицах

    спряжения.

</p>

<p>

    Об ударении неличных форм см. ниже <a href="/conjugation/symbols#nonpersonal-forms">стр. 85</a>.

</p>

<h4 id="additional-stress-rules">

    <strong>Дополнительные правила об ударении</strong>

</h4>

<h5 id="stress-position-in-stem">

    <strong>Правило о положении ударения внутри основы</strong>

</h5>

<p align="left">

    Если по схеме ударения данного глагола ударение в некоторой форме должно падать на основу, оно падает на тот же (по счету от начала) слог основы, что в

    инфинитиве; если же это невозможно ввиду того, что основа данной формы не насчитывает нужного числа слогов, ударение падает на последний слог основы.

    Примеры (приводятся только формы с ударением на основе): <strong>де́лать</strong> (схема а / а) — <code>де́лаю, де́лает, де́лал, де́лала</code>;<strong> откры́ть</strong> (схема а / а) — <code>откро́ю, откро́ет, откры́л, откры́ла</code>;<strong> рисова́ть</strong> (схема а / а) —<code>рису́ю, рису́ет, рисова́л, рисова́ла</code>; <strong>колеба́ть</strong> (схема а / а) — <code>коле́блю, коле́блет, колеба́л, колеба́­ла</code>;    <strong>протере́ть</strong> (схема b / а) — <code>протёр, протёрла</code>; <strong>получи́ть</strong> (схема с / а) — <code>полу́чит, получи́л, получи́ла</code>.

</p>

<h5 id="stress-position-in-ending">

    <strong>Правило о положении ударения внутри окончания</strong>

</h5>

<p>

    В двусложных окончаниях, несущих ударение, оно падает на первый слог окончания, например: <code>берёте, стои́те</code>.

</p>

<h5 id="stress-position-in-non-syllable-ending">

    <strong>Правило о положении ударения при неслоговом окончании</strong>

</h5>

<p>

    Если по схеме ударения данного глагола ударение в некоторой форме должно падать на окончание, а окончание не содержит гласной (а именно, это нуль,    <strong>ь</strong> или <strong>й</strong>), а также если окончание есть нуль <strong>(ь, й) + те, ся</strong> или <strong>тесь</strong>, то ударение падает

    на по­следний слог основы. Примеры: <strong>стоя́ть, боя́ться</strong> (схема b / а) — <code>стой, сто́йте, бо́йся, бо́йтесь</code>;    <strong>бере́чь, бере́чься</strong> (схема b / b) — <code>берёг, берёгся</code>. Исключение: ударение в прош. м. на <strong>ся</strong>, допустимое при схеме

    ударения прошедшего времени / с´´ (см. выше), например: <code>сорва́лся</code> и устар. <code>сорвался́</code>.

</p>

<h4 id="alternation">
    РУССКАЯ БУКВА ИЛИ БУКВЕННАЯ ПОСЛЕДОВАТЕЛЬНОСТЬ В СКОБКАХ
</h4>

<p align="left">

    Запись такого вида показывает конечный элемент основы настоящего (будущего) времени. Возможны следующие пометы этого рода: (-с-), (-д-), (-т-), (-ст-),

    (-б-) в типе 7, (-г-), (-к-) в типе 8, (-н-), (-м-), (-им-) или полная запись основы наст. (буд.), например, (займ-), (прим-), (возьм-), в типе 14, а также

    помета (-щ-) в типах 4, 5, 6. Их значение см. в таблице на стр. <a href="#head52">78-79</a> и в сноске к таблице чередований (<a href="#footnote4">стр. 78</a>).

</p>

<h4 id="digitsinround"> ЦИФРА В КРУЖКЕ </h4>

<p>

    Цифра в кружке (от ① до ⑨) показывает, что у данного глагола представлено некоторое часто встречающееся отклонение от стандартного спряжения.

</p>

<h5 id="verb-circle-1"> Помета ① </h5>

<p>

    Помета ① у глаголов означает, что в личных формах прош. времени (кроме прош. ж) и в прич. страд. (кроме кф ж) ударение падает на один слог левее, чем по

    общему правилу (практически это значит, что оно падает на приставку).<sup><a href="#footnote8">8</a></sup> Прич. прош. и деепр. прош. имеют такое же ударение в типе 9, но сохраняют

    ударение инфинитива в прочих типах. Примеры:

</p>

<table class="left-aligned">
    <tr>
        <td>
            заня́ть
        </td>
        <td>
            св 14b / с (займ-) ① — <code>прош.</code> за́нял, заняла́, за́няло, за́няли; <code>прич. страд.</code> за́нятый, <code>кф </code>за́нят, занята́, за́нято, за́няты;    <code>прич. прош.</code> заня́вший, <code>деепр. прош.</code> заня́в(ши)
        </td>
    </tr>
</table>

<table class="left-aligned">
    <tr>
        <td>
            предприня́ть
        </td>
        <td>
            св 14с / с (предприм-) ① — <code>прош.</code> предпри́нял, предприняла́, предпри́няло, предпри́няли; <code>прич. страд.</code> предпри́нятый, <code>кф</code>

            предпри́нят, предпринята́, предпри́нято, предпри́няты; <code>прич. прош. </code>предприня́вший, <code>деепр. прош.</code> предприня́в(ши)
        </td>
    </tr>
    <tr>
        <td>
            запере́ть
        </td>
        <td>
            св 9b / с ① — <code>прош. </code>за́пер, заперла́, за́перло, за́перли; <code>прич. страд.</code> за́пертый,<code> кф</code> за́перт, заперта́, за́перто, за́перты,    <code>прич. прош. </code>за́перший, <code>деепр. прош. </code>за́перши
        </td>
    </tr>
</table>

<p>

    Пример с пометой [①]:

</p>

<table class="left-aligned">
    <tr>
        <td>
            нали́ть
        </td>
        <td>
            св 11b/с [①] — <code>прош. </code>на́ли́л, налила́, на́лило́, на́ли́ли; <code>прич. страд.</code> на́ли́тый, <code>кф</code> на́ли́т, налита́, на́лито́, на́ли́ты;    <code>прич. прош.</code> нали́вший, <code>деепр. прош. </code>нали́в(ши)
        </td>
    </tr>
</table>

<h5 id="verb-circle-2"> Пометы ② и ③ </h5>

<p>

    Эти две пометы относятся к образованию повел. наклонения. Помета ② означает, что повел. имеет окончания <strong>-ь(ся), -ьте(сь)</strong> [после гласной    <strong>-й(ся), -йте(сь)</strong>] вместо ожидаемых <strong>-и(сь), -ите(сь</strong>). Без квадратных скобок (знака факультативно­сти) помета ② встречается

    только при глаголах с<strong> вы́</strong>-. Примеры:

</p>

<table class="left-aligned">
    <tr>
        <td>
            вы́плакать
        </td>
        <td>
            св 6а② — <code>повел.</code> вы́плачь, вы́плачьте
        </td>
    </tr>
    <tr>
        <td>
            вы́строить(ся)
        </td>
        <td>
            св 4а② — <code>повел.</code> вы́строй(ся), вы́стройте(сь)
        </td>
    </tr>
</table>

<p>
    Пример с пометой [②]:
</p>

<table class="left-aligned">
    <tr>
        <td>
            ко́рчить(cя)
        </td>
        <td>
            нсв 4а[②]  — <code>повел.</code> ко́рчи(сь) // ко́рчь(ся), ко́рчите(сь) // ко́рчьте(сь)
        </td>
    </tr>
</table>

<p>
    Помета ③ означает, что повел. имеет окончания: в ед. -<strong>и(сь)</strong>, но во мн. -<strong>ьте(сь)</strong> — вместо ожидаемых -<strong>и(сь)</strong>,
    -<strong>ите(сь)</strong> или -<strong>ь(ся)</strong>, -<strong>ьте(сь)</strong>. Примеры:
</p>

<table class="left-aligned">
    <tr>
        <td>
            ка́шлянуть
        </td>
        <td>
            св нп За③ — <code>повел.</code> ка́шляни, ка́шляньте
        </td>
    </tr>
    <tr>
        <td>
            вы́зволить
        </td>
        <td>
            св 4а③ — <code>повел. </code>вы́зволи, вы́звольте
        </td>
    </tr>
</table>

<p>

    Помета [③] практически означает, что повел. в ед. -<strong>и(сь)</strong> // <strong>-ь(ся)</strong>, во мн. <strong>ьте(сь)</strong><sup><a href="#footnote9">9</a></sup>. Примеры:

</p>

<table class="left-aligned">
    <tr>
        <td>
            заку́порить
        </td>
        <td>
            св 4а[③] — <code>повел. </code>заку́пори // заку́порь, заку́порьте
        </td>
    </tr>
    <tr>
        <td>
            вы́ставить
        </td>
        <td>
            св 4а[③] — <code>повел.</code> вы́ставь // вы́стави, вы́ставьте
        </td>
    </tr>
    <tr>
        <td>
            вы́сунуть(ся)
        </td>
        <td>
            св За[③] — <code>повел. </code>вы́суни(сь) // вы́сунь(ся), вы́суньте(сь)
        </td>
    </tr>
</table>

<h5 id="verb-circle-4"> Помета ④ </h5>

<p>
    Помета ④ относится к ударению в прич. наст. Она означает, что ударение в этой форме падает на один слог левее, чем ожидается по правилу. Примеры:
</p>

<table class="left-aligned">
    <tr>
        <td>
            люби́ть
        </td>
        <td>
            нсв 4с④ — <code>прич. наст</code>. лю́бящий
        </td>
    </tr>
    <tr>
        <td>
            лечи́ть(ся)
        </td>
        <td>
            нсв 4с④ — <code>прич. наст.</code> ле́чащий(ся)
        </td>
    </tr>
</table>

<p>

    Пример с пометой [④]:

</p>

<table class="left-aligned">
    <tr>
        <td>
            вари́ть
        </td>
        <td>
            нсв 4с[④] — <code>прич. наст. </code>варя́щий // ва́рящий
        </td>
    </tr>
</table>

<h5 id="verb-circle-5"> Пометы ⑤ и ⑥ </h5>

<p>

    Эти две пометы относятся к образованию прош. времени и прич. прош. в подтипе 3°. Помета ⑤ означает, что в прош. м суффикс <strong>-ну-</strong> сохраняется

    (вопреки общему правилу о подтипе 3°). Помета ⑥ означает, что в прич. прош. и деепр. прош. суф­фикс <strong>-ну- </strong>сохраняется (вопреки правилу).

    Примеры различных комбинаций этих двух помет:

</p>

<table class="left-aligned">
    <tr>
        <td>
            исче́знуть
        </td>
        <td>
            св нп 3°а⑥ - <code>прош.</code> исче́з, исче́зла; <code>прич. прош.</code> исче́знувший, <code>деепр. прош.</code> исче́знув(ши)
        </td>
    </tr>
    <tr>
        <td>
            воскре́снуть
        </td>
        <td>
            св нп 3°а⑥ — <code>прош</code>. воскре́с, воскре́сла; <code>прич. прош.</code> воскре́сший // воскре́снувший, <code>деепр. прош.</code> воскре́сши // воскре́снув(ши)
        </td>
    </tr>
    <tr>
        <td>
            во́лгнуть
        </td>
        <td>
            нсв нп 3°а⑤⑥ — <code>прош.</code> во́лгнул, во́лгла; <code>прич. прош. </code>во́лгнувший, <code>деепр. прош. </code>во́лгнув(ши)
        </td>
    </tr>
    <tr>
        <td>
            ме́ркнуть
        </td>
        <td>
            нсв нп 3°а⑤⑥— <code>прош.</code> мерк // ме́ркнул, ме́ркла; <code>прич. прош. </code>ме́ркнувший, <code>деепр. прош.</code> ме́ркнув(ши)
        </td>
    </tr>
    <tr>
        <td>
            све́ргнуть
        </td>
        <td>
            св 3°а⑤⑥— <code>прош.</code> сверг // све́ргнул, све́ргла; <code>прич. прош.</code> све́ргший // све́ргнувший, <code>деепр. прош.</code> све́ргши // све́ргнув(ши).
        </td>
    </tr>
</table>

<h5 id="verb-circle-7">
    <strong>Пометы ⑦ и ⑧</strong>
</h5>

<p>
    Эти две пометы относятся к ударению в прич. страд. Помета ⑦ означает, что в прич. страд. ударение падает на гласную пе­ред <strong>-нный</strong>; таким
    образом, это причастие оканчивается на <strong>-ённый </strong>вместо ожидаемого безударного <strong>-енный</strong> или на <strong>–а́нный </strong>вместо
    безударного<strong> -анный</strong>. Причастие на <strong>-ённый </strong>имеет при этом по общему правилу краткие формы схемы /b; причастие на    <strong>-а́нный</strong> имеет краткие формы схемы /а. Примеры:
</p>

<table class="left-aligned">
    <tr>
        <td>
            раздели́ть
        </td>
        <td>
            св 4с⑦ — <code>прич. страд</code>. разделённый
        </td>
    </tr>
    <tr>
        <td>
            обуя́ть
        </td>
        <td>
            св 1а⑦ —<code> прич. страд.</code> обуя́нный, <code>кф (устаревш.)</code> обуя́н, обуя́на, обуя́но, обуя́ны<sup><a href="#footnote10">10</a></sup>
        </td>
    </tr>
</table>

<p>
    Пример с пометой [⑦]:
</p>

<table class="left-aligned">
    <tr>
        <td>
            <strong>иссуши́ть</strong>
        </td>
        <td>
            св 4с[⑦]— <code>прич. страд.</code> иссу́шенный // иссушённый
        </td>
    </tr>
</table>

<p>
    Помета ⑧ означает, что в прич. страд. ударение падает на третий слог от конца;
    таким образом, это причастие оканчивается на безударное 
    <strong>-енный</strong> вместо ожидаемого <strong>-ённый</strong>
    (иначе говоря, имеет место отклонение, обратное предыдущему). Пример:
</p>

<table class="left-aligned">
    <tr>
        <td>
            скрои́ть
        </td>
        <td>
            св 4b⑧ — <code>прич. страд.</code> скро́енный
        </td>
    </tr>
</table>

<p>

    Пример с пометой [⑧]:

</p>

<table class="left-aligned">
    <tr>
        <td>
            разгроми́ть
        </td>
        <td>
            св 4b[⑧]— <code>прич. страд.</code> разгромлённый // разгро́мленный
        </td>
    </tr>
</table>

<h5 id="verb-circle-9"> Помета ⑨ </h5>

<p>
    Помета ⑨ встречается у глаголов совершенного вида и означает,
    что у данного глагола в роли деепр. прош. выступает форма на <strong>-я (-а)</strong>,
    образованная от основы буд. времени по правилам для деепр. наст.
    Регулярно образованное деепр. прош. при этом также существует, но в современном языке
    неупотребительно. Пример:
</p>

<table class="left-aligned">
    <tr>
        <td>
            привезти́
        </td>
        <td>
            св 7b / b⑨, ё — <code>деепр. прош.</code> привезя́ [// <code>устар. </code>привёзши].
        </td>
    </tr>
</table>

<h5 id="verb-yo">
    ПОМЕТА «ё» (ИЛИ «о»)
</h5>

<p>
    Эти знаки показывают, что в основе глагола происходит чередование <strong>ё/е</strong> (соответственно<strong> о/е</strong>).
</p>

<p>
    Помета «ё» означает, что последнее <strong>е</strong> основы инфинитива
    (у глаголов на <strong>-ереть</strong> типа 9 — предпоследнее <strong>е</strong>)
    заменяется на <strong>ё</strong>, если оно оказывается под ударением,
    в любой из следующих форм: прош. время, прич. прош., деепр. прош. и прич. страд.
    Примеры:
</p>

<table class="left-aligned">
    <tr>
        <td>
            наверста́ть
        </td>
        <td>
            св 1а, ё — <code>прич. страд.</code> навёрстанный
        </td>
    </tr>
    <tr>
        <td>
            растрепа́ть
        </td>
        <td>
            св 6с, ё — <code>прич. страд.</code> растрёпанный
        </td>
    </tr>
    <tr>
        <td>
            поверну́ть
        </td>
        <td>
            св 3b, ё — <code>прич. страд.</code> повёрнутый
        </td>
    </tr>
    <tr>
        <td>
            нести́
        </td>
        <td>
            нсв 7b/b (-с-), ё — <code>прош. м</code> нёс; <code>прич. прош.</code> нёсший; <code>деепр. прош.</code> нёсши
        </td>
    </tr>
    <tr>
        <td>
            бере́чь
        </td>
        <td>
            нсв 8b/b (-г-), ё — <code>прош. м</code> берёг; <code>прич. прош.</code> берёгший; <code>деепр. прош.</code> берёгши
        </td>
    </tr>
    <tr>
        <td>
            протере́ть
        </td>
        <td>
            св 9b, ё — <code>прош.</code> протёр, протёрла, протёрло, протёрли; <code>прич. прош.</code> протёрший, <code>деепр. прош.</code> протёрши //

            протере́в; <code>прич. страд.</code> протёртый
        </td>
    </tr>
</table>
<p>

    Заметим, что в соответствии с приведенным правилом <strong>е </strong>сохраняется даже под ударением, например, в таких формах, как    <code>растре́плет, тре́плющий, исхле́щет, хле́щущий</code> и т. п.

</p>

<p>

    Помета «о» встречается только при глаголах на <strong>-цевать </strong>типа 2 и означает, что прич. страд. оканчивается на <strong>-цованный </strong>(с

    чередованием <strong>е/о). </strong>Пример:

</p>

<table class="left-aligned">
    <tr>
        <td>
            перелицева́ть
        </td>
        <td>
            св 2а, о — <code>прич. страд.</code><strong> </strong>перелицо́ванный.
        </td>
    </tr>
</table>

<p>

    Переход <strong>е </strong>в <strong>ё </strong>довольно часто отсутствует в прич. прош. и деепр. прош. глаголов типа 7 и 8, например:    <strong>зацвести́ </strong>— <code>зацвёл, </code>но <code>зацве́тший, зацве́тши.</code><strong> </strong>Эта особенность не рассматривается как неправильность и

    отмечается в словарной статье тем, что непосредственно выписывается форма прич. прош., например:

</p>

<table class="left-aligned">
    <tr>
        <td>
            зацвести́
        </td>
        <td>
            св нп 7b/b (-т-), ё <code>(</code>но<code> прич. прош.</code><strong> </strong>зацве́тший).
        </td>
    </tr>
</table>

<p class="footnote" id="footnote8">

    <sup>8</sup>

    Если глагол с пометой ① имеет приставку <strong>пере-</strong>,
    ударение падает на первый слог приставки, например, <code>пе́ренял</code>
    (наряду с <code>переня́л</code>), <code>пе́ренятый</code>.
    Для большей ясности формы с приставкой <strong>пере-</strong>, имеющие такое ударение,
    непосредственно приводятся в словарной статье.

</p>

<p class="footnote" id="footnote9">

    <sup>9</sup>

    Такое соотношение обнаруживается не только у глаголов, где по правилу ожидается <strong>-ь, -ьте </strong>(например, <strong>заку́порить</strong>), но и у

    тех, где ожидается <strong>-и, -ите</strong> (например, <strong>вы́ставить</strong>); в последнем случае <strong>-ите</strong> хотя и не полностью

    исключено, но нежелательно.

</p>

<p class="footnote" id="footnote10">

    <sup>10</sup>

    Краткие формы приведены для наглядности, поскольку причастия на ударное <strong>-а́нный, -я́нный</strong> являются редкостью.

</p>

