@page

<h2>Спряжение</h2>

<h5 id="stress-past">

    Образцы схем ударения прошедшего времени

</h5>

    <table border="1">

        <tbody>

            <tr>

                <th>
                    Схема ударения
                </th>
                <th style="text-align: center;">
                    / а
                </th>
                <th style="text-align: center;">
                    / b
                </th>
                <th style="text-align: center;">
                    / с
                </th>
                <th>
                        / с''
                </th>
            </tr>
            <tr>
                <td>
                        Прош. м.
                </td>
                <td>
                        де́лал(ся)
                </td>
                <td>
                        берёг(ся)
                </td>
                <td>
                        сорва́л
                </td>
                <td>
                        сорва́лся <code>и устар</code>.
                        сорвался́
                </td>
            </tr>
            <tr>
                <td>
                        Прош. ж.
                </td>
                <td>
                        де́лала(сь)
                </td>
                <td>
                        берегла́(сь)
                </td>
                <td>
                        сорвала́
                </td>
                <td>
                        сорвала́сь
                </td>
            </tr>
            <tr>
                <td>
                        Прош. с.
                </td>
                <td>
                        де́лало(сь)
                </td>
                <td>
                        берегло́(сь)
                </td>
                <td>
                        сорва́ло
                </td>
                <td>
                        сорвало́сь <code>и </code>сорва́лось
                </td>
            </tr>
            <tr>
                <td>
                        Прош. мн.
                </td>
                <td>
                        де́лали(сь)
                </td>
                <td>
                        берегли́(сь)
                </td>
                <td>
                        сорва́ли
                </td>
                <td>
                        сорвали́сь <code>и </code>сорва́лись
                </td>
            </tr>
        </tbody>
    </table>

<p>

    Встречаются практически все возможные комбинации основных схем ударения настоящего и прошедшего времени. Примеры таких комбинаций можно найти в таблицах

    спряжения.

</p>

<p>

    Об ударении неличных форм см. ниже стр. 85.

</p>

<h4 id="stress-rules">

    <strong>Дополнительные правила об ударении</strong>

</h4>

<h5>

    <strong>Правило о положении ударения внутри основы</strong>

</h5>

<p align="left">

    Если по схеме ударения данного глагола ударение в некоторой форме должно падать на основу, оно падает на тот же (по счету от начала) слог основы, что в

    инфинитиве; если же это невозможно ввиду того, что основа данной формы не насчитывает нужного числа слогов, ударение падает на последний слог основы.

    Примеры (приводятся только формы с ударением на основе): <strong>де́лать</strong> (схема а / а) — <code>де́лаю, де́лает, де́лал, де́лала</code>;<strong> откры́ть</strong> (схема а / а) — <code>откро́ю, откро́ет, откры́л, откры́ла</code>;<strong> рисова́ть</strong> (схема а / а) —<code>рису́ю, рису́ет, рисова́л, рисова́ла</code>; <strong>колеба́ть</strong> (схема а / а) — <code>коле́блю, коле́блет, колеба́л, колеба́­ла</code>;    <strong>протере́ть</strong> (схема b / а) — <code>протёр, протёрла</code>; <strong>получи́ть</strong> (схема с / а) — <code>полу́чит, получи́л, получи́ла</code>.

</p>

<h5>

    <strong>Правило о положении ударения внутри окончания</strong>

</h5>

<p>

    В двусложных окончаниях, несущих ударение, оно падает на первый слог окончания, например: <code>берёте, стои́те</code>.

</p>

<h5>

    <strong>Правило о положении ударения при неслоговом окончании</strong>

</h5>

<p>

    Если по схеме ударения данного глагола ударение в некоторой форме должно падать на окончание, а окончание не содержит гласной (а именно, это нуль,    <strong>ь</strong> или <strong>й</strong>), а также если окончание есть нуль <strong>(ь, й) + те, ся</strong> или <strong>тесь</strong>, то ударение падает

    на по­следний слог основы. Примеры: <strong>стоя́ть, боя́ться</strong> (схема b / а) — <code>стой, сто́йте, бо́йся, бо́йтесь</code>;    <strong>бере́чь, бере́чься</strong> (схема b / b) — <code>берёг, берёгся</code>. Исключение: ударение в прош. м. на <strong>ся</strong>, допустимое при схеме

    ударения прошедшего времени / с´´ (см. выше), например: <code>сорва́лся</code> и устар. <code>сорвался́</code>.

</p>

<h4 id="alternation">
    РУССКАЯ БУКВА ИЛИ БУКВЕННАЯ ПОСЛЕДОВАТЕЛЬНОСТЬ В СКОБКАХ
</h4>

<p align="left">

    Запись такого вида показывает конечный элемент основы настоящего (будущего) времени. Возможны следующие пометы этого рода: (-с-), (-д-), (-т-), (-ст-),

    (-б-) в типе 7, (-г-), (-к-) в типе 8, (-н-), (-м-), (-им-) или полная запись основы наст. (буд.), например, (займ-), (прим-), (возьм-), в типе 14, а также

    помета (-щ-) в типах 4, 5, 6. Их значение см. в таблице на стр. 78-79 и в сноске к таблице чередований (стр. 78).

</p>

<h4>

    ЦИФРА В КРУЖКЕ

</h4>

<p>

    Цифра в кружке (от ① до ⑨ показывает, что у данного глагола представлено некоторое часто встречающееся отклонение от стандартного спряжения.

</p>

<a name="verb-circle-1"></a>

<h5>

    <strong>Помета </strong>①

</h5>

<p>

    Помета ① у глаголов означает, что в личных формах прош. времени (кроме прош. ж) и в прич. страд. (кроме кф ж) ударение падает на один слог левее, чем по

    общему правилу (практически это значит, что оно падает на приставку).<sup>4</sup> Прич. прош. и деепр. прош. имеют такое же ударение в типе 9, но сохраняют

    ударение инфинитива в прочих типах. Примеры:

</p>

<table class="left-aligned">
    <tr>
        <td>
            заня́ть
        </td>
        <td>
            св 14b / с (займ-) ① — <code>прош.</code> за́нял, заняла́, за́няло, за́няли; <code>прич. страд.</code> за́нятый, <code>кф </code>за́нят, занята́, за́нято, за́няты;    <code>прич. прош.</code> заня́вший, <code>деепр. прош.</code> заня́в(ши)
        </td>
    </tr>
</table>

<p class="footnote">

    <sup>4 </sup>

    Если глагол с пометой ① имеет приставку <strong>пере-</strong>, ударение падает на первый слог приставки, например, <code>пе́ренял</code> (наряду с    <code>переня́л</code>), <code>пе́ренятый</code>. Для большей ясности формы с приставкой <strong>пере-</strong>, имеющие такое ударение, непосредственно приводятся

    в словарной статье.

</p>

<table class="left-aligned">
    <tr>
        <td>
            предприня́ть
        </td>
        <td>
            св 14с / с (предприм-) ① — <code>прош.</code> предпри́нял, предприняла́, предпри́няло, предпри́няли; <code>прич. страд.</code> предпри́нятый, <code>кф</code>

            предпри́нят, предпринята́, предпри́нято, предпри́няты; <code>прич. прош. </code>предприня́вший, <code>деепр. прош.</code> предприня́в(ши)
        </td>
    </tr>
    <tr>
        <td>
            запере́ть
        </td>
        <td>
            св 9b / с ① — <code>прош. </code>за́пер, заперла́, за́перло, за́перли; <code>прич. страд.</code> за́пертый,<code> кф</code> за́перт, заперта́, за́перто, за́перты,    <code>прич. прош. </code>за́перший, <code>деепр. прош. </code>за́перши
        </td>
    </tr>
</table>

<p>

    Пример с пометой [①]:

</p>

<table class="left-aligned">
    <tr>
        <td>
            нали́ть
        </td>
        <td>
            св 11b/с [①] — <code>прош. </code>на́ли́л, налила́, на́лило́, на́ли́ли; <code>прич. страд.</code> на́ли́тый, <code>кф</code> на́ли́т, налита́, на́лито́, на́ли́ты;    <code>прич. прош.</code> нали́вший, <code>деепр. прош. </code>нали́в(ши)
        </td>
    </tr>
</table>

<a name="verb-circle-2"></a>

<h5>

    Пометы ② и ③

</h5>

<p>

    Эти две пометы относятся к образованию повел. наклонения. Помета ② означает, что повел. имеет окончания <strong>-ь(ся), -ьте(сь)</strong> [после гласной    <strong>-й(ся), -йте(сь)</strong>] вместо ожидаемых <strong>-и(сь), -ите(сь</strong>). Без квадратных скобок (знака факультативно­сти) помета ② встречается

    только при глаголах с<strong> вы́</strong>-. Примеры:

</p>

<table class="left-aligned">
    <tr>
        <td>
            вы́плакать
        </td>
        <td>
            св 6а② — <code>повел.</code> вы́плачь, вы́плачьте
        </td>
    </tr>
    <tr>
        <td>
            вы́строить(ся)
        </td>
        <td>
            св 4а② — <code>повел.</code> вы́строй(ся), вы́стройте(сь)
        </td>
    </tr>
</table>

<p>
    Пример с пометой [②]:
</p>

<table class="left-aligned">
    <tr>
        <td>
            ко́рчить(cя)
        </td>
        <td>
            нсв 4а[②]  — <code>повел.</code> ко́рчи(сь) // ко́рчь(ся), ко́рчите(сь) // ко́рчьте(сь)
        </td>
    </tr>
</table>

<p>
    Помета ③ означает, что повел. имеет окончания: в ед. -<strong>и(сь)</strong>, но во мн. -<strong>ьте(сь)</strong> — вместо ожидаемых -<strong>и(сь)</strong>,
    -<strong>ите(сь)</strong> или -<strong>ь(ся)</strong>, -<strong>ьте(сь)</strong>. Примеры:
</p>

<table class="left-aligned">
    <tr>
        <td>
            ка́шлянуть 
        </td>
        <td>
            св нп За③ — <code>повел.</code> ка́шляни, ка́шляньте
        </td>
    </tr>
    <tr>
        <td>
            вы́зволить 
        </td>
        <td>
            св 4а③ — <code>повел. </code>вы́зволи, вы́звольте
        </td>
    </tr>
</table>

<p>

    Помета [③] практически означает, что повел. в ед. -<strong>и(сь)</strong> // <strong>-ь(ся)</strong>, во мн. <strong>ьте(сь)</strong><sup>1</sup>. Примеры:

</p>

<table class="left-aligned">
    <tr>
        <td>
            заку́порить 
        </td>
        <td>
            св 4а[③] — <code>повел. </code>заку́пори // заку́порь, заку́порьте
        </td>
    </tr>
    <tr>
        <td>
            вы́ставить 
        </td>
        <td>
            св 4а[③] — <code>повел.</code> вы́ставь // вы́стави, вы́ставьте
        </td>
    </tr>
    <tr>
        <td>
            вы́сунуть(ся)
        </td>
        <td>
            св За[③] — <code>повел. </code>вы́суни(сь) // вы́сунь(ся), вы́суньте(сь)
        </td>
    </tr>
</table>

<p>

    <sup>1 </sup>

    Такое соотношение обнаруживается не только у глаголов, где по правилу ожидается <strong>-ь, -ьте </strong>(например, <strong>заку́порить</strong>), но и у

    тех, где ожидается <strong>-и, -ите</strong> (например, <strong>вы́ставить</strong>); в последнем случае <strong>-ите</strong> хотя и не полностью

    исключено, но нежелательно.

</p>

<a name="verb-circle-4"></a>

<h5> <strong>Помета </strong>④ </h5>

<p>
    Помета ④ относится к ударению в прич. наст. Она означает, что ударение в этой форме падает на один слог левее, чем ожидается по правилу. Примеры:
</p>

<table class="left-aligned">
    <tr>
        <td>
            люби́ть 
        </td>
        <td>
            нсв 4с④ — <code>прич. наст</code>. лю́бящий
        </td>
    </tr>
    <tr>
        <td>
            лечи́ть(ся) 
        </td>
        <td>
            нсв 4с④ — <code>прич. наст.</code> ле́чащий(ся)
        </td>
    </tr>
</table>

<p>

    Пример с пометой [④]:

</p>

<table class="left-aligned">
    <tr>
        <td>
            вари́ть 
        </td>
        <td>
            нсв 4с[④] — <code>прич. наст. </code>варя́щий // ва́рящий
        </td>
    </tr>
</table>

<a name="verb-circle-5"></a>
<a name="verb-circle-6"></a>

<h5>

    <strong>Пометы ⑤ и ⑥</strong>

</h5>

<p>

    Эти две пометы относятся к образованию прош. времени и прич. прош. в подтипе 3°. Помета ⑤ означает, что в прош. м суффикс <strong>-ну-</strong> сохраняется

    (вопреки общему правилу о подтипе 3°). Помета ⑥ означает, что в прич. прош. и деепр. прош. суф­фикс <strong>-ну- </strong>сохраняется (вопреки правилу).

    Примеры различных комбинаций этих двух помет:

</p>

<table class="left-aligned">
    <tr>
        <td>
            исче́знуть 
        </td>
        <td>
            св нп 3°а⑥ - <code>прош.</code> исче́з, исче́зла; <code>прич. прош.</code> исче́знувший, <code>деепр. прош.</code> исче́знув(ши)
        </td>
    </tr>
    <tr>
        <td>
            воскре́снуть 
        </td>
        <td>
            св нп 3°а⑥ — <code>прош</code>. воскре́с, воскре́сла; <code>прич. прош.</code> воскре́сший // воскре́снувший, <code>деепр. прош.</code> воскре́сши // воскре́снув(ши)
        </td>
    </tr>
    <tr>
        <td>
            во́лгнуть 
        </td>
        <td>
            нсв нп 3°а⑤⑥ — <code>прош.</code> во́лгнул, во́лгла; <code>прич. прош. </code>во́лгнувший, <code>деепр. прош. </code>во́лгнув(ши)
        </td>
    </tr>
    <tr>
        <td>
            ме́ркнуть 
        </td>
        <td>
            нсв нп 3°а⑤⑥— <code>прош.</code> мерк // ме́ркнул, ме́ркла; <code>прич. прош. </code>ме́ркнувший, <code>деепр. прош.</code> ме́ркнув(ши)
        </td>
    </tr>
    <tr>
        <td>
            све́ргнуть 
        </td>
        <td>
            св 3°а⑤⑥— <code>прош.</code> сверг // све́ргнул, све́ргла; <code>прич. прош.</code> све́ргший // све́ргнувший, <code>деепр. прош.</code> све́ргши // све́ргнув(ши).
        </td>
    </tr>
</table>

<a name="verb-circle-7"></a>
<a name="verb-circle-8"></a>

<h5>
    <strong>Пометы ⑦ и ⑧</strong>
</h5>

<p>
    Эти две пометы относятся к ударению в прич. страд. Помета ⑦ означает, что в прич. страд. ударение падает на гласную пе­ред <strong>-нный</strong>; таким
    образом, это причастие оканчивается на <strong>-ённый </strong>вместо ожидаемого безударного <strong>-енный</strong> или на <strong>–а́нный </strong>вместо
    безударного<strong> -анный</strong>. Причастие на <strong>-ённый </strong>имеет при этом по общему правилу краткие формы схемы /b; причастие на    <strong>-а́нный</strong> имеет краткие формы схемы /а. Примеры:
</p>

<table class="left-aligned">
    <tr>
        <td>
            раздели́ть 
        </td>
        <td>
            св 4с⑦ — <code>прич. страд</code>. разделённый
        </td>
    </tr>
    <tr>
        <td>
            обуя́ть 
        </td>
        <td>
            св 1а⑦ —<code> прич. страд.</code> обуя́нный, <code>кф (устаревш.)</code> обуя́н, обуя́на, обуя́но, обуя́ны<sup>1</sup>
        </td>
    </tr>
</table>

<p>
    Пример с пометой ⑦:
</p>

<table class="left-aligned">
    <tr>
        <td>
            <strong>иссуши́ть</strong>
        </td>
        <td>
            св 4с⑦— <code>прич. страд.</code> иссу́шенный // иссушённый
        </td>
    </tr>
</table>

<p>
    Помета ⑧ означает, что в прич. страд. ударение падает на третий слог от конца; таким образом, это причастие оканчивается на безударное    <strong>-енный</strong> вместо ожидаемого <strong>-ённый </strong>(иначе говоря, имеет место отклонение, обратное предыдущему). Пример:
</p>

<table class="left-aligned">
    <tr>
        <td>
            скрои́ть
        </td>
        <td>
            св 4b⑧ — <code>прич. страд. </code>скро́енный
        </td>
    </tr>
</table>

<p>

    Пример с пометой⑧:

</p>

<table class="left-aligned">
    <tr>
        <td>
            разгроми́ть
        </td>
        <td>
            св 4b⑧— <code>прич. страд. </code>разгромлённый // разгро́мленный
        </td>
    </tr>
</table>

<a name="verb-circle-9"></a>

<h5>

    <strong> Помета ⑨</strong>

</h5>

<p>

    Помета ⑨ встречается у глаголов совершенного вида и означает, что у данного глагола в роли деепр. прош. выступает форма на <strong>-я (-а)</strong>,

    образованная от основы буд. времени по правилам для деепр. наст. Регулярно образованное деепр. прош. при этом также существует, но в современном языке

    неупотребительно. Пример:

</p>

<table class="left-aligned">
<tr>
    <td>
        привезти́
    </td>
    <td>
        св 7b / b⑨, ё — <code>деепр. прош.</code> привезя́ [// <code>устар. </code>привёзши].
    </td>
</tr>
</table>

<h5 id="verb-yo">
    ПОМЕТА «ё» (ИЛИ «о»)
</h5>

<p>

    Эти знаки показывают, что в основе глагола происходит чередование <strong>ё/е</strong> (соответственно<strong> о/е</strong>).

</p>

<p>

    Помета «ё» означает, что последнее <strong>е </strong>основы инфинитива (у глаголов на <strong>-ереть</strong> типа 9 — предпоследнее <strong>е</strong>)

    заменяется на <strong>ё</strong>, если оно оказывается под ударением, в любой из следующих форм: прош. время, прич. прош., деепр. прош. и прич. страд.

    Примеры:

</p>

<table class="left-aligned">
        <tr>
            <td>
                наверста́ть
            </td>
            <td>
                    св 1а, ё — <code>прич. страд.</code> навёрстанный
            </td>
        </tr>
        <tr>
            <td>
                растрепа́ть
            </td>
            <td>
                    св 6с, ё — <code>прич. страд.</code> растрёпанный
            </td>
        </tr>
        <tr>
            <td>
                поверну́ть
            </td>
            <td>
                    св 3b, ё — <code>прич. страд.</code> повёрнутый
            </td>
        </tr>
        <tr>
            <td>
                нести́
            </td>
            <td>
                    нсв 7b/b (-с-), ё — <code>прош. м</code> нёс; <code>прич. прош.</code> нёсший; <code>деепр. прош.</code> нёсши
            </td>
        </tr>
        <tr>
            <td>
                бере́чь
            </td>
            <td>
                    нсв 8b/b (-г-), ё — <code>прош. м</code> берёг; <code>прич. прош.</code> берёгший; <code>деепр. прош.</code> берёгши
            </td>
        </tr>
        <tr>
            <td>
                протере́ть
            </td>
            <td>
                    св 9b, ё — <code>прош.</code> протёр, протёрла, протёрло, протёрли; <code>прич. прош.</code> протёрший, <code>деепр. прош.</code> протёрши //

                    протере́в; <code>прич. страд.</code> протёртый
            </td>
        </tr>
</table>
<p>

    Заметим, что в соответствии с приведенным правилом <strong>е </strong>сохраняется даже под ударением, например, в таких формах, как    <code>растре́плет, тре́плющий, исхле́щет, хле́щущий</code> и т. п.

</p>

<p>

    Помета «о» встречается только при глаголах на <strong>-цевать </strong>типа 2 и означает, что прич. страд. оканчивается на <strong>-цованный </strong>(с

    чередованием <strong>е/о). </strong>Пример:

</p>

<table class="left-aligned">
    <tr>
        <td>
            перелицева́ть  
        </td>
        <td>
            св 2а, о — <code>прич. страд.</code><strong> </strong>перелицо́ванный.
        </td>
    </tr>
</table>

<p>

    Переход <strong>е </strong>в <strong>ё </strong>довольно часто отсутствует в прич. прош. и деепр. прош. глаголов типа 7 и 8, например:    <strong>зацвести́ </strong>— <code>зацвёл, </code>но <code>зацве́тший, зацве́тши.</code><strong> </strong>Эта особенность не рассматривается как неправильность и

    отмечается в словарной статье тем, что непосредственно выписывается форма прич. прош., например:

</p>

<table class="left-aligned">
    <tr>
        <td>
            зацвести́ 
        </td>
        <td>
            св нп 7b/b (-т-), ё <code>(</code>но<code> прич. прош.</code><strong> </strong>зацве́тший).
        </td>
    </tr>
</table>

<p class="footnote">

    <sup>1</sup>

    Краткие формы приведены для наглядности, поскольку причастия на ударное <strong>-а́нный, -я́нный</strong> являются редкостью.

</p>

