@page

<h2 style="clear: both; text-align: left">Содержание</h2>

<ul id="contents">
    <li><a href="preface">Предисловие</a></li>
    <li>
        <a href="preface1">Предисловие к первому изданию</a>
        <ul>
            <li><a href="preface1#inverse-order">Инверсионный порядок слов</a></li>
            <li><a href="preface1#classes">Грамматические разряды</a></li>
            <li>
                <a href="preface1#nouns">Существительные</a>
                <ul>
                    <li><a href="preface1#immutable">Неизменяемые существительные</a></li>
                    <li><a href="preface1#singularia-tantum">Singularia tantum</a></li>
                    <li><a href="preface1#pluralia-tantum">Pluralia tantum</a></li>
                </ul>
            </li>
            <li>
                <a href="preface1#adjectives">Прилагательные</a>
                <ul>
                    <li><a href="preface1#short-forms">Краткие формы</a></li>
                    <li><a href="preface1#comparative">Сравнительная степень</a></li>
                </ul>
            </li>
            <li><a href="preface1#pronouns">Местоимения</a></li>
            <li><a href="preface1#numerals">Числительные</a></li>
            <li><a href="preface1#verbs">Глаголы</a></li>
            <li><a href="preface1#potential">Потенциальные формы</a></li>
            <li><a href="preface1#difficulty">Затрудненность</a></li>
            <li><a href="preface1#unstable-animacy">Неустойчивая одушевленность</a></li>
            <li><a href="preface1#unstable-aspect">Неустойчивый глагольный вид</a></li>
            <li><a href="preface1#sources">Источники и словник словаря</a></li>
            <li><a href="preface1#norm">Нормативность словаря и отражение вариантов</a></li>
        </ul>
    </li>
    <li>
        <a href="howtouse">Как пользоваться словарем</a>
        <ul>
            <li><a href="howtouse#order">Способ записи слов и порядок их расположения</a></li>
            <li>
                <a href="howtouse#format">Строение словарной статьи</a>
                <ul>
                    <li><a href="howtouse#main-symbol">Основной буквенный символ</a></li>
                    <li>
                        <a href="howtouse#index">Индекс</a>
                        <ul>
                            <li><a href="howtouse#digits">Цифры</a></li>
                            <li><a href="howtouse#star">Надстрочная звездочка (*) или кружочек (°) при цифре</a></li>
                            <li><a href="howtouse#latin">Латинская буква</a></li>
                            <li><a href="howtouse#russianchars">Русская буква или буквенная последовательность</a></li>
                            <li><a href="howtouse#chare">Знак «ё»</a></li>
                            <li><a href="howtouse#angle-brackets">Угловые скобки</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="howtouse#additional-symbols">Дополнительные пометы и указания</a>
                        <ul>
                            <li><a href="howtouse#znak1">Знаки —, ✕, ☒, ∼.</a></li>
                            <li><a href="howtouse#multiword-plus">Знак + внутри индекса</a></li>
                            <li><a href="howtouse#p2r2">Пометы П<sub>2</sub> и Р<sub>2</sub></a></li>
                            <li><a href="howtouse#para-sign">Помета «§...»</a></li>
                            <li><a href="howtouse#see-other">Отсылка к другому слову</a></li>
                            <li><a href="howtouse#other-instructions">Различные словесные указания о формах</a></li>
                            <li><a href="howtouse#glossa">Указание значения</a></li>
                            <li><a href="howtouse#triangle">Указания за знаком △</a></li>
                            <li><a href="howtouse#diamond">Указания за знаком ✧</a></li>
                            <li><a href="howtouse#half-circle">Указания за знаком ◑</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="howtouse#special-cases">Особые случаи оформления словарной статьи</a>
                <ul>
                    <li><a href="howtouse#form-list">Сокращенная запись форм</a></li>
                    <li><a href="howtouse#homonyms">Омонимы</a></li>
                    <li><a href="howtouse#colon-restricted-words">Слова с ограниченной сочетаемостью</a></li>
                    <li><a href="howtouse#variation-notation">Оформление вариантов</a></li>
                    <li><a href="howtouse#square-brackets">Квадратные скобки</a></li>
                </ul>
            </li>
            <li>
                <a href="howtouse#building-forms">Как построить нужные формы слова</a>
                <ul>
                    <li><a href="howtouse#build1">Построение с помощью образцов</a></li>
                    <li><a href="howtouse#build2">Построение непосредственно по индексу</a></li>
                </ul>
            </li>
            <li>
                <a href="howtouse#conventions">Условные знаки и сокращения</a>
                <ul>
                    <li><a href="howtouse#abbreviations">Условные сокращения</a></li>
                    <li><a href="howtouse#conventional-symbols">Условные знаки</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="declension/symbols">
            Грамматические сведения
        </a>
        <ul>
            <li>
                <a href="declension/symbols#declension">Склонение</a>
                <ul>
                    <li>
                        <a href="declension/symbols#meaning">Значение буквенных символов и элементов индекса у имен</a>
                        <ul>
                            <li>
                                <a href="declension/symbols#main-symbol">Буквенные символы</a>
                                <ul>
                                    <li><a href="declension/symbols#main-characters">Основная синтаксическая характеристика имени</a></li>
                                    <li>
                                        <a href="declension/symbols#main-morph">
                                            Основная морфологическая характеристика имени
                                        </a>
                                        <ul>
                                            <li><a href="declension/symbols#standart1">Стандартные окончания субстантивного склонения</a></li>
                                            <li>
                                                <a href="declension/symbols#standart2">Стандартные окончания адъективного склонения</a>
                                                <ul>
                                                    <li><a href="declension/symbols#s1">Полные формы</a></li>
                                                    <li><a href="declension/symbols#s2">Краткие формы</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="declension/symbols#standart3">Стандартные окончания местоименного склонения</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="declension/symbols#choosing-endings">Выбор нужной группы окончаний в приведенных выше таблицах</a>
                                <ul>
                                    <li><a href="declension/symbols#choose1">Прилагательные</a></li>
                                    <li><a href="declension/symbols#choose2">Существительные</a></li>
                                    <li><a href="declension/symbols#choose3">Местоимения и числительные</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="declension/symbols#meaning1">Цифра индекса</a>
                                <ul>
                                    <li><a href="declension/symbols#indices-3-7">Отличия типов склонения 3—7 от 1, 2</a></li>
                                </ul>
                            </li>
                            <li><a href="declension/symbols#star">Звездочка при цифре</a></li>
                            <li><a href="declension/symbols#superscript-circle">Кружочек при цифре</a></li>
                            <li>
                                <a href="declension/symbols#latin-letter">
                                    Латинская буква
                                </a>
                                <ul>
                                    <li>
                                        <a href="declension/symbols#latin1">Схемы ударения в субстантивном склонении</a>
                                        <ul>
                                            <li><a href="declension/symbols#scheme1">Основные схемы ударения (без штрихов)</a></li>
                                            <li><a href="declension/symbols#scheme2">Образцы основных схем ударения</a></li>
                                            <li><a href="declension/symbols#scheme3">Второстепенные схемы ударения (со штрихами)</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="declension/symbols#latin2">Схемы ударения в адъективном склонении</a>
                                        <ul>
                                            <li><a href="declension/symbols#full-adj-stress-scheme">Схемы ударения полных форм</a></li>
                                            <li><a href="declension/symbols#short-adj-stress-scheme">Схемы ударения кратких форм</a></li>
                                            <li><a href="declension/symbols#scheme5">Образцы схем ударения кратких форм</a></li>
                                            <li><a href="declension/symbols#scheme6">Второстепенные схемы ударения (со штрихами)</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="declension/symbols#latin3">Схемы ударения в местоименном склонении</a></li>
                                    <li>
                                        <a href="declension/symbols#latin4">Дополнительные правила об ударении</a>
                                        <ul>
                                            <li><a href="declension/symbols#additional1">Правило о положении ударения внутри основы</a></li>
                                            <li><a href="declension/symbols#additional2">Правило о положении ударения внутри окончания</a></li>
                                            <li><a href="declension/symbols#additional3">Правило о положении ударения при неслоговом окончании</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="declension/symbols#circled-number">Цифра в кружке</a></li>
                            <li><a href="declension/symbols#yo">Помета «ё»</a></li>
                            <li><a href="declension/symbols#build-using-index">Построение форм склонения по индексу</a></li>
                            <li><a href="declension/symbols#build-comparative">Построение сравнительной степени прилагательных</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="declension/symbols#patterns">Образцы склонения</a>
                        <ul>
                            <li><a href="declension/symbols#patterns1">Полные и сокращенные парадигмы</a></li>
                            <li><a href="declension/symbols#patterns2">Особенности, связанные с одушевленностью — неодушевленностью существительных</a></li>
                            <li><a href="declension/symbols#restore-paradigm">Правила восстановления невыписанных форм парадигмы</a></li>
                            <li><a href="declension/symbols#patterns4">Как найти нужный образец</a></li>
                            <li>
                                <a href="declension/symbols#patterns5">Как просклонять слово по найденному образцу</a>
                                <ul>
                                    <li><a href="declension/symbols#found1">Особое правило о винительном падеже существительных</a></li>
                                    <li><a href="declension/symbols#found2">Общие правила построения форм по заданному образцу</a></li>
                                    <li><a href="declension/symbols#found3">Буквенный состав формы А'</a></li>
                                    <li><a href="declension/symbols#found4">Ударение формы А'</a></li>
                                </ul>
                            </li>
                            <li><a href="declension/symbols#patterns6">Субстантивное склонение</a></li>
                            <li>
                                <a href="declension/symbols#patterns7">Мужской род</a>
                                <ul>
                                    <li>
                                        <a href="declension/symbols#m1">А. Индексы простые</a>
                                        <ul>
                                            <li><a href="declension/symbols#a1">Типы 1—7</a></li>
                                            <li><a href="declension/symbols#a2">Схема ударения а</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>Адъективное склонение</li>
                            <li>Склонение числительных
                                <ul>
                                    <li><a href="declension/symbols#d1">Склонение числительных 50, 60, 70, 80</a></li>
                                    <li><a href="declension/symbols#d2">Склонение названий сотен</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="declension/symbols#additional-symbols-nouns">Значение дополнительных помет и указаний при именах</a>
                        <ul>
                            <li><a href="declension/symbols#minus-nouns">Знак — (минус) (у существительных)</a></li>
                            <li><a href="declension/symbols#minus-adjectives">Знак — (минус) (у прилагательных)</a></li>
                            <li><a href="declension/symbols#cross-adjectives">Знак <span class="cross"></span> (у прилагательных)</a></li>
                            <li><a href="declension/symbols#boxed-cross-adjectives">Знак <span class="boxed-cross"></span> (у прилагательных)</a></li>
                            <li><a href="declension/symbols#tilde-adjectives">Знак ~ (у прилагательных)</a></li>
                            <li><a href="declension/symbols#p2-nouns">Помета П<sub>2</sub> (у существительных)</a></li>
                            <li><a href="declension/symbols#r2-nouns">Помета Р<sub>2</sub> (у существительных)</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="declension/stressed_preposition">Сведения о переносе ударения на предлог (у существительных и числительных)</a>
                        <ul>
                            <li><a href="declension/stressed_preposition#str1">Существительные</a></li>
                            <li><a href="declension/stressed_preposition#str2">Числительные</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="declension/paragraphs">Дополнительные особенности в склонении</a><br />
                        <a href="declension/paragraphs#para1">§1</a>
                        <a href="declension/paragraphs#para2">§2</a>
                        <a href="declension/paragraphs#para3">§3</a>
                        <a href="declension/paragraphs#para4">§4</a>
                        <a href="declension/paragraphs#para5">§5</a>
                        <a href="declension/paragraphs#para6">§6</a>
                        <a href="declension/paragraphs#para7">§7</a>
                        <a href="declension/paragraphs#para8">§8</a>
                        <a href="declension/paragraphs#para9">§9</a>
                        <a href="declension/paragraphs#para10">§10</a>
                        <a href="declension/paragraphs#para11">§11</a>
                        <a href="declension/paragraphs#para12">§12</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="conjugation">Спряжение</a>
                <ul>
                    <li>
                        <a href="conjugation#symbol-meaning">Значение буквенных символов и элементов индекса у глаголов</a>
                        <ul>
                            <li><a href="conjugation#verb-symbol">Буквенные символы</a></li>
                            <li>
                                <a href="conjugation#index-number">Цифра индекса</a>
                                <ul>
                                    <li><a href="conjugation#standard-alternations">Стандартные чередования согласных</a></li>
                                    <li><a href="conjugation#types">Таблица типов спряжения</a></li>
                                </ul>
                            </li>
                            <li><a href="conjugation#star">Звездочка при цифре</a></li>
                            <li><a href="conjugation#superscript-circle">Кружочек при цифре</a></li>
                            <li>
                                <a href="conjugation#latin-letter">Латинская буква</a>
                                <ul>
                                    <li>
                                        <a href="conjugation#head53">Схемы ударения настоящего времени</a>
                                        <ul>
                                            <li><a href="conjugation#head61">Образцы основных схем ударения настоящего времени</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="conjugation#past-stress-types">Схемы ударения прошедшего времени</a>
                                        <ul>
                                            <li><a href="conjugation#past-stress-models">Образцы схем ударения прошедшего времени</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="conjugation#additional-stress-rules">Дополнительные правила об ударении</a>
                                        <ul>
                                            <li><a href="conjugation#stress-position-in-stem">Правило о положении ударения внутри основы</a></li>
                                            <li><a href="conjugation#stress-position-in-ending">Правило о положении ударения внутри окончания</a></li>
                                            <li><a href="conjugation#stress-position-in-non-syllable-ending">Правило о положении ударения при неслоговом окончании</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="conjugation#alternation">Русская буква или буквенная последовательность в скобках</a></li>
                            <li>
                                <a href="conjugation#digitsinround">
                                    Цифра в кружке
                                </a><br />
                                <a href="conjugation#verb-circle-1">①</a>
                                <a href="conjugation#verb-circle-2">②</a>
                                <a href="conjugation#verb-circle-2">③</a>
                                <a href="conjugation#verb-circle-4">④</a>
                                <a href="conjugation#verb-circle-5">⑤</a>
                                <a href="conjugation#verb-circle-5">⑥</a>
                                <a href="conjugation#verb-circle-7">⑦</a>
                                <a href="conjugation#verb-circle-8">⑧</a>
                                <a href="conjugation#verb-circle-9">⑨</a>
                            </li>
                            <li>
                                <a href="conjugation#verb-yo">Помета «ё» (или «о»)</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="conjugation/symbols#build-using-index">Построение глагольных форм по индексу</a>
                        <ul>
                            <li>
                                <a href="conjugation/symbols#head46">Личные формы</a>
                                <ul>
                                    <li><a href="conjugation/symbols#present-future">Настоящее-будущее время</a></li>
                                    <li><a href="conjugation/symbols#past">Прошедшее время</a></li>
                                    <li><a href="conjugation/symbols#future">Будущее время несовершенного вида</a></li>
                                    <li><a href="conjugation/symbols#imperative">Повелительное наклонение</a></li>
                                    <li><a href="conjugation/symbols#subjunctive">Сослагательное наклонение</a></li>
                                    <li><a href="conjugation/symbols#personal-forms-sya">Личные формы на <word-end>-ся</word-end> (<word-end>-сь</word-end>) со страдательным значением</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="conjugation/symbols#nonpersonal-forms">Неличные формы</a>
                                <ul>
                                    <li><a href="conjugation/symbols#active-present-participle">Действительное причастие настоящего времени</a></li>
                                    <li><a href="conjugation/symbols#present-gerund">Деепричастие настоящего времени</a></li>
                                    <li><a href="conjugation/symbols#active-past-participle">Действительное причастие прошедшего времени</a></li>
                                    <li><a href="conjugation/symbols#past-gerund">Деепричастие прошедшего времени</a></li>
                                    <li><a href="conjugation/symbols#passive-present-participle">Страдательное причастие настоящего времени</a></li>
                                    <li><a href="conjugation/symbols#passive-past-participle">Страдательное причастие прошедшего времени</a></li>
                                    <li><a href="conjugation/symbols#nonpersonal-forms-sya">Неличные формы на <word-end>-ся</word-end> (<word-end>-сь</word-end>) со страдательным значением</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="conjugation/models">Образцы спряжения</a>
                        <ul>
                            <li>
                                <a href="conjugation/models#shape">Состав форм у глаголов разных грамматических групп</a>
                                <ul>
                                    <li>
                                        <a href="conjugation/models#reflexive-verbs">Особенность возвратных глаголов</a>
                                        <ul>
                                            <li>
                                                <a href="conjugation/models#head66">Правило распределения <strong>-ся</strong> и <strong>-сь</strong></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="conjugation/models#head520">Сокращенная запись глагольной парадигмы и восстановление остальных форм по этой записи</a>
                                        <ul>
                                            <li><a href="conjugation/models#head67">Наст. (буд.) и повел.</a></li>
                                            <li><a href="conjugation/models#head68">Прош.</a></li>
                                            <li><a href="conjugation/models#head69">Прич. страд.</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="conjugation/models#head521">Как найти нужный образец (или образцы)</a></li>
                                    <li><a href="conjugation/models#head522">Как проспрягать глагол по найденному образцу</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="conjugation/symbols2#additional-symbols-verbs">Значение дополнительных помет и указаний при глаголе</a>
                        <ul>
                            <li><a href="conjugation/symbols2#verb-cross">Знак <span class="cross" /></a></li>
                            <li><a href="conjugation/symbols2#verb-boxed-cross">Знак <span class="boxed-cross" /></a></li>
                            <li><a href="conjugation/symbols2#zhd">Запись «прич. страд. -жд-»</a></li>
                            <li><a href="conjugation/symbols2#forms">Формы, приведенные полностью, но не за знаком Δ</a></li>
                            <li><a href="conjugation/symbols2#stressed_particle">Сведения о переносе ударения на частицу</a></li>
                            <li>
                                <a href="conjugation/symbols2#aspect">Указания за знаком ◑ – сведения о глаголе противоположного вида</a>
                                <ul>
                                    <li>
                                        <a href="conjugation/symbols2#aspect-imperfect">Построение глагола несовершенного вида</a>
                                        <a href="conjugation/symbols2#aspect-I">◑I</a>
                                        <a href="conjugation/symbols2#aspect-II">◑II</a>
                                        <a href="conjugation/symbols2#aspect-III">◑III</a>
                                    </li>
                                    <li>
                                        <a href="conjugation/symbols2#aspect-perfect">Построение глагола совершенного вида</a>
                                        <ul>
                                            <li>
                                                <a href="conjugation/symbols2#table1">Таблица построения глаголов совершенного вида</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Дополнительные особенности в спряжении
                                <br />
                                <a href="conjugation/symbols2#para13">§13</a>
                                <a href="conjugation/symbols2#para14">§14</a>
                                <a href="conjugation/symbols2#para15">§15</a>
                                <a href="conjugation/symbols2#para16">§16</a>
                                <a href="conjugation/symbols2#para17">§17</a>
                                <a href="conjugation/symbols2#para18">§18</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="names">Приложение. Имена собственные</a>
        <ul>
            <li>
                <a href="names#names">Имена собственные</a>
                <ul>
                    <li><a href="names#selection">Принципы отбора имен собственных</a></li>
                    <li><a href="names#variation">Проблема вариативности ударения и фонетического состава у имен собственных</a></li>
                    <li>
                        <a href="names#podacha">Подача материала</a>
                        <ul>
                            <li><a href="names#osoben">Особенности оформления статей</a></li>
                            <li>
                                <a href="names#dopol">Дополнительные особенности</a>
                                <br />
                                <a href="names#para19">§19</a>
                                <a href="names#para20">§20</a>
                                <a href="names#para21">§21</a>
                                <a href="names#para22">§22</a>
                                <a href="names#para23">§23</a>
                                <a href="names#para24">§24</a>
                                <a href="names#para25">§25</a>
                                <a href="names#para26">§26</a>
                                <a href="names#para27">§27</a>
                                <a href="names#para28">§28</a>
                                <a href="names#para29">§29</a>
                                <a href="names#para30">§30</a>
                                <ul>
                                    <li>
                                        <a href="names#conventions">Пометы, условные знаки</a>
                                        <ul>
                                            <li><a href="names#abbreviations">Условные сокращения</a></li>
                                            <li><a href="names#conventional-symbols">Условные знаки</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
