@page

<h2 style="clear: both; text-align: left">Содержание</h2>

<div id="contents-page"></div>

@section AdditionalRequiredScripts {
    <script src="https://unpkg.com/react-accessible-accordion@3.0.0/dist/umd/index.js"></script>
}

@section PageScripts {
    <script src="/js/contentsPage.js"></script>
}
