@page

<h1>A Brief Introduction in English</h1>

<p>
    The Grammatical Dictionary of Russian (Грамматический словарь русского языка)
    is a dictionary which fully describes the declension and conjugation of over 100 000 Russian words.
    It was written by <a href="https://en.wikipedia.org/wiki/Andrey_Zaliznyak">Andrey Zaliznyak</a>
    in 1964-1977 and later in the 2000s extended with proper names.
</p>
<p>
    Traditionally the declension of a word is described using declension tables.
    They list all the inflected forms of the word explicitly:
</p>

<table>
    <tr>
        <td></td>
        <td>Singular</td>
        <td>Plural</td>
    </tr>
    <tr>
        <td>Nominative</td>    <td>рука́</td>  <td>ру́ки</td>
    </tr>
    <tr>
        <td>Genitive</td>      <td>руки́</td>  <td>ру́к</td>
    </tr>
    <tr>
        <td>Dative</td>        <td>руке́</td>  <td>рука́м</td>
    </tr>
    <tr>
        <td>Accusative</td>    <td>ру́ку</td>  <td>ру́ки</td>
    </tr>
    <tr>
        <td>Instrumental</td>  <td>руко́й</td> <td>рука́ми</td>
    </tr>
    <tr>
        <td>Prepositional</td> <td>руке́</td>  <td>рука́х</td>
    </tr>
</table>

<p>
    Russian verbs can have up to 120 grammatical forms.
    If we were to represent the declension and conjugation of 100 000 Russian words in such an explicit manner,
    we would end up with around 100 volumes, each 1000 pages long.
</p>
<p>
    The Grammatical Dictionary represents the same amount of information in just 800 pages.
    It does so utilising so-called indexes.
    A typical index looks like “1a” with the number (“1” in this case) indicating which set of endings the word takes
    and the Latin letter (a) indicating how its stress changes with inflection.
    Parts of speech are represented with abbreviations such as "м" for masculine nouns or "ж" for feminine nouns.
    E.g. this is how the word <strong>рука</strong> is represented in the dictionary:
</p>
<p>
    <strong>рука́</strong> ж 1f’
</p>
<p>
    That is all it takes to fully describe the declension of the word with stress changes (рука́, ру́ку, ру́ки, рука́ми).
    Some words get additional signs to reflect common deviations from the standard declension.
</p>
<p>
    The first part of the book contains detailed instructions for building a declension or conjugation table
    for a word based on its index.
</p>