@page

<h2>КАК ПОЛЬЗОВАТЬСЯ СЛОВАРЕМ</h2>

<h3 id="order">Способ записи слов и порядок их расположения</h3>
<p>
    Каждое слово представлено в словаре своей <em>исходной</em>, или <em>словарной</em> формой
    (которая образует так наз. заглавное слово статьи).
    Для склоняемых частей речи это именительный падеж
    (если слово изменяется по числам — ед. числа; если оно изменяется по родам — мужского рода),
    для глаголов — инфинитив, для неизменяемых частей речи — единственная имеющаяся форма.
    Прилагательные, не имеющие полных форм (например, <strong>рад</strong>), приводятся в краткой форме мужского рода.
    Прочие изменяемые слова, не имеющие обычной исходной формы, таковы
    (они приводятся здесь в той же форме, что в словаре):
    <strong>себя&#769;, дру&#768;г дру&#769;га, не&#769;кого, не&#769;чего, дрове&#769;ц, дрожже&#769;ц, щец, сот; неймёт, неймётся, немо&#769;жется, езжа&#769;й, поезжа&#769;й, ступа&#769;й</strong>.
</p>
<p>
    Все слова (как в исходной, так и в прочих формах) даются в обычной орфографической записи, но с указанием ударения.
    Отмечается как главное ударение (знак &#769;), так и второстепенное, если оно имеется (знак &#768;), например:
    <strong>доро&#769;га, ко&#768;нтрразве&#769;дка, трё&#768;хметро&#769;вый, а&#768;втомо&#768;токлу&#769;б</strong>.
    (О второстепенном ударении см. также <a href="~/preface1#secondary-stress">предисловие</a>.)
</p>
<p>
    Знак главного ударения опускается в односложных формах, приводимых изолированно (вне словосочетаний), например:
    исходные формы — <strong>я, час, злой, там</strong>; прочие формы — И. мн. <code>льды</code>, кф м <code>зол</code>, прош. м <code>был</code>
    (ср. сохранение знака &#769; в словосочетаниях и фразах, например: <code>я&#769; ведь то&#769;же та&#769;м бы&#769;л; ча&#769;с о&#769;т часу</code>).
</p>
<p>
    Для того, чтобы это правило не привело к неразличению ударных и безударных односложных слов,
    последние снабжены пометой «без удар(ения)» или «нормально без удар(ения)», например:
    <strong>ведь</strong> (<code>без удар.</code>),
    <strong>от</strong> (<code>нормально без удар.</code>).
    Эти пометы ставятся только при исходных формах (при записи словосочетаний в них нет необходимости).
    Помета «без удар.» означает, что данное слово всегда безударно.
    Помета «нормально без удар.» (стоящая только при части предлогов и при частицах <code>не</code> и <code>ни</code>) означает, что
    данное слово в нормальном случае безударно, но получает ударение в некотором ограниченном числе словосочетаний, где
    следующее за ним слово теряет свое ударение, например:
    <code>на&#769; пол, за&#769; голову, ча&#769;с о&#769;т часу, при&#769; смерти, не&#769; был</code>.
    (Все такие словосочетания приведены в словаре за знаком ⟡ в статьях соответствующих существительных и глаголов,
    см. ниже, <a href="#znak9">стр. 15.</a>)
</p>
<p>
    Наряду с указанными двумя пометами, в словаре возможна также (причем не только при односложных словах)
    помета «часто без удар(ения)», например:
    <strong>хоть</strong> <code>(часто без удар.)</code>,
    <strong>перед</strong> <code>(часто без удар.)</code>.
    Она означает, что данное слово может быть в составе фразы как ударным, так и безударным;
    возможен также промежуточный случай, когда ударение такого слова реализуется как второстепенное (т. е. ослабленное).
    На ударение последующего слова эти колебания не влияют.
    Пример: <strong>
        пе&#769;ред до&#769;мом,
        пе&#768;ред до&#769;мом или
        перед до&#769;мом
    </strong>.
    Выбор полноударного, слабоударного или безударного варианта в одних случаях свободен, в других
    подчиняется довольно сложным правилам, которые в настоящем словаре не приводятся.
</p>
<p>
    Знак главного ударения опускается также над буквой <strong>ё</strong>, например, <strong>самолёт, трёхколёсный</strong>.
    Замена <strong>е</strong> на <strong>ё</strong> возможна потому, что безударного (то есть лишенного даже второстепенного ударения)
    <span class="letter">ё</span> не бывает; таким образом, <span class="letter">ё</span> в настоящем словаре всегда равносильно <span class="letter">ё&#769;</span>.
</p>
<p>
    Два знака главного ударения над одним словом означают: а) если в слове есть дефис — что каждая часть сложного слова
    имеет главное ударение, например: <strong>баба-яга</strong>, также <strong>ковёр-самолёт</strong> (<span class="letter">ё</span> = <span class="letter">ё&#769;</span>, ср. выше);
    б) если в слове нет дефиса — что возможны два варианта ударения, например,
    <strong>то&#769;тча&#769;с</strong> = <strong>то&#769;тчас</strong> и <strong>тотча&#769;с</strong>,
    <strong>кулина&#769;ри&#769;я</strong> = <strong>кулина&#769;рия</strong> и <strong>кулинари&#769;я</strong>.
</p>
<p>
    В пояснительных текстах под гласными и согласными понимаются буквы (не фонемы), а именно:
    буквы <span class="letter">а, е, ё, и, о, у, ы, э, ю, я</span> — гласные, прочие (кроме <span class="letter">ъ</span> и <span class="letter">ь</span>) — согласные.
    Под шипящими понимаются согласные буквы <span class="letter">ш, ж, ч, щ</span>.
    Аналогичным образом под основами и окончаниями понимаются определенные буквенные (не фонемные) последовательности.
</p>
<p>
    Порядок расположения слов в словаре — инверсионный алфавитный.
    Это значит, что все слова разделены на группы в зависимости от конечной буквы: вначале идут все слова,
    оканчивающиеся на
    <span class="letter">-а</span>, затем на
    <span class="letter">-б</span>,
    <span class="letter">-в</span>,
    <span class="letter">-г</span>,
    и т. д. до <span class="letter">-я</span>, в порядке алфавита.
    Внутри группы слов, например, на <span class="letter">-а</span> порядок определяется второй буквой от конца:
    вначале идут слова на <span class="letter">-аа</span> (если такие вообще есть),
    затем на
    <span class="letter">-ба</span>,
    <span class="letter">-ва</span>,
    <span class="letter">-га</span>,
    и т. д. до
    <span class="letter">-яа</span>.
    Внутри группы слов, например, на
    <span class="letter">-га</span>
    порядок определяется третьей буквой от конца:
    <span class="letter">-ага</span>,
    <span class="letter">-бга</span>,
    <span class="letter">-вга</span>,
    и т. д. до
    <span class="letter">-яга</span>;
    аналогично и дальше. Подробнее см. <a href="~/preface1#inverse-order">предисловие</a>.
</p>
<p>
    С точки зрения порядка расположения слов в словаре, как один и тот же знак рассматриваются:
    а) буква со знаком ударения и без него (ср., например, последовательность
    <strong>даба&#769;, жа&#769;ба, раба&#769;</strong>);
    б) буквы <span class="letter">е</span> и <span class="letter">ё</span>
    (ср. <strong>вале&#769;т, налёт, туале&#769;т</strong>);
    в) дефис и его отсутствие (т. е. несущественно различие между дефисным и слитным написанием;
    ср. <strong>разрыв-трава, притрава, трын-трава, отрава</strong>).
    Однако в случаях, когда два слова должны были бы по этим правилам занять в словаре одно и то же место,
    принят порядок, демонстрируемый следующими парами примеров;
    <strong>
        за&#769;мок, замо&#769;к;
        надо, на&#769;до;
        сверхсро&#769;чный, све&#768;рхсро&#769;чный;
        паде&#769;ж, падёж;
        сто&#769;йка, сто&#769;й-ка<sup><a href="#footnote1">1</a></sup>;
        по&#769;за, по-за
    </strong>.
    Тот же порядок, что в парах типа <strong>надо — на&#769;до</strong>, принят и для аналогичных пар односложных слов
    (хотя ударность и безударность отмечается здесь иначе, см. выше), например, <strong>мол</strong> (<code>без удар.</code>),
    <strong>мол</strong>;
    <strong>до</strong> (<code>нормально без удар.</code>)<sup><a href="#footnote2">2</a></sup>, <strong>до</strong>.
</p>
<p class="footnote" id="footnote1">
    <sup>1</sup> Слово <strong>сто́й-ка</strong> в действительности в словаре отсутствует и использовано здесь лишь для наглядности.
</p>
<p class="footnote" id="footnote2">
    <sup>2</sup> Слова с пометой «нормально без удар.» рассматриваются, таким образом, как частный случай безударных слов.
    Напротив, слова с пометой «часто без удар.» рассматриваются как частный случай слов, имеющих ударение.
</p>

<h3 id="format">Строение словарной статьи</h3>
<p>
    Словарная статья в общем случае состоит (не считая заглавного слова) из:
    1) основного буквенного символа,
    2) индекса,
    3) дополнительных помет и указаний (в частных случаях тот или иной из этих элементов может отсутствовать).
</p>

<p>
    Если разным значениям слова соответствуют какие-то различия в образовании форм,
    словарная статья распадается на соответствующее число частей («подстатей»),
    каждая из которых строится как самостоятельная статья
    (т. е. имеет свой основной буквенный символ, свой индекс и свои дополнительные пометы и указания).
    Каждая такая подстатья начинается с новой строки.
</p>

<h4 id="main-symbol">Основной буквенный символ</h4>

<p>
    Основной буквенный символ (у всех слов, кроме существительных и глаголов) — это буквенное сокращение,
    обозначающее часть речи (список сокращений см. на <a href="#abbreviations">стр. 20</a>).
    У существительных основной буквенный символ состоит из символов рода и одушевленности или неодушевленности
    (или символа «мн.»), у глаголов — из символов вида и переходности или
    непереходности<sup><a href="#footnote3">3</a></sup>;
    часть речи в этих случаях не указывается, поскольку она ясна из основного буквенного символа.
</p>
<p class="footnote" id="footnote3">
    <sup>3</sup> К этим символам могут, кроме того, добавляться пометы «многокр(атный)» и «безл(ичный)».
</p>

<h4 id="index">Индекс</h4>
<p>
    Индексы имеются только у изменяемых частей речи.
    Элементы, из которых складывается индекс, таковы
    (обязательным является только первый из них, любой из остальных элементов может и отсутствовать).
</p>
<ol>
    <li id="digits"><em>Цифра</em> (от 0 до 8 у имен, от 1 до 16 у глаголов) — тип склонения или спряжения.</li>
    <li id="star">
        Надстрочная звездочка (*) или кружочек (°) при цифре —
        символы наличия определенных чередований в основе (в некоторых особых случаях * и ° выступают одновременно).
    </li>
    <li id="latin">
        <em>Латинская буква</em> (или две буквы, разделенные косой чертой) без штрихов или со штрихами —
        <em>схема ударения</em>. (Этот элемент индекса отсутствует только после цифры 0.)
    </li>
    <li id="russianchars">
        Русская буква или буквенная последовательность (между черточками, в скобках), например, (-д-)
        при <strong>вести́</strong>, (-им-) при <strong>разня́ть</strong>, —
        указание (возможное только при небольшой части глаголов),
        позволяющее правильно образовать основу настоящего времени.
    </li>
    <li>
        Одна или несколько цифр в кружке (от ① до ⑨) —
        символы наиболее распространенных отклонений от стандартного склонения или спряжения.
    </li>
    <li id="chare">
        Знак «ё» — символ наличия в основе чередования:
        <span class="letter">ё</span> (под ударением) — <span class="letter">е</span> (без ударения).
        Вариантом этого знака является знак «о» (возможный только у глаголов на <word-end>-цевать</word-end>).
    </li>
</ol>

<p>
    Примеры индексов: 1a; Зa/c; 5*b; 1*а/b②, ё.
</p>
<p>
    У подавляющего большинства слов индекс состоит только из 1-го и 3-го элементов,
    т. е. из цифры и латинской буквы (или букв), например, 1а, 4b, За/с (или даже только из одной цифры 0).
    В дальнейшем такие индексы называются простыми.
    Совокупность 1-го, 2-го и 3-го элементов индекса называются основной частью индекса.
</p>
<p id="angle-brackets">
    У некоторых существительных и прилагательных индекс
    (вместе с дополнительным символом рода или части речи)
    заключен в угловые скобки.
    Это значит, что слово склоняется так, как указано в угловых скобках,
    хотя само принадлежит к другому роду&nbsp;или другой части речи. Примеры:
</p>
<table class="left-aligned">
    <tr>
        <td>
            мужчи́на
        </td>
        <td>
            мо &lt;жо 1а&gt; (т. е. это существительное мужского рода склоняется по образцу женского рода);
        </td>
    </tr>
    <tr>
        <td>
            запята́я
        </td>
        <td>
            ж &lt;п 1b&gt; (т. е. это существительное склоняется как прилагательное).
        </td>
    </tr>
</table>
<p>О том, как пользоваться индексом, см. ниже (раздел «<a href="#building-forms">Как построить нужные формы слова</a>»).</p>

<h4 id="additional-symbols">Дополнительные пометы и указания</h4>

<p> Часть таких указаний дается за специальными знаками (△, ✧, ◑); см. о них <a href="#znak9">ниже</a>. 
    Не отделяются от индекса какими-либо специальными знаками следующие пометы и указания.
</p>
<p id="znak1"><code>Знаки</code> —, ✕, ☒, ∼. 
    Ими отмечаются наиболее часто встречающиеся случаи отсутствия определенных форм или затруднительности их образования, 
    а также случаи, когда для некоторых форм сведения, вытекающие из индекса, 
    носят предположительный характер<sup><a href="#footnote4">4</a></sup> 
    (см. выше, <a href="preface1#hypothetical-plural">стр. 8</a>). 
    Значение этих символов различно для разных частей речи. 
    При существительных встречается только знак — (минус); 
    он означает, что сведения об образовании мн. числа данного слова, вытекающие из индекса, предположительны. 
    При прилагательных: 
    — (минус) — сведения об образовании краткой формы мужского рода, вытекающие из индекса, предположительны; 
    ✕ — образование кратких форм затруднительно; 
    ☒ — краткой формы мужского рода нет, образование прочих кратких форм затруднительно; 
    ∼ — сравнительной степени нет. 
    При глаголах: 
    ✕ — образование страдательного причастия прош. времени затруднительно; 
    ☒ — страдательного причастия прош. времени нет. 
    (Подробнее см. стр. <a href="declension/symbols#additional-symbols-nouns">68</a> и <a href="conjugation/symbols2#additional-symbols-verbs">136.</a>.)
</p>
<p id="multiword-plus"><code>Знак</code> + <code>внутри индекса.</code> 
    Он возможен только у слов, содержащих дефис (или у словосочетаний), и показывает, 
    что склоняются обе части сложного слова (или словосочетания). 
    Перед знаком + дается запись, относящаяся к части до дефиса (или пробела), 
    после него — к части после дефиса (или пробела). 
    Всё, что отделено от записи через + запятой (или другим разделительным знаком), 
    относится к обеим частям слова (или словосочетания)<sup><a href="#footnote5">5</a></sup>. 
    Пример:
</p>
<table class="left-aligned">
    <tr><td>го́род-геро́й</td><td> м, 1с① + 6а</td></tr>
</table>
<p> Это значит, что часть <strong>го́род </strong>здесь склоняется в соответствии с индексом м 1с①, 
    часть <strong>геро́й</strong> — в соответствии с индексом м 6а.
</p>
<p id="znak3"><code>Пометы П<sub>2</sub> и Р<sub>2</sub></code> (возможны только у существительных). 
    Они указывают на наличие у существительного особых форм так наз. 2-го предложного и 2-го родительного падежей. 
    Подробнее см. «Грамматические сведения», 
    <a href="declension/symbols#p2-nouns">стр. 69</a>, 
    <a href="declension/symbols#r2-nouns">70</a>.</p>
<p id="znak4"><code>Помета «§...»</code> (следует номер от 1 до 18). 
    Она означает, что данное слово обладает некоторой особенностью склонения или спряжения, 
    не отражаемой обычными образцами. 
    При пометах от § 1 до § 12 следует обращаться к разделу «Дополнительные особенности в склонении» 
    (<a href="declension/paragraphs#para1">стр. 73</a>), 
    при пометах от § 13 до § 18 — к разделу «Дополнительные особенности в спряжении» 
    (<a href="conjugation/symbols2#para13">стр. 141</a>).
</p>
<p id="znak5"><code>Отсылка к другому слову</code> — пометы «склон. см.», «спряж. см.», «кф см.» (следует конкретное слово). 
    Этот прием используется для сокращения громоздких статей. 
    Общий смысл такой отсылки от данного слова <code>А</code> к некоторому другому слову <code>М</code> 
    состоит в том, что <code>А</code> склоняется (спрягается, образует краткие формы) 
    так же, как <code>М</code> 
    (отсылка «спряж. см.» распространяется, кроме того, и на образование глагола противоположного вида). 
    Как образовать в этом случае формы слова <code>А</code>, 
    обычно бывает очевидно и без дополнительных разъяснений<sup><a href="#footnote6">6</a></sup>. 
    Пример:
</p>
<table class="left-aligned">
    <tr><td>кто</td><td>мс △: <code>P., B,</code> кого́, <code> Д.</code> кому́, <code>Т.</code> кем, <code>П.</code> ком </td></tr>
    <tr><td>кто́-то</td><td> мс, <code>склон. см.</code> кто</td></tr>
</table>
<p>Это значит, что формы слова <strong>кто́-то</strong> таковы: <code>Р., В.</code> кого́-то, <code>Д.</code> кому́-то, <code>Т.</code> ке́м-то, <code>П.</code> ко́м-то. </p>
<p>При наличии отсылки «спряж. см.» верно также следующее: статья глагола <code>А</code>, если бы она была выписана полностью, совпала бы со статьей глагола <code>М</code> во всем, кроме самих приведенных в статье форм (или основ). Сами же эти формы (а также глагол противоположного вида) при переходе от <code>М</code> к <code>А</code> должны быть соответственно заменены. Пример:</p>
<table class="left-aligned">
    <tr><td>завести́</td><td>св 7b/b (-д)⑨, ё (но прич. прош. заве́дший) ◑ заводи́ть</td>
    <tr>
        <td>перевести́</td>
        <td>св, спряж. см. завести́</td>
    </tr>
</table>
<p>Это значит, что без отсылки последняя статья выглядела бы так:</p>
<table class="left-aligned">
    <tr><td>перевести́ </td><td>св 7b/b (-д)⑨, ё (но прич. прош. переве́дший) ◑ переводи́ть</td></tr>
</table>
<p>В случае частичных расхождений между статьями <code>А</code> и <code>М</code> при отсылке дается соответствующее пояснение.</p>
<p>Отсылка «кф см.» заменяет только ту часть словарной статьи, которая относится к кратким формам; см., например, статьи <strong>дорого́й</strong> и <strong>недорого́й </strong>(отсылка означает здесь, что краткие формы образуются одинаково: <code>недо́рог, недорога́, недо́рого, недо́роги — </code> как <code>до́рог, дорога́, до́рого, до́роги</code>).</p>
<p id="znak6"><code>Различные словесные указания о формах.</code> Отметим лишь некоторые из них (прочие не требуют разъяснений).</p>
<p>При глаголах могут быть непосредственно даны некоторые формы (обычно причастия), не являющиеся морфологически аномальными. Эти формы уточняют сведения, содержащиеся в индексе; ср. выше пример <strong>завести́</strong>. Такой же характер носит указание «прич. страд, -жд-» (возможное только при глаголах на <strong>-дить</strong>). Оно означает, что прич. страд, оканчивается здесь на <strong>-ждённый (-жденный) </strong>вместо ожидаемого <strong>-жённый (женный).</strong></p>
<p>Указание «имеется...» означает, что в парадигме имеется форма, лишняя по сравнению с тем набором форм, который вытекает из основного буквенного символа.</p>



<p id="znak7"><code>Указание значения</code> (в круглых скобках курсивом). Оно служит прежде всего для различения омонимов или для разграничения разных значений слова, которым соответствуют разные варианты парадигмы, например:</p>
<table class="left-aligned">
    <tr><td><sup>1</sup>ла́ска </td><td>ж 3а <code>(нежность)</code></td></tr>
    <tr><td><sup>2</sup>ла́ска </td><td>жо 3*а <code>(животное) </code></td></tr>
    <tr><td>белемни́т</td> <td>мо 1а <code>(вымерший моллюск);</code></td></tr>
    <tr><td></td><td>м 1а <code>(окаменевший остаток этого моллюска).</code></td></tr>
</table>
<p>Пояснения могут и не даваться, однако, когда омонимы относятся к разным частям речи (например, <strong><sup>1</sup>печь</strong> — существительное и <strong><sup>2</sup>печь</strong> — глагол).</p>
<p>Значение может быть указано также в ряде других случаев, где это помогает устранить неясность или предотвратить ошибку. Например, следующие пояснения помогают читателю, который не вполне уверен в ударении или написании интересующего его слова:</p>
<table class="left-aligned">
    <tr><td>ле́дник</td> <td>м</td> <td>3а</td> <td><code>(погреб)</code></td></tr>
    <tr><td>ледни́к</td> <td>м</td> <td>3b</td> <td><code>(ледяной массив в горах)</code></td></tr>
    <tr><td>ко́бчик</td> <td>мо</td> <td>3а</td> <td><code>(птица)</code></td></tr>
    <tr><td>ко́пчик</td><td>м</td> <td>3а</td><td><code>(косточка)</code></td></tr>
</table>
<p>В приведенных примерах пояснения позволяют различить некоторую пару слов, содержащихся в словаре. Бывают, однако, случаи, когда из двух омонимов или из двух возможных смыслов слова в словаре приводится только один (например, потому, что второй встречается слишком редко или носит областной, просторечный и т. п. характер или является всего лишь «потенциальным» словом и т. д.). Если этим омонимам (или различным значениям) соответствуют какие-то различия в образовании форм (например, если они различаются по одушевленности), в словаре обычно дается соответствующее «ограничительное» пояснение, например:</p>
<table class="left-aligned">
    <tr><td>слони́на</td><td>ж</td> <td>1а</td> <td><code>(слоновье мясо)</code></td></tr>
    <tr><td>тонконо́г</td><td>м</td> <td>3а</td> <td><code>(растение)</code></td></tr>
    <tr><td>наполео́н</td><td>м</td> <td>1а</td> <td><code>(сорт яблок; пирожное)</code></td></tr>
</table>

<p>
    Эти пояснения, в частности, показывают, что слова
    <strong>слони́на</strong> (<code>увеличит. к</code> слон),
    <strong>тонконо́г</strong> (<code>тонконогое существо</code>),
    <strong>Наполео́н</strong> (<code>имя собственное</code>)
    данными статьями не учитываются
    (первые два просто не отражены в настоящем словаре,
    третье отражено только в приложении).
</p>
<p> Возможен и пример обратного типа:</p>
<table class="left-aligned">
    <tr><td>змей</td><td>мо</td> <td>6а</td> <td><code>(в т. ч. об игрушке)</code></td></tr>
</table>
<p> Здесь пояснение подчеркивает, что 
    данная статья обслуживает и значение «игрушка» 
    (т. е. что слово <strong>змей</strong> является одушевленным и в этом значении).
</p>
<p> Пояснения даются также при многих словах, опознание которых по тем или иным причинам затруднено, 
    например, при pluralia tantum, совпадающих с мн. числом обычных существительных 
    (см. статьи <strong>гря́зи, сре́дства</strong> и т. п.), 
    при названиях букв, нот, при некоторых редких словах, отсутствующих в основных толковых словарях, и др.
</p>
<p> Указания значений везде по возможности упрощены и не претендуют на строгость.</p>
<p> Там, где это удобно, значение слова может быть указано не непосредственно, 
    а через сочетаемость с другими словами. 
    Слова, сочетающиеся с заглавным словом статьи, 
    или обобщенные указания управления приводятся в этом случае также в круглых скобках, 
    но прямым шрифтом (и с обозначением ударения). 
    Такой способ указания значений может применяться как вместо основного, так и в комбинации с ним, например:
</p>
<table class="left-aligned">
    <tr><td>уве́ренный </td><td>п 1*а② (в чём-л., в ко́м-л.);</td></tr>
    <tr><td></td><td>п 1*а① (<code>решительный, твердый:</code> шаг, де́йствия, тон), § 9.</td></tr>
</table>
<p> Если в словарной статье глагола за знаком ◑ полностью приведен глагол противоположного вида, 
    последний при необходимости может одновременно играть роль семантического указания; 
    другими способами значение в этом случае не уточняется, например:
</p>
<table class="left-aligned">
    <tr><td><sup>1</sup>пожа́ть</td><td>св</td><td> 14b (-м-) ◑II(пожима́ть) </td></tr>
    <tr><td><sup>2</sup>пожа́ть </td><td>св</td><td> 14b (-н-) ◑II(пожина́ть)</td></tr>
</table>
<p> Глагол противоположного вида может быть также приведен за знаком ◑ 
    специально для разграничения омонимов 
    (т. е. в том случае, когда по общим правилам организации словарной статьи его приводить не нужно). 
    В этом случае он дается курсивом (т. е. так же, как указание значения). Пример:
</p>
<table class="left-aligned">
    <tr><td><sup>1</sup>заса́ливать</td> <td>нсв</td> <td>1а ◑4(<code>заса́лить</code>)</td></tr>
    <tr><td><sup>2</sup>заса́ливать</td> <td>нсв</td> <td>1а ◑4(засоли́ть)</td></tr>
</table>
<hr />
<p>Далее в словарной статье могут быть даны указания, отмеченные специальными знаками (△, ✧, ◑).</p>
<p id="znak8">
    <code>Указания за знаком</code> △. За этим знаком приводятся морфологически нерегулярные формы 
    (т. е. те, которые отклоняются от общих правил склонения и спряжения, 
    содержащихся в разделах о значении индексов, 
    стр. <a href="declension/symbols#main-symbol">25</a> 
    и <a href="conjugation#head31">77</a>). 
    Практически это означает, что они отклоняются от того табличного образца, 
    который соответствует индексу данного слова 
    (если только этим образцом не оказывается само данное слово или слово с такой же неправильностью). 
    Пример:
</p>
<table class="left-aligned">
    <tr><td>цыга́н</td><td>мо</td> <td>1а② △ <code>И. мн.</code> цыга́не</td></tr>
</table>
<p> Образец для существительных мужского рода с индексом 1а② — <strong>грузи́н</strong> 
    (стр. 43) @*TODO: вставить ссылку*@; 
    его И. мн. — <code>грузи́ны</code>. 
    Таким образом, форма И. мн. слова <strong>цыга́н</strong> не соответствует образцу: 
    <code>цыга́не</code> вместо ожидаемого <code>цыга́ны</code>.
</p>
<p> Если за знаком △ приводится несколько форм, может быть использована сокращенная запись; 
    о правилах такой записи см. стр. <a href="#form-list">16</a> и 
    <a href="declension/symbols#pattern1">35</a>, 
    <a href="conjugation/models#abbreviatedrecord">89.</a>
</p>
<p> Вместе с морфологически нерегулярными формами за знак △ могут быть помещены и отдельные регулярные формы, 
    если такая подача позволяет продемонстрировать некоторую целостную группу форм, 
    например, мн. число существительного, краткие формы прилагательного, одно из времен глагола. Пример:
</p>
<table class="left-aligned">
    <tr><td>дорого́й</td> <td>п</td> <td>3b/с △ <code>кф</code> до́рог, дорога́, до́рого, до́роги</td></tr>
</table>
<p> Здесь за знаком △ наряду с нерегулярными (по ударению) формами <code>до́рог, до́рого, до́роги</code> 
    находится также регулярная форма <code>дорога́</code>.
</p>
<p> Там, где имеются регулярный и нерегулярный варианты одной и той же формы, за знаком △ 
    обычно приводятся оба, например, 
    Т. мн. <code>лошадя́ми</code> и <code>лошадьми́</code> 
    в статье <strong>ло́шадь</strong> 
    (нерегулярно только <code>лошадьми́</code>). 
    Возможен также случай, когда приведенная за знаком △ форма 
    (например, Р. мн. <code>скаме́й</code> в статье <strong>скамья́</strong>) 
    регулярна при одном из двух имеющихся при слове вариантов индекса (в данном случае 6*b) 
    и нерегулярна при другом (в данном случае 6*d).
</p>
<p id="indirect-forms">
    За знаком △ может быть также дано описание морфологических особенностей слова. 
    Следует иметь в виду, что в таких описаниях под <em>косвенными</em> формами понимаются 
    все те, которые при данных в статье основном буквенном символе и индексе 
    не должны совпадать с исходной (словарной) формой. Пример:
</p>
<table class="left-aligned">
    <tr><td>госпо́дь</td><td>мо</td><td> 2а— △ <code>косв. формы — от</code> *го́спод мо 1а—</td></tr>
</table>

<p> Это значит, что у данного слова И. ед. <code>госпо́дь</code>; 
    прочие формы (в том числе и В. ед., который при символе «мо», т. е. у одушевленных существительных мужского рода, 
    не совпадает с И. ед.) 
    образованы как бы от слова <strong>го́спод</strong> мо 1а— 
    (в действительности несуществующего, что отмечается знаком *), 
    а именно: 
    ед. Р., В. <code>го́спода</code>, 
    Д. <code>го́споду</code>, 
    Т. <code>го́сподом</code>,
    П. <code>го́споде</code> 
    (сведения о мн. предположительны).
</p>
<p> При некоторых словах (например, <strong>заём, у́зел</strong>) 
    за знаком △ дано указание «исх(одная) форма нерегул(ярна)». 
    Это значит, что морфологически нерегулярна лишь исходная форма 
    (и совпадающие с ней формы, если таковые есть), 
    тогда как все косвенные формы полностью соответствуют индексу. 
    Для ясности слова с этой особенностью приводятся также в образцах склонения.
</p>
<p> У наиболее аномальных слов за знаком △ приводится вся парадигма 
    (кроме исходной формы, поскольку она уже дана в заглавии статьи)<sup><a href="#footnote7">7</a></sup>. 
    В этом случае знак △ заменяет индекс (у глаголов — только цифру индекса) 
    и после него ставится двоеточие; 
    см., например, статьи <strong>мы, что, быть</strong>.
</p>
<p id="znak9">
    <code>Указания за знаком ✧</code>. 
    За этим знаком приводятся словосочетания (чаще всего фразеологизмы), 
    в которых какая-либо форма заглавного слова отклоняется от своего нормального вида 
    (или представлена только в одном виде, тогда как в общем случае возможны варианты). 
    Такие отклонения обычно касаются места ударения, реже — характера окончаний или основы. 
    Примеры:
</p>
<table class="left-aligned">
    <tr><td>конь</td><td> мо 2f [<code>поэтич. также</code> мо 2d] ✧ по ко́ням <code>(команда)</code></td></tr>
    <tr><td>шут</td><td> мо 1b ✧ како́го шу́та; ну́ его́ к шу́ту</td></tr>
    <tr><td>рог</td><td> м 3c① ✧ бодли́вой коро́ве бо́г ро́г не даёт <code>(пословица)</code></td></tr>
</table>
<p> Нормальный вид соответствующих форм (устанавливаемый по индексам) — 
    Д. мн. <code>коня́м</code>, 
    Р. ед. <code>шута́</code>, 
    Д. ед. <code>шуту́</code>, 
    Р. мн. <code>рого́в</code>. 
    Именно в таком виде эти формы выступают во всех случаях, 
    кроме приведенных за знаком ✧ устойчивых сочетаний или фраз.
</p>
<p> За знаком ✧ приводятся также устойчивые сочетания, 
    в которых сохранились ныне отсутствующие в парадигме формы 
    (в частности, краткие формы прилагательных в косвенных падежах и так наз. усеченные формы прилагательных), 
    например:
</p>
<table class="left-aligned">
    <tr><td>бе́лый</td><td> п 1а/с″ ✧ средь бе́ла дня́</td></tr>
    <tr><td>рябо́й</td><td> п 1b/с′ ✧ ку́рочка ря́ба</td></tr>
</table>
<p> Особую группу указаний со знаком ✧ образуют 
    сведения о переносе ударения с полнозначного слова на служебное (предлог или частицу), 
    например: за́ руку, до́ смерти, ку́рам на́ смех, не́ был; 
    см. об этом стр. <a href="declension/stressed_preposition#emphasis-on-preposition">71</a> 
    и <a href="conjugation/symbols2#stressed_particle">136.</a>
</p>
<p id="znak10">
    <code>Указания за знаком</code> ◑. 
    Этот знак возможен только при глаголах. 
    За ним приводятся сведения об образовании глагола противоположного вида; 
    см. <a href="conjugation/symbols2#aspect">стр. 136</a>.
</p>
<p class="footnote" id="footnote4"><sup>4</sup> 
    Если индекс содержит помету «ё», эти знаки по соображениям графического удобства 
    ставятся перед ней (а не после всего индекса).
</p>
<p class="footnote" id="footnote5"><sup>5</sup> 
    Более строго: для знака + правила о сфере его действия такие же, как для знака //; 
    см. ниже, с. <a href="#double-slash">17</a>.
</p>
<p class="footnote" id="footnote6"><sup>6</sup> 
    Формальные правила (на случай затруднения) здесь таковы. 
    Если А включает в себя М, т. е. отличается от него только наличием какого-то дополнительного элемента спереди или сзади, 
    то всякая форма слова А получается простым добавлением этого элемента к соответствующей форме слова М. 
    Если А не включает в себя М, то применяются общие правила построения форм по заданному образцу 
    (<a href="declension/symbols#patterns5">стр. 38</a>).
</p>
<p class="footnote" id="footnote7"><sup>7</sup> 
    У числительных парадигма, как правило, приводится в словарной статье целиком, 
    однако знак △ не ставится, поскольку почти все числительные склоняются индивидуально 
    и здесь не возникает противопоставления регулярного и аномального склонений.
</p>

<h4 id="special-cases">Особые случаи оформления словарной статьи</h4>

<h5 id="form-list">Сокращенная запись форм</h5>

<p> Если приводится некоторый ряд форм (с указанием грамматических значений или без него), 
    то любая форма, кроме первой, может быть записана сокращенно: 
    от нее выписывается (с дефисом) только конечная часть. 
    При этом в случае необходимости в ближайшей слева форме, выписанной полностью, 
    дается разделительная черта (|).
</p>
<p> Чтобы восстановить сокращенно записанную форму, нужно прибавить ее выписанную конечную часть:</p>
<ol>
    <li>если в ближайшей слева форме, выписанной полностью (обозначим ее <code>Ф</code>), 
        есть разделительная черта — к тому, что стоит в Ф левее этой черты;
    </li>
    <li>если в <code>Ф</code> разделительной черты нет, то: 
        а) если <code>Ф</code> оканчивается на согласную (кроме <strong>й</strong>) — к самой форме <code>Ф</code>; 
        б) если <code>Ф</code> оканчивается на гласную, <strong>й</strong> или <strong>ь</strong> — 
        к форме <code>Ф</code> без последней буквы.
    </li>
</ol>
<p> Ударение в восстановленной форме падает на выписанную конечную часть, 
    если эта часть дана со знаком ударения; 
    в противном случае ударение там же, где в <code>Ф</code>.
</p>
<p> Примеры сокращенной записи:</p>
<table class="left-aligned">
    <tr><td></td><td>перёд, <code>Р.</code> пе́реда, <code>Д</code>. -у, <code>Т</code>. -ом, <code>П</code>. -е 
        (сокращено: пе́реду, пе́редом, пе́реде);</td></tr>
    <tr><td></td><td>кусо́чки, -ов, -ам (= кусо́чков, кусо́чкам);</td></tr>
    <tr><td></td><td>че́рти, -е́й, -я́м (= черте́й, чертя́м);</td></tr>
    <tr><td></td><td>друз|ья́, -е́й, -ья́м (= друзе́й, друзья́м);</td></tr>
    <tr><td></td><td>соберу́, -ёт (= соберёт);</td></tr>
    <tr><td></td><td>обол|гу́, -жёт, -гу́т (= оболжёт, оболгу́т);</td></tr>
    <tr><td></td><td>при́нял, -а́, -о, -и (= приняла́, при́няло, при́няли).</td></tr>
</table>
<p> Сокращенная запись используется как в словарных статьях, так и в «Грамматических сведениях».</p>

<h5 id="homonyms">Омонимы</h5>

<p> Как омонимы рассматриваются только такие пары слов,
    у которых исходные формы имеют одинаковый буквенный состав и одинаковое ударение;
    таким образом, не отмечаются как омонимы, например,
    <strong>за́мок</strong> и <strong>замо́к</strong>,
    <strong>надо</strong> и <strong>на́до</strong>,
    <strong>сверхсро́чный</strong> и <strong>свѐрхсро́чный</strong>,
    <strong>мол</strong> (<code>без удар.</code>) и <strong>мол</strong>;
    см. также сноску 2 на <a href="#footnote2">стр. 12</a>.
</p>
<p> Омонимы, у которых словарные статьи неодинаковы, даются отдельными статьями, 
    с надстрочными номерами при заглавных словах (о средствах различения омонимов см. выше), 
    например:
</p>
<table class="left-aligned">
    <tr><td><sup>1</sup>лев</td><td>мо 1*b <code>(животное)</code></td></tr>
    <tr><td><sup>2</sup>лев</td><td>м 1a <code>(денежная единица)</code></td></tr>
</table>
<p> Омонимы, у которых словарные статьи совпали бы, не разделяются; 
    при заглавном слове в этом случае ставится помета <sup>1-2</sup> 
    (или <sup>1-3</sup> и т. д. — по числу омонимов), например:
</p>
<table class="left-aligned">
    <tr><td><sup>1-2</sup>заво́д</td><td>м 1a</td></tr>
    <tr><td><sup>1-4</sup>губа́</td><td>ж 1f</td></tr>
</table>
<p> Там, где заглавное слово имеет в настоящем словаре помету <sup>1-2</sup> 
    (<sup>1-3</sup> и т. д.) и не снабжено дополнительными пояснениями, 
    обычно имеется в виду тот способ выделения омонимов, 
    который принят в «Словаре русского языка в четырех томах» (М., 1957-1961)<sup><a href="#footnote8">8</a></sup>. 
    Однако если такое заглавное слово имеет при себе пояснения, 
    то способ выделения омонимов определяется этими пояснениями 
    (и может не совпадать с тем, который принят в указанном словаре). 
    Это верно также для всех случаев, где омонимы не объединены, а даны отдельными статьями.
</p>
<p> Омонимы, относящиеся к разным частям речи, но связанные между собой прямой смысловой связью, 
    в некоторых случаях оформляются упрощенно, а именно, 
    их статьи даются через точку с запятой при одном заглавном слове, 
    причем цифры счета омонимии не ставятся<sup><a href="#footnote9">9</a></sup>. 
    Эти особые случаи таковы.
</p>
<p> а) Омонимия разных неизменяемых частей речи, например:</p>
<table class="left-aligned">
    <tr><td>вокру́г</td><td> н; предл.</td></tr>
</table>
<p> б) Омонимия существительного, прилагательного или числительного с неизменяемой частью речи, например:</p>
<table class="left-aligned">
    <tr><td>лень</td><td> ж 8a; предик.</td></tr>
    <tr><td>звяк</td><td> м 3a; межд.; предик.</td></tr>
</table>
<p> в) Омонимия прилагательного и существительного, например:</p>
<table class="left-aligned">
    <tr><td>полице́йский</td><td>п 3а✕~; мо</td></tr>
    <tr><td>ха́уса</td><td> п 0; м 0 (<code>язык</code>); мо-жо 0(<code>представитель народности</code>) </td></tr>
    <tr><td>со́ло</td><td> н; п 0; с 0 (этот пример подпадает также под предыдущий пункт).</td></tr>
</table>

<p id="policetype">
    Случай типа <strong>полице́йский</strong> 
    (обычное, т. е. изменяемое, прилагательное и соответствующее отадъективное существительное мужского рода) 
    требует особых разъяснений. 
    Словарная статья существительного сокращается в этом случае до основного буквенного символа; 
    опущенная часть статьи (которая при полном оформлении содержала бы угловые скобки, например, 
    <strong>полице́йский</strong> мо &lt;п 3а&gt;) 
    равносильна указанию о том, что это существительное склоняется как мужской род данного прилагательного.
</p>
<p> Последовательность записи омонимов
    (а также подстатей внутри единой статьи)
    строгими правилами не регламентирована и
    самостоятельного значения не имеет.
</p>
<p class="footnote" id="footnote8">
    <sup>8</sup> 
    Вообще в тех случаях, когда с точки зрения основной задачи грамматического словаря 
    способ выделения омонимов безразличен, 
    настоящий словарь обычно следует в выделении омонимов за указанным толковым словарем. 
    Некоторые особенности имеет счет омонимов у приставочных глаголов; 
    см. об этом <a href="conjugation/symbols2#homonyms">стр. 137</a>.
</p>
<p class="footnote" id="footnote9">
    <sup>9</sup> 
    Если имеются, кроме того, другие омонимы, оформляемые обычным способом, 
    такое заглавное слово рассматривается при счете омонимов как одна единица; 
    ср., например, в словаре слово <strong><sup>1</sup>а</strong>.
</p>

<h4 id="colon-restricted-words">Слова с ограниченной сочетаемостью</h4>

<p> При таких словах ставится двоеточие 
    (после индекса или после заглавного слова); 
    оно показывает, что слово встречается только 
    в тех сочетаниях, которые приведены после этого двоеточия. 
    Индекс в этих случаях дается лишь там, где 
    синтаксические свойства приводимых сочетаний позволяют его установить 
    (обычно такой индекс является в той или иной мере предположительным). 
    Примеры:
</p>
<table class="left-aligned">
    <tr><td><sup>1</sup>мочь</td><td>ж 8а: во всю́ мо́чь; что́ е́сть мо́чи; изо все́й мо́чи; мо́чи не́т</td></tr>
    <tr><td>евста́хиев</td><td>п &lt;мс 1а&gt;: евста́хиева труба́</td></tr>
    <tr><td>фуфу́:</td><td>на фуфу́</td></tr>
</table>

<h4 id="variation-notation">Оформление вариантов</h4>

<h5 id="double-slash">Знак //</h5>

<p> Для записи вариантов используется знак // («наряду с..., параллельно»). 
    Этот же знак используется для записи глаголов-омонимов, 
    которым в противоположном виде соответствует один и тот же глагол 
    (см. выше, <a href="preface1#verb-variants">стр. 10</a>). 
    Границы действия знака // 
    (т. е. то, какие именно записи слева и справа от него признаются вариантами друг друга) 
    определяются следующими правилами.
</p>
<ol>
    <li>
        Если знак // не стоит непосредственно после знака [ (левой квадратной скобки), 
        его действие распространяется от ближайшего разделительного знака слева 
        (если его нет — от заглавного слова) до ближайшего разделительного знака справа 
        (если его нет — до конца статьи). 
        Разделительными знаками считаются: запятая, точка с запятой, двоеточие, △, ✧, ◑, 
        а также скобки, охватывающие сам рассматриваемый знак //. 
        Напротив, скобки, не охватывающие знак // 
        (а также любые разделительные знаки внутри таких скобок), 
        его действия не ограничивают.
        <p>Примеры знака // между формами или словосочетаниями:</p>
        <table class="left-aligned">
            <tr><td></td><td>✧ <code>Т. мн.</code> лошадьми́ // лошадя́ми</td></tr>
            <tr><td></td><td>✧ за́ голову // за го́лову; на́ голову // на го́лову</td></tr>
            <tr><td></td><td>✧ без спро́су // без спро́са.</td></tr>
        </table>
        <p>Примеры знака // между индексами или элементами индекса.</p>
        <table class="left-aligned noborder">
            <tr>
                <th colspan="2" rowspan="2">Словарные статьи со знаком //:</th>
                <th colspan="2">Такая запись равносильна наличию двух вариантов словарной статьи:</th>
            </tr>
            <tr>
                <th style="text-align: left">1-й вариант</th>
                <th style="text-align: left">2-й вариант</th>
            </tr>
            <tr><td>шампу́нь</td><td> м 2а//ж 8а</td><td>м 2а</td><td>ж 8а</td></tr>
            <tr><td>бакте́рия</td><td> ж//жo, 7а</td><td>ж 7а</td><td>жо 7а</td></tr>
            <tr><td>тра́ктор</td><td> м, 1с①//1а</td><td>м 1с①</td><td>м 1а</td></tr>
            <tr><td>сре́зать</td><td> св 6а ◑II//1</td><td>св 6а ◑II</td><td>св 6а ◑Ⅰ</td></tr>
            <tr><td>сук</td><td> м, 3d (△ <code>мн.</code> су́ч|ья, -ьев, -ьям) //Зb, П<sub>2</sub>(на)</td><td>м 3d, П<sub>2</sub>(на) △ <code>мн.</code> су́ч|ья, -ьев, -ьям</td><td>м Зb, П<sub>2</sub>(на)</td></tr>
        </table>

        <p>Отметим, что запятые в статьях <strong>бакте́рия, тра́ктор</strong> и <strong>сук</strong> и скобки в статье <strong>сук</strong> поставлены именно для того, чтобы границы действия знака // понимались правильно (а в статьях без знака //, выписанных справа, они уже не нужны); с этой же целью запись «П<sub>2</sub>(на)» в статье <strong>сук</strong> поставлена не на свое обычное место.</p>
    </li>
    <li>
        Если знак // стоит непосредственно после знака [, то возможны следующие случаи.
        <p>а) Если за знаком // даны формы или словосочетания, набранные светлым шрифтом, то этот знак действует вправо до конца квадратных скобок (т. е. до знака ]), а влево — на такое же число форм или слов. Примеры:</p>
        <table class="left-aligned">
            <tr><td></td><td><code>прош.</code> о́тбыл, -а́, -о, -и [// отбы́л, -а́, -о, -и]</td></tr>
            <tr><td></td><td>о́коло ча́су [// ча́са]</td></tr>
            <tr><td></td><td>сби́ться со счёту [// со счёта].</td></tr>
        </table>

        <p>В первом примере вариантны все формы прошедшего времени (кроме формы <code>отбыла</code>, которая просто повторена, чтобы не усложнять запись). В последующих примерах имеется в виду вариантность: <code>о́коло ча́су</code> и <code>о́коло ча́са; сби́ться со счёту</code> и <code>сби́ться со счёта.</code></p>
        <p>б) Если за знаком // даны основной буквенный символ и индекс (возможно, также с дополнительными указаниями), то этот знак действует вправо до конца квадратных скобок, а влево — до заглавного слова. Пример:</p>
        <table class="left-aligned">
            <tr><td>закалённый</td><td> п 1*а/b②, ё [//п 1*a①, § 8]</td></tr>
        </table>
        <p>Это значит, что данное слово имеет два варианта словарной статьи: один — выписанный до квадратных скобок, другой — внутри них.</p>
        <p>в) Если за знаком // дано слово, набранное полужирным шрифтом, это значит, что вариантами являются целые слова: заглавное слово данной статьи и то, которое стоит в квадратных скобках. Пример:</p>
        <table class="left-aligned">
            <tr><td>волье́ра</td><td> ж 1а [// <strong>волье́р</strong>]</td></tr>
        </table>
        <p>Аналогично оформляется (на своем алфавитном месте) и вариант <strong>волье́р:</strong></p>
        <table class="left-aligned">
            <tr><td>волье́р</td><td> м 1а [// <strong>волье́ра</strong>]</td></tr>
        </table>
        <p>Если варианты слова должны стоять в словаре рядом, то их статьи объединяются в одну, например: </p>
        <table class="left-aligned">
            <tr><td>ки́рза</td><td> ж 1а [// <strong>кирза́</strong> ж 1b—]</td></tr>
        </table>
        <p id="equals-sign">Если индексы у обоих вариантов одинаковы, во втором варианте индекс заменяется знаком =, например:</p>
        <table class="left-aligned">
            <tr><td>гало́ша</td><td> ж 4а [// <strong>кало́ша</strong> =]</td></tr>
        </table>
        <p>Возможен случай, когда слово имеет вариант только в части значений, например:</p>
        <table class="left-aligned">
            <tr><td>перехо́дный</td><td> п 1*а [// <strong>переходно́й</strong>] <code>(предназначенный для перехода; промежуточный)</code>;</td></tr>
            <tr><td></td><td>п 1*а (глаго́л)</td></tr>
        </table>

        <p>В этом случае в статье второго варианта слова дается отсылка «(см.)», показывающая, где найти более полные сведения:</p>
        <table class="left-aligned">
            <tr><td>переходно́й</td><td> п 1b☒ [// <strong>перехо́дный</strong> <code>(см.)</code>]</td></tr>
        </table>
        <p>Аналогичное оформление применяется и в том случае, когда вариант имеется только у одного из двух омонимов, см., например, статьи <strong><sup>1-2</sup>при́чет</strong> и <strong>причт.</strong></p>
    </li>
</ol>

<p><em>Замечание</em>. Если записывается более чем два варианта, знак // повторяется, например: по́ мосту // по мо́сту // по мосту́; сжи́ть со́ свету [// со све́ту // со све́та] (или, что то же самое: сжи́ть со́ свету // сжи́ть со све́ту // сжи́ть со све́та).</p>

<hr/>

<p>Порядок, в котором записываются варианты, связанные знаком //, таков. Если один из вариантов формы, словосочетания или индекса предпочтителен с нормативной точки зрения, он указывается первым. В случае строгой равноценности вариантов они записываются в произвольном порядке. Таким образом, порядок записи вариантов внутри словарной статьи указывает лишь на то, что второй вариант не является предпочтительным: с нормативной точки зрения он либо равноценен первому, либо незначительно ему уступает.</p>
<p>Что касается вариантов слова, то здесь указанный принцип применяется только в случаях типа гало́ша—кало́ша (где словарные статьи обоих вариантов объединены); в обычных случаях (например, волье́ра и волье́р) порядок записи определяется просто тем, какой из вариантов является заглавным словом статьи, и, следовательно, не указывает на предпочтительность какого-либо из них.</p>
<p>Если варианты существенно неравноценны с нормативной точки зрения, второстепенный вариант снабжается соответствующей пометой (чаще всего это помета «устар.» — устаревающее). Примеры:</p>
<table class="left-aligned">
    <tr><td>судьба́</td><td> ж 1*d △ <code>Р. мн.</code> су́деб//<code>устар.</code> суде́б</td></tr>
    <tr><td>тропа́</td><td> ж, 1d//<code>устар.</code> 1f</td></tr>
    <tr><td>пудо́вый</td><td> п 1а [//<code>устар.</code> <strong>пудово́й</strong>]</td></tr>
</table>
<p>В случаях последнего рода в статье второстепенного варианта дается помета «(см.)», отсылающая к статье основного варианта:</p>
<table class="left-aligned">
    <tr><td>пудово́й</td><td> п 1b☒ [//<strong>пудо́вый</strong> (<code>см.</code>)]</td></tr>
</table>

<h4 id="square-brackets">Квадратные скобки</h4>
<p>
    Если какой-либо элемент индекса или дополнительных указаний стоит в квадратных скобках, это значит,
    что соответствующая особенность факультативна, т. е. имеется два варианта склонения (или спряжения) данного слова,
    в одном из которых эта особенность есть, а в другом нет.
    Практически в квадратных скобках встречаются знаки ①, ② и т. д. и записи:
    П<sub>2</sub>,
    П<sub>2</sub>(в),
    П<sub>2</sub>(на).
</p>

<table class="left-aligned">
    <tr><td colspan="2">Примеры словарных статей <span class="nowrap">со знаком []</span>:</td><td colspan="2">Такая запись равносильна наличию двух вариантов словарной статьи:</td></tr>
    <tr><td></td><td></td><td>1-й вариант</td>    <td>2-й вариант</td></tr>
    <tr><td>ме́дленный</td><td> п 1*а[①]</td><td>п 1*а①</td><td>п 1*а</td></tr>
    <tr><td><sup>1</sup>чай</td><td> м 6с, [П<sub>2</sub>(в)], Р<sub>2</sub></td><td>м 6c, П<sub>2</sub>(в), Р<sub>2</sub></td><td>м 6с, Р<sub>2</sub></td></tr>
</table>

<p>
    Случаи, когда в квадратных скобках стоит запись, начинающаяся со знака //, разобраны выше.
    Сходный характер носят различные словесные указания, в которых вместо знака // используется слово «также», например:
</p>

<table class="left-aligned">
    <tr><td>мох</td><td> м 3*b, П<sub>2</sub>, Р<sub>2</sub> [<code>в ед. также</code> <strong>мох</strong> м За, Р<sub>2</sub>]</td></tr>
</table>

<p>
    Квадратные скобки используются также для записи профессиональных и т. п. вариантов слова, например:
</p>

<table class="left-aligned">
    <tr><td>и́скра</td><td> ж 1а [<code>проф.</code> <strong>искра́</strong> ж 1d]</td> </tr>
    <tr><td>ко́мпас</td><td> м 1а [<code>у моряков</code> <strong>компа́с</strong> м 1а]</td></tr>
</table>

<h4 id="building-forms">Как построить нужные формы слова</h4>

<p>
    Построить нужные формы интересующего нас слова можно двумя способами: 
    1) по образцам склонения и спряжения;
    2) непосредственно по индексу.
</p>
<p>
    Выбор способа должен определяться целью, которую ставит себе читатель, и степенью его знакомства с русской морфологией.
    Так, построение форм по образцам рекомендуется для тех, кто начинает изучение русского языка.
    Этот способ наиболее удобен также во всех тех случаях, когда необходимо быстро получить справку об образовании одной конкретной формы слова.
    При хорошем знакомстве с русской морфологией можно пользоваться вторым способом — строить формы непосредственно по индексу,
    не обращаясь к образцам.
    Этот способ наиболее эффективен в тех случаях, когда нужна не справка об образовании конкретной формы,
    а сведения о морфологических свойствах слова в целом
    (тип склонения или спряжения, схема ударения, наличие нерегулярностей и т. д.) и тем более, если требуются сведения о целых группах слов.
</p>

<h4 id="build1">Построение форм с помощью образцов</h4>

<p>
    При этом способе построения форм требуется прежде всего найти в «Грамматических сведениях» нужный образец склонения или спряжения.
    Нужный раздел «Грамматических сведений» находится по основному буквенному символу интересующего нас слова,
    нужный образец внутри раздела — по его индексу (искомый образец обозначен в таблицах этим же индексом).
    Таким образом, индекс выступает в этом случае просто как составной номер, и читателю нет необходимости
    вникать в самостоятельное значение отдельных его элементов.
</p>
<p>
    Для склоняемых слов следует обращаться к «Образцам склонения» (<a href="declension/symbols#patterns">стр. 35</a>),
    для глаголов — к «Образцам спряжения» (<a href="conjugation/models#conjugation-samples">стр. 87</a>).
    Там же читатель найдет указания о порядке дальнейшего поиска образца.
    Например,
    для слова <strong>торга́ш</strong> мо 4b будет найден табличный образец <strong>бога́ч</strong> (стр. 40)@*TODO: вставить ссылку*@,
    для слова <strong>маринова́ть</strong> нсв 2а — образец <strong>рисова́ть</strong> (стр. 93)@*TODO: вставить ссылку*@.
</p>
<p>
    Чтобы ускорить поиск образца, над каждой страницей словаря
    для большинства встречающихся на этой странице типов словарных статей указано,
    где найти соответствующий образец (а именно, указана курсивом нужная страница «Грамматических сведений»).
    Буквенные символы и индексы, которым соответствует один и тот же «адрес», при этом могут быть объединены.
    Примеры:
</p>
<table class="left-aligned">
    <tr><td></td><td>м (мо): 1а—<code>39</code>; 1с①—<code>43</code></td></tr>
    <tr><td></td><td>ж (жо, мо-жо): 1а—<code>45</code>; 1b. 1d, 1f—<code>46</code></td></tr>
</table>
<p>
    Это значит, что на <a href="declension/symbols#a2">стр. 39</a> находятся образцы для статей вида м 1а и мо 1а;
    на стр. 43@*TODO: вставить ссылку*@ — для м 1с① и мо 1с①;
    на стр. 45@*TODO: вставить ссылку*@ — для ж 1а, жо 1а, мо-жо 1а;
    на стр. 46@*TODO: вставить ссылку*@ — для ж 1b, жо 1b, мо-жо 1b, ж 1d, жо 1d, мо-жо 1d, ж 1f, жо 1f, мо-жо 1f.
    Если соответствующие образцы занимают несколько страниц подряд, указывается только первая из них.
</p>
<p>
    Для прилагательных обычно указывается не одна, а две страницы, например:
</p>
    <table class="left-aligned">
        <tr><td></td><td> п 1*а — <code>56, 59</code></td></tr>
    </table>
<p>
    Это значит, что на стр. 56@*TODO: вставить ссылку*@ находится нужный образец склонения полных форм, 
    а на стр. 59@*TODO: вставить ссылку*@ — образец кратких форм и сравнительной степени.
</p>
<p>
    Для глаголов в отсылках используется только цифра индекса (одна или со знаками *, °),
    поскольку прочие элементы индекса уже не меняют «адреса» образца; например:
</p>
<table class="left-aligned">
    <tr><td></td><td>св (нсв) 2 — <code>93</code></td></tr>
</table>
<p>
    Это значит, что для всех глаголов с цифрой 2 образцы следует искать
    в таблице на стр. 93@*TODO: вставить ссылку*@ (и последующих).
</p>
<p>
    После того, как образец найден, нужные формы интересующего нас слова строятся
    непосредственно по соответствующим формам образца, например:
    <code>торгаша́, торгашу́, торгашо́м</code> и т. д. — как <code>богача́, богачу́, богачо́м</code> и т. д.;
    <code>марину́ю, марину́ешь, марину́ет</code> и т. д. — как <code>рису́ю, рису́ешь, рису́ет</code> и т. д.
</p>
<p>
    Эта операция обычно не вызывает никаких затруднений и может быть выполнена без формальных инструкций.
    Однако для полной недвусмысленности и строгости в словаре даны и соответствующие формальные правила («Грамматические сведения», стр. <a href="declension/symbols#patterns5">38</a> и <a href="conjugation/models#head521">90</a>); к ним следует обращаться в том случае, если какая-либо неясность все же возникает.
</p>
<p>
    Следует учитывать, однако, что найденный образец соответствует не всей словарной статье,
    а только основному буквенному символу и индексу.
    Если в статье интересующего нас слова имеются, кроме того, какие-либо дополнительные пометы и указания,
    то соответствующие сведения образуют поправки или дополнения к тому, что построено на основании образца
    (см. об этом также «Грамматические сведения», стр. 
    <a href="declension/symbols#additional-symbols-nouns">68</a> и 
    <a href="conjugation/symbols2#verb-cross">136</a>).
    Так, в приведенном выше (<a href="#znak8">стр. 15</a>) примере со словом <strong>цыга́н</strong>
    форма И. мн. цыга́не, данная в словарной статье за знаком △, образует поправку к форме <code>цыга́ны</code>,
    построенной на основании соответствующего образца <strong>(грузи́н)</strong>.
</p>

<h4 id="build2">Построение форм непосредственно по индексу</h4>
<p> Этот способ построения форм основан на том, что 
    каждый элемент индекса имеет самостоятельное морфологическое значение. 
    Оно раскрывается в «Грамматических сведениях», 
    в разделах, озаглавленных «Значение буквенных символов и элементов индекса», 
    стр. <a href="declension/symbols#main-symbol">25</a> 
    и <a href="conjugation#head31">77</a>. 
    В конце этих разделов указан и сам способ построения форм непосредственно по индексу. 
    Если в словарной статье имеются дополнительные пометы или указания, при этом способе, 
    так же, как и при предыдущем, в построенных формах необходимо сделать соответствующие поправки.
</p>
<h4 id="conventions">Условные знаки и сокращения</h4>
<p>(Страницы в скобках показывают, где можно найти более полное объяснение)</p>

<h5 id="abbreviations">Условные сокращения</h5>
<div class="row">
    <div class="column">
        <table class="left-aligned">
            <tr class="tr1">
                <td>адъективн.</td>
                <td> — в адъективной функции (<code>о сравнительной степени</code>)</td>
            </tr>
            <tr class="tr1">
                <td>безл.</td>
                <td> — безличный (глагол)</td>
            </tr>
            <tr class="tr1">
                <td>буд.</td>
                <td> — будущее время</td>
            </tr>
            <tr class="tr1">
                <td>В.</td>
                <td> — винительный падеж</td>
            </tr>
            <tr class="tr1">
                <td>вводн.</td>
                <td> — слово, употребляемое в качестве вводного</td>
            </tr>
            <tr class="tr1">
                <td>в т. ч.</td>
                <td> — в том числе</td>
            </tr>
            <tr class="tr1">
                <td>Д.</td>
                <td> — дательный падеж</td>
            </tr>
            <tr class="tr1">
                <td>деепр.</td>
                <td> — деепричастие (<code>в составе сложных обозначений; в таблицах; в тексте</code>); деепричастие настоящего времени (<code>в словарных статьях</code>)</td>
            </tr>
            <tr class="tr1">
                <td>ед.</td>
                <td> — единственное число</td>
            </tr>
            <tr class="tr1">
                <td>ж</td>
                <td> — женский род (<code>в составе сложных обозначений; в таблицах; в тексте; в этом значении возможно также сокращение</code> жен.); существительное женского рода, неодушевленное (<code>в качестве основного буквенного символа</code>)</td>
            </tr>
            <tr class="tr1">
                <td>женск.</td>
                <td> — название соответствующего лица женского пола</td>
            </tr>
            <tr class="tr1">
                <td>жо</td>
                <td> — существительное женского рода, одушевленное</td>
            </tr>
            <tr class="tr1">
                <td>затрудн.</td>
                <td> — образование данной формы затруднительно(<a href="preface1#difficulty">стр. 8-9</a>)</td>
            </tr>
            <tr class="tr1">
                <td>знач.</td>
                <td> — значение, значения</td>
            </tr>
            <tr class="tr1">
                <td>И.</td>
                <td> — именительный падеж</td>
            </tr>
            <tr class="tr1">
                <td>инф.</td>
                <td> — инфинитив</td>
            </tr>
            <tr class="tr1">
                <td>исх.</td>
                <td> — исходная (<code>форма</code>)</td>
            </tr>
            <tr class="tr1">
                <td>косв.</td>
                <td> — косвенные (<code>формы</code>) (<a href="#indirect-forms">стр. 15</a>)</td>
            </tr>
            <tr class="tr1">
                <td>кф</td>
                <td> — краткие формы</td>
            </tr>
            <tr class="tr1">
                <td>кф ж</td>
                <td> — краткая форма женского рода единственного числа</td>
            </tr>
            <tr class="tr1">
                <td>кф м</td>
                <td> — краткая форма мужского рода единственного числа</td>
            </tr>
            <tr class="tr1">
                <td>кф мн.</td>
                <td> — краткая форма множественного числа</td>
            </tr>
            <tr class="tr1">
                <td>-л.</td>
                <td> — -либо</td>
            </tr>
            <tr class="tr1">
                <td>ласкат.</td>
                <td> — ласкательное</td>
            </tr>
            <tr class="tr1">
                <td>лит.</td>
                <td> — литературное</td>
            </tr>
            <tr class="tr1">
                <td>м</td>
                <td> — мужской род (<code>в составе сложных обозначений; в таблицах; в тексте; в этом значении возможно также сокращение</code> муж.); существительное мужского рода, неодушевленное (<code>в качестве основного буквенного символа</code>)</td>
            </tr>
            <tr class="tr1">
                <td>межд.</td>
                <td> — междометие</td>
            </tr>
            <tr class="tr1">
                <td>мн.</td>
                <td> — множественное число</td>
            </tr>
            <tr class="tr1">
                <td>многокр.</td>
                <td> — многократный (глагол)</td>
            </tr>
            <tr class="tr1">
                <td>мо</td>
                <td> — существительное мужского рода, одушевленное</td>
            </tr>
            <tr class="tr1">
                <td>мо-жо</td>
                <td> — существительное общего рода, одушевленное</td>
            </tr>
            <tr class="tr1">
                <td>мс</td>
                <td> —  местоимение-существительное (в <code>качестве основного буквенного символа</code>); местоименный тип склонения (<code>в угловых скобках</code>)</td>
            </tr>
            <tr class="tr1">
                <td>мс-п</td>
                <td> — местоименное прилагательное</td>
            </tr>
            <tr class="tr1">
                <td>н</td>
                <td> — наречие</td>
            </tr>
            <tr class="tr1">
                <td>наречн.</td>
                <td> — в наречной функции (<code>о сравнительной степени</code>)</td>
            </tr>
            <tr class="tr1">
                <td>нар.-поэт.</td>
                <td> — в народнопоэтической речи</td>
            </tr>
            <tr class="tr1">
                <td>наст.</td>
                <td> — настоящее время</td>
            </tr>
            <tr class="tr1">
                <td>наст. (буд.)</td>
                <td> — настоящее время у глаголов несовершенного вида и будущее время у глаголов совершенного вида</td>
            </tr>
            <tr class="tr1">
                <td>неод.</td>
                <td> — неодушевленное</td>
            </tr>
            <tr class="tr1">
                <td>нерегул.</td>
                <td> — нерегулярное</td>
            </tr>
            <tr class="tr1">
                <td>неупотр.</td>
                <td> — неупотребительно</td>
            </tr>
            <tr class="tr1">
                <td>нп</td>
                <td> — непереходный (<code>глагол</code>)</td>
            </tr>
            <tr class="tr1">
                <td>нсв</td>
                <td> — несовершенный вид (<code>в таблицах; в тексте</code>); глагол несовершенного вида (<code>в качестве основного буквенного символа</code>)</td>
            </tr>
            <tr class="tr1">
                <td>обл.</td>
                <td> — областное</td>
            </tr>
            <tr class="tr1">
                <td>одуш.</td>
                <td> — одушевленное</td>
            </tr>
            <tr class="tr1">
                <td>п</td>
                <td> — прилагательное (<code>в качестве основного буквенного символа</code>)</td>
            </tr>
            <tr class="tr1">
                <td>П.</td>
                <td> — предложный падеж</td>
            </tr>
            <tr class="tr1">
                <td>П<sub>2</sub></td>
                <td> — 2-й предложный падеж (<a href="declension/symbols#p2-nouns">стр. 69</a>)</td>
            </tr>
            <tr class="tr1">
                <td>П<sub>2</sub>(в)</td>
                <td> — см. <a href="declension/symbols#p2-nouns-v-na">стр. 70</a></td>
            </tr>
            <tr class="tr1">
                <td>П<sub>2</sub>(на)</td>
                <td> — см. <a href="declension/symbols#p2-nouns-v-na">стр. 70</a></td>
            </tr>
            <tr class="tr1">
                <td>перен.</td>
                <td> — переносное (<code>значение</code>)</td>
            </tr>
            <tr class="tr1">
                <td>повел.</td>
                <td> — повелительное наклонение</td>
            </tr>
        </table>
    </div>
    <div class="column">
        <table class="left-aligned">
            <tr>
                <td>поэтич.</td>
                <td> — в поэтической речи</td>
            </tr>
            <tr>
                <td>предик.</td>
                <td> — предикатив (слово, употребляемое в функции сказуемого)</td>
            </tr>
            <tr>
                <td>предл.</td>
                <td> — предлог</td>
            </tr>
            <tr>
                <td>предположит.</td>
                <td> — предположительное, предположительно</td>
            </tr>
            <tr>
                <td>преимущ.</td>
                <td> — преимущественно</td>
            </tr>
            <tr>
                <td>прич.</td>
                <td> — причастие</td>
            </tr>
            <tr>
                <td>прич. наст.</td>
                <td> — действительное причастие настоящего времени</td>
            </tr>
            <tr>
                <td>прич. прош.</td>
                <td> — действительное причастие прошедшего времени</td>
            </tr>
            <tr>
                <td>прич. страд.</td>
                <td> — страдательное причастие прошедшего времени</td>
            </tr>
            <tr>
                <td>прич. страд, наст.</td>
                <td> — страдательное причастие настоящего времени</td>
            </tr>
            <tr>
                <td>произв.</td>
                <td> — производное, производные</td>
            </tr>
            <tr>
                <td>простореч.</td>
                <td> — просторечное</td>
            </tr>
            <tr>
                <td>проф.</td>
                <td> — в профессиональной речи</td>
            </tr>
            <tr>
                <td>прош.</td>
                <td> — прошедшее время</td>
            </tr>
            <tr>
                <td>прош. ж</td>
                <td> — женский род единственного числа прошедшего времени</td>
            </tr>
            <tr>
                <td>прош. м</td>
                <td> — мужской род единственного числа прошедшего времени</td>
            </tr>
            <tr>
                <td>прош. мн.</td>
                <td> — множественное число прошедшего времени</td>
            </tr>
            <tr>
                <td>прош. с</td>
                <td> — средний род единственного числа прошедшего времени</td>
            </tr>
            <tr>
                <td>пф</td>
                <td> — полные формы</td>
            </tr>
            <tr>
                <td>Р.</td>
                <td> — родительный падеж</td>
            </tr>
            <tr>
                <td>Р<sub>2</sub></td>
                <td> — 2-й родительный падеж (стр. 70)</td>
            </tr>
            <tr>
                <td>с</td>
                <td> — средний род (<code>в составе сложных обозначений; в таблицах; в тексте; в этом значении возможно также сокращение</code> сред.); существительное среднего рода, неодушевленное (<code>в качестве основного буквенного символа</code>)</td>
            </tr>
            <tr>
                <td>св</td>
                <td> — совершенный вид (<code>в таблицах; в тексте</code>); глагол совершенного вида (<code>в качестве основного буквенного символа</code>)</td>
            </tr>
            <tr>
                <td>св-нсв</td>
                <td> — двувидовой глагол (совмещающий значения совершенного и несовершенного видов)</td>
            </tr>
            <tr>
                <td>склон.</td>
                <td> — склонение</td>
            </tr>
            <tr>
                <td>см.</td>
                <td> — смотри: за знаком ◑ «см.» отсылает к глаголу противоположного вида</td>
            </tr>
            <tr>
                <td>со</td>
                <td> — существительное среднего рода, одушевленное</td>
            </tr>
            <tr>
                <td>собир.</td>
                <td>  — собирательное, собирательно</td>
            </tr>
            <tr>
                <td>сослаг.</td>
                <td> — сослагательное наклонение</td>
            </tr>
            <tr>
                <td>спряж.</td>
                <td> — спряжение</td>
            </tr>
            <tr>
                <td>сравн.</td>
                <td> — сравнительная степень</td>
            </tr>
            <tr>
                <td>старин.</td>
                <td> — старинное</td>
            </tr>
            <tr>
                <td>страд.</td>
                <td> — страдательный залог</td>
            </tr>
            <tr>
                <td>сущ.</td>
                <td> — существительное</td>
            </tr>
            <tr>
                <td>с ▵</td>
                <td> — <code>в таблицах</code>: слово со знаком △ в словарной статье (т. е. имеющее какие-то морфологические неправильности)</td>
            </tr>
            <tr>
                <td>Т.</td>
                <td> — творительный падеж</td>
            </tr>
            <tr>
                <td>увеличит.</td>
                <td> — увеличительное</td>
            </tr>
            <tr>
                <td>удар.</td>
                <td> — ударение</td>
            </tr>
            <tr>
                <td>уменьш.</td>
                <td> — уменьшительное</td>
            </tr>
            <tr>
                <td>употр.</td>
                <td> — употребляется, употребительно</td>
            </tr>
            <tr>
                <td>устар.</td>
                <td> — устаревающее</td>
            </tr>
            <tr>
                <td>устаревш.</td>
                <td> — устаревшее</td>
            </tr>
            <tr>
                <td>част.</td>
                <td> — частица</td>
            </tr>
            <tr>
                <td>числ.</td>
                <td> — числительное</td>
            </tr>
            <tr>
                <td>числ.-п</td>
                <td> — счетное прилагательное (т. е. порядковое числительное)</td>
            </tr>
            <tr>
                <td>1 ед.</td>
                <td> — 1-е лицо единственного числа</td>
            </tr>
            <tr>
                <td>2 ед.</td>
                <td> — 2-е лицо единственного числа</td>
            </tr>
            <tr>
                <td>3 ед.</td>
                <td> — 3-е лицо единственного числа</td>
            </tr>
            <tr>
                <td>1 мн.</td>
                <td> — 1-е лицо множественного числа</td>
            </tr>
            <tr>
                <td>2 мн.</td>
                <td> — 2-е лицо множественного числа</td>
            </tr>
            <tr>
                <td>3 мн.</td>
                <td> — 3-е лицо множественного числа</td>
            </tr>
        </table>
    </div>
</div>

<p>Кроме того, в словаре используются общепринятые сокращения, обозначающие сферы употребления терминов: анат(омическое), биол(огическое), бот(аническое), геол(огическое), грамм(атическое), зоол(огическое), истор(ическое), математическое), мед(ицинское), муз(ыкальное), сельскохозяйственное), техн(ическое), хим(ическое), церк(овное), юрид(ическое) и др.</p>

<h4 id="conventional-symbols">Условные знаки</h4>

<div class="row">
    <div class="column1">
        <table class="left-aligned noborder">
            <tr>
                <td>Числовое обозначение от 0 до 16</td>
                <td>&nbsp;</td>
                <td> — номер типа склонения или спряжения</td>
            </tr>
            <tr>
                <td>Цифра в кружочке от ① до ⑨</td>
                <td>&nbsp;</td>
                <td> — номер характерного отклонения от стандартного склонения (спряжения)</td>
            </tr>
            <tr>
                <td>Римская цифра I, II или III</td>
                <td>&nbsp;</td>
                <td> — тип образования соответствующего глагола несовершенного вида (<a href="conjugation/symbols2#aspect">стр. 137</a>).</td>
            </tr>
            <tr>
                <td>Латинская буква от a до f (без штрихов или со штрихами) или пара таких букв, записанных через косую черту</td>
                <td>&nbsp;</td>
                <td> — схема ударения</td>
            </tr>
        </table>
    </div>
</div>



<br>

<div class="row">
    <div class="column">
        <table class="left-aligned">
            <tr class="tr1">
                <td>ё</td>
                <td> — слово имет чередование ё/е (стр. <a href="declension/symbols#yo">34</a>, <a href="conjugation#verb-yo">83</a>)</td>
            </tr>
            <tr class="tr1">
                <td>о</td>
                <td> — слово имеет чередование о/е (<a href="conjugation#verb-yo">стр. 83</a>).</td>
            </tr>
            <tr class="tr1">
                <td>△</td>
                <td> — морфологически нерегулярные формы (<a href="#znak8">стр. 14</a>); 
                    в таблицах этот знак ставится в виде надстрочного <sup>△</sup> непосредственно после нерегулярной формы
                </td>
            </tr>
            <tr class="tr1">
                <td>◇</td>
                <td> — особые формы, выступающие во фразеологизмах (<a href="#znak9">стр. 15</a>)</td>
            </tr>
            <tr class="tr1">
                <td>◑</td>
                <td> — сведения о соответствующем глаголе противоположного вида (<a href="conjugation/symbols2#aspect">стр. 136</a>)</td>
            </tr>
            <tr class="tr1">
                <td>§</td>
                <td> — отсылка к соответствующему параграфу раздела «Дополнительные особенности в склонении» (<a href="declension/paragraphs#para1">§§ 1-12, стр. 73</a>) или «Дополнительные особенности в спряжении» (<a href="conjugation/symbols2#para13">§§ 13-18, стр. 141</a>)</td>
            </tr>
            <tr class="tr1">
                <td>//</td>
                <td> — наряду с ..., параллельно (<a href="#double-slash">стр. 17</a>).</td>
            </tr>
            <tr class="tr1">
                <td>|</td>
                <td> — знак, отделяющий изменяемую конечную часть формы (<a href="#form-list">стр. 16</a>)</td>
            </tr>
            <tr class="tr1">
                <td>☒</td>
                <td> — 
                    <code>у прилагательных</code>: 
                    краткой формы мужского рода нет, образование прочих кратких форм затруднительно
                    (<a href="declension/symbols#boxed-cross-adjectives">стр. 69</a>);
                    <code>у глаголов</code>:
                    страдательного причастия прош. времени нет
                    (<a href="conjugation/symbols2#verb-boxed-cross">стр. 136</a>)
                </td>
            </tr>
            <tr class="tr1">
                <td>∼</td>
                <td> — <code>у прилагательных</code>: сравнительной степени нет (<a href="declension/symbols#tilde-adjectives">стр. 69</a>)</td>
            </tr>
            <tr class="tr1">
                <td>:</td>
                <td> — <code>после индекса или после заглавного слова</code>: слово употребляется только в приводимых далее сочетаниях (<a href="#colon-restricted-words">стр. 17</a>); <code>после знака</code> ?: далее приводится полная парадигма слова</td>
            </tr>
            <tr class="tr1">
                <td>=</td>
                <td> — <code>перед указанием грамматической формы</code>: внешне совпадает с ..., омонимично; <code>после варианта, приведенного в квадратных скобках</code>: индекс тот же, что у заглавного слова статьи (<a href="#equals-sign">стр. 18</a>)</td>
            </tr>
            <tr class="tr1">
                <td>*</td>
                <td> — после цифры индекса означает подтип склонения или спряжения, отличающийся от основного типа чередованием беглой гласной с нулем (стр. <a href="declension/symbols#star">29</a>, <a href="conjugation#star">79</a>); перед словом означает гипотетичность приводимого слова или формы</td>
            </tr>
        </table>
    </div>
    <div class="column">
        <table class="left-aligned">
            <tr>
                <td>/</td>
                <td> — знак, разделяющий элементы составного обозначения схемы ударения; знак, разделяющий ступени чередования</td>
            </tr>
            <tr>
                <td>[ ]</td>
                <td> — факультативная часть индекса; сведения о вариантах слова (<a href="#square-brackets">стр. 18</a>)</td>
            </tr>
            <tr>
                <td>&lt; &gt;</td>
                <td> — слово склоняется по образцу, указанному внутри таких скобок (<a href="#angle-brackets">стр. 12</a>)</td>
            </tr>
            <tr>
                <td>+</td>
                <td> — склоняются обе части сложного слова или словосочетания (<a href="#multiword-plus">стр. 13</a>)</td>
            </tr>
            <tr>
                <td> — (минус)</td>
                <td> — 
                    <code>у существительных</code>: 
                    сведения об образовании мн. числа, вытекающие из индекса, предположительны 
                    (<a href="declension/symbols#minus-nouns">стр. 68</a>);

                    <code>у прилагательных</code>: 
                    сведения об образовании краткой формы мужского рода, вытекающие из индекса, предположительны 
                    (<a href="declension/symbols#minus-adjectives">стр. 68</a>)
                </td>
            </tr>
            <tr>
                <td><span class="cross"></span></td>
                <td> — 
                    <code>у прилагательных</code>: 
                    образование кратких форм затруднительно
                    (<a href="declension/symbols#cross-adjectives">стр. 69</a>); 

                    <code>у глаголов</code>: 
                    образование страдательного причастия прош. времени затруднительно 
                    (<a href="conjugation/symbols2#verb-cross">стр. 136</a>)
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>°</td>
                <td> — после цифры индекса означает подтип склонения или спряжения, отличающийся от основного типа определенными чередованиями (стр. <a href="declension/symbols#superscript-circle">30</a>, <a href="conjugation#superscript-circle">80</a>)</td>
            </tr>
            <tr>
                <td>+</td>
                <td> — <code>при мо, жо (только в Приложении)</code>: изредка возможен также противоположный род (в паре «мужской — женский»)</td>
            </tr>
            <tr>
                <td>÷</td>
                <td> — (<code>только в Приложении</code>): то же, что помета «Р.мн. затрудн.» в основной части словаря: образование формы Р.мн. затруднительно</td>
            </tr>
            <tr>
                <td>♠</td>
                <td> — (<code>только в Приложении</code>): вариант, не соответствующий основному литературному узусу, представленный лишь в речи людей, связанных по роду своей деятельности с соответствующей страной, или в речи части специалистов-филологов</td>
            </tr>
        </table>
    </div>
</div>





