@page

<h2>КАК ПОЛЬЗОВАТЬСЯ СЛОВАРЕМ</h2>
<h3 id="order">Способ записи слов и порядок их расположения</h3>
<p>
    Каждое слово представлено в словаре своей <em>исходной</em>, или <em>словарной</em> формой 
    (которая образует так наз. заглавное слово статьи).
    Для склоняемых частей речи это именительный падеж 
    (если слово изменяется по числам — ед. числа; если оно изменяется по родам — мужского рода), 
    для глаголов — инфинитив, для неизменяемых частей речи — единственная имеющаяся форма.
    Прилагательные, не имеющие полных форм (например, <strong>рад</strong>), приводятся в краткой форме мужского рода. 
    Прочие изменяемые слова, не имеющие обычной исходной формы, таковы 
    (они приводятся здесь в той же форме, что в словаре): 
    <strong>себя&#769;, дру&#768;г дру&#769;га, не&#769;кого, не&#769;чего, дрове&#769;ц, дрожже&#769;ц, щец, сот; неймёт, неймётся, немо&#769;жется, езжа&#769;й, поезжа&#769;й, ступа&#769;й</strong>.
</p>    
<p>
    Все слова (как в исходной, так и в прочих формах) даются в обычной орфографической записи, но с указанием ударения. 
    Отмечается как главное ударение (знак &#769;), так и второстепенное, если оно имеется (знак &#768;), например: 
    <strong>доро&#769;га, ко&#768;нтрразве&#769;дка, трё&#768;хметро&#769;вый, а&#768;втомо&#768;токлу&#769;б</strong>. 
    (О второстепенном ударении см. также <a href="preface1#secondary-stress">предисловие</a>.)
</p>    
<p>
    Знак главного ударения опускается в односложных формах, приводимых изолированно (вне словосочетаний), например: 
    исходные формы — <strong>я, час, злой, там</strong>; прочие формы — И. мн. <code>льды</code>, кф м <code>зол</code>, прош. м <code>был</code> 
    (ср. сохранение знака &#769; в словосочетаниях и фразах, например: <code>я&#769; ведь то&#769;же та&#769;м бы&#769;л; ча&#769;с о&#769;т часу</code>).
</p>    
<p>
    Для того, чтобы это правило не привело к неразличению ударных и безударных односложных слов, 
    последние снабжены пометой «без удар(ения)» или «нормально без удар(ения)», например: 
    <strong>ведь</strong> (<code>без удар.</code>), 
    <strong>от</strong> (<code>нормально без удар.</code>). 
    Эти пометы ставятся только при исходных формах (при записи словосочетаний в них нет необходимости). 
    Помета «без удар.» означает, что данное слово всегда безударно. 
    Помета «нормально без удар.» (стоящая только при части предлогов и при частицах не и ни) означает, что 
    данное слово в нормальном случае безударно, но получает ударение в некотором ограниченном числе словосочетаний, где 
    следующее за ним слово теряет свое ударение, например: 
    <code>на&#769; пол, за&#769; голову, ча&#769;с о&#769;т часу, при&#769; смерти, не&#769; был</code>. 
    (Все такие словосочетания приведены в словаре за знаком ⟡ в статьях соответствующих существительных и глаголов, 
    см. ниже, стр. 15.)
</p>    
<p>
    Наряду с указанными двумя пометами, в словаре возможна также (причем не только при односложных словах) 
    помета «часто без удар(ения)», например: 
    <strong>хоть</strong> <code>(часто без удар.)</code>, 
    <strong>перед</strong> <code>(часто без удар.)</code>. 
    Она означает, что данное слово может быть в составе фразы как ударным, так и безударным; 
    возможен также промежуточный случай, когда ударение такого слова реализуется как второстепенное (т. е. ослабленное). 
    На ударение последующего слова эти колебания не влияют. 
    Пример: <strong>пе&#769;ред до&#769;мом, 
    пе&#768;ред до&#769;мом или 
    перед до&#769;мом</strong>. 
    Выбор полноударного, слабоударного или безударного варианта в одних случаях свободен, в других 
    подчиняется довольно сложным правилам, которые в настоящем словаре не приводятся.
</p>    
<p>
    Знак главного ударения опускается также над буквой <strong>ё</strong>, например, <strong>самолёт, трёхколёсный</strong>. 
    Замена <strong>е</strong> на <strong>ё</strong> возможна потому, что безударного (то есть лишенного даже второстепенного ударения) 
    <span class="letter">ё</span> не бывает; таким образом, <span class="letter">ё</span> в настоящем словаре всегда равносильно <span class="letter">ё&#769;</span>.
</p>    
<p>
    Два знака главного ударения над одним словом означают: а) если в слове есть дефис — что каждая часть сложного слова 
    имеет главное ударение, например: <strong>баба-яга</strong>, также <strong>ковёр-самолёт</strong> (<span class="letter">ё</span> = <span class="letter">ё&#769;</span>, ср. выше); 
    б) если в слове нет дефиса — что возможны два варианта ударения, например, 
    <strong>то&#769;тча&#769;с</strong> = <strong>то&#769;тчас</strong> и <strong>тотча&#769;с</strong>,
    <strong>кулина&#769;ри&#769;я</strong> = <strong>кулина&#769;рия</strong> и <strong>кулинари&#769;я</strong>.
</p>    
<p>
    В пояснительных текстах под гласными и согласными понимаются буквы (не фонемы), а именно: 
    буквы <span class="letter">а, е, ё, и, о, у, ы, э, ю, я</span> — гласные, прочие (кроме <span class="letter">ъ</span> и <span class="letter">ь</span>) — согласные. 
    Под шипящими понимаются согласные буквы <span class="letter">ш, ж, ч, щ</span>. 
    Аналогичным образом под основами и окончаниями понимаются определенные буквенные (не фонемные) последовательности.
</p>    
<p>
    Порядок расположения слов в словаре — инверсионный алфавитный. 
    Это значит, что все слова разделены на группы в зависимости от конечной буквы: вначале идут все слова, 
    оканчивающиеся на 
    <span class="letter">-а</span>, затем на 
    <span class="letter">-б</span>,
    <span class="letter">-в</span>,
    <span class="letter">-г</span>,
    и т. д. до <span class="letter">-я</span>, в порядке алфавита. 
    Внутри группы слов, например, на <span class="letter">-а</span> порядок определяется второй буквой от конца: 
    вначале идут слова на <span class="letter">-аа</span> (если такие вообще есть), 
    затем на 
    <span class="letter">-ба</span>,
    <span class="letter">-ва</span>,
    <span class="letter">-га</span>,
    и т. д. до 
    <span class="letter">-яа</span>.
    Внутри группы слов, например, на 
    <span class="letter">-га</span>
    порядок определяется третьей буквой от конца: 
    <span class="letter">-ага</span>,
    <span class="letter">-бга</span>,
    <span class="letter">-вга</span>,
    и т. д. до 
    <span class="letter">-яга</span>;
    аналогично и дальше. Подробнее см. <a href="~/preface1#inverse-order">предисловие</a>.
</p>    
<p>
    С точки зрения порядка расположения слов в словаре, как один и тот же знак рассматриваются: 
    а) буква со знаком ударения и без него (ср., например, последовательность 
    <strong>даба&#769;, жа&#769;ба, раба&#769;</strong>); 
    б) буквы <span class="letter">е</span> и <span class="letter">ё</span> 
    (ср. <strong>вале&#769;т, налёт, туале&#769;т</strong>); 
    в) дефис и его отсутствие (т. е. несущественно различие между дефисным и слитным написанием; 
    ср. <strong>разрыв-трава, притрава, трын-трава, отрава</strong>). 
    Однако в случаях, когда два слова должны были бы по этим правилам занять в словаре одно и то же место,
    принят порядок, демонстрируемый следующими парами примеров; 
    <strong>за&#769;мок, замо&#769;к; 
        надо, на&#769;до; 
        сверхсро&#769;чный, све&#768;рхсро&#769;чный; 
        паде&#769;ж, падёж; 
        сто&#769;йка, сто&#769;й-ка<sup>1</sup>; 
        по&#769;за, по-за</strong>. 
    Тот же порядок, что в парах типа <strong>надо — на&#769;до</strong>, принят и для аналогичных пар односложных слов 
    (хотя ударность и безударность отмечается здесь иначе, см. выше), например, <strong>мол</strong> (<code>без удар.</code>),
    <strong>мол</strong>; 
    <strong>до</strong> (<code>нормально без удар.</code>)<sup>2</sup>, <strong>до</strong>.
</p>
<p class="footnote">
    <sup>1</sup> Слово <strong>сто́й-ка</strong> в действительности в словаре отсутствует и использовано здесь лишь для наглядности.
</p>
<p class="footnote">
    <sup>2</sup> Слова с пометой «нормально без удар.» рассматриваются, таким образом, как частный случай безударных слов. 
    Напротив, слова с пометой «часто без удар.» рассматриваются как частный случай слов, имеющих ударение.
</p>

<h3 id="format">Строение словарной статьи</h3>
<p>Словарная статья в общем случае состоит (не считая заглавного слова) из: 
    1) основного буквенного символа, 
    2) индекса, 
    3) дополнительных помет и указаний (в частных случаях тот или иной из этих элементов может отсутствовать).
</p>

<p> Если разным значениям слова соответствуют какие-то различия в образовании форм, 
    словарная статья распадается на соответствующее число частей («подстатей»), 
    каждая из которых строится как самостоятельная статья 
    (т. е. имеет свой основной буквенный символ, свой индекс и свои дополнительные пометы и указания). 
    Каждая такая подстатья начинается с новой строки.
</p>

<h4 id="main-letter">Основной буквенный символ</h4>

<p> Основной буквенный символ (у всех слов, кроме существительных и глаголов) — это буквенное сокращение, 
    обозначающее часть речи (список сокращений см. на стр. 20). 
    У существительных основной буквенный символ состоит из символов рода и одушевленности или неодушевленности 
    (или символа «мн.»), у глаголов — из символов вида и переходности или 
    непереходности<sup>3</sup>; 
    часть речи в этих случаях не указывается, поскольку она ясна из основного буквенного символа.
</p>
<p class="footnote">
    <sup>3</sup> К этим символам могут, кроме того, добавляться пометы «многокр(атный)» и «безл(ичный)».
</p>

<h4 id="index">Индекс</h4>
<p> Индексы имеются только у изменяемых частей речи. 
    Элементы, из которых складывается индекс, таковы 
    (обязательным является только первый из них, любой из остальных элементов может и отсутствовать).
</p>
<ol>
    <li><em>Цифра</em> (от 0 до 8 у имен, от 1 до 16 у глаголов) — тип склонения или спряжения.</li>
    <li>Надстрочная звездочка (*) или кружочек (°) при цифре — 
        символы наличия определенных чередований в основе (в некоторых особых случаях * и ° выступают одновременно).
    </li>
    <li><em>Латинская буква</em> (или две буквы, разделенные косой чертой) без штрихов или со штрихами — 
        <em>схема ударения</em>. (Этот элемент индекса отсутствует только после цифры 0.)
    </li>
    <li>Русская буква или буквенная последовательность (между черточками, в скобках), например, (-д-) 
        при <strong>вести́</strong>, (-им-) при <strong>разня́ть</strong>, — 
        указание (возможное только при небольшой части глаголов), 
        позволяющее правильно образовать основу настоящего времени.
    </li>
    <li>Одна или несколько цифр в кружке (от <span class="circle">1</span> до <span class="circle">9</span>) — 
        символы наиболее распространенных отклонений от стандартного склонения или спряжения.
    </li>
    <li>Знак «ё» — символ наличия в основе чередования:
        <span class="letter">ё</span> (под ударением) — <span class="letter">е</span> (без ударения).
        Вариантом этого знака является знак «о» (возможный только у глаголов на <word-end>-цевать</word-end>).
    </li>
</ol>

<p>Примеры индексов: 1a; Зa/c; 5*b; 1*а/b<span class="circle">2</span>, ё.
</p>
<p>У подавляющего большинства слов индекс состоит только из 1-го и 3-го элементов, 
    т. е. из цифры и латинской буквы (или букв), например, 1а, 4b, За/с (или даже только из одной цифры 0). 
    В дальнейшем такие индексы называются простыми. 
    Совокупность 1-го, 2-го и 3-го элементов индекса называются основной частью индекса.
</p>
<p>У некоторых существительных и прилагательных индекс 
    (вместе с дополнительным символом рода или части речи) 
    заключен в угловые скобки. 
    Это значит, что слово склоняется так, как указано в угловых скобках, 
    хотя само принадлежит к другому роду&nbsp;или другой части речи. Примеры:
</p>
<table class="left-aligned">
    <tr>
        <td>
            мужчи́на
        </td>
        <td>
            мо &lt;жо 1а&gt; (т. е. это существительное мужского рода склоняется по образцу женского рода);    
        </td>
    </tr>
    <tr>
        <td>
            запята́я 
        </td>
        <td>
            ж &lt;п 1b&gt; (т. е. это существительное склоняется как прилагательное).    
        </td>
    </tr>
</table>
<p>О том, как пользоваться индексом, см. ниже (раздел «Как построить нужные формы слова»).</p>
