@page

<div class="front-page">

    <img id="cover" src="cover.jpg" />

    <p class="abstract">
        Словарь отражает
        (<span class="nowrap">с помощью</span> специальной системы условных обозначений)
        современное словоизменение, <span class="nowrap">т. е.</span> склонение существительных,
        прилагательных, местоимений, числительных и спряжение глаголов.
        Словарь содержит около <span class="nowrap">100 000</span> слов,
        расположенных в обратном (инверсионном) алфавитном порядке,
        <span class="nowrap">т. е.</span> по алфавиту конечных, а не начальных букв слова.
        Каждое слово имеет при себе грамматическую помету и индекс,
        отсылающие к «Грамматическим сведениям»,
        где даны образцы склонения и спряжения,
        по которым читатель может установить словоизменение интересующего его слова.
        <span class="nowrap">В настоящем</span> издании учтены изменения, произошедшие в русском языке
        <span class="nowrap">с момента</span> выхода в свет первого издания словаря,
        <span class="nowrap">а также</span> помещено приложение,
        содержащее информацию о словоизменении более 8000 имен собственных.
    </p>
    <p class="abstract">
        Словарь предназначен для специалистов-филологов,
        <span class="nowrap">а также</span> для преподавателей русского языка,
        <span class="nowrap">в том</span> числе как иностранного.
    </p>
    <p id="goals">
        Сайт Словаря создан по инициативе дочери автора Анны Андреевны Зализняк.
        Целей создания сайта несколько:
    </p>
    <ol>
        <li>
            Дать всем заинтересованным простой и современный доступ к Словарю.
            Вопрос «Как правильно?» возникает у многих говорящих на русском языке,
            но немногих он заставит пойти в магазин и купить словарь.
            Наличие сайта позволяет не только легко найти ответ на интересующий вас вопрос,
            но и подкрепить его ссылкой на нормативный источник:
            <a href="https://goo.gl/uwix3E" target="_blank">
                приказом Минобрнауки России от 8 июня 2009 г. № 195
            </a>
            Словарь признан нормативным.
        </li>
        <li>
            Представить Словарь в полном, неискаженном виде.
            В Интерете есть множество версий Словаря, но качество и полнота оцифровки
            как правило оставляют желать лучшего. К тому же, они основаны на ранних изданиях Словаря.
            Данный сайт соответствует шестому изданию.
        </li>
    </ol>

</div>