@page

<p>
    «Грамматический словарь» — это фундаментальный труд по морфологии русского языка. 
    Словарь полностью описывает склонение и спряжение более 100 тысяч русских слов, в том числе имен собственных.
    Для каждого слова даны часть речи, ударение и другие характеристики – род, одушевленность (для существительных), 
    вид, переходность (для глаголов), сведения об образовании глаголов противоположного вида.
    Вот так сам автор характеризует назначение словаря:
</p>

<img id="cover" src="cover.jpg" alt="Обложка 3-го издания" />

<p class="abstract">
    "Словарь отражает
    (<span class="nowrap">с помощью</span> специальной системы условных обозначений)
    современное словоизменение, <span class="nowrap">т. е.</span> склонение существительных,
    прилагательных, местоимений, числительных и спряжение глаголов.
    Словарь содержит около <span class="nowrap">100&ensp;000</span> слов,
    расположенных в обратном (инверсионном) алфавитном порядке,
    <span class="nowrap">т. е.</span> по алфавиту конечных, а не начальных букв слова.
    Каждое слово имеет при себе грамматическую помету и индекс,
    отсылающие к «Грамматическим сведениям»,
    где даны образцы склонения и спряжения,
    по которым читатель может установить словоизменение интересующего его слова.
    <span class="nowrap">В настоящем</span> издании учтены изменения, произошедшие в русском языке
    <span class="nowrap">с момента</span> выхода в свет первого издания словаря,
    <span class="nowrap">а также</span> помещено приложение,
    содержащее информацию о словоизменении более 8000 имен собственных.
</p>

<p class="abstract">
    Словарь предназначен для специалистов-филологов,
    <span class="nowrap">а также</span> для преподавателей русского языка,
    <span class="nowrap">в том</span> числе как иностранного."
</p>

<p id="source">
    Сайт соответствует шестому изданию.
    Словарные данные основаны на гранках шестого издания, подготовленных 
    <a href="http://www.ruslang.ru/node/986" target="_blank">Еленой Александровной Гришиной</a>.
</p>

<h2 style="clear:both">Контакт</h2>

<p>
    Сайт создан с разрешения и при поддержке правообладателя Словаря Анны Андреевны Зализняк.
    Разработку сайта ведет Сергей Слепов. 
</p>
<p>
    Исходный код сайта открыт и расположен на <a href="https://github.com/morpher-ru/gramdict" target="_blank">GitHub</a>. 
    Если вы программист или дизайнер и желаете помочь проекту, свяжитесь с нами.
</p>
<p>
    По любым вопросам, связанным с сайтом, пишите на
    <a href="mailto:human@gramdict.ru">human@gramdict.ru</a>.
</p>
<p>
    Начать читать Словарь можно с предисловия:
</p>
<p class="read-next">
    <a href="/preface/">Предисловие</a>
</p>
