@page
<h1>ПРИЛОЖЕНИЕ</h1>
<h1 id="names">ИМЕНА СОБСТВЕННЫЕ</h1>
<h2 id="princip">ПРИНЦИПЫ ОТБОРА ИМЕН СОБСТВЕННЫХ</h2>
<p> В приложении содержится некая не слишком узкая выборка имен собственных, 
    которая призвана скомпенсировать одностороннесть словника первых изданий настоящего словаря, 
    где в соответствии с давней лексикографической традицией 
    никак не представлена эта важная составная часть лексического фонда языка.
</p>
<p> Количество имен собственных — от часто употребляемых до потенциальных — 
    в любом языке почти безгранично.
    Ни о каком полном их списке не может идти и речи в принципе.
    В нашу выборку входит лишь очень незначительная их часть.
    К сожалению, процедура отбора здесь, как и вообще в лексикографии,
    остается наименее строгой из всех операций,
    из которых складывается деятельность лексикографа.
    Можно указать — и то лишь в весьма нестрогих терминах — 
    только основные установки, соблюдавшиеся при отборе.
    Их две; для включения имени собственного в выборку достаточно,
    чтобы оно удовлетворяло хотя бы одной из них.
</p>
<p> Первая установка состоит в том, чтобы 
    выборка по возможности полно охватывала те группы имен собственных, где 
    определение рода или типа склонения может вызывать затруднение, и 
    те словоизменительные модели, которые слабо представлены 
    (или даже вообще отсутствуют) в корпусе имен нарицательных, т. е. 
    характерны в первую очередь именно для имен собственных. 
    Тем самым должна быть обеспечена эффективность словаря 
    при его использовании для различных практических целей, а также 
    должна получить более полное решение его собственно грамматическая задача — 
    охватить все словоизменительные модели, существующие в русском языке, и 
    отразить их примерные количественные соотношения.
</p>
<p> Во исполнение этой установки в приложение включено значительное количество топонимов, 
    в том числе и малоизвестных, у которых затруднено определение рода или 
    которые принадлежат к относительно редким словоизменительным моделям. 
    В частности, особенно широко по этой причине представлены названия рек 
    (в первую очередь российских). 
    Этой же установкой определяется включение многих групп 
    уменьшительно-ласкательных имен и ряда других особых групп имен собственных. 
    В этом же состоит одна из причин того, что в приложение в качестве отдельных статей включено 
    заметное число наименований, состоящих из двух или более слов, например, 
    <code>Жю́ль Ве́рн, Ома́р Хайя́м</code> 
    (поскольку здесь возникает вопрос, склоняются ли обе части такого наименования или только вторая).
</p>
<p> Другая установка состоит в том, чтобы 
    включать в выборку просто наиболее известные имена собственные, 
    независимо от характера их словоизменительной модели. 
    Несколько детальнее это можно представить так. 
    Прежде всего, в приложение включаются все имена собственные, 
    образующие то, что можно назвать их первым концентром, — а именно, 
    известные практически всем взрослым носителям русского языка. 
    Кроме того, включаются, но уже без претензии на полноту, 
    имена собственные второго концентра, т. е. такие, которые 
    известны большинству образованных русских людей, 
    даже если не принадлежат к сфере их прямой специальности.
</p>
<p> Нет нужды пояснять, сколь мало определенности в этих требованиях и 
    сколь велика здесь может быть доля гипотетичности и субъективности. 
    Читатель несомненно очень быстро найдет, 
    что такого-то имени собственного не хватает, 
    а такое-то включено напрасно. 
    Есть много шансов, что первое будет принадлежать к близкой лично ему сфере,
    а второе к далекой. 
    К сожалению, даже если принять его поправки, 
    границы выборки останутся, как и прежде, нестрогими.
</p>
<p> Таким образом, словник нашего приложения имеет в значительной мере экспериментальный характер. 
    Вероятно, со временем он сможет быть усовершенствован. 
    Смириться с неизбежностью частных недостатков словника 
    до некоторой степени помогает лишь то, что 
    для основных задач грамматического словаря эти недостатки имеют второстепенное значение.
</p>
<p> Из более частных особенностей нашей выборки отметим следующие.
</p>
<p> В приложение включено большое число личных имен — 
    как русских, так и тех иностранных, 
    которые достаточно широко известны из литературы и из международного культурного общения. 
    Приводятся также многие гипокористические (уменьшительно-ласкательные) производные, 
    прежде всего для русских имен; 
    но в этом пункте мы все же ограничиваемся лишь небольшой их частью, 
    поскольку возможности образования этой категории имен почти безграничны.
</p>
<p> В приложение входит также некоторое количество фамилий — 
    разумеется, совершенно ничтожная часть их общего фонда. 
    Основной принцип отбора здесь таков: включаются 
    а) самые распространенные русские фамилии, 
    б) из не самых распространенных русских и из любых иностранных — 
    те, у которых есть широко известные носители 
    (из числа либо реальных людей, либо литературных персонажей).
    Таким образом, нашу выборку никоим образом не следует рассматривать 
    просто как некий перечень знаменитостей<sup><a href="#footnote1">1</a></sup>.
    Включение в словарь некоторого числа фамилий известных литературных персонажей
    позволит читателю получить отсутствующие в других справочных источниках 
    сведения о том, с каким ударением обычно произносят эти фамилии носители русского языка.
</p>
<p> В особом положении находятся отчества.
    В нашу выборку они в качестве самостоятельных статей вообще не включаются,
    поскольку это без особой необходимости привело бы к резкому увеличению объема приложения:
    вместо каждого мужского личного имени в списке фигурировало бы, кроме него самого,
    еще два регулярных производных от него, скажем, 
    <code>Алекса́ндрович</code> и <code>Алекса́ндровна</code> от <code>Алекса́ндр</code>.
    Вместо этого приводятся правила регулярного образования отчеств от личных имен 
    (см. <a href="#patronymics">ниже</a>)
    и в нашей выборке <a href="#para26">специальными пометами</a> отмечаются 
    те имена, которые отклоняются от этих правил.
</p>
<p> Специально подчеркнем, что не следует смешивать предлагаемый список имен собственных 
    со справочником по «правильной» транскрипции иностранных названий и имен 
    или со сводкой единиц современной политической географии.
    В силу общей ориентации на традиционный культурный фонд 
    наш список неизбежно несколько отстает и от сегодняшней политической географии,
    и от текущей практики средств массовой информации.
    Заметим, что по этой же причине в выборку сознательно не включены имена собственные (людей, мест), 
    которые стали актуальны и общеизвестны лишь совсем недавно. 
    Необходима некоторая временна́я дистанция, чтобы оценить, 
    какие из них действительно войдут в общекультурный фонд русского человека и какие окажутся однодневками.
</p>
<p> Указанная ориентация неизбежно приводит также к тому, что 
    разные зарубежные страны представлены в нашей выборке совершенно неодинаковыми количествами имен и топонимов.
    В отличие от энциклопедии, наш словарь непосредственно отражает в этом вопросе тот факт, что 
    география, история, литература и искусство, скажем, Италии и Ирана были традиционно знакомы русскому обществу 
    в неодинаковой степени.
</p>
<p> Одно и то же слово в принципе может фигурировать в основной части словаря 
    (в качестве имени нарицательного) и в приложении (в качестве имени собственного), 
    например, 
    <code>би́блия</code> (как физический предмет) и 
    <code>Би́блия</code> (как текст). 
    Мы стремились, однако, обойтись в этом вопросе некоторым минимумом, 
    не считая нужным автоматически отражать все разнообразные случаи, 
    когда имя нарицательное в силу ситуации возводится в ранг собственного. 
    Такая цель разумна, например, для орфографического словаря, 
    который должен служить руководством в числе прочего и в вопросе о написании строчной или прописной буквы. 
    Но для грамматического словаря существенно прежде всего то, что 
    почти во всех этих случаях слово сохраняет свои словоизменительные характеристики. 
    Поэтому стремление в данном вопросе к полноте здесь означало бы просто 
    увеличение числа продублированных статей. 
    Соответственно, читатель не найдет в нашем приложении, например, статей 
    <code>Бог, Земля́, Со́лнце</code> и ряда других подобных. 
    По тем же мотивам мы крайне скупо включаем в приложение составные топонимы типа 
    <code>Охо́тный Ря́д</code> или типа <code>Голубо́й Ни́л</code>, 
    поскольку они с грамматической точки зрения представляют собой 
    простую сумму своих составных частей (дающую к тому же громоздкую статью).
</p>
<p class="footnote" id="footnote1"><sup>1</sup>При этом, однако, в тех случаях, когда 
    фамилия из группы «б» предстает в несколько различных вариантах 
    у знаменитого ее носителя и у рядовых 
    (см. <a href="#footnote2">сноску 1</a> на след. стр.), 
    в нашем списке дается, если специально не оговорено иное, вариант,
    применяемый к знаменитому носителю.
</p>

<h2 id="problem">ПРОБЛЕМА ВАРИАТИВНОСТИ УДАРЕНИЯ И ФОНЕТИЧЕСКОГО СОСТАВА У ИМЕН СОБСТВЕННЫХ</h2>

<p> Проблема вариативности ударения и фонетического состава актуальна 
    прежде всего для имен собственных иноязычного происхождения.
</p>
<p> В современном русском языке фонетический состав и ударение иноязычных имен собственных 
    являются объектом противоборства двух разнонаправленных тенденций. 
    Первую из них можно назвать консервативной (или руссконаправленной), 
    вторую — мондиализаторской (или иноязычнонаправленной).
</p>
<p> Первая тенденция состоит прежде всего в том, чтобы сохранять у имени собственного 
    фонетическую форму и ударение, закрепленные в литературном употреблении XIX — первой половины XX века.
    Для имен собственных, появившихся (или вошедших в широкое употребление) позднее, 
    данная тенденция проявляется значительно слабее; она состоит здесь в том, чтобы 
    применять те же способы «пересчета» с иноязычного произношения и ударения, 
    которые реализованы в традиционном фонде таких наименований. 
    С исторической точки зрения этот традиционный фонд сформировался как результат 
    действовавшей на протяжении всей истории русского языка тенденции
    к освоению (русификации) иноязычных названий и имен, 
    т. е. к тому, чтобы придать им фонетическую форму, 
    по возможности близкую к исконным русским словам, 
    и такое ударение, которое преобладает у исконных русских слов сходной фонетической структуры.
    И в том и в другом отношении при реализации этой тенденции возможно удаление,
    иногда довольно значительное, от иноязычного источника.
</p>
<p> Вторая тенденция состоит в том, чтобы как можно больше приблизиться к современному звучанию слова
    в языке-источнике и сохранить его ударение 
    (если в этом языке вообще существует просодическое выделение, хотя бы отдаленно сходное с русским ударением).
</p>
<p> Так, например, первая тенденция дает <code>Вашингто́н</code>, 
    вторая — <code>Уо́шингтон</code>. Другие примеры: 
    <code>Вилья́м — Уи́льям;
        Вестми́нстер — Уэ́стминстер; 
        Гейдельбе́рг — Ха́йдельберг;
        Ге́йне — Ха́йне;
        Ге́нуя — Дже́нова;
        Па́дуя — Па́дова;
        Бристо́ль — Бри́стол;
        Манче́стер — Ма́нчестер;
        Флори́да — Фло́рида;
        Босто́н — Бо́стон;
        Ньюто́н — Нью́тон<sup><a href="#footnote2">2</a></sup></code>.
</p>
<p> Консервативная тенденция свойственна в первую очередь большинству представителей 
    староинтеллигентской, театральной, писательской, филологической, искусствоведческой и т. п. среды.
</p>
<p> Противоположная тенденция характерна для двух несходных категорий носителей языка.
    Во-первых, это люди, непосредственно соприкасающиеся в своей практической деятельности 
    с соответствующей страной (журналисты, бизнесмены, коммерсанты, люди технических профессий 
    и т. д.)<sup><a href="#footnote3">3</a></sup>,
    в большинстве своем слабо связанные с русской литературной традицией.
    Вот показательный отрывок из разговора москвички с эмигранткой, живущей в Мельбурне:
    «Интересно: Вы говорите <code>Ме́льбурн</code>, А мы здесь в России говорим <code>Мельбу́рн</code>»,
    — «Понимаете, я ведь о таком городе никогда и не слыхала, пока туда не попала. Вот я и говорю, как там».
</p>
<p> Во-вторых, это работники картографических ведомств и энциклопедий,
    а вслед за ними и составители инструкций для работников радио и телевидения.
    К сожалению, в их среде тезис «Правильное ударение — это то, которое совпадает с ударением в языке-источнике»
    ныне приобрел почти характер аксиомы;
    такое ударение воспринимается как «научное», а традиционное ударение — как «ненаучное».
    В результате многие указания энциклопедий и других подобных изданий
    (скажем, ударения <code>Ци́ммервальд, Гу́тенберг, Ма́ннергейм</code>)
    получают по сути дела характер справок о ситуации в языке-источнике
    (и в качестве таковых могут быть вполне полезны), но о том,
    как реально произносятся эти названия по-русски, фактически сведений не дают.
    Существенно, однако, то, что многие дикторы,
    подчиняясь инструкциям и насилуя свое языковое чутье,
    действительно произносят <code>Ма́ннергейм</code> и т. п.
</p>
<p> Противопоставление русифицированных и нерусифицированных обликов иноязычного названия
    есть не что иное, как частный случай широко представленного в разных сферах русского языка
    противопоставления освоенного и неосвоенного.
    Любые заимствованные слова, будь то имена собственные или имена нарицательные,
    подвергаются в ходе истории русского языка той или иной степени русификации.
    Чем прочнее слово вошло в словарный состав русского языка,
    тем эта русификация последовательнее и устойчивее.
    Так, нем. Jahrmarkt превращается в русском языке
    (куда оно попало через польское посредство) в <code>я́рмарка</code>,
    нем. Feldwebel, англ. hooligan (оба с ударением на первом слоге) — 
    в <code>фельдфе́бель, хулига́н</code>, и т. п. 
    Никому не приходит в голову требовать, ссылаясь на немецкий и английский язык, чтобы 
    вместо <code>я́рмарка</code> говорили <code>я́рмаркт</code>, 
    вместо <code>фельдфе́бель — фе́льдвебель</code>, 
    вместо <code>хулига́н — ху́лиган</code>.
    Между тем требование говорить <code>Гу́тенберг</code> носит именно такой характер.
</p>
<p> Реальное функционирование языка не дает никаких оснований для подобного противопоставления
    имен собственных и имен нарицательных. 
    И среди тех и среди других есть слова более употребительные и менее употребительные, 
    соответственно выступающие как освоенные для большинства носителей языка 
    или только для их небольших групп. 
    Слова <code>Рим, Пари́ж, Стокго́льм, Цицеро́н, Гутенбе́рг, Ге́йне</code> 
    принадлежат к активно используемой части словарного состава русского языка 
    в не меньшей степени, чем, например, по́люс или ора́тор, 
    между тем как множество нарицательных имен 
    (скажем, <code>шерхе́бель</code> или <code>голоту́рия</code>) 
    к этой части не принадлежит.
</p>
<p>Существенное для лексикографа различие состоит, таким образом, не в том, 
    относится ли иноязычное слово к числу имен собственных или нарицательных, 
    а в степени его известности и употребительности. 
    Сложность в том, что между одним полюсом, представленным словами вроде 
    <code>Рим, Пари́ж, Цицеро́н</code>, и другим, где находится, например, 
    название африканской деревни, которую посетил журналист,
    возможны все промежуточные ступени.
    Первые несомненно должны фигурировать в словарях, энциклопедиях, справочниках и т. п.
    в их традиционном облике. 
    Для вторых, если они вообще попадают в печать или на радио, ничего не остается,
    как воспроизвести русскими средствами иноязычное звучание. 
    Но имеется и широкая промежуточная зона, где выбор решения неочевиден.
</p>
<p> Разумеется, ни одна энциклопедия не пытается ввести названия 
    <code>Ро́ма, Пари́, Ки́керо</code> вместо <code>Рим, Пари́ж, Цицеро́н</code>.
    Молчаливо предполагается, что здесь уже ничего не поделаешь:
    «порчу» (по сравнению с языком-источником) исправить уже невозможно.
    В действительности же подобная «порча» есть не что иное, как результат (и свидетельство)
    того, что эти названия уже очень давно освоены русским обществом
    (по крайней мере образованной его частью),
    прочно входят в состав общекультурного фонда этого общества.
    Соответственно, когда те же энциклопедии дают
    <code>Гу́тенберг</code> вместо традиционного <code>Гутенбе́рг</code> или 
    <code>Сто́кгольм</code> (и даже <code>Сто́кхольм</code>) вместо традиционного Стокго́льм,
    они фактически трактуют эти слова как неосвоенные, 
    т. е. не считают эти слова частью уже сложившегося общекультурного лексического фонда 
    и приглашают читателя на позицию тех, кто ни об этом человеке, ни об этом городе ничего не слыхал.
</p>
<p> Как ясно из всего изложенного, для названий, относящихся к средней части рассматриваемой шкалы, 
    найти решение, которое удовлетворило бы одновременно всех носителей русского языка, невозможно. 
    Настоящий словарь характеризуется в этом вопросе некоторым умеренным общим уклоном в сторону традиционных решений. 
    Мы надеемся, что тем самым словарь в какой-то степени послужит противовесом 
    общей иностраннонаправленной тенденции справочников и энциклопедий, 
    которая ведет к неоправданному отрыву современного языка от языка классической русской литературы XIX — XX веков.
</p>
<p> Уклон в сторону традиционных решений не означает, конечно, 
    что мы считаем приемлемыми для современного языка любые старые названия.
    Скажем, древнее название Стекольно для Стокгольма или Веденец для Венеции ныне прочно забыто.
    Дидро ныне уже только <code>Дидро́</code>, но никак не <code>Дидеро́т</code>.
    Многие варианты наименований, обычные для XIX — начала XX века,
    теперь уже воспринимаются как устаревшие или по крайней мере как устаревающие,
    например, <code>Эрива́нь, Тифли́с, Босто́н, Мильто́н, Пинда́р, Таци́т</code>.
    Во всех таких случаях мы, конечно, приводим современную форму названия:
    <code>Ерева́н, Тбили́си, Бо́стон, Ми́льтон, Пи́ндар, Та́цит</code> и т. д. 
    (хотя некоторые устаревшие или устаревающие варианты при этом могут быть упомянуты). 
    Существенно то, что мы фиксируем реальное изменение русского языкового узуса,
    а отнюдь не просто даем сведение о том, как обстоит дело в языке-источнике.
</p>
<p> Шкала переходов от случаев господства руссконаправленного варианта имени собственного
    до случаев господства иностраннонаправленного варианта
    допускает множество тонких градаций.
    Передать их в точности словарными средствами невозможно,
    и мы вынуждены делать это со значительным огрублением.
    С точки зрения словарного оформления здесь различаются следующие случаи.
</p>
<p> а) Имя собственное дается без вариантов и помет.
    Так оформляются случаи фактического господства в реальном языковом узусе
    руссконаправленного или, напротив, иностраннонаправленного варианта, например:
    <strong>Рим, Стокго́льм, Гутенбе́рг</strong> или, с другой стороны,
    <strong>Кли́вленд, Зи́гфрид</strong>.
</p>
<p> б) Название дается с двумя ударениями, 
    но один из вариантов ударения помечен как устаревший (или устаревающий), например:</p>
<p class="entry"><strong>О́ксфо́рд</strong> (-фо́- <code>устар.</code>)</p>
<p class="entry"><strong>Та́ци́т</strong> (-ци́т <code>устар.</code>)</p>

<p> в) Название дается с двумя ударениями, 
    но имеется помета, где одному из вариантов ударения (обозначенному сокращенно) приписан символ ♠ например:
</p>
<p class="entry"><strong>Ко́рдо́ва</strong> (Ко́- ♠)</p>
<p class="entry"><strong>Иба́рру́ри</strong> (ба́- ♠)</p>

<p> Такая запись означает, что вариант с ♠ (почти всегда иностраннонаправленный) 
    не соответствует основному литературному узусу, 
    а представлен лишь в речи людей, связанных по роду своей деятельности с соответствующей страной, 
    или в речи части специалистов-филологов. 
    Таким образом, в данном случае основное литературное ударение
    <code>Кордо́ва, Ибарру́ри</code>, а ударение 
    <code>Ко́рдова, Иба́ррури</code> представлено только в указанных особых ситуациях.
</p>
<p> г) Имя собственное дается с двумя ударениями без специальных помет, например:
</p>
<p class="entry"><strong>По́тсда́м</strong></p>
<p class="entry"><strong>Ре́мбра́ндт</strong></p>
<p>
    Это означает, что два акцентных варианта с точки зрения современного литературного узуса примерно равноценны.
    Такая запись не исключает, впрочем, возможности некоторого стилистического различия конкурирующих вариантов.
    Например, в данном случае, в соответствии с общей моделью соотношения руссконаправленных и иноязычнонаправленных вариантов,
    ударения <code>Потсда́м, Рембра́ндт</code> имеют легкую окраску традиционности, а 
    ударения <code>По́тсдам, Ре́мбрандт</code> — легкую окраску новизны.
    Но здесь это различие незначительно, и наш словарь его не отмечает.
</p>
<p> Если два варианта различаются не ударением или не только ударением, 
    то используется развернутая запись, например:
</p>
<p class="entry"><strong>Уа́йлд</strong> [// <strong>Уа́йльд</strong>]</p>

<p> Как и в случае с двумя ударениями, такая запись не исключает 
    некоторого стилистического неравенства этих вариантов.
    </p>

<p> д) В небольшом числе случаев сопутствующий вариант имеет помету <code>офиц.</code>, например:
</p>
<p class="entry"><strong>Стра́сбург</strong> [<code>офиц.</code> <strong>Страсбу́р</strong>]</p>
<p> Таким способом отмечаются варианты, используемые в основном лишь в официальных изданиях 
    и почти не проникающие в живую речь.
</p>
<p> Помимо противопоставления фамилий по признаку их происхождения 
    («русского происхождения — иностранного происхождения»), 
    существенно также их противопоставление по признаку «принадлежащая русскому — принадлежащая иностранцу». 
    Именно это второе противопоставление имеется в виду, когда
    мы говорим просто «русская фамилия» или «иностранная фамилия».
</p>
<p> Фамилия иностранного происхождения, принадлежащая русскому (например, из обрусевшей семьи),
    обычно обнаруживает более полную степень фонетической и акцентной русификации,
    чем та же фамилия у иностранца. Ср., например, 
    <code>Якобсо́н</code> — фамилия русского и 
    <code>Я́кобсон</code> — фамилия шведа или эстонца.
    Наиболее известные случаи этого рода в нашем списке специально отмечаются. 
    Но такое же соотношение в действительности может встретиться и в не отмеченных у нас случаях;
    скажем, если <code>Макдо́нальд</code> станет фамилией русского, 
    эта фамилия может получить и другое ударение — <code>Макдона́льд</code>.
</p>
<p>
    Вообще, варьирование ударения в принципе может встретиться в фамилиях любого происхождения.
    Например, большинство носителей фамилии Иванов произносят ее <code>Ивано́в</code>,
    но некоторая их часть — <code>Ива́нов</code>.
    В нашем списке подобная вариативность отмечена только в нескольких наиболее известных случаях.
    В прочих случаях мы ограничиваемся приведением основного варианта,
    т. е. самого частого в роли самоназвания и господствующего в устах третьих лиц.
    Необходимо, таким образом, иметь в виду, что у ряда приводимых нами фамилий
    в принципе могут встретиться отдельные носители, которые акцентуируют эту фамилию иначе.
</p>
<p>
    С проблемой иноязычных имен собственных отчасти сходна также проблема <em>местных вариантов</em> российских топонимов.
    В силу различия диалектных акцентных систем многие топонимы (в особенности микротопонимы)
    имеют в речи жителей соответствующей местности иное ударение, чем
    то, которое естественно для слов той же фонетической и морфологической структуры в литературном языке.
    Отсюда возможность расхождения между традиционным названием некоторого географического объекта
    в литературном языке и его местным названием.
</p>
<p>
    Как и в случае с иностранными топонимами, здесь нельзя считать
    традиционное ударение, не совпадающее с местным, просто ошибкой, подлежащей исправлению.
    В силу своей принадлежности литературной традиции оно имеет самостоятельную ценность.
    В настоящем словаре в вопросе о местном ударении приняты в общем те же принципы,
    что и в вопросе об ударении в иностранном языке-источнике.
    Топонимы, известные безусловному большинству носителей русского языка,
    даются с ударением, обычным для литературного языка, даже если оно расходится с местным,
    например, 
    <code>Черепове́ц</code> (местн. <code>Чере́повец</code>),
    <code>Мещёра</code> (местн. <code>Мещера́</code>).
    Менее известные топонимы в большинстве случаев приводятся с ударением,
    принятым в соответствующей местности, например,
    <code>Торо́пец, Оредеж, Пе́ченга</code>.
    Если, однако, местное ударение резко расходится с той акцентной моделью,
    к которой принадлежат в литературном языке слова с данной морфологической или фонетической структурой,
    то дается всё же более естественный для литературного языка вариант (но указывается также и местный),
    например: 
    <code>Усть-Ци́льма</code> (местн. <code>У́сть-Цильма</code>), 
    <code>Кондопо́га</code> (местн. <code>Ко́ндопога</code>).
    Таким образом, наиболее важные случаи расхождения между местным и литературным ударением в словаре отмечены;
    но задача указать все такие случаи в словаре не ставится.
</p>
<p class="footnote" id="footnote2"><sup>2</sup>Следует отметить, что в именах людей первая тенденция распространяется только на знаменитых персонажей прошлого, но не на их нынешних однофамильцев. Например, современные носители фамилий Васоп, На11еу, Нете будут названы Бе́йкон, Хэ́лли, Ха́йне, а не Бэ́кон, Галле́й, Ге́йне.</p>
<p class="footnote" id="footnote3"><sup>3</sup>Особую маленькую группу, лишь отчасти сходную с указанной здесь, составляют филологи — специалисты по некоторому иностранному языку. Не все, но многие из них, даже зная литературную традицию, предпочитают употреблять имена собственные, пришедшие из «их» языка, с ударением языка-источника, например, Сце́вола, Кали́гула (у латинистов), Пави́я, Мо́дена (у итальянистов), Ко́рдова, Хере́с (у испанистов). В этом случае такие ударения можно расценивать как профессионализмы.</p>
<h2 id="podacha">ПОДАЧА МАТЕРИАЛА</h2>
<p>В разделе имен собственных отдельная статья строится в принципе так же, как у существительных в основной части словаря. Требуют пояснений лишь частные особенности.</p>
<p>Прежде, чем перейти к чисто техническим вопросам, отметим некоторые принятые нами установки более общего характера.</p>
<p>В сфере личных имен весьма распространен параллелизм различного рода, например: <code>Ма́рья и Мари́я, Михаи́л, Миха́и́ла и Миха́и́ло, Матве́и́ и Матфе́и́, Эдуа́рд и Эдвард, Лилиа́на и Лилиа́н</code> и т. п. Соотношения по стилистической окраске, степени употребительности, сфере употребления и т. п. в этих случаях могут быть весьма разнообразны. Чистая вариантность, не сопряженная ни с какими коннотациями, встречается здесь весьма редко<sup><a href="#footnote4">4</a></sup>. В настоящем словаре не ставится задача передать эту сложную информацию. За исключением немногих случаев, каждое такое имя составляет отдельную статью и взаимных отсылок при параллельных именах не дается.</p>
<p>Со значительными трудностями иногда бывает связано разграничение личных имен и фамилий. Практически мы исходим из того, что фамилии в современном смысле существуют в мире европейской культуры приблизительно последние семь веков, в остальном мире — последние один-два века. За этими рамками мы помету «ф(амилия)» не даем. Но и в этих рамках имеются промежуточные и спорные случаи, где предложенное в данном словаре решение следует считать до известной степени условным.</p>
<p>Псевдонимы (фамилии и имена) никак специально не отличены в словаре от подлинных фамилий и имен, поскольку с грамматической точки зрения тут никаких различий нет.</p>
<p>Следует особо отметить, что орфография фамилий иногда может быть индивидуальной; ср., например, <code>Солжени́цын</code> (с <code>-цын</code>), но <code>Е́льцин</code> (с <code>-цин</code>). В подобных случаях мы орфографической унификации не производим.</p>
<p>Используемая в приложении система <em>помет и пояснений</em> служит прежде всего для того, чтобы а) уточнить (в случаях возможной двусмысленности или неясности), какое именно слово (или какое его значение) имеется в виду, б) обратить внимание читателя на то, что слово принадлежит к группе, где возможны те или иные грамматические трудности. В отдельных случаях пояснение дается просто потому, что слово относительно менее известно. Но давать пояснения вообще при каждом слове было бы явно нецелесообразно: существенная информация растворилась бы в массе тривиальной.</p>
<p>Пояснения первого рода служат для разграничения омонимов или слов, близких по звучанию, подстатей в рамках единой статьи и т. п. Для сходных фамилий часто указываются их наиболее известные носители. Нередко пояснение дается с тем, чтобы отличить слово от омонима, который в нашем списке отсутствует (скажем, потому, что это имя нарицательное, или просто потому, что он не включен в выборку), например: <strong>Олимпиа́да</strong> (<code>имя</code>). В больших отрезках списка, почти целиком состоящих из названий одного и того же типа (например, фамилий на <code>-ов</code> или на <code>-скии́</code>), пояснениями снабжаются редкие вкрапления слов иных категорий (например, названия городов), чтобы их было легче заметить.</p>
<p>При топонимах, менявших название в ходе истории, об этом даются́ краткие указания. В частности, отмечены важнейшие соответствия досоветских, советских и постсоветских названий; однако на роль справочника по этим вопросам словарь не претендует.</p>
<p>К пояснениям второго рода относятся пометы: «гипокор(истическое)», «кличка», «река», «созвездие», «звезда», «планета». Они даются при соответствующих категориях слов почти последовательно. Каждая из этих групп представляет некоторый специальный интерес с точки зрения словоизменения; в них возможны также определенные трудности в выборе рода, одушевленности или типа склонения. Например, названия рек выделяются тем, что среди них есть имена, принадлежащие к схеме ударения f", которая почти не представлена у других существительных, есть целый ряд названий с неслоговой основой (например, <code>Мста, Мда, Мга, Пра, Цна, Льва</code>), возможны трудности с определением рода и др.</p>
<p class="footnote" id="footnote4"><sup>4</sup>В ряду прочих различий следует особо отметить противопоставление канонических (церковных) и неканонических (т. е. отражающих живое употребление — литературных и разговорных) форм у имен, входящих в православный месяцеслов; ср., например, канонические Параске́ва, Андрони́к и литературные Праско́вья, Андро́ник. В наш список входят в первую очередь литературные и разговорные формы имен; из особых канонических форм включено лишь несколько наиболее известных. Там, где различие канонической и неканонической формы сводится только к ударению, мы как правило даем лишь ударение неканонической формы (например, Андро́ник, Авдии́, Евпра́ксия). Но в нескольких случаях, где каноническая форма достаточно известна, даны два ударения и поясняющая помета, например: И́о́в мо 1а (И́- канонич.) (т. е. вариант И́ов — канонический).</p>

<h3 id="osoben">ОСОБЕННОСТИ ОФОРМЛЕНИЯ СТАТЕЙ</h3>
<p>В сфере имен собственных (иноязычного происхождения) возможно безударное <code>ё</code>. Поскольку по общему правилу буква <code>ё</code> считается ударной, случаи безударного <code>ё</code> необходимо специально помечать. Такой пометой служит указание «ё безударное». например: <strong>Сёра́</strong> (ё <code>безударное</code>).</p>
<p>Знак — (т. е. «сведения об образовании мн. числа, вытекающие из индекса, предположительны») при топонимах, за исключением некоторых особых случаев, опускается.</p>
<p>Вместо принятой в основной части словаря пометы «Р.мн. затрудн.» в приложении дается знак ÷ (это связано с тем, что у имен собственных множ, число вообще лишь потенциально, поэтому такая помета здесь производила бы несколько дезориентирующее впечатление).</p>
<p>См. также ниже, в связи с примером <strong>Калита́</strong>, о несколько ином, чем в основной части словаря, использовании двоеточия.</p>
<p>В отличие от основной части словаря, в приложении заглавное слово статьи нередко содержит в своем составе <em>пробел</em>. Включение значительного числа заглавных слов с пробелом определяется прежде всего тем, что многие составные наименования входят в культурный фонд именно как целостные единицы, например: <strong>Тара́с Бу́льба, Са́нчо Па́нса, Ходжа́ Насредди́н, Леона́рдо да Ви́нчи, Ва́льтер Ско́тт, Жю́ль Ве́рн, Ян Гу́с</strong>.</p>
<p>При расстановке статей по алфавиту пробел в этих случаях приравнивается к нулю (т. е. просто не учитывается).</p>
<p>Целостная единица такого рода трактуется в статье как имя (т. е. получает помету мо или жо), даже если в ее состав входит также и фамилия, например:</p>
<p class="entry"><strong>Жю́ль Ве́рн</strong> мо 1а [<code>офиц</code>. мо, 2а + 1а]</p>
<p>Специально отметим, что в подобных двойных наименованиях на пишущемся отдельно односложном элементе знак ударения (если ударение есть) не опускается, ср. выше <strong>Жю́ль Ве́рн, Я́н Гу́с</strong>. Таким образом, например, запись <strong>Ван Го́г</strong> означает, что Ван здесь безударно.</p>
<p>Наряду с включением составного наименования в качестве заглавного слова возможен и другой способ оформления подобных наименований — с помощью двоеточия, например:</p>
<p class="entry"><strong>Калита́</strong> мо &lt;жо 1b&gt;: Ива́н Калита́</p>
<p>Это показывает, что данное имя собственное входит в культурный фонд именно в указанном сочетании (хотя, вообще говоря, существует и само по себе). Принципиальной разницы между таким способом оформления и статьями типа <strong>Ва́льтер Ско́тт</strong> нет (оформление с двоеточием предпочитается в случаях несколько меньшей спаянности составных элементов). Заметим, что двоеточие используется здесь в несколько более свободном смысле, чем в основной части словаря (где оно означает, что слово встречается только в непосредственно приведенных сочетаниях).</p>
<p>Запись по модели <code>Ива́н Калита́</code> не применяется в том случае, если в составе такого наименования его первая часть, в самостоятельном виде склоняемая, утрачивает (хотя бы факультативно) свою склоняемость.</p>
<p>Для имен собственных с дефисом или пробелом необходима информация о том, склоняется ли первая часть или остается неизменной (что касается элементов <code>де, да, дю, дель, фон, ван, аль</code>, то они, естественно, всегда остаются неизменными и в индексе вообще не учитываются).</p>
<p>Если дан единый индекс (не содержащий внутри себя знака +), это значит, что первая часть при склонении остается неизменной (а приведенный индекс показывает способ склонения последней части), например:</p>
<p class="entry"><strong>По́рт-Саи́д</strong> м 1а</p>
<p class="entry"><strong>Сье́рра-Нева́да</strong> ж 1а</p>
<p class="entry"><strong>Джеро́м Джеро́м</strong> мо 1а</p>
<p class="entry"><strong>Ло́пе де Ве́га мо</strong> &lt;жо За&gt;</p>
<p>Если дан составной индекс, содержащий внутри себя знак +, то символы перед знаком + относятся к первой части заглавного слова (до дефиса или пробела), после этого знака — ко второй. Расчлененная знаком + часть индекса отделяется от части, общей для всего заглавного слова, запятыми (или только запятой слева, если расчлененной частью индекс заканчивается). Примеры:</p>
<p class="entry"><strong>Шалта́й-Болта́й</strong> мо, 6а + 6а</p>
<p class="entry"><strong>Ходжа́ Насредди́н</strong> мо, &lt;жо 4b&gt; + 1а</p>
<p class="entry"><strong>Тристра́м Ше́нди</strong> мо, 1а + 0</p>
<p> Это значит, что часть <code>Шалта́й</code> (как и часть <code>Болта́й</code>) склоняется по модели мо ба, 
    <code>Ходжа́</code> — по модели мо &lt;жо 4b&gt;, 
    <code>Насредди́н</code> (а также <code>Тристра́м</code>) — по модели мо 1а, 
    <code>Ше́нди</code> при склонении не изменяется.
</p>
<p> Возможны случаи, когда составное наименование допускает оба варианта словоизменения, например:</p>
<p class="entry"><strong>Ма́рк Тве́н</strong> мо 1а [<code>офиц.</code> мо, За + 1а]</p>
<p> Это значит, что Р. ед. здесь может быть 
    <code>Ма́рк Тве́на</code> или 
    <code>Ма́рка Тве́на</code>, 
    причем помета <code>офиц.</code> показывает, что второе есть искусственная пуристическая норма,
    обычно соблюдаемая в изданиях (тогда как реальному узусу соответствует первое).
</p>
<p> Особый случай составляют пишущиеся раздельно или через дефис сочетания из прилагательного и существительного. 
    Если это обычное (т.е, склоняющееся по адъективному склонению) прилагательное, то, 
    чтобы избежать слишком громоздкой символики, индекс дается упрощенно, а именно, 
    прилагательному в нем соответствует просто символ п (без символов типа склонения), например:
</p>
<p class="entry"><strong>Ни́жний Таги́л</strong> п + м 1а</p>
<p class="entry"><strong>Ка́менец-Подо́льский</strong> м 5*а + п</p>
<p> Прилагательное склоняется здесь по общим правилам 
    (разумеется, в согласовании с существительным): 
    Р.ед. <code>Ни́жнего Таги́ла, Ка́менца-Подо́льского</code> и т. д. 
    Прилагательное в этих случаях всегда выступает в полных формах, 
    поэтому склонение здесь полностью предсказуемо на основе словоформы, 
    входящей в состав заглавного слова 
    (с формальной точки зрения, чтобы восстановить в данной ситуации все полные формы прилагательного, 
    нужно определить тип его склонения по таблице на <a href="declension/symbols#s1">стр. 29</a>, 
    после чего воспользоваться таблицей на стр. 56@*TODO: вставить ссылку*@).
</p>
<p> Не следует смешивать с этим случаем редкую модель, образцом которой может служить 
    <strong>Гу́сь-Хруста́льный</strong> м &lt;п 1а&gt;. 
    Здесь индекс не содержит плюса, следовательно, первая часть не изменяется, т. е. Р. ед. здесь 
    <code>Гусь-Хруста́льного</code> и т. д.
</p>
<p> Географические названия, состоящие из прилагательного и имени нарицательного
    (например, <code>мо́ре, острова́</code>), оформляются по следующему образцам:
</p>
<p class="entry"><strong>Ба́ренцево (мо́ре)</strong> п &lt;мс 1а&gt;</p>
<p class="entry"><strong>Кана́рские (острова́)</strong> п</p>
<p> Таким образом, здесь для имени нарицательного (которое в таких случаях ставится в скобках)
    индекс вообще не дается. 
    Индекс приводится лишь для прилагательного,
    причем для прилагательных адъективного склонения он дается так же упрощенно,
    как в топонимах типа <code>Ни́жний Таги́л</code>.
</p>
<p> Особое оформление принято для <em>фамилий</em>. 
    Хотя фамилии функционируют в русском языке как существительные (не как прилагательные),
    мужской и женский варианты одной и той же фамилии образуют специфическое единство,
    внутри которого морфологические отношения столь же регулярны, как между разными родами одного прилагательного.
    В связи с этим мы сочли целесообразным отражать в настоящем словаре
    мужской и женский варианты одной фамилии в форме единой статьи. 
    За основной принят мужской вариант фамилии. 
    Он служит заглавным словом статьи, а женский вариант выводится из него в соответствии с индексом.
</p>
<p> <em>Примечание</em>. 
    Читателю, конечно, будет несколько странно видеть в мужском роде фамилии, 
    самыми знаменитыми носителями которых были женщины, скажем, Цвета́ев или Комиссарже́вский.
    В действительности это просто лишний раз подчеркивает, что мы имеем дело не с перечнем знаменитостей,
    а с выборкой наиболее известных фамилий.
</p>
<p id="symbol-f">
    Фамилии помечаются символом ф. Далее следуют символы типа склонения. Здесь возможны следующие варианты.
</p>
<p>а) Даны два символа типа склонения, соединенные тильдой (~), например:</p>
<p class="entry"><strong>Ми́ллер</strong> ф. 1а ~ 0</p>
<p>Это значит, что мужской вариант фамилии склоняется как существительное, принадлежащее к модели мо 1а, а женский — как существительное, принадлежащее к модели жо 0 (т. е. неизменяемое).</p>
<p>б) Дано единое обозначение типа склонения — запись 0 или запись, начинающаяся с &lt;жо (последнее возможно только у фамилий на <code>-а, -я</code>), например:</p>
<p class="entry"><strong>Ве́рди</strong> ф. 0</p>
<p class="entry"><strong>Гли́нка</strong> ф. &lt;жо 3*а&gt;</p>
<p>Это значит, что мужской и женский варианты фамилии совпадают. В первом случае они оба неизменяемы, во втором оба склоняются как существительные женского рода: Р.ед. <code>Гли́нки</code> и т. д.</p>
<p>в) Дано единое обозначение типа склонения — запись, начинающаяся с &lt;п (это возможно только у фамилий на <code>-ый, -ой, -ий</code>), например:</p>
<p class="entry"><strong>Рае́вский</strong> ф. &lt;п За&gt;</p>
<p class="entry"><strong>Толсто́й</strong> ф. &lt;п 1b&gt;</p>
<p>Это значит, что мужской и женский варианты фамилии склоняются как полные формы соответственно мужского и женского рода прилагательного с данным индексом (см. таблицу на стр. 56@*TODO: вставить ссылку*@), например: мужск. <code>Рае́вский, Толсто́й</code>, Р.ед. <code>Рае́вского, Толсто́го</code> и т. д., женск. <code>Рае́вская, Толста́я</code>, Р.ед. <code>Рае́вской, Толсто́й</code> и т. д. (множ, число одинаково <code>Рае́вские, -их, Толсты́е, -ы́х</code> и т. д.).</p>
<p>г) Дано единое обозначение типа склонения — запись, начинающаяся с &lt;мс (это возможно только у фамилий на <code>-ов, -ев, -ин</code>), например:</p>
<p class="entry"><strong>Ти́хонов</strong> ф. &lt;мс 1а&gt;</p>
<p class="entry"><strong>Кузьми́н</strong> ф. &lt;мс 1b&gt;</p>
<p>Это значит, что мужской и женский варианты фамилии склоняются с соответствии с таблицей склонения фамилий на стр. 64@*TODO: вставить ссылку*@, например: мужск. <code>Ти́хонов, Кузьми́н</code>, Р.ед. <code>Ти́хонова, Кузьмина́</code> и т. д., женск. <code>Ти́хонова, Кузьмина́</code>, Р.ед. <code>Ти́хоновой, Кузьмино́й</code> и т. д. (множ, число одинаково <code>Ти́хоновы., -ых, Кузьмины́, -ы́х</code> и т. д.).</p>
<p>Для двойных фамилий применяется та же символика, но она приобретает более сложный вид, когда выступает в сочетании с символикой двойного склонения. Примеры:</p>
<p class="entry"><strong>Ри́мский-Ко́рсаков</strong> ф., &lt;п За&gt; + &lt;мс 1а&gt;</p>
<p class="entry"><strong>Баркла́й-де-То́лли</strong> ф., (6а + 0) ~ 0</p>
<p>Соответственно, здесь мужск. <code>Ри́мский-Ко́рсаков</code>, Р.ед. <code>Ри́мского-Ко́рсакова, Баркла́й-де-То́лли</code>, Р.ед. <code>Баркла́я-де-То́лли</code>, женск. <code>Ри́мская-Ко́рсакова</code>, Р.ед. <code>Ри́мской-Ко́рсаковой, Баркла́й-де-То́лли</code> (неизмен.).</p>
<p>Пример, осложненный наличием двух вариантов словоизменения:</p>
<p class="entry"><strong>И́ллич-Сви́тыч</strong> ф. (4а + 4а) ~ 0 [// <code>проф.</code> ф. 4а ~ 0)</p>
<p>Соответственно, здесь в мужской фамилии Р.ед. <code>И́ллича-Сви́тыча</code> и (в профессиональной речи — в данном случае лингвистов) <code>И́ллич-Сви́тыча</code> (женская фамилия неизменяема).</p>
<p>Если же индекс при двойной фамилии не содержит знака +, то по общему правилу это значит, что изменяется только последняя часть, например: <strong>Бо́нч-Бруе́вич</strong> ф. 4а ~ 0.</p>
<p>С именами и фамилиями связаны также некоторые особенности оформления омонимов. Омонимы, возникшие в силу случайного созвучия, оформляются по общему правилу, т. е. даются отдельными статьями с надстрочными цифрами при заглавном слове. Важный частный случай состоит здесь в омонимии иностранной (т. е. принадлежащей иностранцу) и русской (т. е. принадлежащей русскому) фамилии, например:</p>
<p class="entry"><strong><sup>1</sup>Ча́плин</strong> ф. (<code>иностр.</code>) 1а — 0</p>
<p class="entry"><strong><sup>2</sup>Ча́плин</strong> ф. (<code>рус.</code>) &lt;мс 1а&gt;</p>
<p>Отметим, что пометы <code>иностр.</code> и <code>рус.</code> даются в этом случае непосредственно после символа ф. (чтобы сделать более прозрачной правильную интерпретацию сокращений: «фамилия иностранная», «фамилия русская»).</p>
<p>Омонимы, представляющие собой результат использования одного и того же наименования в качестве имени, фамилии или топонима (и т. п.), даются в виде единой статьи, например:</p>
<p class="entry"><strong>Евро́па</strong> жо 1а (<code>миф.</code>); ж 1а (<code>геогр.</code>)</p>
<p>При омонимии мужского и женского имени, склоняющихся по-разному, применяется запись по следующему образцу:</p>
<p class="entry"><strong>Габриэ́ль</strong> мо 2а; жо 0</p>
<p>Если же различия в склонении нет, то такое имя трактуется как единое слово общего рода, например:</p>
<p class="entry"><strong>Са́ша</strong> мо-жо 4а (<code>гипокор.</code>)</p>
<p>При омонимии имени и фамилии тоже может быть применена сокращенная запись, например:</p>
<p class="entry"><strong>Мо́риц</strong> мо 5а; ф.</p>
<p class="entry"><strong>Валери́</strong> мо-жо 0; ф.</p>
<p class="entry"><strong>Рамакри́шна</strong> мо &lt;жо 1а&gt;; ф.</p>
<p>Это значит, что наряду с приведенными именами существуют и фамилии <code>Мо́риц, Валери́, Рамакри́шна</code>. Первая в мужском варианте склоняется так же, как имя <code>Мо́риц</code>, а в женском не изменяется (т. е. запись ф. здесь равносильна записи ф. 5а ~ 0). Вторая и третья в обоих вариантах склоняется так же, как соответствующее имя.</p>
<p>Пример тройной омонимии:</p>
<p class="entry"><strong>Даниэ́ль</strong> мо 2а; жо 0; ф.</p>
<p><em>Примечание</em>. Пользуясь такими указаниями, следует, однако, постоянно учитывать, что омонимия имени и фамилии (и другие варианты подобной омонимии) в принципе возможна в гораздо более широких масштабах, чем это отражено в нашей выборке. Мы отмечаем лишь наиболее известные случаи, иначе пришлось бы давать указания об омонимии чуть ли не в каждой второй статье.</p>
<p id="patronymics">
    Особых пояснений требует отражение в словаре <em>отчеств</em>. 
    Они отражены здесь не непосредственно, а лишь косвенно. 
    Если мужское личное имя, входящее в приложение, не имеет при себе специальных указаний об ином 
    (а именно, ссылок на §§ 26-30), то это значит, что отчества от него 
    (если они вообще употребляются) образованы по следующим наиболее общим правилам.
</p>
<ol>
    <li>
        От склоняемого личного имени: в словоформе Т.ед. заменить конечное <code>м</code> или <code>й</code> на <code>вич</code> для мужского варианта, <code>вна</code> для женского, сохранив место ударения. Примеры: <code>Ива́н</code>, Т.ед. <code>Ива́ном — Ива́нович, Ива́новна;'Пётр, Петро́м — Петро́вич, Петро́вна; И́горь, И́горем — И́горевич, И́горевна; Янош, Яношем — Яношевич, Яношевна; Ша́лва</code>, Т.ед. <code>Ша́лвой — Ша́лвович, Ша́лвовна; Иереми́я, Иереми́ей — Иереми́евич, Иереми́евна</code>.
    </li>
    <li>
        От несклоняемого личного имени (оно может кончаться только на гласную): а) оканчивающегося на безударное <code>о</code> или <code>е</code> — добавить <code>вич, вна</code>, например, <code>О́тто — О́ттович, О́ттовна</code>; б) оканчивающегося иначе — добавить <code>евич, евна</code>, например, <code>Мирзо́ — Мирзо́евич, Мирзо́евна</code>. Место ударения в обоих случаях сохраняется.
    </li>
</ol>
<p> Если от данного имени отчества образуются с отклонением от этих правил, 
    то при нем дается ссылка на соответствующий дополнительный параграф (см. ниже, §§ 26-30).
    Если при ссылке на параграф имеется символ (//), например, «§ 26 (//)», это значит,
    что здесь имеется два варианта отчеств — соответствующий данному параграфу
    и соответствующий общему правилу.
    В случаях аномального образования отчество выписывается целиком.
</p>
<p> <em>Примечание</em>. 
    В разговорной речи вместо мужских отчеств на безударное <code>-ович, -евич</code> 
    возможно употребление стяженных форм соответственно на <code>-ыч, -ич</code>
    (например, <code>Ива́ныч, Серге́ич</code> при литературных <code>Ива́нович, Серге́евич</code>),
    вместо женских отчеств на <code>-а́евна, -е́евна</code> — соответственно на <code>-а́вна, -е́вна</code>
    (например, <code>Никола́вна, Серге́вна</code> при литературных <code>Никола́евна, Серге́евна</code>).
    В художественной литературе стяженные формы отчеств используются 
    как средство передачи разговорной речи и создания сниженного стиля.
</p>
<p> Все отчества на безударное <code>-ич, -ыч</code>
    (например, <code>Петро́вич, Ники́тич, Ива́ныч</code>)
    склоняются по модели мо 4а, на ударное <code>-и́ч</code>
    (например, <code>Ильи́ч</code>) — по модели мо 4b, на <code>-на</code>
    (например, <code>Петро́вна, Ники́тична</code>) — по модели жо 1*а.
</p>
<p> В образовании и употреблении отчеств имеются определенные ограничения
    (которые ниже при конкретных именах уже более не оговариваются):
</p>
<p> а) Отчества не образуются от гипокористических имен 
    (в приложении они выделены пометой «гипокор.»).
</p>
<p> б) Отчества естественным образом употребляются только у русских, украинцев и белорусов.
    В Российской империи и в Советском Союзе официальное употребление отчеств
    было распространено на всех вообще граждан государства,
    независимо от национальности; но в реальный быт других народов
    оно в большинстве случаев не вошло или вошло лишь в очень ограниченной степени.
    При этом в русской среде соотечественников любого этнического происхождения
    принято именовать (в соответствующих этикетных условиях) с отчеством.
    Но применительно к иностранцам использование отчеств возможно лишь в качестве своего рода языковой игры.
</p>
<p id="sup-plus">
    Особенность <em>гипокористических</em> (уменьшительно-ласкательных) имен:
    у некоторых из таких имен при преимущественном мужском (или женском) роде
    изредка возможен и противоположный род.
    Эта особенность символизируется надстрочным крестиком при обозначении рода, например:
</p>

<p class="entry"><strong>Фе́дя</strong> мо<sup>+</sup> &lt;жо 2а&gt; (<code>гипокор.</code>)</p>
<p class="entry"><strong>А́ся</strong> жо<sup>+</sup> 2а (<code>гипокор.</code>)</p>

<p> Это значит, что мужское гипокористическое имя <code>Фе́дя</code>
    изредка встречается также в качестве женского,
    а женское имя <code>Ася</code> — изредка также в качестве мужского.
</p>
<p> Заметим, что данный знак выставлен лишь в тех случаях,
    когда засвидетельствованы реальные примеры употребления имени в противоположном роде.
    Но в качестве индивидуальной языковой игры такое употребление возможно,
    по-видимому, при любых гипокористических именах на <code>-а, -я</code>.
</p>

<h3 id="dopol">ДОПОЛНИТЕЛЬНЫЕ ОСОБЕННОСТИ</h3>
<h4><code>(у слов с пометами §§ 19—27)</code></h4>
<p id="para19"><strong>§ 19</strong>. Образцы: <strong>Сая́т-Нова́мо</strong> &lt;жо 1 Ь&gt;, § 19; <strong>Дане́лия</strong> ф. &lt;жо 7а&gt;, § 19. К этой группе относится некоторое количество фамилий и имен на <code>-а, -я</code> кавказского, восточного или западноевропейского происхождения. Ссылка на настоящий параграф указывает на то, что слово обнаруживает некоторую тенденцию к неизменяемости, а именно, наряду с правильными литературными употреблениями типа <code>у Сая́т-Новы́, у Дане́лии</code> нередко встречаются также (в устной речи и в средствах массовой информации) не соответствующие литературной норме употребления типа <code>у Саят-Нова́, у Дане́лия</code>. Явление фактически распространено шире, чем отмечено в нашей выборке. Помета «§ 19» дана лишь там, где отклонение от литературной нормы воспринимается в настоящее время как не слишком грубое, тогда как грубые нарушения нормы, например, <code>у Окуджа́ва, у Акутага́ва</code>(вместо <code>у Окуджа́вы, у Акутага́вы</code>) нами во внимание не принимаются.</p>
<p id="para20"><strong>§ 20</strong>. Образцы: <strong>Ива́нко</strong> мо, § 20; <strong>Миха́йло</strong> мо, § 20; <strong>Дани́ло</strong> мо, § 20. Имена этой группы — древнерусские, украинские, белорусские или русские диалектные. Ссылка на настоящий параграф означает, что все формы, кроме И.ед., здесь образуются по образцу женского рода (как если бы исходные формы были <code>Ива́нка, Миха́ила, Дани́ла</code>), например, <code>у Ива́нки, с Миха́йлой, про Дани́лу</code>. Заметим, что указанные формы И.ед. на <code>-а</code> сами по себе тоже встречаются (одни часто, как Дани́ла, другие редко, как Ива́нка). Существенно, однако, что в тексте, где встречается такое словоупотребление, как <code>у Ива́нки, с Миха́йлой, про Дани́лу</code>, вовсе необязательно в И.ед. появятся именно эти формы на <code>-а</code>: в таком тексте И.ед. может вполне последовательно иметь формы на <code>-о</code>. Наряду с указанным способом склонения у слов данной группы в трудах по истории или в текстах с украинским или белорусским колоритом можно встретить также косвенные формы по образцу мужского рода, например, <code>у Ива́нка, с Ива́нком, про Ива́нка</code>.</p>
<p id="para21"><strong>§ 21</strong>. Образцы: <strong>Павло́</strong> мо 0, § 21 (<code>укр. и белор. имя</code>)-, <strong>Василько́</strong> мо 0, § 21; <srong>Садко́</srong> мо 0, § 21. Имена со ссылкой на настоящий параграф в современном литературном языке неизменяемы. Но у них известен также склоняемый вариант — для <code>Павло́, Петро́</code> по образцу <code>мазло́</code>, для <code>Василько́, Садко́</code> по образцу <code>воронко́</code> (см. стр.54, раздел Е). Этот вариант, однако, может появляться только в специфических ситуациях, когда говорящий проявляет (или даже подчеркивает) свою профессиональную связь с упоминаемым персонажем или свое знакомство с его языковыми особенностями. Так, словоупотребление типа <code>у Павла́, с Павло́м</code> возможно при описании событий из украинской или белорусской жизни, типа <code>у Василька́</code> — в профессиональной речи историка, когда имеется в виду, например, князь XI века Василько Теребовльский, типа <code>у Садка́</code> — в былине о Садко или в профессиональной речи фольклориста.</p>
<p id="para22"><strong>§ 22</strong>. Образцы: <strong>Шевче́нко</strong> ф. 0, § 22; <strong>Костю́шко</strong> ф. 0, § 22. Сюда относятся фамилии украинского, белорусского или польского происхождения на согласную + ко. Фамилии, имеющие ссылку на настоящий параграф, в современном литературном языке неизменяемы. Но у них известен также склоняемый вариант, в котором все формы, кроме И.ед., образуются по модели жо 3*а (как если бы исходная форма кончалась на <code>ка</code>), например, <code>у Шевче́нки, с Шевче́нкой</code> и т. д. Этот вариант широко представлен у многих писателей XIX в., встречается также у писателей XX в., в особенности при описании событий из украинской или белорусской жизни. В настоящее время этот вариант имеет просторечную или диалектную окраску.</p>
<p id="para23"><strong>§ 23</strong>. Образцы: <strong>Мни́шек</strong> ф. За ~ 0, § 23; <strong>Франти́шек</strong> мо За, § 23. Сюда относятся чешские, польские и иные славянские фамилии и имена на ек, имеющие в языке-источнике беглое е. Ссылка на настоящий параграф указывает на то, что в профессиональной речи части филологов-славистов и иных специалистов по славянским странам вместо модели За выступает модель 3*а (т. е. воспроизводится особенность инославянского словоизменения), например, <code>у Мни́шка, у Франти́шка, у Га́шка, у Ча́пка, у Ма́хка</code> вместо общелитературных <code>у Мни́шека, у Франти́шека, у Га́шека, у Ча́пека, у Ма́хека</code>. Если те же или подобные им наименования выступают уже в качестве русских фамилий (например, <code>Во́лчек. Ра́чек</code>), возможна уже только общелитературная модель За.</p>
<p id="para24"><strong>§ 24</strong>. Образцы: <strong>Ку́нцево</strong> с 1а—, § 24; <strong>Оста́нкино</strong> с 1а—, § 24; <strong>Бородино́</strong> с 1b—, § 24. Сюда относятся названия населенных пунктов на <code>-ово, -ево, -ино</code>. Ссылка на настоящий параграф указывает на то, что очень часто встречается — как в устной речи, так и в печати — употребление данного слова как неизменяемого, например, <code>живёт в Ку́нцево, подъезжаем к Оста́нкино, в километре от Бородино́</code> вместо литературных <code>живёт в Ку́нцеве, подъезжаем к Оста́нкину, в километре от Бородина́</code>. Степень распространения этого явления так значительна, что, по-видимому, оно уже приближается к статусу допустимого варианта.</p>
<p id="para25"><strong>§ 25</strong>. Образцы: <strong>Лено́к</strong> мо 3*b (<code>гипокор.</code>), § 25; <strong>Лёлик</strong> мо За (<code>гипокор.</code>), § 25. Гипокористические образования данной категории свойственны бытовой разговорной речи. Особенность имен, имеющих ссылку на настоящий параграф, состоит в том, что они обозначают (всегда или хотя бы в части случаев) лиц женского пола, хотя и принадлежат к мужскому роду. Употребительна преимущественно форма И.ед.; косвенные формы встречаются существенно реже.</p>
<p id="para26"><strong>§ 26</strong>. Образец: <strong>Васи́лий</strong> мо 7а, § 26. Ссылка на настоящий параграф указывает на то, что от данного имени отчества образуются по модели: <code>Васи́льевич, Васи́льевна</code> (т. е. с заменой <code>и</code> на <code>ь</code> перед <code>-евич, -евна</code>). Многие имена имеют помету «§ 26 {//)*&gt;, указывающую на то, что данная особенность у них факультативна, например: <strong>Арка́дий</strong> мо 7а, § 26 {//). Это значит, что отчества здесь имеют вид <code>Арка́дьевич</code> и <code>Арка́диевич, Арка́дьевна</code> и <code>Арка́диевна</code>. Вариант с <code>ь</code> в этих случаях носит более бытовой, вариант с <code>и</code> — более официальный характер.</p>
<p id="para27"><strong>§ 27</strong>. Образец: <strong>Вячесла́в</strong> мо 1а, § 27. Ссылка на настоящий параграф указывает на то, что от данного имени отчества образуются по модели: <code>Вячесла́вич, Вячесла́вна</code>. Наряду с этим в официальных документах возможен также и не соответствующий реальному узусу искусственный вариант, построенный по общему правилу: <code>Вячесла́вович, Вячесла́вовна</code>.</p>
<p id="para28"><strong>§ 28</strong>. Образец: <strong>Ники́та</strong> мо &lt;жо 1 а&gt;, § 28. Ссылка на настоящий параграф указывает на то, что от данного имени отчества образуются по модели: <code>Ники́тич, Ники́тична</code>. Возможен параллелизм с образованием по общему правилу, например: <strong>Вави́ла</strong> мо &lt;жо 1а&gt;, § 28 (,//). Здесь отчества: <code>Вави́лич</code> и <code>Вави́лович, Вави́лична</code> и <code>Вави́ловна</code>. Заметим, что в официальных документах вариант, построенный по общему правилу, иногда может употребляться и для имен, помеченных у нас просто «§ 28», без знака «(/)», например, <code>Ники́та, Са́вва</code>.</p>
<p id="para29"><strong>§ 29</strong>. Образцы: <strong>Фома́</strong> мо &lt;жо 1b&gt;, § 29; <strong>Илья́</strong> мо &lt;жо 6*b÷&gt;, § 29. Ссылка на настоящий параграф указывает на то, что от данного имени отчества образуются по модели: <code>Фоми́ч, Фоми́нична, Ильи́ч, Ильи́нична</code>.</p>
<p id="para30"><strong>§ 30</strong>. Образец: <strong>Муса́</strong> мо &lt;жо 1 b&gt;, § 30. Ссылка на настоящий параграф указывает на то, что от данного имени отчества образуются по модели: <code>Муса́евич, Муса́евна</code> (т. е. как от неизменяемых).</p>

<h3 id="conventions">Пометы, условные знаки</h3>
<p>(кроме уже имеющихся в основной части словаря)</p>
<h4 id="abbreviations">Условные сокращения</h4>
<div class="row">
    <div class="column">
        <table class="left-aligned">
            <tr class="tr1">
                <td>в устах...</td>
                <td>— произношение фамилии известным ее носителем</td>
            </tr>
            <tr class="tr1">
                <td>гипокор.</td>
                <td> — гипокористическое имя (уменьшительно-ласкательное)</td>
            </tr>
            <tr class="tr1">
                <td>иностр.</td>
                <td> — при фамилии: иностранная фамилия (т. е. принадлежащая нерусскому)</td>
            </tr>
            <tr class="tr1">
                <td>местн.</td>
                <td> — вариант названия географического объекта, бытующий в местности, где он находится</td>
            </tr>
            <tr class="tr1">
                <td>ныне</td>
                <td> — современное название</td>
            </tr>
        </table>
    </div>
    <div class="column">
        <table class="left-aligned">
            <tr>
                <td>ныне вновь</td>
                <td>— название, возвращенное после советского периода</td>
            </tr>
            <tr>
                <td>офиц.</td>
                <td> — вариант, используемый в официальных документах или в изданиях, не соответствующий реальному речевому узусу</td>
            </tr>
            <tr>
                <td>ранее</td>
                <td> — прежнее название</td>
            </tr>
            <tr>
                <td>рус.</td>
                <td> — при фамилии: русская фамилия (т. е. принадлежащая русскому)</td>
            </tr>
            <tr>
                <td>совет.</td>
                <td> — название советского периода</td>
            </tr>
        </table>
    </div>
</div>

<p> Кроме того, в словаре используются общепринятые сокращения,
    обозначающие сферу употребления термина,
    его связь с определенной страной или языком и т. п.: 
    австр(ийское), 
    амер(иканское), 
    англ(ийское), 
    антарктич(еское),
    астр(ономическое),
    библ(ейское),
    венг(ерское), 
    визант(ийское), 
    геогр(афическое),
    греч(еское), 
    груз(инское),
    древнегреч(еское),
    зап(адно)-европ(ейское),
    исп(анское),
    итал(ьянское),
    канонич(еское),
    мифич(еское),
    мифологическое, -ология),
    молдав(ское),
    нар(одное),
    нас(еленный) пункт,
    нем(ецкое), обл(асть, -астное),
    проф(ессиональное, -ессионализм),
    поэтич(еское), 
    распростр(аненное),
    рус(ское), 
    серб(ское),
    слав(янское),
    татар(ское),
    традиц(ионное),
    франц(узское), 
    центр(альное), 
    чеш(ское),
    швед(ское),
    эстон(ское),
    а также другие, непосредственно понятные.
</p>

<h4 id="conventional-symbols">Условные знаки</h4>

<p> <sup>+</sup> при мо, жо — изредка возможен также противоположный род (в паре «мужской — женский»)
</p>
<p> ÷ — то же, что помета «Р.мн. затрудн.» в основной части словаря: образование формы Р.мн. затруднительно
    (<a href="preface1#difficulty">стр. 8</a>)
</p>
<p> ♠ — вариант, не соответствующий основному литературному узусу, 
    представленный лишь в речи людей, связанных по роду своей деятельности с соответствующей страной, 
    или в речи части специалистов-филологов
</p>
