@page

<h2>Новые пометы</h2>

<p>
    Следующие пометы указывают написание слова (обычно топонима) в языке-источнике:
    <code>фр., итал., исп., греч.</code>, например:
</p>

<table class="left-aligned">
    <tr>
        <td>Кап-д-А&#769;й</td>
        <td>м 0 (<code>фр.</code> Cap d'Ail)</td>
    </tr>
    <tr>
        <td>Сага&#769;ро</td>
        <td>м 0 (<code>исп.</code> S'Agaro)</td>
    </tr>
    <tr>
        <td>Таорми&#769;на</td>
        <td>ж 1а (<code>итал.</code> Taormina)</td>
    </tr>
    <tr>
        <td>Орокли&#769;ни</td>
        <td>м 0 (<code>греч.</code> Ορόκλινη)</td>
    </tr>
</table>
