@page

<h2>Предисловие</h2>

<p>
    Первое издание «Грамматического словаря русского языка»
    вышло в свет четверть века тому назад, в 1977 г.;
    <span class="nowrap">а начало</span> работы над ним, длившейся 13 лет, относится к 1964 г.
    Словарь уже прожил, таким образом, довольно длинную жизнь,
    начало которой относится к области отдаленных воспоминаний.
    Нынешним молодым читателям уже трудно представить себе,
    что эта работа делалась вручную.
    «Это же немыслимый абсурд &mdash; делать такую работу без <span class="nowrap">компьютера», &mdash;</span> 
    доводилось мне слышать.
    <span class="nowrap">В действительности</span> 
    рабочим инструментом были четыре хлебных лотка,
    раздобытых в соседней булочной;
    <span class="nowrap">в каждый</span> входило 
    <span class="nowrap">по 25 тысяч</span> карточек из тонкой бумаги.
    Работа делалась вне каких бы то ни было планов Академии наук,
    и именно это позволило словарю выйти в свет,
    причем в том виде, который соответствовал замыслам автора:
    тогдашний директор Института русского языка АН СССР Ф. П. Филин
    требовал от издательства «Русский язык» снять словарь с производства,
    но издательство, которое <span class="nowrap">в ведомственном</span> отношении 
    было независимо от Академии наук,
    ему не подчинилось.
</p>
<p>
    В компьютерную эпоху, которая наступила в России лишь поздне&#769;е,
    словарь нашел широкое применение в различных работах,
    связанных с автоматической обработкой русского текста.
    Существует уже целый ряд его компьютерных версий.
    Но всё это не входило в замысел словаря:
    в 60-е годы эра всеохватывающей компьютеризации
    была еще недоступным глазу будущим.
    В основе замысла лежала вдохновлявшая в те годы многих лингвистов
    идея строгости и полноты лингвистического описания.
    Система словоизменения, пусть даже такая сложная, как в русском языке,
    представлялась едва ли не идеальный объектом для такого описания.
    Мне памятен разговор с И. К. Сазоновой, заведовавшей тогда
    русской редакцией издательства «Русский язык».
    На ее вопрос о том, каким, по моему мнению, должен быть тираж словаря,
    я ответил «Тысяч пять».
    Адресатами книги я считал лингвистов и какую-нибудь часть университетских преподавателей и учителей.
    Один только обратный порядок слов, как казалось, был достаточен для того, чтобы книга воспринималась как 
    изданная исключительно для специалистов.
    «О нет! — сказала И. К. Сазонова. — Мы поставим тираж сто тысяч».
    Дальнейшее показало, что она чувствовала интересы читательской аудитории гораздо лучше меня:
    тираж разошелся поразительно быстро.
</p>
<p>
    Второе (1980) и третье (1987) издания «Грамматического словаря» практически повторяли первое: 
    были только исправлены замеченные опечатки и ошибки.
</p>
<p>
    Крушение советского строя открыло новую эпоху в социальной жизни России,
    и вместе с ней начался период бурного вторжения сотен новых слов
    (в основном из английского языка, но также из различных арго)
    в русскую речь, устную и письменную.
    Нынешнее, четвертое издание «Грамматического словаря» готовилось, таким образом,
    в условиях, когда некоторая часть словника его первых изданий потеряла актуальность,
    между тем как в средствах массовой информации, в новой литературе,
    в устной речи клокочет водоворот отсутствовавших прежде слов.
</p>
<p>
    В связи с этим словник словаря ныне подвергся определенной модернизации.
    Мы сочли целесообразным, однако, соблюдать в этом вопросе умеренность.
    Так, большинство слов, отражающих специфические реалии советской жизни и ныне потерявших актуальность,
    всё же естественно оставить в словаре — теперь уже в качестве исторических терминов, которые
    необходимы для понимания документов и литературы этой столь еще недавней эпохи.
    С другой стороны, среди сотен новых слов, которые можно встретить на страницах нынешней печати,
    пока еще очень трудно различить те, которые прочно останутся в языке, и те,
    которые окажутся лишь однодневками.
    Вдобавок у многих из таких слов еще нет устойчивости в
    фонетическом составе, ударении и словоизменительных характеристиках.
    Задачу охватить эту массу неустойчивого нового лексического материала должны решать
    специальные словари новых слов и значений, но отнюдь не грамматический словарь.
    Соответственно, из новых слов последнего десятилетия в словарь включены лишь некоторые наиболее распространившиеся.
</p>
<p id="obscene">
    Заметим еще, что в постсоветский период пал запрет
    — как цензурный, так и просто диктуемый давней российской традицией —
    на введение в письменную речь и в словари обсценной лексики.
    Нельзя не признать, что
    с точки зрения словоизменения некоторые элементы этой лексики представляют определенный интерес.
    Поскольку, однако,
    наш словарь в целом ориентирован на литературную норму и
    в нем даже для нейтральной лексики обычно не приводятся просторечные словоизменительные варианты,
    а лексемы, целиком относящиеся к просторечию, в большинстве случаев вообще отсутствуют,
    здесь тем более нет места обсценной лексике.
    Поэтому в данном пункте обретенная цензурная свобода ни к каким изменениям в словаре не ведет.
</p>
<p>
    За четверть века происходили также небольшие изменения в словоизменительных характеристиках отдельных слов
    — главным образом сдвиги в относительной частоте употребления сосуществующих акцентных вариантов и в их нормативном статусе.
    Настоящее издание отражает по крайней мере некоторые из таких сдвигов.
    Внесены также некоторые уточнения в указание второстепенного ударения у небольшой части сложных слов.
    Как и при подготовке первого издания словаря, предлагаемые в словаре нормативные оценки
    в подавляющем большинстве случаев согласовывались с данными Н. А. Еськовой,
    содержащимися в «Орфоэпическом словаре русского языка»,
    который был и остается самым авторитетным и самым детализированным источником
    сведений по русской литературной норме в области словоизменения.
    Специально отметим, что
    имеющиеся внешние различия в нормативных указаниях «Грамматического словаря»
    и «Орфоэпического словаря русского языка» чаще всего определяются просто тем, что
    в «Грамматическом словаре» используется менее детализированная шкала оценок, чем в «Орфоэпическом словаре»;
    расхождения по существу в действительности представлены лишь в очень небольшом числе случаев.
</p>
<p>
    В настоящем издании некоторые категории слов (главным образом производных) представлены шире, чем в прежних изданиях.
    Особенно важное новшество состоит в том, что в словарь включено
    обширное приложение, содержащее наиболее употребительные имена собственные.
</p>
<p>
    Опыт практического применения «Грамматического словаря»,
    в частности, в сфере автоматической обработки текстов,
    показал, что отсутствие в нем имен собственных
    (в соответствии с устойчивой лексикографической традицией)
    в ряде случаев затрудняет решение прикладных задач.
    Имеется также важное теоретическое соображение:
    система русского словоизменения содержит в числе прочих некоторые
    модели, которые представлены исключительно или почти исключительно в сфере имен собственных;
    тем самым картина русского словоизменения не совсем полна,
    если списки слов не содержат имен собственных.
</p>
<p id="proper-names">
    Включенное в настоящее издание
    приложение, охватывающее свыше 8000 имен собственных,
    призвано исправить этот недостаток.
    Статьи приложения оформляются в принципе так же, как статьи основной части словаря.
    О том, какие специфические проблемы связаны с введением в грамматический словарь имен собственных
    и какие особенности оформления они в связи с этим могут иметь,
    см. во вступительной статье к приложению.
</p>
<p>
    Грамматических сведений, предпосланных собственно словарю,
    изменения коснулись лишь в самой незначительной степени.
    В частности, для моделей, представленных всегда или преимущественно именами собственными,
    в качестве образца ныне дано имя собственное; заменены те образцы,
    у которых произошли какие-то изменения в индексе, и т. п.
    Отметим, что «Грамматические сведения» набраны ниже так же,
    как в предшествующих изданиях словаря (страница в страницу),
    так что прежние ссылки на страницы остаются в силе.
</p>
<p>
    Здесь я должен принести читателям извинения за возможные шероховатости 
    в сопряжении добавленных и перередактированных статей с набором образцов в «Грамматических сведениях». 
    Точности, с которой «Грамматические сведения» были согласованы с корпусом словаря в первом издании, 
    оказалось чрезвычайно трудно достигнуть вновь при модернизации корпуса словаря через четверть века, 
    причем в условиях, когда уже другие работы решительно не позволяли уделить этому столько времени и сил, 
    сколько было вложено в такое согласование в первом издании.
</p>
<p>
    При подготовке настоящего издания использованы данные ряда словарей, появившихся в последние годы, 
    в первую очередь, нового издания «Орфоэпического словаря русского языка», 
    «Сводного словаря современной русской лексики» и «Русского орфографического словаря».
</p>
<p>
    Здесь необходимо, однако, специально указать, что в вопросе о заглавных и строчных буквах, 
    а также о слитном или дефисном написании настоящее издание просто следует прежним изданиям 
    (и тем самым иногда расходится с «Русским орфографическим словарем»); 
    например, сохранены написания богородица, рождество, горнолыжный. 
    Таким образом, в этих пунктах (несущественных с точки зрения основных задач грамматического словаря) 
    наш словарь не должен рассматриваться как нормативный.
</p>
<p>
    За долгие годы существования «Грамматического словаря» 
    я получил большое число писем от коллег и читателей с замечаниями, 
    поправками и предложениями (между прочим, среди последних встречалось и предложение включить в словарь имена собственные). 
    Всем им приношу глубокую благодарность.
</p>
<p>
    Сердечно благодарю Е. А. Гришину, которая вложила огромный труд и беспримерное терпение 
    в многолетнюю подготовку настоящего издания и взяла на себя сложнейшую работу 
    по составлению первоначального варианта словника имен собственных, 
    а также Н. Г. Зайцеву, с исключительной тщательностью редактировавшую этот словарь 
    при подготовке первых трех его изданий и в начальной стадии подготовки четвертого издания.
</p>
<p>
    Особая благодарность — моей матери Татьяне Константиновне Крапивиной, 
    активно мне помогавшей в составлении словаря и продолжающей помогать 
    в его усовершенствовании на всех последующих этапах работы.
</p>
<p class="signature">
    А.Зализняк
</p>
