@page

<h2>Предисловие к первому изданию</h2>

<p>
    Полный грамматический словарь должен для каждого входящего в него слова
    указывать все те его характеристики, которые существенны для построения
    грамматически правильных фраз, содержащих данное слово.
    Таковы, во-первых, словоизменительные, во-вторых, синтаксические характеристики слова.
    Настоящий словарь полно отражает только словоизменительные характеристики слова &mdash;
    отсюда его подзаголовок.
    Из синтаксических характеристик даются лишь немногие &mdash;
    главным образом те, которые наиболее тесно связаны со словоизменением.
</p>
<p> Таким образом, основное назначение данного словаря &mdash;
    отразить современное русское словоизменение, т.е. для каждого входящего в словарь слова
    дать сведения о том, изменяемо ли оно и если да, то как именно оно
    склоняется или спрягается. Иначе говоря, словарь дает возможность построить <em>парадигму</em> слова, т. е. совокупность всех его форм .
</p>
<p>
    Выписанная полностью, парадигма отдельного слова обычно выглядит как таблица склонения или спряжения в учебниках.
    Это набор клеток; внутри отдельной клетки стоит некоторая форма данного слова (в особых случаях — более чем одна форма или,
    напротив, указание о том, что соответствующей формы нет);
    названием (обозначением) клетки служит соответствующее грамматическое значение.
    Парадигму можно записать и в строчку, например: парадигма слова рука —
    И. ед. <code>рука&#769;</code>,
    Р. ед. <code>руки&#769;</code>,
    Д. ед. <code>руке&#769;</code> и т. д. до
    П. мн. <code>(о) рука&#769;х</code>.
</p>
<p> Разумеется, в настоящем словаре парадигмы не выписываются полностью:
    сведения о парадигме слова даются с помощью системы условных обозначений и индексов, 
    отсылающих читателя к «Грамматическим сведениям» (стр. 23-142),
    где содержатся образцы склонения и спряжения.
    В то же время элементы индекса имеют и самостоятельное морфологическое значение;
    поэтому при желании парадигму слова можно построить и непосредственно по индексу,
    не обращаясь к образцам склонения или спряжения.
</p>
<p> За исключением особых случаев (необходимость разграничить омонимы или разные значения одного слова, предотвратить возможную ошибку и т. п.) значения слов в настоящем словаре не указываются.
</p>
<p>
    В соответствии с назначением настоящего словаря, в нем принят не обычный алфавитный порядок расположения слов, а так наз.
    <em>инверсионный</em> (т. е. такой, который применяется в так наз. обратных, или инверсионных, словарях)<sup>1</sup>.
    Поскольку для читателей такое расположение слов непривычно, поясним его несколько подробнее.
    Расположение слов в обычном алфавитном порядке означает, что из произвольных двух слов в словаре раньше встретится то,
    у которого начальная буква ближе к началу алфавита;
    при одинаковых начальных буквах сравниваются вторые от начала буквы,
    если и они одинаковы, то третьи и т. д.
    При инверсионном алфавитном порядке используется тот же принцип,
    с тем единственным отличием, что сравнение двух слов начинается не с начальных букв, а с конечных,
    и далее продолжается от конца слова к началу.
    Таким образом, расположение в инверсионном алфавитном порядке означает,
    что из двух слов первым ставится то, у которого конечная буква ближе к началу алфавита
    (например, <code>щука</code> ставится раньше, чем <code>актёр</code>);
    при одинаковых конечных буквах сравниваются вторые от конца
    (например, <code>вольт</code> ставится раньше, чем <code>поэт</code>), если и они одинаковы, то третьи и т. д.
    Для иллюстрации сравним расположение одной и той же группы слов в обычном и в инверсионном алфавитном порядке:
</p>
<table>
    <tr>
        <th>
            обычный алфавитный порядок
        </th>
        <th>
            инверсионный алфавитный порядок
        </th>
    </tr>
    <tr>
        <td>
            <div style="display: inline-block; text-align: left">
            актёр
            <br/>армия
            <br />асфальт
            <br />базальт
            <br />вольт
            <br />поэт
            <br />щука
            </div>
        </td>
        <td>
            <div style="display: inline-block; text-align: right">
            щука
            <br />актёр
            <br />базальт
            <br />асфальт
            <br />вольт
            <br />поэт
            <br />армия
            </div>
        </td>
    </tr>
</table>