@page
<h2>Предисловие к первому изданию</h2>

<p>
    Полный грамматический словарь должен для каждого входящего в него слова
    указывать все те его характеристики, которые существенны для построения
    грамматически правильных фраз, содержащих данное слово.
    Таковы, во-первых, словоизменительные, во-вторых, синтаксические характеристики слова.
    Настоящий словарь полно отражает только словоизменительные характеристики слова &mdash;
    отсюда его подзаголовок.
    Из синтаксических характеристик даются лишь немногие &mdash;
    главным образом те, которые наиболее тесно связаны со словоизменением.
</p>
<p>
    Таким образом, основное назначение данного словаря &mdash;
    отразить современное русское словоизменение, т.е. для каждого входящего в словарь слова
    дать сведения о том, изменяемо ли оно и если да, то как именно оно
    склоняется или спрягается. Иначе говоря, словарь дает возможность построить <em>парадигму</em> слова,
    т. е. совокупность всех его форм.
</p>
<p id="paradigm">
    Выписанная полностью, парадигма отдельного слова обычно выглядит как таблица склонения или спряжения в учебниках.
    Это набор клеток; внутри отдельной клетки стоит некоторая форма данного слова (в особых случаях — более чем одна форма или,
    напротив, указание о том, что соответствующей формы нет);
    названием (обозначением) клетки служит соответствующее грамматическое значение.
    Парадигму можно записать и в строчку, например: парадигма слова <code>рука&#769;</code> —
    И. ед. <code>рука&#769;</code>,
    Р. ед. <code>руки&#769;</code>,
    Д. ед. <code>руке&#769;</code> и т. д. до
    П. мн. (<code>о</code>) <code>рука&#769;х</code>.
</p>
<p>
    Разумеется, в настоящем словаре парадигмы не выписываются полностью:
    сведения о парадигме слова даются с помощью системы условных обозначений и индексов,
    отсылающих читателя к «Грамматическим сведениям» (стр. 23-142),
    где содержатся образцы склонения и спряжения.
    В то же время элементы индекса имеют и самостоятельное морфологическое значение;
    поэтому при желании парадигму слова можно построить и непосредственно по индексу,
    не обращаясь к образцам склонения или спряжения.
</p>
<p id="meanings">
    За исключением особых случаев (необходимость разграничить омонимы или разные значения одного слова, предотвратить возможную ошибку и т. п.) значения слов в настоящем словаре не указываются.
</p>
<p id="inverse-order">
    В соответствии с назначением настоящего словаря, в нем принят не обычный алфавитный порядок расположения слов, а так наз.
    <em>инверсионный</em> (т. е. такой, который применяется в так наз. обратных, или инверсионных, словарях).<sup><a href="#footnote1">1</a></sup>
    Поскольку для читателей такое расположение слов непривычно, поясним его несколько подробнее.
    Расположение слов в обычном алфавитном порядке означает, что из произвольных двух слов в словаре раньше встретится то,
    у которого начальная буква ближе к началу алфавита;
    при одинаковых начальных буквах сравниваются вторые от начала буквы,
    если и они одинаковы, то третьи и т. д.
    При инверсионном алфавитном порядке используется тот же принцип,
    с тем единственным отличием, что сравнение двух слов начинается не с начальных букв, а с конечных,
    и далее продолжается от конца слова к началу.
    Таким образом, расположение в инверсионном алфавитном порядке означает,
    что из двух слов первым ставится то, у которого конечная буква ближе к началу алфавита
    (например, <code>щука</code> ставится раньше, чем <code>актёр</code>);
    при одинаковых конечных буквах сравниваются вторые от конца
    (например, <code>вольт</code> ставится раньше, чем <code>поэт</code>), если и они одинаковы, то третьи и т. д.
    Для иллюстрации сравним расположение одной и той же группы слов в обычном и в инверсионном алфавитном порядке:
</p>
<table class="noborder">
    <tr>
        <th>
            обычный алфавитный порядок
        </th>
        <th>
            инверсионный алфавитный порядок
        </th>
    </tr>
    <tr>
        <td style="text-align: center">
            <div style="display: inline-block; text-align: left">
                актёр
                <br />армия
                <br />асфальт
                <br />базальт
                <br />вольт
                <br />поэт
                <br />щука
            </div>
        </td>
        <td style="text-align: center">
            <div style="display: inline-block; text-align: right">
                щука
                <br />актёр
                <br />базальт
                <br />асфальт
                <br />вольт
                <br />поэт
                <br />армия
            </div>
        </td>
    </tr>
</table>
<p>
    Чтобы облегчить поиск слова в словаре, при инверсионном алфавитном порядке
    слова принято выравнивать в наборе не по левому, а по правому краю (ср. приведенный пример).
</p>
<p>
    В настоящее время обратные (или инверсионные) словари созданы примерно для тридцати языков;
    для русского языка имеется несколько обратных словарей.
    Практически все существующие обратные словари представляют собой либо просто списки слов (точнее, их словарных форм),
    либо списки, снабженные минимальным количеством помет (указание части речи, статистические данные и др.).
    Значительная часть этих словарей представляет собой «обратные индексы» к тому или иному толковому словарю (или словарям),
    т. е. содержит тот же набор слов, что и словарь-источник, но только расположенный в инверсионном алфавитном порядке.
    Иначе говоря, основной смысл существующих обратных словарей состоит именно в инверсионном расположении слов
    (а не в информации, которая дается при отдельном слове).
</p>
<p>
    В отличие от них, настоящий словарь использует инверсионный алфавитный порядок не как самоцель,
    а лишь как средство наиболее наглядного представления основного содержания — сведений о русском словоизменении.
    Дело в том, что одинаковый или сходный тип словоизменения (т. е. склонения или спряжения) в русском языке имеют
    слова со сходным концом (а не со сходным началом).
    Например, почти все прилагательные в словарной форме оканчиваются на <word-end>-ый, -ий</word-end> или <code>-ой</code>,
    почти все существительные среднего рода оканчиваются на <code>-о</code> или <code>-е</code>;
    все существительные, склоняющиеся по образцу <code>волчо́нок</code>, оканчиваются на <word-end>-онок</word-end> или <word-end>-ёнок</word-end>;
    все глаголы, спрягающиеся по образцу <code>коло́ть</code>, оканчиваются на <word-end>-оть</word-end>.
    С другой стороны,
    почти все слова на <word-end>-онок</word-end> и <word-end>-ёнок</word-end> — это существительные,
    склоняющиеся по образцу <code>волчо́нок</code>,
    почти все слова на <word-end>-оть</word-end> — это глаголы,
    спрягающиеся по образцу колоть и т. д.
    Таким образом,
    при инверсионном алфавитном расположении слова с одинаковым или сходным типом словоизменения
    обычно оказываются рядом и образуют большие массивы. Так, например, образуют сплошные или почти сплошные массивы
    существительные на <word-end>-а</word-end>,
    существительные на <word-end>-ение</word-end>,
    существительные на <word-end>-ник</word-end>,
    прилагательные на <word-end>-ый</word-end>,
    глаголы на <word-end>-овать</word-end>,
    глаголы на <word-end>-нуть</word-end>
    и т. д.
    Отчетливо выделяются также многие малые группы,
    представляющие интерес для морфологии, например,
    существительные среднего рода на <word-end>-мя</word-end>,
    глаголы на <word-end>-ереть</word-end> и т. п.
    Между тем при обычном алфавитном порядке все грамматические классы,
    подклассы и группы оказываются, как известно, полностью перемешанными.<sup><a href="#footnote2">2</a></sup>
</p>
<p>
    Какова, однако, практическая польза от того, что сходно склоняемые (или спрягаемые) слова расположены рядом?
    Действительно, эта польза невелика в том случае, когда читателю требуется всего лишь получить справку об одном конкретном слове.
    Однако грамматический словарь предназначен отнюдь не только для таких единичных справок.
    Как учащемуся, так и, в особенности, учителю он дает возможность получить ответ на множество практически важных вопросов,
    связанных не с отдельными словами, а с их группами.
    Вот примеры таких вопросов:
    «Сколько и какие существительные склоняются по образцу <code>имя</code>?
    Верно ли, что все существительные на <word-end>-пь, -бь, -вь, -мь, -фь</word-end> — женского рода?
    Если нет, то каковы исключения?
    Верно ли, что у всех существительных на <word-end>-ок</word-end> гласная <code>о</code> — беглая?
    Верно ли, что все существительные на <word-end>-арь</word-end> имеют ударение по модели <code>январь — января</code>?
    Какие существительные на <word-end>-аж</word-end> имеют ударение по модели <code>багаж — багажа</code> и какие по модели <code>пейзаж — пейзажа</code>?
    Является ли слово <code>учитель</code> с его мн. числом <code>учителя</code> исключением или обычным явлением среди слов на <code>-тель</code>?»
    Понятно, что еще шире круг вопросов такого рода, представляющих интерес для исследователя-лингвиста.
    Во всех подобных случаях инверсионный алфавитный порядок оказывает тому, кто пользуется грамматическим словарем, бесценную услугу:
    для ответа на любой из этих вопросов достаточно посмотреть соответствующую страницу (или несколько страниц) словаря.
    Между тем при обычном алфавитном порядке получить из словаря ответ на подобные вопросы по сути дела невозможно:
    для этого пришлось бы прочесть подряд весь словарь.
</p>
<p>
    Правда, при инверсионном алфавитном порядке неподготовленный читатель будет отыскивать нужное ему слово
    (по крайней мере на первых порах)
    несколько дольше, чем обычно.
    Однако для грамматического словаря указанное выше преимущество инверсионного порядка
    много существеннее, чем этот его недостаток.
</p>
<p class="footnote" id="footnote1">
    <sup>1</sup> Этот порядок называют также «обратным алфавитным», но такое название несколько менее удобно, поскольку его легко принять за обозначение «перевернутого» алфавита (от я до а).
</p>
<p class="footnote" id="footnote2">
    <sup>2</sup> Разумеется, и при инверсионном алфавитном порядке не все грамматические группы оказываются отделенными друг от друга
    (ср. существительные типа <code>ге́ний</code> и прилагательные типа <code>оле́ний</code>,
    существительные типа <code>кровать</code> и глаголы на <word-end>-ать</word-end> и т. п.);
    однако по сравнению с обычным словарем таких случаев ничтожно мало.
</p>
<hr />
<p>
    Полный грамматический словарь должен для каждого входящего в него слова указывать все те его характеристики,
    которые существенны для построения грамматически правильных фраз, содержащих данное слово. Таковы,
    во-первых, словоизменительные,
    во-вторых, синтаксические характеристики слова.
    Настоящий словарь полно отражает только словоизменительные характеристики слова — отсюда его подзаголовок.
    Из синтаксических характеристик слова даются лишь немногие — главным образом те, которые наиболее тесно связаны со словоизменением.
</p>
<p id="classes">
    С точки зрения словоизменения основным делением слов является их деление на <em>грамматические разряды</em>.
    Под грамматическим разрядом понимается совокупность слов, у которых набор клеток, образующих парадигму, одинаков
    (т. е. одинаково число клеток и их названия, см. <a href="#paradigm">стр. 4</a>).
    Например, слово <code>рука&#769;, слон, се&#769;рдце, запята&#769;я</code> относятся к одному и тому же грамматическому разряду,
    а именно, к разряду слов, изменяющихся по падежам и числам.
</p>
<p id="missing">
    <em>Замечание</em>. Отсутствие у слова одной или нескольких форм,
    вызванное фонологическими или морфологическими трудностями (или какими-то случайными причинами),
    не принимается во внимание при установлении грамматического разряда этого слова.
    Таково, например,
    отсутствие формы Р. мн. у слов <code>мгла, мзда, хна,</code>
    отсутствие краткой формы мужского рода у слов <code>голубо&#769;й, озорно&#769;й,</code>
    отсутствие приемлемой для литературного языка формы повелительного наклонения у слова <code>е&#769;хать</code> и т. п.
    В таких случаях в словаре дается указание «такой-то формы нет» (или равносильный этому условный знак).
</p>
<p>
    Деление слов на грамматические разряды тесно связано с традиционным делением на части речи,
    но не совпадает с ним: например, все неизменяемые части речи образуют один грамматический разряд.
</p>
<p>
    В словаре, посвященном словоизменению, вообще говоря, можно было бы ограничиться
    указанием при каждом слове его грамматического разряда, а часть речи не указывать
    (тем более, что в распределении слов по частям речи больше спорных и неясных моментов,
    чем в их распределении по грамматическим разрядам).
    С практической точки зрения, однако, такое решение нецелесообразно.
    Во-первых, оно сузило бы сферу возможного применения словаря,
    поскольку для решения многих грамматических задач нужно знать именно часть речи,
    а не только грамматический разряд слова.
    Во-вторых, оно затруднило бы практическое пользование словарем,
    поскольку традиционное деление слов на части речи, при всех его недостатках,
    обладает тем несравненным достоинством, что оно общеизвестно,
    тогда как грамматические разряды не имеют даже общепринятых названий.
    Поэтому в настоящем словаре в качестве основного деления слов принято деление на части речи,
    а грамматический разряд должен устанавливаться по символу части речи
    (в некоторых случаях также по дополнительным сведениям, содержащимся в словарной статье).
</p>
<p>
    Ниже излагается принятая в словаре точка зрения на соотношение между частями речи и грамматическими разрядами.
    В связи с этим рассматривается также вопрос о границах парадигмы, т. е. о том,
    какие единицы признаются формами одного и того же слова, а какие — разными словами.
</p>
<p id="nouns">
    Все <em>существительные</em> составляют один грамматический разряд, в котором
    парадигма образуется изменением слова по падежам и числам.
    Укажем важнейшие частные моменты, лежащие в основе этого тезиса.
</p>
<p id="immutable">
    У неизменяемых существительных (<code>пальто&#769;, шимпанзе&#769;</code> и т. п.) признается омонимия форм всех падежей и обоих чисел.
</p>
<p id="singularia-tantum">
    Так наз. singularia tantum (буквально: «имеющие только ед. число»), например,
    <code>еда&#769;, дие&#769;та, нейтралите&#769;т, го&#769;рдость, горе&#769;ние</code>
    и т. д., признаются имеющими оба числа;
    мн. число носит здесь потенциальный характер:
    практически оно почти никогда не употребляется,
    но при необходимости все же может быть построено и будет правильно понято.
</p>
<p id="pluralia-tantum">
    Особый вопрос составляют так наз. pluralia tantum (буквально: «имеющие только мн. число»),
    например, <code>су&#769;тки, часы&#769;, ножницы&#769;</code>.
    У этих существительных имеются только такие формы, которые
    с чисто морфологической точки зрения должны быть отнесены к мн. числу, но
    эти формы могут обозначать не только много соответствующих предметов
    (например, многие <code>су&#769;тки, часы&#769;, но&#769жницы</code>), но и один предмет
    (например, одни <code>су&#769;тки, часы&#769;, но&#769жницы</code>).
    Таким образом,
    принципиально допустимо усматривать здесь омонимию чисел, например:
    <code>су&#769;тки</code> (мн.) и
    <code>су&#769;тки</code> (ед.).
    Существительные этой группы не относятся ни к одному из трех грамматических родов, образуя, в сущности, особый, четвертый род
    (подробнее см.: А. А. Зализняк, Русское именное словоизменение, М., 1967, §§2.12, 2.18).
    Однако, чтобы не затруднять читателей терминологическими новшествами,
    внешнее оформление этих существительных по возможности приближено в настоящем словаре к традиционному, а именно:
    они имеют в словарной статье помету «мн.» (заменяющую помету рода);
    в таблицах склонения они представлены как имеющие только мн. число;
    в пояснительных текстах они обозначаются традиционным термином pluralia tantum.
</p>
<p>
    Состав группы pluralia tantum пополнен рядом слов, обычно не отмечаемых словарями, например,
    <code>гря&#769;зи</code> (в значении «бальнеологический курорт»),
    <code>небеса&#769;</code> (в том же значении, что <code>не&#769;бо</code>)
    и др.
    В подобных случаях представлены самостоятельные слова,
    поскольку их смысловое соотношение со словами <code>грязь, не&#769;бо</code> не такое, как между формами мн. и ед. числа
    (ср. признаваемые всеми словарями пары слов типа <code>час — часы&#769;, вес — весы&#769;, очко — очки&#769;</code>).
</p>
<p>
    К pluralia tantum приближаются по смыслу также формы мн. числа типа
    <code>глаза&#769;, носки&#769;, сапоги&#769;, лы&#769;жи, во&#769;жжи, ско&#769;бки, варе&#769;ники, спи&#769;чки</code>
    и т. п., которые обозначают пару (или более сложную совокупность), образующую по существу новый единый предмет.
    Эти «неустойчивые» pluralia tantum также приводятся в словаре.
    В отличие от обычных pluralia tantum,
    они имеют в словарной статье отсылку к соответствующему ед. числу
    (а именно, словарная статья начинается здесь с указания «мн. от...»).
    В большинстве случаев в словарь отдельно включено также и соответствующее ед. число
    (например, <code>глаз, носо&#769;к, сапо&#769;г, лы&#769;жа, вожжа&#769;, ско&#769;бка, варе&#769;ник, спи&#769;чка</code>).
</p>
<p>
    С другой стороны, все слова с нормальным смысловым соотношением между ед. и мн. числом
    приводятся в настоящем словаре в форме ед. числа, даже если оно употребляется реже, чем соответствующее мн. число.
    Так, в форме ед. числа (а не мн., как в большинстве словарей) приводятся, например, слова
    <code>да&#769;тчанин, ассири&#769;ец, гунн, млекопита&#769;ющее, земново&#769;дное</code>
    и т. п.
</p>
<p id="adjectives">
    <em>Прилагательные</em> делятся на два грамматических разряда.
    В первом из них парадигма образуется изменением слова по падежам, числам, родам,
    а также по категории одушевленности—неодушевленности
    (имеется в виду различие формы определяющего слова в винительном падеже в случаях типа
    <code>
        говорила про <em>на&#769;шего</em> ста&#769;росту и про <em>наш</em> класс,
        про <em>на&#769;ших</em> учителе&#769;й и про <em>на&#769;ши</em> экза&#769;мены
    </code>).
    К этому грамматическому разряду относятся:
    а) местоименные прилагательные (помета «мс-п» в словаре), например, <code>наш, э&#769;тот, не&#769;который</code>;
    б) обычные прилагательные, склоняющиеся по местоименному склонению (словарная статья вида: п &lt;мс ...&gt;),
    — это притяжательные прилагательные на <word-end>-ин</word-end>, <word-end>-ов</word-end>, <word-end>-ий</word-end>, например,
    <code>отцо&#769;в, дя&#769;дин, во&#769;лчий</code>;
    в) порядковые числительные (точнее было бы называть их счетными прилагательными; помета «числ.-п»),
    например, <code>второ&#769;й, пя&#769;тый, деся&#769;тый</code>;
    г) прилагательные на <word-end>-ийся</word-end> (все они отпричастные), например, <code>выдаю&#769;щийся</code>;
    д) сюда же причисляются так наз. неизменяемые прилагательные, например, <code>ко&#769;ми</code>;
    у них признается омонимия всех форм парадигмы.
</p>
<p id="short-forms">
    Во втором грамматическом разряде прилагательных парадигма включает сверх всего, что есть в первом разряде, еще краткие формы.
    Сюда относятся все остальные прилагательные, т. е. основная их масса.
    Правда, у значительной части этих прилагательных краткие формы практически почти никогда не употребляются;
    ср., например, <code>пограни&#769;чный, оловя&#769;нный, со&#769;сновый</code>. Однако эти краткие формы потенциально существуют
    (подобно мн. числу существительных singularia tantum);
    любое из таких прилагательных может приобрести в соответствующем контексте «качественный» оттенок,
    и тогда краткие формы оказываются вполне естественными.
    Об особой трактовке полных и кратких форм у прилагательных с суффиксом <code>-оньк-, -еньк-</code>
    (например, лёгонький и легонек) см. <a href="declension/paragraphs#para11">стр. 75, § 11</a>.
</p>
<p id="comparative">
    Вопреки традиции, как самостоятельные слова (а не как формы словоизменения) рассматриваются
    степени сравнения прилагательных и наречий.
    (Заметим, что тем самым наречие выступает как неизменяемая часть речи.)
    Превосходные степени (например, <code>длиннейший</code>) рассматриваются просто как прилагательные
    (наравне с такими прилагательными, как <code>длинненький, длинноватый, длиннющий</code> и т. п.),
    сравнительные степени — как особая категория слов, совмещающая адъективную и наречную функции.
</p>
<p>
    Хотя сравнительная степень не считается частью парадигмы прилагательного,
    в словарной статье прилагательного все же даются сведения о том, как она образуется
    (в качестве добавочной информации, выходящей за рамки словоизменения);
    таким образом, с внешней точки зрения, в этом пункте настоящий словарь следует традиции.
    Соответственно сравнительные степени в качестве самостоятельных статей в словарь не включены
    (кроме особых случаев, когда сравнительная степень употребляется исключительно
    или преимущественно в одной из своих двух функций, а также когда она омонимична другим частям речи).
    Превосходные степени включены в словарь наряду с другими продуктивными образованиями, т. е. выборочно.
</p>
<p id="pronouns">
    Что касается <em>местоимений</em>, то, как известно, современная лингвистика,
    вопреки традиционному взгляду, обычно не признает их самостоятельной частью речи.
    В настоящем словаре помета «мс» (т. е. местоимение, точнее, местоимение-существительное) означает, что
    слово относится к грамматическому разряду, где парадигма образуется только противопоставлением по падежам.
    Ее имеют, например, слова <code>я, мы, он, она&#769;, оно&#769;, они&#769;</code>
    (обратить внимание на то, что каждая из этих единиц рассматривается как самостоятельное слово),
    <code>себя&#769;, кто, что, кто&#769;-нибудь, ко&#768;е-что&#769;</code>.
    О местоименных прилагательных (помета «мс-п») см. выше.
</p>
<p id="numerals">
    Из слов, традиционно обозначаемых как <em>числительные</em>, помету «числ.» (числительное)
    в настоящем словаре получают только количественные и собирательные, например,
    <code>два, пять, се&#769;меро, ско&#769;лько</code>.
    Слова с этой пометой распределяются по нескольким грамматическим разрядам,
    общей особенностью которых является отсутствие противопоставления по числу внутри парадигмы
    (один из этих разрядов совпадает с тем, к которому относятся местоимения-существительные);
    подробнее см. стр. 66.
    О так наз. порядковых числительных (помета «числ.-п») см. выше.
</p>
<p>
    Слова, парадигма которых предполагает изменение по падежам
    (т. е. существительные, прилагательные, местоимения, числительные),
    вместе обозначаются как «имена», или как «склоняемые части речи».
    Специально отметим, что, в соответствии со сказанным выше, это понятие включает также
    неизменяемые существительные (типа <code>пальто&#769;</code>) и неизменяемые прилагательные (типа <code>ко&#769;ми</code>).
</p>
<p id="verbs">
    В отношении <em>глаголов</em> необходимо прежде всего указать следующее.
</p>
<p>
    В соответствии с традицией
    в глагольную парадигму включаются как личные, так и неличные формы.
    В связи с этим
    причастия в качестве самостоятельных статей в словарь не входят
    (разумеется, это не распространяется на отпричастные прилагательные и существительные, например,
    <code>увере&#769;нный, бы&#769;вший, разводя&#769;щий</code>).
</p>
<p id="aspect">
    Члены видовой пары глаголов рассматриваются как самостоятельные слова
    (каждое со своей парадигмой).
    Однако в качестве добавочной информации, выходящей за рамки словоизменения,
    в словарной статье глагола даются сведения об образовании глагола противоположного вида.
    При этом отмечаются только видовые пары в наиболее строгом понимании
    (например, <code>реши&#769;ть — реша&#769;ть, записа&#769;ть — запи&#769;сывать</code>);
    соответственно, не отмечаются соотношения типа <code>писа&#769;ть — написа&#769;ть</code>
    (где в несовершенном виде выступает бесприставочный глагол, а в совершенном приставочный)
    и даже типа <code>сверка&#769;ть — сверкну&#769;ть</code>
    (где в совершенном виде выступает бесприставочный глагол с суффиксом <word-end>-ну-</word-end>, обозначающий однократное действие).
</p>
<p>
    В парадигму переходного глагола несовершенного вида включаются также страдательные формы на <word-end>-ся</word-end> (личные и неличные).
</p>
<p>
    В то же время формы на <word-end>-ся</word-end> с нестрадательным значением
    считаются принадлежащими к отдельному слову — возвратному глаголу.
    Таким образом, например,
    во фразе <code>в клу&#769;бе пока&#769;зываются кинофи&#769;льмы</code> выступает форма слова <code>пока&#769;зывать</code>, а
    во фразе <code>на горизо&#769;нте пока&#769;зываются корабли&#769;</code> — форма слова <code>пока&#769;зываться</code>.
    В совершенном виде формы на <word-end>-ся</word-end> в современном языке страдательного значения не допускают
    и, следовательно, всегда принадлежат к возвратным глаголам
    (например, <code>показа&#769;ться, разобра&#769;ться, отвле&#769;чься</code> и т. д.).
    Из сказанного следует, что глагол на <word-end>-ся</word-end>
    может быть включен в настоящий словарь в качестве отдельной статьи лишь в том случае,
    если он имеет не страдательное или не только страдательное значение.
</p>
<p>
    Грамматические разряды, по которым распределяются глаголы, таковы.
    Грамматический разряд с максимальной парадигмой составляют
    переходные глаголы несовершенного вида (не многократные и не безличные), например,
    <code>де&#769;лать, пока&#769;зывать</code>.
    Парадигма включает здесь два залога: действительный и страдательный
    (последний представлен формами на <word-end>-ся</word-end>, см. выше, и страдательными причастиями).
    В действительном залоге личные формы противопоставляются по
    наклонениям, временам, числам, лицам и (в прош. времени и сослагательном наклонении) родам.
    Неличные формы включают два причастия (настоящего и прошедшего времени), два деепричастия и инфинитив.
    В страдательном залоге число форм несколько меньше, а именно, отсутствуют личные формы 1-го и 2-го лиц,
    повелительное наклонение и деепричастия.
    Причастия представлены в страдательном залоге (у глаголов с полным набором форм) в двух вариантах:
    с <word-end>-ся</word-end> и без <word-end>-ся</word-end>
    (ср. <code>де&#769;лаемый</code> и <code>де&#769;лающийся</code>, <code>де&#769;ланный</code> и <code>де&#769;лавшийся</code>).
</p>
<p>
    В остальных грамматических разрядах глаголов парадигма получается из описанной выше вычитанием части форм, а именно,
    действуют следующие правила:
    а) если глагол непереходный, то у него отсутствуют все формы страдательного залога;
    б) если глагол относится к совершенному виду, то у него отсутствуют личные и неличные формы наст. времени<sup><a href="#footnote3">3</a></sup>,
    а также страдательные формы на -ся;
    в) если глагол многократный (все такие глаголы — несовершенного вида),
    то у него отсутствуют личные и неличные формы наст, времени;
    г) если глагол безличный, то у него имеются только инфинитив и личные формы 3-го лица ед. числа
    (там, где различаются роды, — среднего рода) действительного залога, например:
    <code>света&#769;ть, света&#769;ет, света&#769;ло, бу&#769;дет света&#769;ть, света&#769;ло бы</code>.
</p>
<p>
    Все прочие слова, кроме имен и глаголов, образуют один грамматический разряд,
    где парадигма состоит из единственной формы.
    Эти слова вместе обозначаются как «неизменяемые части речи».
    (Отметим, что в это понятие не входят неизменяемые существительные и прилагательные, ср. выше.)
    Вопрос о разделении этих слов на части речи, как известно, весьма сложен.
    Поскольку, однако, для словоизменения это несущественно,
    в настоящем словаре не предлагается какого-либо самостоятельного решения данного вопроса,
    а используется практически та же система рубрик, что в современных толковых словарях, а именно:
    наречие,
    сравнительная степень (см. выше),
    предикатив (в толковых словарях эта категория слов имеет помету «в значении сказуемого»; то же. что категория состояния),
    предлог,
    союз,
    частица,
    междометие,
    вводное слово.
    Это разделение носит в сущности синтаксический характер.
</p>
<p>
    Указание части речи является примером такой характеристики слова,
    которая не предназначена специально для словоизменения, но тесно с ним связана.
    Аналогичную роль играют следующие приводимые в словаре синтаксические характеристики слова:
    а) род и одушевленность—неодушевленность у существительных;
    б) переходность—непереходность у глаголов.
</p>
<p>
    Кроме того, как отмечено выше, словарь приводит сведения о двух словообразовательных явлениях,
    пограничных со словоизменением:
    а) при прилагательных — сведения об образовании сравнительной степени;
    б) при глаголах — сведения об образовании глагола противоположного вида.
</p>
<p class="footnote" id="footnote3">
    <sup>3</sup> Таким образом, формы <code>даст, напи&#769;шет</code> и т. д. рассматриваются в соответствии с традицией только как будущее время
    (хотя в действительности они могут выражать также так наз. неактуальное настоящее).
    В этом пункте, как и в ряде других, в настоящем словаре сознательно сохранена традиционная терминология.
</p>
<hr />
<p id="potential">
    Сложную проблему для грамматического словаря составляет отражение потенциальных форм,
    т. е. форм, которые фактически почти никогда не встречаются,
    но при необходимости все же могут быть образованы по общим правилам русского словоизменения
    (ср. выше о мн. числе существительных и кратких формах прилагательных).
    В силу принятой в настоящем словаре системы индексов
    словарная статья заключает в себе информацию о том, как образуются все формы парадигмы,
    включая те, которые фактически неупотребительны.
    При этом степень употребительности форм как таковую настоящий словарь не отмечает,
    поскольку неупотребительность или малоупотребительность некоторой формы обычно определяется значением слова,
    а не его морфологическими особенностями.
    Для настоящего словаря существенно лишь то,
    возникает ли при окказиональном образовании подобных потенциальных форм какая-либо морфологическая трудность
    или морфологическая неоднозначность.
</p>
<p>
    Чаще всего система словоизменения предоставляет для образования потенциальной формы одну основную, наиболее естественную возможность,
    а именно, тот способ ее образования, который наиболее продуктивен для слов соответствующей морфологической группы
    (т. е. слов с таким строением основы, с таким ударением и т. п.).
    В этом случае потенциальная форма образуется, когда это потребуется, легко и однозначно;
    соответственно, в словаре никаких помет не дается.
    Примеры потенциальных форм такого рода: мн. число от <code>дие&#769;та, нейтралите&#769;т, го&#769;рдость</code>
    (соответственно <code>дие&#769;ты, нейтралите&#769;ты, го&#769;рдости</code>),
    краткие формы от <code>пограни&#769;чный, сосно&#769;вый</code>
    (соответственно <code>пограни&#769;чен, пограни&#769;чна</code> и т. д., <code>сосно&#769;в, сосно&#769;ва</code> и т. д.).
</p>
<p>
    Реже встречается случай, когда
    неочевидно, какая из возможностей,
    предоставляемых системой словоизменения для образования потенциальной формы,
    наиболее естественна.
    Обычно это бывает со словами, имеющими относительно редкий тип ударения
    (таковы, например, существительные женского или среднего рода, имеющие в И. ед. ударение на окончании)
    или строения основы (таковы, например, прилагательные на согласную + <word-end>ний</word-end>).
    Например, неочевидно, как будет построено носителями литературного русского языка
    (при окказиональном употреблении) мн. число от слова <code>борьба&#769;</code>:
    <code>борьбы&#769;</code> (ср., например, <code>мольба&#769; — мольбы&#769;</code>) или
    <code>бо&#769;рьбы</code> (ср., например, <code>стрельба&#769; — стре&#769;льбы</code>).
    Словарь дает в таких случаях индекс, отражающий наиболее вероятный (с точки зрения составителя)
    вариант образования потенциальной формы (или форм), но слово сопровождается указанием о том,
    что сведения о соответствующей форме или группе форм носят предположительный характер.
    Например, при слове <code>борьба&#769;</code> дан индекс, соответствующий мн. числу <code>борьбы&#769;</code>,
    а при слове <code>еда&#769;</code> — индекс, соответствующий мн. числу <code>е&#769;ды</code>,
    но в обоих случаях специальный условный знак (минус, см. <a href="declension/symbols#minus">стр. 68</a>)
    предупреждает читателя о том, что
    сведения о способе образования мн. числа здесь предположительны.
</p>
<p id="difficulty">
    Возможен также случай, когда
    способ образования потенциальной формы однозначен,
    однако построенная таким образом форма воспринимается как нежелательная.
    Практически это выражается в том, что носители литературного русского языка в тех случаях,
    когда им в речи требуется по смыслу данная форма, обычно испытывают затруднение и
    нередко предпочитают обойтись вообще без этой формы, заменив слово синонимом
    или перестроив синтаксическую конструкцию.
    Таковы, например, формы:
    <code>брюзг, мечт, башо&#769;к</code> (от <code>брюзга&#769;, мечта&#769;, башка&#769;</code>),
    <code>галжу&#769;, дужу&#769;</code> (от <code>галде&#769;тъ, дуде&#769;ть</code>).
    Причины подобного затруднения могут быть различными.
    По-видимому, чаще всего причина состоит в том, что
    в таких формах ударение или вид основы слишком сильно отклоняется от остальных форм парадигмы
    (прежде всего, от исходной формы)<sup><a href="#footnote4">4</a></sup>;
    в других случаях слишком непривычно образование соответствующих форм от основ с определенным суффиксом
    (например, кратких форм от основ с суффиксом <word-end>-ск-</word-end>,
    ср. <code>дереве&#769;нский, све&#769;тский, геро&#769;йский</code>);
    иногда источник затруднения не вполне ясен
    (ср., например, <code>пиша&#769;</code> от <code>писа&#769;ть</code>).
</p>

<p>
    Указанная особенность потенциальной формы отражается в словаре пометой «затрудн.»,
    т. е. образование данной формы затруднительно (или равносильным этой помете условным знаком).
    Например, при слове <code>башка&#769;</code> дано указание «Р. мн. затрудн.»,
    при слове галдеть — «наст. 1 ед. затрудн.».
    Помета «затрудн.» может стоять и в тех случаях, когда
    форма допускает два варианта образования:
    она показывает здесь, что затруднение вызывают оба варианта формы;
    см., например, статью <code>гу&#769;лкий</code>.
</p>
<p>
    Таким образом, указание о том, что образование некоторой формы затруднительно
    или что сведения об этой форме носят предположительный характер, всегда означает, что
    данная форма малоупотребительна.
    Однако обратное неверно: далеко не про всякую малоупотребительную форму дается какое-либо из этих указаний.
</p>
<p>
    Заметим, что между
    затрудненным образованием формы (помета «затрудн.») и
    ее отсутствием (<a href="#missing">помета «нет»</a>)
    в действительности нет резкой границы;
    поэтому в переходных случаях выбор той или другой пометы в известной мере условен.
</p>
<p class="footnote" id="footnote4">
    <sup>4</sup> Имеется в виду: слишком сильно для новообразованной формы
    (т. е. не поддержанной традицией).
    В часто употребляемых формах, закрепленных традицией, такие отклонения не ощущаются,
    поскольку эти формы запоминаются как готовые единицы, ср. <code>черт, кишо&#769;к, сижу&#769;</code>.
</p>
<hr />
<p>
    Трудную проблему для грамматического словаря составляют также те грамматические характеристики,
    которые непосредственно (или почти непосредственно) связаны со значением слова.
    Эти характеристики оказываются неустойчивыми для тех слов, которые могут приобретать
    (по определенным продуктивным моделям) новые значения или оттенки значений.
</p>
<p id="unstable-animacy">
    Важнейшей характеристикой такого типа является одушевленность—неодушевленность у существительных.
    Существующие словари вообще не указывают этой грамматической характеристики: предполагается,
    что она прямо соответствует значению существительного. В действительности, однако,
    имеется весьма значительное число существительных (по разным оценкам,
    от нескольких десятков до нескольких сотен), у которых
    нет полного прямолинейного соответствия между реальной и грамматической одушевленностью—неодушевленностью;
    см., например, в настоящем словаре статьи <code>устрица, бобёр, корсар, законодатель, спутник, существо</code> и др.
    Поскольку случаи такого рода вызывают вполне реальные затруднения
    (особенно у тех, для кого русский язык неродной), в настоящем словаре
    одушевленность—неодушевленность отмечается при каждом существительном в явной форме.
    При этом указания настоящего словаря ориентированы на основные,
    не окказиональные значения слов, т. е. значения, отражаемые в толковых словарях.
    В ряде случаев даются «ограничительные пояснения», показывающие, какое именно значение слова
    отражается словарной статьей (см. ниже, стр. 14).
    Разумеется, однако, эти пояснения не покрывают всех случаев,
    когда слово может получить одушевленное значение при основном неодушевленном или наоборот;
    например, словарь никак не отражает теоретически возможного одушевленного значения у слова <code>выключатель</code> и т. п.
</p>
<p id="unstable-aspect">
    Аналогичную проблему, хотя и меньшего масштаба, составляет вид (совершенный, несовершенный или оба сразу)
    у глаголов на <word-end>-овать</word-end> и в особенности на <word-end>-ировать</word-end>.
    Сходные трудности часто возникают также при решении вопроса о том, имеется ли у заданного глагола совершенного вида
    (например, засорить, очухаться, намусорить, перекусать)
    соответствующий ему глагол несовершенного вида.
    Во всех этих случаях принятое в настоящем словаре решение содержит некоторый элемент условности;
    практически мы в основном (хотя и далеко не всегда) следуем здесь за существующими толковыми словарями.
</p>
<hr />
<p id="sources">
    Первоначальную основу словника настоящего словаря составил Орфографический словарь<sup><a href="#footnote5">5</a></sup>.
    Поскольку, однако, настоящий словарь имеет другое назначение,
    в словник Орфографического словаря был внесен ряд изменений.
    В частности, были исключены:
    а) словарные единицы, состоящие из двух или более слов, пишущихся раздельно (кроме друг друга);
    б) значительное количество сложных слов, включенных в Орфографический словарь для демонстрации их слитного или дефисного написания;
    в) многие специальные, устаревшие, просторечные и областные слова.
    Далее, словник настоящего словаря был проверен по «Обратному словарю русского языка»<sup><a href="#footnote6">6</a></sup>,
    отражающему лексику четырех основных толковых словарей.
    При этом были исправлены замеченные случайные пропуски и добавлены некоторые слова,
    отсутствующие в Орфографическом словаре.
    Кроме того, небольшое число слов было добавлено из словаря-справочника «Новые слова и значения»<sup><a href="#footnote7">7</a></sup>, а также из текущей печати.
</p>
<p>
    «Открытые списки», т. е. группы слов, образованных по продуктивным моделям
    (например, уменьшительные, существительные на <word-end>-ние</word-end>, прилагательные на <word-end>-ский</word-end> и т. д.)
    были подвергнуты некоторой критической обработке, включавшей как отсев, так и пополнение;
    эта обработка не претендует, однако, на строгость.
</p>
<p>
    В особом положении находятся наречия и предикативы,
    омонимичные краткой форме среднего рода соответствующего прилагательного, например:
    а) <code>сме&#769;ло</code> (наречие);
    б) <code>ну&#769;жно</code> (предикатив);
    в) <code>тяжело&#769;</code> (наречие и предикатив).
    Из таких слов в словарь включены (выборочно) только слова групп «б» и «в».
    Слова группы «а», в соответствии со словарной традицией, как правило в словаре отсутствуют.
    Включены лишь те из них, которые во фразе могут подчиняться наречиям или сравнительным степеням
    (а не только глаголам и прилагательным), например,
    <code>осо&#769;бенно, кра&#769;йне, значи&#769;тельно</code>;
    кроме того, те, которые употребляются чаще, чем соответствующие прилагательные, например,
    <code>долго, обратно</code>;
    наконец, те, которые омонимичны другим частям речи (не считая прилагательного), например, <code>зло, согла&#769;сно</code>.
    Из наречий на <word-end>-ски</word-end> (с приставкой <word-end>по-</word-end> и без нее)
    и на <word-end>-ому, -ему, -ьи</word-end> (с приставкой <word-end>по-</word-end>) включены лишь немногие наиболее употребительные, например,
    <code>геро&#769;йски, по-де&#769;тски, по-ста&#769;рому</code> (но наречия на <word-end>-ически</word-end> отсутствуют).
</p>
<p>
    О том, как в словаре отражены степени сравнения, а также об отсутствии в нем причастий см. выше.
</p>
<p class="footnote" id="footnote5">
    <sup>5</sup> Орфографический словарь русского языка. Изд. 6-е. Под. ред. С. Г. Бархударова, С. И. Ожегова и А. Б. Шапиро, М., 1965.
</p>
<p class="footnote" id="footnote6">
    <sup>6</sup> Обратный словарь русского языка, М., 1974.
</p>
<p class="footnote" id="footnote7">
    <sup>7</sup> Новые слова и значения. Словарь-справочник по материалам прессы и литературы 60-х годов. Под ред. Н. 3. Котеловой и Ю. С. Сорокина, М., 1971.
</p>
<hr />
<p id="norm">
    Словарь имеет нормативную ориентацию, т. е.
    он указывает для отдельного слова не все реально встречающиеся способы образования его форм, а лишь
    те, которые соответствуют современной литературной норме.
    Исключение составляют формы, помеченные как просторечные
    (введение в словарь некоторого числа таких форм продиктовано системными морфологическими соображениями).
    Помета «простореч.» выступает в таких случаях в роли предупредительной.
    Разумеется, нормативность не исключает наличия вариантов: во многих случаях признаются допустимыми два или более варианта форм.
</p>

<p>
    Словарь отмечает также вариантность целых парадигм, но только при условии смыслового равенства парадигм-вариантов
    и лишь в том случае, когда внешние различия касаются:
    а) типа словоизменения, например, <code>волье́ра</code> и <code>волье́р</code>, <code>стернь</code> и <code>стерня́</code>,
    <code>остропёстр</code> и <code>остропестро́</code>, <code>кружева́</code> и <code>кру́жево</code>;
    б) ударения, например, <code>творо́г</code> и <code>тво́рог</code>, <code>обхо́дный</code> и <code>обходно́й</code>,
    <code>уме́ньшить</code> и <code>уменьши́ть</code>;
    в) фонологического (но не морфологического) состава основы, например, <code>кало́ша</code> и <code>гало́ша</code>,
    <code>тунне́ль</code> и <code>тонне́ль</code>, <code>кры́нка</code> и <code>кри́нка</code>, <code>фио́рд</code> и <code>фьорд</code>,
    <code>гонобо́бель</code> и <code>гонобо́ль</code>, <code>матра́с</code> и <code>матра́ц</code>.
    Напротив, пары, где неодинаков морфологический состав основы (например,
    <code>жаке́т</code> и <code>жаке́тка</code>, <code>осма́н</code> и <code>осма́нец</code>, <code>карбона́р</code> и <code>карбона́рий</code>,
    <code>патла́стый</code> и <code>патла́тый</code>, <code>длинношёрстный</code> и <code>длинношёрстый</code>,
    <code>индустриализи́ровать</code> и <code>индустриализова́ть</code>), не отмечаются как варианты.
</p>
<p>
    Не отмечается вариантность у неизменяемых частей речи (например, <code>весно́й</code> и <code>весно́ю</code>,
    <code>спья́ну</code> и <code>спья́на</code>, <code>среди́</code> и <code>средь</code>, <code>бы</code> и <code>б</code> и т. п.).
</p>
<p>
    Для глаголов, помимо собственно вариантности парадигм (в указанном выше смысле),
    отмечается также несколько иное (хотя и близкое) соотношение, а именно,
    синонимия двух глаголов, которым в противоположном виде соответствует один и тот же глагол;
    таковы, например, <code>пригота́вливать</code> и <code>приготовля́ть</code>;
    ср. единый глагол совершенного вида <code>пригото́вить</code>.
    В отличие от собственно вариантности, морфологический состав глаголов-синонимов в этих случаях различен.
    В настоящем словаре, однако, не проводится формального различия между собственно вариантностью и синонимией
    в рамках корреляции по виду: эти два явления отмечаются в словаре одними и теми же способами (см. стр. 17).
</p>
<p>
    Слова, одинаковые по значению, но различающиеся стилистической окраской или сферой употребления,
    как правило не рассматриваются в настоящем словаре как парадигмы-варианты.
    Так, например, как самостоятельные слова даны <code>среда́</code> и <code>середа́</code>,
    <code>молодо́й</code> и <code>младо́й</code>, <code>пе́сня</code> и <code>песнь</code>,
    <code>дена́рий</code> и <code>дина́рий</code>, а также все пары на <word-end>-ие</word-end> и <word-end>-ье</word-end>
    (типа <code>уче́ние</code> и <code>уче́нье</code>).
    Из этого принципа допускаются некоторые исключения, особенно там, где внешнее различие сводится к ударению
    или к образованию форм; например, <code>компа́с</code> отмечается в статье <code>ко́мпас</code>,
    <code>де́вица</code> — в статье <code>деви́ца</code>.
</p>
<p>
    Стилистические пометы, пометы о сфере употребления и т. п. даются в настоящем словаре в тех случаях,
    когда они характеризуют отдельные формы слова (или варианты форм) в отличие от остальных форм (или вариантов),
    а также глагол противоположного вида в отличие от данного глагола.
    Пометы такого рода, относящиеся ко всему слову в целом, не даются
    (кроме некоторых случаев, где они помогают разграничить сходные слова, например, <code>среда́</code> и <code>середа́</code>).
</p>
<p id="secondary-stress">
    В отличие от большинства словарей, настоящий словарь отмечает не только главное, но и второстепенное ударение слова.
    В связи с этим необходимо заметить следующее.
    В современном русском языке для многих сложных слов возможны два варианта произношения —
    с второстепенным ударением и без него, например, <code>дре&#768;внегре́ческий</code> и <code>древнегре́ческий</code>,
    <code>эле&#768;ктроте́хника</code> и <code>электроте́хника</code>, <code>по&#768;луавтома́т</code> и <code>полуавтома́т</code>.
    Такие колебания зависят от многих факторов, в частности, от ритма речи, логического ударения и др.
    Но одним из важнейших факторов здесь является степень знакомства говорящего с данным словом:
    многие сложные слова произносятся теми носителями литературного языка, которые профессионально знакомы с ними,
    без второстепенного ударения,
    а теми, которые далеки от соответствующей области
    (в частности, теми, кто сталкивается с данным словом впервые), — с второстепенным ударением.
    (В менее литературной речи второстепенное ударение возможно и при профессиональном знакомстве со словом.)
    В настоящем словаре в подобных случаях указан вариант без второстепенного ударения.
</p>
<hr />
<p>
    При выработке нормативных рекомендаций учтены и критически обработаны данные четырех основных толковых словарей<sup><a href="#footnote8">8</a></sup>,
    а также ряда специализированных словарей, наиболее авторитетным из которых является
    словарь-справочник «Русское литературное произношение и ударение»<sup><a href="#footnote9">9</a></sup>.
    Предлагаемые в настоящем словаре нормативные рекомендации согласованы во всех существенных моментах с
    готовящимся под ред. Р. И. Аванесова «Орфоэпическим словарем русского языка»
    (создаваемым на основе указанного словаря-справочника),
    грамматическая часть которого подготовлена Н. А. Еськовой<sup><a href="#footnote10">10</a></sup>.
</p>
<p>
    Автор благодарит Н. А. Еськову за критические замечания и помощь; многие важные моменты содержания и структуры словаря были выработаны в результате совместных обсуждений.
</p>
<p>
    Особую благодарность автор приносит своей матери Татьяне Константиновне Крапивиной за многообразную помощь на всех этапах многолетней работы по подготовке настоящего словаря.
</p>
<p class="footnote" id="footnote8">
    <sup>8</sup>
    Словарь современного русского литературного языка. Т. 1-17, М.-Л., 1948-1964;
    Словарь русского языка в четырех томах. Т. I-IV, М., 1957-1961;
    <em>С. И. Ожегов</em>, Словарь русского языка. Изд. 9-е, испр. и доп. Под ред. Н. Ю. Шведовой, М., 1972;
    Толковый словарь русского языка. Под ред. Д. Н. Ушакова. Т. 1-1У, М., 1935-1940.
</p>
<p class="footnote" id="footnote9">
    <sup>9</sup> Русское литературное произношение и ударение. Словарь-справочник. Под ред. Р. И. Аванесова и С. И. Ожегова, М., 1959.
</p>
<p class="footnote" id="footnote10">
    <sup>10</sup> Орфоэпический словарь русского языка. Произношение, ударение, грамматические формы. М., 1983.
</p>
<p class="signature">
    А. Зализняк
</p>
<p>
    1977 г.
</p>
